/***
 * Borders:
 */

@each $name, $prop1, $prop2 in $sides {
	$name_r: str_replace(to_lower_case($name), '-', '');

	/**
	 * Border #{$name_r}:
	 * `.bd#{$name}`
	 *
	 *     @example
	 *     div.bd#{$name}.p-5
	 */
	.bd#{$name} {
		border#{$prop1}: $border-width $border-style $border-color;
		@if $prop2 != '' {
			border#{$prop2}: $border-width $border-style $border-color;
		}
	}

	.bd#{$name}-0 {
		border#{$prop1}: none;
		@if $prop2 != '' {
			border#{$prop2}: none;
		}
	}
}

/**
 * Remove borders:
 * `.bd-0` `.bd-[side]-0`
 *
 *     @example
 *     div.bd.bd-0.p-5
 */

@each $size, $length in $grid-breakpoints {
	@media (min-width: $length) {
		.#{$size}-bd {
			border: $border-width $border-style $border-color;
		}

		.#{$size}-bd-top {
			border-top: $border-width $border-style $border-color;
		}

		.#{$size}-bd-right {
			border-right: $border-width $border-style $border-color;
		}

		.#{$size}-bd-bottom {
			border-bottom: $border-width $border-style $border-color;
		}

		.#{$size}-bd-left {
			border-left: $border-width $border-style $border-color;
		}

		.#{$size}-bd-x {
			border-right: $border-width $border-style $border-color;
			border-left: $border-width $border-style $border-color;
		}

		.#{$size}-bd-y {
			border-top: $border-width $border-style $border-color;
			border-bottom: $border-width $border-style $border-color;
		}

		.#{$size}-bd-0 {
			border: none;
		}

		.#{$size}-bd-top-0 {
			border-top: none;
		}

		.#{$size}-bd-right-0 {
			border-right: none;
		}

		.#{$size}-bd-bottom-0 {
			border-bottom: none;
		}

		.#{$size}-bd-left-0 {
			border-left: none;
		}

		.#{$size}-bd-x-0 {
			border-right: none;
			border-left: none;
		}

		.#{$size}-bd-y-0 {
			border-top: none;
			border-bottom: none;
		}
	}
	
	@media (max-width: $length - 1) {
		.max#{$size}-bd {
			border: $border-width $border-style $border-color;
		}

		.max#{$size}-bd-top {
			border-top: $border-width $border-style $border-color;
		}

		.max#{$size}-bd-right {
			border-right: $border-width $border-style $border-color;
		}

		.max#{$size}-bd-bottom {
			border-bottom: $border-width $border-style $border-color;
		}

		.max#{$size}-bd-left {
			border-left: $border-width $border-style $border-color;
		}

		.max#{$size}-bd-x {
			border-right: $border-width $border-style $border-color;
			border-left: $border-width $border-style $border-color;
		}

		.max#{$size}-bd-y {
			border-top: $border-width $border-style $border-color;
			border-bottom: $border-width $border-style $border-color;
		}

		.max#{$size}-bd-0 {
			border: none;
		}

		.max#{$size}-bd-top-0 {
			border-top: none;
		}

		.max#{$size}-bd-right-0 {
			border-right: none;
		}

		.max#{$size}-bd-bottom-0 {
			border-bottom: none;
		}

		.max#{$size}-bd-left-0 {
			border-left: none;
		}

		.max#{$size}-bd-x-0 {
			border-right: none;
			border-left: none;
		}

		.max#{$size}-bd-y-0 {
			border-top: none;
			border-bottom: none;
		}
	}
}

/***
 * Border radius:
 */

/**
 * Rounded four corners:
 * `.bd-radius`
 *
 *     @example
 *     div.bgc-grey-2.bd-radius.p-5
 */
.bd-radius {
	border-radius: $border-radius;
}

/**
 * Rounded top right corner:
 * `.bd-radius-1`
 *
 *     @example
 *     div.bgc-grey-2.bd-radius-1.p-5
 */
.bd-radius-1 {
	border-top-right-radius: $border-radius;
}

/**
 * Rounded bottom right corner:
 * `.bd-radius-2`
 *
 *     @example
 *     div.bgc-grey-2.bd-radius-2.p-5
 */
.bd-radius-2 {
	border-bottom-right-radius: $border-radius;
}

/**
 * Rounded bottom left corner:
 * `.bd-radius-3`
 *
 *     @example
 *     div.bgc-grey-2.bd-radius-3.p-5
 */
.bd-radius-3 {
	border-bottom-left-radius: $border-radius;
}

/**
 * Rounded top left corner:
 * `.bd-radius-4`
 *
 *     @example
 *     div.bgc-grey-2.bd-radius-4.p-5
 */
.bd-radius-4 {
	border-top-left-radius: $border-radius;
}

/**
 * Rounded top corners:
 * `.bd-radius-top`
 *
 *     @example
 *     div.bgc-grey-2.bd-radius-top.p-5
 */
.bd-radius-top {
	border-top-right-radius: $border-radius;
	border-top-left-radius: $border-radius;
}

/**
 * Rounded right corners:
 * `.bd-radius-right`
 *
 *     @example
 *     div.bgc-grey-2.bd-radius-right.p-5
 */
.bd-radius-right {
	border-top-right-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
}

/**
 * Rounded bottom corners:
 * `.bd-radius-bottom`
 *
 *     @example
 *     div.bgc-grey-2.bd-radius-bottom.p-5
 */
.bd-radius-bottom {
	border-bottom-right-radius: $border-radius;
	border-bottom-left-radius: $border-radius;
}

/**
 * Rounded left corners:
 * `.bd-radius-left`
 *
 *     @example
 *     div.bgc-grey-2.bd-radius-left.p-5
 */
.bd-radius-left {
	border-top-left-radius: $border-radius;
	border-bottom-left-radius: $border-radius;
}

/**
 * Remove rounded corners:
 * `.bd-radius-0`
 *
 *     @example
 *     div.bgc-grey-2.bd-radius.bd-radius-0.p-5
 */
.bd-radius-0 {
	border-radius: 0;
}
