/***
 * Borders:
 */

@each $prop, $abbr in (border: bd) {
	/**
	 * Border:
	 * `.#{$abbr}` `.#{$abbr}-[side]`
	 *
	 *     @example
	 *     div.bd.p-5
	 */
	.#{$abbr} {
		#{$prop}: $border-width $border-style $border-color;
	}

	.#{$abbr}-x {
		#{$prop}-left: $border-width $border-style $border-color;
		#{$prop}-right: $border-width $border-style $border-color;
	}

	.#{$abbr}-y {
		#{$prop}-top: $border-width $border-style $border-color;
		#{$prop}-bottom: $border-width $border-style $border-color;
	}

	.night {
		.#{$abbr} {
			#{$prop}-color: $night-border-color;
		}

		.#{$abbr}-x {
			#{$prop}-left-color: $night-border-color;
			#{$prop}-right-color: $night-border-color;
		}

		.#{$abbr}-y {
			#{$prop}-top-color: $night-border-color;
			#{$prop}-bottom-color: $night-border-color;
		}
	}

	/**
	 * Remove border:
	 * `.#{$abbr}-0` `.#{$abbr}-[side]-0`
	 *
	 *     @example
	 *     div.#{$abbr}.#{$abbr}-0.p-5
	 */
	.#{$abbr}-0 {
		#{$prop}: none;
	}

	.#{$abbr}-x-0 {
		#{$prop}-left: none;
		#{$prop}-right: none;
	}

	.#{$abbr}-y-0 {
		#{$prop}-top: none;
		#{$prop}-bottom: none;
	}

	/**
	 * Responsive border:
	 * `.[size]-#{$abbr}` `.max[size]-#{$abbr}` `.[size]-#{$abbr}-[side]` `.max[size]-#{$abbr}-[side]`
	 *
	 *     @example
	 *     div.md-#{$abbr}-x.p-5
	 */

	/**
	 * Responsive remove border:
	 * `.[size]-#{$abbr}-0` `.max[size]-#{$abbr}-0` `.[size]-#{$abbr}-[side]-0` `.max[size]-#{$abbr}-[side]-0`
	 *
	 *     @example
	 *     div.#{$abbr}.sm-#{$abbr}-y-0.md-#{$abbr}-y.md-#{$abbr}-x-0.p-5
	 */
	@each $side, $sprop, $scorner1, $scorner2 in $sides {
		.#{$abbr}-#{$side} {
			#{$prop}-#{$sprop}: $border-width $border-style $border-color;
		}

		.night {
			.#{$abbr}-#{$side} {
				#{$prop}-#{$sprop}-color: $night-border-color;
			}
		}

		.#{$abbr}-#{$side}-0 {
			#{$prop}-#{$sprop}: none;
		}

		@each $size, $length in $grid-breakpoints {
			@media (min-width: $length) {
				.#{$size}-#{$abbr}-#{$side} {
					#{$prop}-#{$sprop}: $border-width $border-style $border-color;
				}

				.night {
					.#{$size}-#{$abbr}-#{$side} {
						#{$prop}-#{$sprop}-color: $night-border-color;
					}
				}

				.#{$size}-#{$abbr}-#{$side}-0 {
					#{$prop}-#{$sprop}: none;
				}
			}

			@media (max-width: $length - 1) {
				.max#{$size}-#{$abbr}-#{$side} {
					#{$prop}-#{$sprop}: $border-width $border-style $border-color;
				}

				.night {
					.max#{$size}-#{$abbr}-#{$side} {
						#{$prop}-#{$sprop}-color: $night-border-color;
					}
				}

				.max#{$size}-#{$abbr}-#{$side}-0 {
					#{$prop}-#{$sprop}: none;
				}
			}
		}
	}

	@each $size, $length in $grid-breakpoints {
		@media (min-width: $length) {
			.#{$size}-#{$abbr} {
				#{$prop}: $border-width $border-style $border-color;
			}

			.#{$size}-#{$abbr}-x {
				#{$prop}-right: $border-width $border-style $border-color;
				#{$prop}-left: $border-width $border-style $border-color;
			}

			.#{$size}-#{$abbr}-y {
				#{$prop}-top: $border-width $border-style $border-color;
				#{$prop}-bottom: $border-width $border-style $border-color;
			}

			.night {
				.#{$size}-#{$abbr} {
					#{$prop}-color: $night-border-color;
				}

				.#{$size}-#{$abbr}-x {
					#{$prop}-right-color: $night-border-color;
					#{$prop}-left-color: $night-border-color;
				}

				.#{$size}-#{$abbr}-y {
					#{$prop}-top-color: $night-border-color;
					#{$prop}-bottom-color: $night-border-color;
				}
			}

			.#{$size}-#{$abbr}-0 {
				#{$prop}: none;
			}

			.#{$size}-#{$abbr}-x-0 {
				#{$prop}-right: none;
				#{$prop}-left: none;
			}

			.#{$size}-#{$abbr}-y-0 {
				#{$prop}-top: none;
				#{$prop}-bottom: none;
			}
		}

		@media (max-width: $length - 1) {
			.max#{$size}-#{$abbr} {
				#{$prop}: $border-width $border-style $border-color;
			}

			.max#{$size}-#{$abbr}-x {
				#{$prop}-right: $border-width $border-style $border-color;
				#{$prop}-left: $border-width $border-style $border-color;
			}

			.max#{$size}-#{$abbr}-y {
				#{$prop}-top: $border-width $border-style $border-color;
				#{$prop}-bottom: $border-width $border-style $border-color;
			}

			.night {
				.max#{$size}-#{$abbr} {
					#{$prop}-color: $night-border-color;
				}

				.max#{$size}-#{$abbr}-x {
					#{$prop}-right-color: $night-border-color;
					#{$prop}-left-color: $night-border-color;
				}

				.max#{$size}-#{$abbr}-y {
					#{$prop}-top-color: $night-border-color;
					#{$prop}-bottom-color: $night-border-color;
				}
			}

			.max#{$size}-#{$abbr}-0 {
				#{$prop}: none;
			}

			.max#{$size}-#{$abbr}-x-0 {
				#{$prop}-right: none;
				#{$prop}-left: none;
			}

			.max#{$size}-#{$abbr}-y-0 {
				#{$prop}-top: none;
				#{$prop}-bottom: none;
			}
		}
	}
}

/***
 * Border radius:
 */
@each $prop, $abbr in (border-radius: bd-radius) {
	/**
	 * Rounded corners:
	 * `.#{$abbr}`
	 *
	 *     @example
	 *     div.bgc-grey-5.#{$abbr}.p-5
	 */
	.#{$abbr} {
		#{$prop}: $border-radius;
	}

	/**
	 * Rounded top right corner:
	 * `.#{$abbr}-1`
	 *
	 *     @example
	 *     div.bgc-grey-5.#{$abbr}-1.p-5
	 */
	.#{$abbr}-1 {
		border-top-right-radius: $border-radius;
	}

	/**
	 * Rounded bottom right corner:
	 * `.#{$abbr}-2`
	 *
	 *     @example
	 *     div.bgc-grey-5.#{$abbr}-2.p-5
	 */
	.#{$abbr}-2 {
		border-bottom-right-radius: $border-radius;
	}

	/**
	 * Rounded bottom left corner:
	 * `.#{$abbr}-3`
	 *
	 *     @example
	 *     div.bgc-grey-5.#{$abbr}-3.p-5
	 */
	.#{$abbr}-3 {
		border-bottom-left-radius: $border-radius;
	}

	/**
	 * Rounded top left corner:
	 * `.#{$abbr}-4`
	 *
	 *     @example
	 *     div.bgc-grey-5.#{$abbr}-4.p-5
	 */
	.#{$abbr}-4 {
		border-top-left-radius: $border-radius;
	}

	@each $side, $sprop, $scorner1, $scorner2 in $sides {
		/**
		 * Rounded #{$side} corners:
		 * `.#{$abbr}-#{$side}`
		 *
		 *     @example
		 *     div.bgc-grey-5.#{$abbr}-#{$side}.p-5
		 */
		.#{$abbr}-#{$side} {
			border-#{$scorner1}-radius: $border-radius;
			border-#{$scorner2}-radius: $border-radius;
		}
	}

	/**
	 * Remove rounded corners:
	 * `.#{$abbr}-0`
	 *
	 *     @example
	 *     div.bgc-grey-5.#{$abbr}.#{$abbr}-0.p-5
	 */
	.#{$abbr}-0 {
		#{$prop}: 0;
	}
}

// [class^='bd-'] {
// 	transition: $base-transition;
// }
