/***
 * Colors:
 */

@each $name, $hex in $color-palette {
	$lc-name: str_replace(to_lower_case($name), ' ', '-');
	$rgb: unquote('rgb(#{red($hex)}, #{green($hex)}, #{blue($hex)})');

	/**
	 * #{$name} color:
	 * `.bgc-#{$lc-name}` `.txtc-#{$lc-name}` `.bdc-#{$lc-name}`
	 *
	 *     @example
	 *     table.tbl
	 *         tr
	 *             td.w-20
	 *                div.color-swatch.bd-radius.bgc-#{$lc-name}
	 *             td.w-20.txt-select.txtc-#{$lc-name} #{$name}
	 *             td.w-20.txt-select #{$hex}
	 *             td.w-20.txt-select #{$rgb}
	 */
	.bgc-#{$lc-name} {
		background-color: $hex;
	}

	.bdc-#{$lc-name} {
		@extend .bd;

		border-color: $hex;
	}

	.txtc-#{$lc-name} {
		color: $hex;
	}
}
