/***
 * Colors:
 */

@each $name, $hex in $color-palette {
	$name_ucf: str_ucfirst($name);
	$name_r: str_replace(to_lower_case($name), ' ', '-');
	$rgb: unquote('rgb(#{red($hex)}, #{green($hex)}, #{blue($hex)})');

	/**
	 * #{$name_ucf} color:
	 * `.bgc-#{$name_r}` `.txtc-#{$name_r}` `.bdc-#{$name_r}`
	 *
	 *     @example
	 *     table.tbl
	 *         tr
	 *             td.w-20
	 *                div.color-swatch.bd-radius.bgc-#{$name_r}
	 *             td.w-20.txt-select.txtc-#{$name_r} #{$name_ucf}
	 *             td.w-20.txt-select.txtc-#{$name_r} #{$hex}
	 *             td.w-20.txt-select.txtc-#{$name_r} #{$rgb}
	 */
	.bgc-#{$name_r} {
		background-color: $hex;
	}

	.bdc-#{$name_r} {
		@extend .bd;

		border-color: $hex;
	}

	.txtc-#{$name_r} {
		color: $hex;
	}
}

.night {
	@each $name, $hex in $night-color-palette {
		$name_ucf: str_ucfirst($name);
		$name_r: str_replace(to_lower_case($name), ' ', '-');
		$rgb: unquote('rgb(#{red($hex)}, #{green($hex)}, #{blue($hex)})');

		.bgc-#{$name_r} {
			background-color: $hex;
		}

		.bdc-#{$name_r} {
			@extend .bd;

			border-color: $hex;
		}

		.txtc-#{$name_r} {
			color: $hex;
		}
	}
}

/**
 * Link color to text color:
 *
 *     @example
 *     a(href='').ac-txtc Link with text color
 */
.ac-txtc:not(.btn),
.ac-txtc a:not(.btn) {
	&:link,
	&:visited {
		color: $text-color;
	}

	&:hover {
		color: $link-color;
	}
}

.night {
	.ac-txtc:not(.btn),
	.ac-txtc a:not(.btn) {
		&:link,
		&:visited {
			color: $night-text-color;
		}

		&:hover {
			color: $night-link-color;
		}
	}	
}
