/***
 * Sizing:
 */

@each $prop, $abbr in (width: w, height: h) {
	@each $size, $length in $sizes {
		@if $abbr == w {
			/**
			 * Width #{$size}%:
			 * `.#{$abbr}-#{$size}` Applies `width: #{$size}%;` to element.
			 *
			 *     @example
			 *     div.#{$abbr}-#{$size}.bgc-red-4 &nbsp;
			 */
		} @else {
			/**
			 * Height #{$size}%:
			 * `.#{$abbr}-#{$size}` Applies `height: #{$size}%;` to element.
			 *
			 *     @example
			 *     div.h-100px
			 *         div.#{$abbr}-#{$size}.bgc-red-4 &nbsp;
			 */
		}
		.#{$abbr}-#{$size} {
			#{$prop}: $length;
		}
	}
}

/**
 * Max. width 100%:
 * `.maxw-100` Applies `max-width: 100%;` to element.
 *
 *     @example
 *     div.maxw-100
 */
.maxw-100 {
	max-width: 100%;
}

/**
 * Max. height 100%:
 * `.maxh-100` Applies `max-height: 100%;` to element.
 *
 *     @example
 *     div.maxh-100
 */
.maxh-100 {
	max-height: 100%;
}
