/***
 * Spacing:
 */

@each $prop, $abbr in (margin m, padding p) {
	@each $name, $prop1, $prop2 in $sides {
		@for $i from 0 through $spacings {
			.#{$abbr}#{$name}-#{$i} {
				#{$prop}#{$prop1}: $spacing * $i;
				@if $prop2 {
					#{$prop}#{$prop2}: $spacing * $i;
				}
			}
		}
	}
}

/**
 * Margin:
 * `.m-[#]` `.m-[side]-[#]`
 *
 *     @example
 *     div.bgc-blue-4.cf
 *         div.m-4.bgc-blue-8 &nbsp;
 */

/**
 * Padding:
 * `.p-[#]` `.p-[side]-[#]`
 *
 *     @example
 *     div.p-4.bgc-green-4
 *         div.bgc-green-8 &nbsp;
 */
