/***
 * Spacing:
 */

@each $prop, $abbr in (margin: m, padding: p) {
	@for $i from 0 through $spacings {
		.#{$abbr}-#{$i} {
			#{$prop}: $spacing * $i $spacing-important;
		}

		.#{$abbr}-x-#{$i} {
			#{$prop}-right: $spacing * $i $spacing-important;
			#{$prop}-left: $spacing * $i $spacing-important;
		}

		.#{$abbr}-y-#{$i} {
			#{$prop}-top: $spacing * $i $spacing-important;
			#{$prop}-bottom: $spacing * $i $spacing-important;
		}

		@each $side, $sprop, $scorner1, $scorner2 in $sides {
			.#{$abbr}-#{$side}-#{$i} {
				#{$prop}-#{$sprop}: $spacing * $i $spacing-important;
			}

			@each $size, $length in $grid-breakpoints {
				@media (min-width: $length) {
					.#{$size}-#{$abbr}-#{$side}-#{$i} {
						#{$prop}-#{$sprop}: $spacing * $i $spacing-important;
					}
				}

				@media (max-width: $length - 1) {
					.max#{$size}-#{$abbr}-#{$side}-#{$i} {
						#{$prop}-#{$sprop}: $spacing * $i $spacing-important;
					}
				}
			}
		}

		@each $size, $length in $grid-breakpoints {
			@media (min-width: $length) {
				.#{$size}-#{$abbr}-#{$i} {
					#{$prop}: $spacing * $i $spacing-important;
				}

				.#{$size}-#{$abbr}-x-#{$i} {
					#{$prop}-left: $spacing * $i $spacing-important;
					#{$prop}-right: $spacing * $i $spacing-important;
				}

				.#{$size}-#{$abbr}-y-#{$i} {
					#{$prop}-top: $spacing * $i $spacing-important;
					#{$prop}-bottom: $spacing * $i $spacing-important;
				}
			}

			@media (max-width: $length - 1) {
				.max#{$size}-#{$abbr}-#{$i} {
					#{$prop}: $spacing * $i $spacing-important;
				}

				.max#{$size}-#{$abbr}-x-#{$i} {
					#{$prop}-left: $spacing * $i $spacing-important;
					#{$prop}-right: $spacing * $i $spacing-important;
				}

				.max#{$size}-#{$abbr}-y-#{$i} {
					#{$prop}-top: $spacing * $i $spacing-important;
					#{$prop}-bottom: $spacing * $i $spacing-important;
				}
			}
		}
	}
}

/**
 * Margin:
 * `.m-[#]` `.m-[side]-[#]`
 *
 *     @example
 *     div.bgc-blue-10.cf
 *         div.m-4.bgc-blue-15 &nbsp;
 */

/**
 * Responsive margin:
 * `.[size]-m-[#]` `.max[size]-m-[#]` `.[size]-m-[side]-[#]` `.max[size]-m-[side]-[#]`
 *
 *     @example
 *     div.bgc-blue-10.cf
 *         div.md-m-4.bgc-blue-15 &nbsp;
 */

/**
 * Padding:
 * `.p-[#]` `.p-[side]-[#]`
 *
 *     @example
 *     div.p-4.bgc-green-15
 *         div.bgc-green-10 &nbsp;
 */


/**
 * Responsive padding:
 * `.[size]-p-[#]` `.max[size]-p-[#]` `.[size]-p-[side]-[#]` `.max[size]-p-[side]-[#]`
 *
 *     @example
 *     div.md-p-4.bgc-green-15
 *         div.bgc-green-10 &nbsp;
 */
