@import '../partials/_all';


/***
 * Border style:
 */

@include class_gen(
	/* Abbreviation */
	'bds',

	/* Property */
	'border-style',

	/* Property extended */
	(
		'',
		'top',
		'right',
		'bottom',
		'left',
		'y',
		'x'
	),

	/* Map */
	$border-style-map
);
