
@import '../partials/_all';


/***
 * Border:
 */

@include class_gen(
	/* Abbreviation */

	'bd',

	/* Property */

	'border',

	/* Property extended */

	(
		'',
		'top',
		'right',
		'bottom',
		'left',
		'y',
		'x'
	),

	/* Map */

	$border-map,

	/* Generate example */

	'y'
);

.hr-dbl-top {
	border: none;
	border-top: 0.188rem solid rgba( #000, 0.9 );
	border-bottom: 0.063rem solid rgba( #000, 0.9 );
	height: 0.375rem;
	// margin: 0.5rem auto;
}

// [class*='bd-'] {
// 	border-color: $day__border-color;
// }

.night [ class*='bd-' ] {
	border-color: $ngt__border-color;
}

.night [ class*='bd-dark-' ],
.night [ class*='bd-top-dark-' ],
.night [ class*='bd-right-dark-' ],
.night [ class*='bd-bottom-dark-' ],
.night [ class*='bd-left-dark-' ] {
	border-color: $ngt__border-dark-color;
}
