
@import '../partials/_all';


/***
 * Border radius:
 */

@include class_gen(
	/* Abbreviation */

	'bdr',

	/* Property */

	'border-radius',

	/* Property extended */

	(
		'',
		// 'top-right-and-bottom-left',
		// 'top-left-and-bottom-right',
		'top-right',
		'top-left',
		'bottom-right',
		'bottom-left'
	),

	/* Map */

	$border-radius-map,

	/* Generate example */

	'y'
);
