@import '../partials/_all';


/***
 * Border width:
 */

$abbr: 'bdw';
$prop: 'border-width';

@include class_abbr_val(
	/* Abbreviation */
	$abbr,

	/* Property */
	$prop,

	/* Values */
	(
		/* Keyword values */
		'thin',
		'medium',
		'thick',

		/* Global keywords */
		// 'inherit',
		// 'initial',
		// 'unset'
	)
);

@include class_abbr_key(
	/* Abbreviation */
	$abbr,

	/* Property */
	$prop,

	/* Map */
	$border-widths
);

@include class_abbr_propext_key(
	/* Abbreviation */
	$abbr,

	/* Property */
	$prop,
	
	/* Property extended */
	(
		'top',
		'right',
		'bottom',
		'left'
	),

	/* Map */
	$border-widths
);
