@import '../partials/_all';


/***
 * Border width:
 */

$abbr: 'bdw';
$prop: 'border-width';

@include class_abbr_val(
	/* Abbreviation */
	$abbr,

	/* Property */
	$prop,

	/* Values */
	(
		/* Keyword values */
		'thin',
		'medium',
		'thick',

		/* Global keywords */
		// 'inherit',
		// 'initial',
		// 'unset'
	)
);

@include class_abbr_map(
	/* Abbreviation */
	$abbr,

	/* Property */
	$prop,

	/* Map */
	$border-widths
);

// @include class_abbr_len(
// 	/* Abbreviation */
// 	$abbr,

// 	/* Property */
// 	$prop,

// 	/* Length */
// 	$border-width,
	
// 	/* Number of lengths */
// 	$border-widths
// );
