@import '../partials/_all';


/***
 * Clearfix:
 */

/**
 * Clearfix:
 * `.cf` Clears floats using clearfix hack class.
 *
 *     @example
 *     div
 *         div.bgc-teal-1.p-1.w-50.fl-left
 *         div.bgc-teal-10.p-1.w-50.fl-right
 *     div.cf
 *     div.bgc-teal-20.p-1
 */
.cf {
	*zoom: 1;

	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}
}

// More info: http://nicolasgallagher.com/micro-clearfix-hack/
