@import '../partials/_all';


/***
 * Color:
 */

@each $name, $hex, $gen in $color-palette {
	$name_ucf: str_ucfirst($name);
	$name_r: str_replace(to_lower_case($name), ' ', '-');
	$rgb: unquote('rgb(#{red($hex)}, #{green($hex)}, #{blue($hex)})');
	/**
	 * #{$name_ucf} color:
	 * `.bgc-#{$name_r}` `.c-#{$name_r}` `.bdc-#{$name_r}`
	 *
	 *     @example
	 *     table.tbl
	 *         tr
	 *             td.w-20
	 *                 div.doc-color-swatch.bgc-#{$name_r}
	 *             td.w-20.txt-select.c-#{$name_r}.maxsm-d-none #{$name_r}
	 *             td.w-20.txt-select.c-#{$name_r} #{$hex}
	 *             td.w-20.txt-select.c-#{$name_r} #{$rgb}
	 */
}

@each $name, $hex in $colors {
	$name_ucf: str_ucfirst($name);
	$name_r: str_replace(to_lower_case($name), ' ', '-');

	.bgc-#{$name_r} {
		background-color: $hex;
	}

	.bdc-#{$name_r} {
		border-color: $hex;
	}

	.c-#{$name_r} {
		color: $hex;
	}
}

/**
 * Link color to text color:
 * `.ac-c`
 *
 *     @example
 *     p.ac-c
 *         a(href='') Link with text color
 */
.ac-c a:not(.btn) {
	&:link,
	&:visited {
		color: $day__body-color;
	}

	&:hover {
		color: $day__a-color;
	}
}

p.ac-c a:not(.btn) {
	border-bottom-color: rgba($day__body-color, 0.2);

	&:hover {
		border-bottom-color: $day__a-color;
	}
}

.night .ac-c a:not(.btn) {
	&:link,
	&:visited {
		color: $ngt__body-color;
	}

	&:hover {
		color: $ngt__a-color;
	}
}	

.night p.ac-c a:not(.btn) {
	border-bottom-color: rgba($ngt__body-color, 0.2);

	&:hover {
		border-bottom-color: $ngt__a-color;
	}
}
