
@import '../partials/_all';


/***
 * Display:
 */

@include class_gen(
	/* Abbreviation */

	'd',

	/* Property */

	'display',

	/* Property extended */

	null,

	/* Map */

	$display-map,

	/* Generate example */

	'y'
);
