@import '../partials/_all';


/***
 * Display:
 */

@include classes_abbr_name(d, display, (
		/* <display-outside> values */
		block: 'block',
		inline: 'inline',
		runin: 'run-in',

		/* <display-inside> values */
		flow: 'flow',
		flowroot: 'flow-root',
		table: 'table',
		flex: 'flex',
		grid: 'grid',
		ruby: 'ruby',
		subgrid: 'subgrid',

		/* <display-outside> plus <display-inside> values */
		block-flow: 'block flow',
		inline-table: 'inline table',
		flex-runin: 'flex run-in',

		/* <display-listitem> values */
		listitem: 'list-item',
		listitem-block: 'list-item block',
		listitem-inline: 'list-item inline',
		listitem-flow: 'list-item flow',
		listitem-flowroot: 'list-item flow-root',
		listitem-block-flow: 'list-item block flow',
		listitem-block-flowroot: 'list-item block flow-root',
		flow-listitem-block: 'flow list-item block',

		/* <display-internal> values */
		tablerowgroup: 'table-row-group',
		tableheadergroup: 'table-header-group',
		tablefootergroup: 'table-footer-group',
		tablerow: 'table-row',
		tablecell: 'table-cell',
		tablecolumngroup: 'table-column-group',
		tablecolumn: 'table-column',
		tablecaption: 'table-caption',
		rubybase: 'ruby-base',
		rubytext: 'ruby-text',
		rubybasecontainer: 'ruby-base-container',
		rubytextcontainer: 'ruby-text-container',

		/* <display-box> values */
		contents: 'contents',
		none: 'none',

		/* <display-legacy> values */
		inlineblock: 'inline-block',
		inlinetable: 'inline-table',
		inlineflex: 'inline-flex',
		inlinegrid: 'inline-grid',

		/* Global values */
		inherit: 'inherit',
		initial: 'initial',
		unset: 'unset'
	)
);
