
@import '../partials/_all';


/***
 * Font weight:
 */

@include class_gen(
	/* Abbreviation */

	'fw',

	/* Property */

	'font-weight',

	/* Property extended */

	null,

	/* Map */

	$font-weight-map,

	/* Generate example */

	'y'
);
