@import '../partials/_all';


/***
 * Hiding:
 */

/**
 * Hide:
 * `.hide`
 *
 *     @example
 *     div.row
 *         div.col-8
 *             div.bgc-gray-80 &nbsp;
 *         div.col-4.hide
 *             div.bgc-gray-80 &nbsp;
 */
.hide {
	display: none $hiding-important;
}

/**
 * Hide at size:
 * `.[size]-hide` `.max[size]-hide`
 *
 *     @example
 *     div.row
 *         div.col-8
 *             div.bgc-gray-80 &nbsp;
 *         div.col-4.lg-hide
 *             div.bgc-gray-80 &nbsp;
 */
@each $size, $length in $grid-breakpoints {
	@media (min-width: $length) {
		.#{$size}-hide {
			display: none $hiding-important;
		}
	}

	@media (max-width: $length - 1) {
		.max#{$size}-hide {
			display: none $hiding-important;
		}
	}

	@for $i from 0 through 1 {
		@media (min-width: $length) {
			.#{$size}-opacity-#{$i} {
				opacity: #{$i};
			}
		}

		@media (max-width: $length - 1) {
			.max#{$size}-opacity-#{$i} {
				opacity: #{$i};
			}
		}
	}
}

.opacity-0 {
	opacity: 0;
}

.opacity-1 {
	opacity: 1;
}

.visibility-0 {
	visibility: hidden;
}

.visibility-1 {
	visibility: visible;
}
