
@import '../partials/_all';


/***
 * Margin:
 */

@include class_gen(
	/* Abbreviation */

	'm',

	/* Property */

	'margin',

	/* Property extended */

	(
		'',
		'top',
		'right',
		'bottom',
		'left',
		'y',
		'x'
	),

	/* Map */

	$margin-map,

	/* Generate example */

	'y'
);
