
@import '../partials/_all';


/***
 * Text:
 */

/**
 * Display heading:
 * `.dh1` `.dh2` `.dh3` `.dh4`
 *
 *     @example
 *     div.dh1.hyp-auto Display heading
 *     div.dh2.hyp-auto Display heading
 *     div.dh3.hyp-auto Display heading
 *     div.dh4.hyp-auto Display heading
 */

@each $key, $size in $display-headings {

	.#{ $key } {
		font-size: $size;
		font-weight: $display-heading-font-weight;
		line-height: $display-heading-line-height;
	}

}

/**
 * Drop cap:
 * `.dcap`
 *
 *     @example
 *     p.dcap Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis malesuada orci vitae maximus. Nunc bibendum gravida nisi sit amet varius. Ut non dolor a erat rhoncus lobortis et in enim. Vestibulum turpis tortor, vulputate a pharetra vel, viverra ut nisi. Integer tincidunt efficitur turpis eget finibus. Ut sed eleifend nulla, tincidunt vulputate mi. Curabitur cursus facilisis dui ut consectetur. Nulla sed tortor eu mauris ultricies euismod.
 */

.dcap:first-letter {
	background-color: $day__dropcap-bg-color;
	border: $dropcap-border;
	color: $day__dropcap-color;
	display: block;
	float: left;

	font-size: $dropcap-font-size;
	font-style: $dropcap-font-style;
	font-weight: $dropcap-font-weight;

	letter-spacing: $dropcap-letter-spacing;
	line-height: $dropcap-line-height;

	margin-top: $dropcap-margin-top;
	margin-right: $dropcap-margin-right;
	padding: $dropcap-padding;

	text-shadow: $dropcap-text-shadow;

	width: $dropcap-width;
	height: $dropcap-height;

	text-align: $dropcap-text-align;
	text-indent: 0;
	vertical-align: $dropcap-vertical-align;
}

.night .dcap:first-letter {
	background-color: $ngt__dropcap-bg-color;
	color: $ngt__dropcap-color;
}

/**
 * Small caps:
 * `.smcaps` `.smcaps-1ln`
 *
 *     @example
 *     p.smcaps-1ln Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis malesuada orci vitae maximus. Nunc bibendum gravida nisi sit amet varius. Ut non dolor a erat rhoncus lobortis et in enim.
 */

.smcaps {
	font-variant: small-caps;
	letter-spacing: $smcaps-letter-spacing;
	margin-right: $smcaps-margin-right;
}

.smcaps-1ln:first-line {
	@extend .smcaps;
}

/**
 * Indent text:
 * `.tindent`
 *
 *     @example
 *     div.tindent
 *         p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non diam pulvinar, placerat lacus ut, facilisis est. Vivamus interdum mattis enim a lacinia. Quisque eu maximus mauris, sit amet rhoncus justo. Vestibulum id neque in odio aliquet mollis non in ex. Maecenas dui sem, suscipit ac dolor eget, egestas porta risus. Curabitur varius hendrerit nibh, eget mollis urna mattis auctor. Praesent at scelerisque purus, quis aliquet quam. Cras et libero pulvinar, placerat tortor ut, fermentum quam.
 *
 *         p In fermentum mi sit amet mauris sagittis, non laoreet urna placerat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed rutrum, nibh vitae facilisis tincidunt, diam lacus porta est, quis feugiat nisi nibh ac risus. Mauris vitae venenatis arcu. Nullam volutpat, sem non dictum accumsan, urna massa commodo odio, et euismod diam quam id lorem. Suspendisse in massa sapien. Nunc ac magna a nunc laoreet imperdiet. Pellentesque vel elit ex. Maecenas mollis interdum lacus, id bibendum leo aliquet ac. Pellentesque vitae ipsum a ex condimentum mollis. Ut sollicitudin sem quis gravida cursus.
 *
 *         p Donec in dapibus turpis. Curabitur iaculis tellus at ipsum sagittis aliquet. In vehicula, massa sit amet sagittis venenatis, odio est ultricies nunc, ac ultricies leo tortor eget urna. Integer sollicitudin, purus id tristique convallis, nisl magna ornare lacus, eu elementum tellus odio nec sem. Curabitur dapibus diam ligula, vitae euismod lectus faucibus sit amet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vehicula pellentesque commodo.
 */

.tindent {
	blockquote, pre,
	ul, ol, dl, figure, img {
		margin-top: $spacing-unit-half;
		margin-bottom: $spacing-unit-half;
	}

	figure {
		img {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	p:not( [class*="cols-"] ) {
		margin-bottom: 0;

		& + p:not( [class*="cols-"] ) {
			text-indent: $spacing-unit-half + 0.5;
		}
	}
}

/**
 * Divide the content in columns:
 * `.[size]-cols-[#]`
 *
 *     @example
 *     p.xs-cols-1.sm-cols-2.md-cols-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis malesuada orci vitae maximus. Nunc bibendum gravida nisi sit amet varius. Ut non dolor a erat rhoncus lobortis et in enim. Vestibulum turpis tortor, vulputate a pharetra vel, viverra ut nisi. Integer tincidunt efficitur turpis eget finibus. Ut sed eleifend nulla, tincidunt vulputate mi. Curabitur cursus facilisis dui ut consectetur. Nulla sed tortor eu mauris ultricies euismod.
 */

@each $size, $length in $grid-breakpoints {

	@media ( min-width: $length ) {

		@for $i from 1 through $grid-columns {

			.#{ $size }-cols-#{ $i } {
				column-count: $i;
				column-gap: $gutter-width;
			}

		}

	}

}

.fsmooth {
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
}

.a-underline a {
	text-decoration: underline;
}

.a-underline-alt a {
	background-image: -webkit-linear-gradient( top, transparent 50%, $day__a-color 50% );
	background-image: linear-gradient( to bottom, transparent 50%, $day__a-color 50% );
	background-repeat: repeat-x;
	background-size: 0.125rem 0.125rem;
	background-position: 0 90%;
	text-shadow: 0.063rem 0 $day__body-bg-color,
				 0.125rem 0 $day__body-bg-color,
				-0.063rem 0 $day__body-bg-color,
				-0.125rem 0 $day__body-bg-color;

	&:hover {
		background-image: -webkit-linear-gradient( top, transparent 50%, $day__body-color 50% );
		background-image: linear-gradient( to bottom, transparent 50%, $day__body-color 50% );
	}
}

.night .a-underline-alt a {
	background-image: -webkit-linear-gradient( top, transparent 50%, $ngt__a-color 50% );
	background-image: linear-gradient( to bottom, transparent 50%, $ngt__a-color 50% );
	background-repeat: repeat-x;
	background-size: 0.125rem 0.125rem;
	background-position: 0 90%;
	text-shadow: 0.063rem 0 $ngt__body-bg-color,
				 0.125rem 0 $ngt__body-bg-color,
				-0.063rem 0 $ngt__body-bg-color,
				-0.125rem 0 $ngt__body-bg-color;

	&:hover {
		background-image: -webkit-linear-gradient( top, transparent 50%, $ngt__body-color 50% );
		background-image: linear-gradient( to bottom, transparent 50%, $ngt__body-color 50% );
	}
}

.hyp-auto {
	hyphens: auto;
}

/**
 * Selecting all text with one click:
 * `.us-all`
 *
 *     @example
 *     p.us-all Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */

.us-all {
	-webkit-user-select: all; /* Chrome, Opera, Safari */
	   -moz-user-select: all; /* Firefox 2+ */
	    -ms-user-select: all; /* IE 10+ */
	        user-select: all; /* Standard syntax */
}

.wb-break-all {
	word-break: break-all;
}

/**
 * Horizontal rule in the middle of a row:
 * `.hr-middle`
 *
 *     @example
 *     div.hr-middle Lorem ipsum
 */

.hr-middle {
	display: flex;
	align-items: center;
	flex-basis: 100%;
}

.hr-middle {
	&::before,
	&::after {
		flex-grow: 1;
		height: $hr-middle-before-after-height;

		background: $day__hr-middle-before-after-bg-color;
		content: '';
		font-size: 0;
		line-height: 0;
	}

	&::before {
		margin: $hr-middle-before-after-margin-y
				$hr-middle-before-after-margin-x
				$hr-middle-before-after-margin-y
				0;
	}

	&::after {
		margin: $hr-middle-before-after-margin-y
				0
				$hr-middle-before-after-margin-y
				$hr-middle-before-after-margin-x;
	}
}

.night .hr-middle {
	&::before,
	&::after {
		background: $ngt__hr-middle-before-after-bg-color;
	}
}
