
@import '../partials/_all';


/***
 * Text align:
 */

@include class_gen(
	/* Abbreviation */

	'ta',

	/* Property */

	'text-align',

	/* Property extended */

	null,

	/* Map */

	$text-align-map,

	/* Generate example */

	'y'
);
