@import '../partials/_all';


/***
 * Text align:
 */

@include class_abbr_val(
	/* Abbreviation */
	'ta',

	/* Property */
	'text-align',

	/* Values */
	(
		/* Keyword values */
		'left',
		'right',
		'center',
		'justify',
		'justify-all',
		'start',
		'end',
		'match-parent',

		/* Block alignment values (Non-standard syntax) */
		'-moz-center',
		'-webkit-center',

		/* Global values */
		'inherit',
		'initial',
		'unset'
	)
);
