@import '../partials/_all';


/***
 * Text transform:
 */

@include class_gen(
	/* Abbreviation */
	'tt',

	/* Property */
	'text-transform',

	/* Property extended */
	(
		''
	),

	/* Map */
	$text-transforms
);
