@import '../partials/_all';


/***
 * Visibility:
 */

@include class_abbr_val(
	/* Abbreviation */
	'v',

	/* Property */
	'visibility',

	/* Values */
	(
		/* Keyword values */
		'visible',
		'hidden',
		// 'collapse',

		/* Global values */
		// 'inherit',
		// 'initial',
		// 'unset'
	)
);
