
@import '../partials/_all';


/***
 * Visibility:
 */

@include class_gen(
	/* Abbreviation */

	'v',

	/* Property */

	'visibility',

	/* Property extended */

	null,

	/* Map */

	$visibility-map,

	/* Generate example */

	'y'
);
