
@import '../partials/_all';


/***
 * Width:
 */

@include class_gen(
	/* Abbreviation */

	'w',

	/* Property */

	'width',

	/* Property extended */

	null,

	/* Map */

	$width-map,

	/* Generate example */

	'y'
);
