/*
 * Code expansion
 *
 *     .sg-example
 *       .sg-canvas
 *       pre.sg-code
 *       button.sg-expando
 */

.sg-code.sg-hidden {
	display: none;
}

.sg-expando {
	display: inline-block;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	background: transparent;
	position: relative;
}

.sg-expando-contract {
	top: 0;
	margin-bottom: 0;
}

.sg-expando:before {
	content: '•••';
	display: inline-block;

	height: 16px;
	width: 36px;
	line-height: 16px;
	text-align: center;

	font-size: 10px;
	background: #f4f4f5;
	border-radius: 3px;
	color: #252729;

}

.sg-expando:hover:before,
.sg-expando:focus:before {
	background: #d9d9d9;
}

.sg-expando:active:before {
	background: #c2c2c2;
}

.night .sg-expando:before {
	background: #252729;
	color: #fff;

}

.night .sg-expando:hover:before,
.night .sg-expando:focus:before {
	background: #222426;
}

.night .sg-expando:active:before {
	background: #202223;
}

.sg-expando-contract:before {
	content: '\2715';
}

/*
* Custom classes
*/

.doc-header {
	background-color: #f4f4f5;
}

.night .doc-header {
	background-color: #252729;
}

.doc-sidebar {
	font-size: 14px;
}

h2 {
	margin-bottom: 1.25rem;
}

.doc-color-swatch {
	border-radius: 50%;
	width: 48px;
	height: 48px;
}

.doc-h-100px {
	height: 100px;
}

@media (min-width: 1024px) {
	.doc-sidebar {
		/* Make it sticky. */
		max-height: 100vh;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}

	.doc-sidebar__content {
		max-height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
		position: relative;
	}
}

.eg-drawer,
.eg-drawer-overlay {
	position: absolute;
}

.eg-drawer-outside {
	min-height: 200px;
}

.doc-sidebar a {
	display: block;
}

.doc-icn:before {
	color: rgba( 0, 0, 0, 0.2 );
	font-size: 1.75em;
	line-height: inherit;
}

.night .doc-icn:before {
	color: rgba( 255, 255, 255, 0.2 );
}

code {
	padding: 0.2em;
}

.doc-main__content,
.doc-sidebar__content {
	padding-top: 2rem;
}

.eg-modal {
	position: absolute;
}

.doc-switch-night-mode {
	margin-top: 2em;
	margin-bottom: 2em;
}

.doc-sidebar [ data-toggle='collapse' ] {
	margin-bottom: 0;
}

.doc-sidebar [ data-toggle='collapse' ] a {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.doc-sidebar .collapse {
	height: 0;
	display: block !important;
	transition: all 0.3s ease-out;
}

.doc-sidebar .open + .collapse {
	height: auto;
}

.close-fsmenu {
	font-size: 2em;
}

.eg-mobile-menu {
	min-height: 400px;
}

.eg-burger,
.eg-mobile-menu__nav {
	position: absolute;
}

.sg-block {
	margin-bottom: 2rem;
}

.sg-canvas {
	margin-bottom: 1rem;
}

.sg,
.sg-expando::before,
.doc-header {
	transition: background-color 0.16s;
}
