.doc-header {
	background-color: #eaeaea;
}

.night .doc-header {
	background-color: #171717;
}

.doc-navbar {
	height: 60px;
}

.doc-sidebar {
	font-size: 14px;
}

h2 {
	margin-bottom: 1.25rem;
}

.sg-canvas {
	*zoom: 1;
	position: relative;
}

.sg-canvas:before,
.sg-canvas:after {
	content: ' ';
	display: table;
}

.sg-canvas:after {
	clear: both;
}

.doc-color-swatch {
	border-radius: 50%;
	width: 48px;
	height: 48px;
}

.doc-h-100px {
	height: 100px;
}

.sg-block:last-of-type {
	border-bottom: none;
}

@media (min-width: 1024px) {
	.doc-sidebar {
		/* Make it sticky. */
		max-height: 100vh;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}

	.doc-sidebar__content {
		max-height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
		position: relative;
	}
}

.sg-block {
	border-top-color: #e8e9ec;
}

.night .sg-block {
	border-top-color: #3a3b3e;
}

.night .sg-expando::before {
	background-color: rgba(255, 255, 255, 0.1);
}

.night .sg-expando:hover::before {
	background-color: rgba(255, 255, 255, 0.4);
}

.night .sg-code {
	background: #fafaff !important;
}

.eg-drawer,
.eg-drawer-overlay {
	position: absolute;
}

.eg-drawer-outside {
	min-height: 200px;
}

.doc-sidebar a {
	display: block;
}

.doc-sidebar .ls a {
	padding: 0.25rem 0;
}

.doc-icn:before {
	color: rgba( 0, 0, 0, 0.2 );
	font-size: 1.75em;
	line-height: inherit;
}

.night .doc-icn:before {
	color: rgba( 255, 255, 255, 0.2 );
}

code {
	padding: 0.2em;
}

.doc-main__content,
.doc-sidebar__content {
	padding-top: 3rem;
}

.eg-modal {
	position: absolute;
}

.doc-switch-night-mode {
	margin-top: 2em;
	margin-bottom: 2em;
}

.doc-sidebar [ data-toggle='collapse' ] {
	margin-bottom: 0;

	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.doc-sidebar .collapse {
	height: 0;
	display: block !important;
	transition: all 0.3s ease-out;
}

.doc-sidebar .open + .collapse {
	height: auto;
}
