/***
 * Buttons:
 */

/**
 * Button:
 * `.btn`
 *
 *     @example
 *     a.btn Button
 */
.btn {
	background-color: $button-background-color;
	border: $button-border;
	border-radius: $button-border-radius;
	color: $button-text-color;
	display: inline-block;
	font-size: $base-font-size;
	font-weight: $button-font-weight;
	line-height: $button-line-height;
	padding: $button-padding;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;

	-moz-appearance: none;
	-webkit-appearance: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	// &:focus {
	// 	-webkit-box-shadow: $button-focus-shadow;
	// 	-moz-box-shadow: $button-focus-shadow;
	// 	box-shadow: $button-focus-shadow;
	// }

	&:hover {
		background-color: 
			shade(
				$button-background-color, 
				$button-hover-background-color-shade-amount
			);
		color: $button-text-color;
	}
}

/**
 * Primary button:
 * `.btn--primary`
 *
 *     @example
 *     a.btn.btn--primary Primary button
 */
.btn--primary {
	background-color: $button-primary-background-color;
	color: $button-primary-text-color;

	&:hover {
		background-color: 
			shade(
				$button-primary-background-color, 
				$button-hover-background-color-shade-amount
			);
		color: $button-primary-text-color;
	}
}

/**
 * Secondary button:
 * `.btn--secondary`
 *
 *     @example
 *     a.btn.btn--secondary Secondary button
 */
.btn--secondary {
	background-color: $button-secondary-background-color;
	color: $button-secondary-text-color;

	&:hover {
		background-color: 
			shade(
				$button-secondary-background-color, 
				$button-hover-background-color-shade-amount
			);
		color: $button-secondary-text-color;
	}
}

/**
 * Colored buttons:
 * `.btn--success` `.btn--danger`
 *
 *     @example
 *     a.btn.btn--success Success button
 *     a.btn.btn--danger Danger button
 */
.btn--success {
	background-color: $button-success-background-color;
	border-color: $button-success-border-color;
	color: $button-success-text-color;

	&:hover {
		background-color: 
			shade(
				$button-success-background-color, 
				$button-hover-background-color-shade-amount
			);
		color: $button-success-text-color;
	}
}

.btn--danger {
	background-color: $button-danger-background-color;
	border-color: $button-danger-border-color;
	color: $button-danger-text-color;

	&:hover {
		background-color: 
			shade(
				$button-danger-background-color, 
				$button-hover-background-color-shade-amount
			);
		color: $button-danger-text-color;
	}
}

/**
 * Outline button:
 * `.btn--outline`
 *
 *     @example
 *     a.btn.btn--outline Outline button
 *     a.btn.btn--primary.btn--outline Primary outline button
 */
.btn--outline {
	background-color: $button-outline-background-color;
	border-color: $button-outline-border-color;
	color: $button-outline-text-color;

	&:hover {
		background-color: 
			transparentize(
				$button-outline-text-color, 
				$button-hover-background-color-transparentize-amount
			);
		border-color: $button-outline-border-color;
		color: $button-outline-text-color;
	}

	&.btn--primary {
		border-color: $button-outline-primary-border-color;
		color: $button-outline-primary-text-color;

		&:hover {
			background-color: 
				transparentize(
					$button-outline-primary-text-color, 
					$button-hover-background-color-transparentize-amount
				);
			border-color: $button-outline-primary-border-color;
			color: $button-outline-primary-text-color;
		}
	}

	&.btn--secondary {
		border-color: $button-outline-secondary-border-color;
		color: $button-outline-secondary-text-color;

		&:hover {
			background-color: 
				transparentize(
					$button-outline-secondary-text-color, 
					$button-hover-background-color-transparentize-amount
				);
			border-color: $button-outline-secondary-border-color;
			color: $button-outline-secondary-text-color;
		}
	}

	&.btn--success {
		border-color: $button-outline-success-border-color;
		color: $button-outline-success-text-color;

		&:hover {
			background-color: 
				transparentize(
					$button-outline-success-text-color, 
					$button-hover-background-color-transparentize-amount
				);
			border-color: $button-outline-success-border-color;
			color: $button-outline-success-text-color;
		}
	}

	&.btn--danger {
		border-color: $button-outline-danger-border-color;
		color: $button-outline-danger-text-color;

		&:hover {
			background-color: 
				transparentize(
					$button-outline-danger-text-color, 
					$button-hover-background-color-transparentize-amount
				);
			border-color: $button-outline-danger-border-color;
			color: $button-outline-danger-text-color;
		}
	}
}

/**
 * Link button:
 * `.btn--link`
 *
 *     @example
 *     button.btn.btn--link Link button
 */
.btn--link {
	background-color: transparent;
	border-color: transparent;
	color: $link-color;

	&:hover {
		background-color: $button-link-hover-background-color;
		border-color: $button-link-hover-border-color;
		color: $button-secondary-text-color;
	}
}

/**
 * Pill button:
 * `.btn--pill`
 *
 *     @example
 *     a.btn.btn--pill Pill button
 */
.btn--pill {
	border-radius: 2em;

	&.btn--sm,
	&.btn--lg {
		@extend .btn--pill;
	}
}

/**
 * Gradient button:
 * `.btn--gradient`
 *
 *     @example
 *     a.btn.btn--primary.btn--gradient Gradient button
 *     a.btn.btn--success.btn--gradient Gradient button
 */
.btn--gradient {
	border: $button-gradient-border;
	padding: $button-gradient-padding;

	$button-gradient-background-color-top: 
		tint(
			$button-background-color, 
			$button-gradient-background-color-top-tint-amount
		);
	$button-gradient-background-color-bottom: 
		shade(
			$button-background-color, 
			$button-gradient-background-color-bottom-shade-amount
		);

	@include button_gradient_bg(
		$button-gradient-background-color-top, 
		$button-gradient-background-color-bottom
	);

	&:hover {
		@include button_gradient_bg(
			shade(
				$button-gradient-background-color-top, 
				$button-hover-background-color-shade-amount
			), 
			shade(
				$button-gradient-background-color-bottom, 
				$button-hover-background-color-shade-amount
			)
		);
	}

	&.btn--primary {
		$button-gradient-primary-background-color-top: 
			tint(
				$button-primary-background-color, 
				$button-gradient-background-color-top-tint-amount
			);
		$button-gradient-primary-background-color-bottom: 
			shade(
				$button-primary-background-color, 
				$button-gradient-background-color-bottom-shade-amount
			);

		$button-gradient-background-color-top-hsl: 
			hsl(
				hue($button-gradient-primary-background-color-top) + $button-gradient-background-color-top-hue, 
				saturation($button-gradient-primary-background-color-top) + $button-gradient-background-color-top-saturation, 
				lightness($button-gradient-primary-background-color-top) + $button-gradient-background-color-top-lightness
			);
		$button-gradient-background-color-bottom-hsl: 
			hsl(
				hue($button-gradient-primary-background-color-bottom) + $button-gradient-background-color-bottom-hue,  
				saturation($button-gradient-primary-background-color-bottom) + $button-gradient-background-color-bottom-saturation, 
				lightness($button-gradient-primary-background-color-bottom) + $button-gradient-background-color-bottom-lightness
			);

		@include button_gradient_bg(
			$button-gradient-background-color-top-hsl, // #478ec9
			$button-gradient-background-color-bottom-hsl // #3a76be
		);

		&:hover {
			@include button_gradient_bg(
				shade(
					$button-gradient-background-color-top-hsl, 
					$button-hover-background-color-shade-amount
				), 
				shade(
					$button-gradient-background-color-bottom-hsl, 
					$button-hover-background-color-shade-amount
				)
			);
		}
	}

	&.btn--secondary {
		$button-gradient-secondary-background-color-top: 
			tint(
				$button-secondary-background-color, 
				$button-gradient-background-color-top-tint-amount
			);
		$button-gradient-secondary-background-color-bottom: 
			shade(
				$button-secondary-background-color, 
				$button-gradient-background-color-bottom-shade-amount
			);

		@include button_gradient_bg(
			$button-gradient-secondary-background-color-top, 
			$button-gradient-secondary-background-color-bottom
		);

		&:hover {
			@include button_gradient_bg(
				shade(
					$button-gradient-secondary-background-color-top, 
					$button-hover-background-color-shade-amount
				), 
				shade(
					$button-gradient-secondary-background-color-bottom, 
					$button-hover-background-color-shade-amount
				)
			);
		}
	}

	&.btn--success {
		$button-gradient-success-background-color-top: 
			tint(
				$button-success-background-color, 
				$button-gradient-background-color-top-tint-amount
			);
		$button-gradient-success-background-color-bottom: 
			shade(
				$button-success-background-color, 
				$button-gradient-background-color-bottom-shade-amount
			);

		$button-gradient-background-color-top-hsl: 
			hsl(
				hue($button-gradient-success-background-color-top) + $button-gradient-background-color-top-hue, 
				saturation($button-gradient-success-background-color-top) + $button-gradient-background-color-top-saturation, 
				lightness($button-gradient-success-background-color-top) + $button-gradient-background-color-top-lightness
			);
		$button-gradient-background-color-bottom-hsl: 
			hsl(
				hue($button-gradient-success-background-color-bottom) + $button-gradient-background-color-bottom-hue,  
				saturation($button-gradient-success-background-color-bottom) + $button-gradient-background-color-bottom-saturation, 
				lightness($button-gradient-success-background-color-bottom) + $button-gradient-background-color-bottom-lightness
			);

		@include button_gradient_bg(
			$button-gradient-background-color-top-hsl, 
			$button-gradient-background-color-bottom-hsl
		);

		&:hover {
			@include button_gradient_bg(
				shade(
					$button-gradient-background-color-top-hsl, 
					$button-hover-background-color-shade-amount
				), 
				shade(
					$button-gradient-background-color-bottom-hsl, 
					$button-hover-background-color-shade-amount
				)
			);
		}
	}

	&.btn--danger {
		$button-gradient-danger-background-color-top: 
			tint(
				$button-danger-background-color, 
				$button-gradient-background-color-top-tint-amount
			);
		$button-gradient-danger-background-color-bottom: 
			shade(
				$button-danger-background-color, 
				$button-gradient-background-color-bottom-shade-amount
			);

		$button-gradient-background-color-top-hsl: 
			hsl(
				hue($button-gradient-danger-background-color-top) + $button-gradient-background-color-top-hue, 
				saturation($button-gradient-danger-background-color-top) + $button-gradient-background-color-top-saturation, 
				lightness($button-gradient-danger-background-color-top) + $button-gradient-background-color-top-lightness
			);
		$button-gradient-background-color-bottom-hsl: 
			hsl(
				hue($button-gradient-danger-background-color-bottom) + $button-gradient-background-color-bottom-hue,  
				saturation($button-gradient-danger-background-color-bottom) + $button-gradient-background-color-bottom-saturation, 
				lightness($button-gradient-danger-background-color-bottom) + $button-gradient-background-color-bottom-lightness
			);

		@include button_gradient_bg(
			$button-gradient-background-color-top-hsl, 
			$button-gradient-background-color-bottom-hsl
		);

		&:hover {
			@include button_gradient_bg(
				shade(
					$button-gradient-background-color-top-hsl, 
					$button-hover-background-color-shade-amount
				), 
				shade(
					$button-gradient-background-color-bottom-hsl, 
					$button-hover-background-color-shade-amount
				)
			);
		}
	}
}

/**
 * Expanded button:
 * `.btn--expanded`
 *
 *     @example
 *     a.btn.btn--primary.btn--lg.btn--expanded Expanded button
 */
.btn--expanded {
	display: block;
	width: 100%;
}

/**
 * Button size:
 * `.btn--sm` `.btn--lg`
 *
 *     @example
 *     a.btn.btn--primary.btn--sm Small button
 *     a.btn.btn--primary.btn--lg Large button
 */
.btn--sm {
	border-radius: $button-small-border-radius;
	font-size: $button-small-font-size;
	padding: $button-small-padding;
}

.btn--lg {
	border-radius: $button-large-border-radius;
	font-size: $button-large-font-size;
	padding: $button-large-padding;
}
