/***
 * Button group:
 */

/**
 * Normal button group:
 * `.btn-group`
 *
 *     @example
 *     div.btn-group
 *         a.btn.btn--secondary First
 *         a.btn.btn--secondary Second
 *         a.btn.btn--secondary Third
 */
.btn-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	> .btn {
		flex: 0 1 auto;

		&:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&:not(:first-child):not(:last-child) {
			border-radius: 0;
		}

		&:not(:last-child) {
			margin-right: -1px;
		}
	}
}

/**
 * Expanded button group:
 * `.btn-group--expanded`
 *
 *     @example
 *     div.btn-group.btn-group--expanded
 *         a.btn.btn--secondary First
 *         a.btn.btn--secondary Second
 *         a.btn.btn--secondary Third
 *         a.btn.btn--secondary Fourth
 */
.btn-group--expanded {
	> .btn {
		flex-grow: 1;
	}
}

/**
 * Button group size:
 * `.btn-group--[size]`
 *
 *     @example
 *     div.fld.btn-group.btn-group--lg
 *         a.btn.btn--secondary First
 *         a.btn.btn--secondary Second
 *         a.btn.btn--secondary Third
 *     div.fld.btn-group.btn-group--sm
 *         a.btn.btn--secondary First
 *         a.btn.btn--secondary Second
 *         a.btn.btn--secondary Third
 */
.btn-group--sm {
	> .btn {
		border-radius: $button-small-border-radius;
		font-size: $button-small-font-size;
		padding: $button-small-padding-y $button-small-padding-x;

		&.btn--gradient {
			padding: $button-small-gradient-padding;
		}
	}
}

.btn-group--lg {
	> .btn {
		border-radius: $button-large-border-radius;
		font-size: $button-large-font-size;
		padding: $button-large-padding-y $button-large-padding-x;

		&.btn--gradient {
			padding: $button-large-gradient-padding;
		}
	}
}
