/***
 * Buttons:
 */

.btn {
	border: $button-border;
	border-radius: $button-border-radius;
	box-shadow: none;
	display: inline-block;
	font-size: $base-font-size;
	font-weight: $button-font-weight;
	line-height: $button-line-height;
	padding: $button-padding;
	text-align: center;
	transition: $base-transition;
	vertical-align: middle;
	white-space: nowrap;

	-moz-appearance: none;
	-webkit-appearance: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@each $name, $background-color, $border-color, $text-color, 
	$gradient-background-color-top-tint-amount, $gradient-background-color-bottom-shade-amount,
  	$gradient-background-color-top-hue, $gradient-background-color-top-saturation, $gradient-background-color-top-lightness,
	$gradient-background-color-bottom-hue, $gradient-background-color-bottom-saturation, $gradient-background-color-bottom-lightness in $buttons {
	$name_ucf: str_ucfirst($name);

	/**
	 * #{$name_ucf} button:
	 * `.btn--#{$name}`
	 *
	 *     @example
	 *     a.btn.btn--#{$name} #{$name_ucf}
	 *     a.btn.btn--#{$name}.btn--gradient Gradient
     *     a.btn.btn--#{$name}.btn--outline Outline
	 */
	.btn--#{$name} {
		background-color: $background-color;
		border-color: $border-color;
		color: $text-color;

		&:active {
			box-shadow: 0 0 0 3px transparentize($background-color, 0.6);
		}

		&:focus {
			box-shadow: 0 0 0 3px transparentize($background-color, 0.8);
		}

		&:hover {
			background-color: 
				shade(
					$background-color, 
					$button-hover-background-color-shade-amount
				);
			color: $text-color;
		}
	}

	.btn--gradient {
		border: $button-gradient-border;
		padding: $button-gradient-padding;

		&.btn--#{$name} {
			$button-gradient-background-color-top: 
				tint(
					$background-color, 
					$gradient-background-color-top-tint-amount
				);
			$button-gradient-background-color-bottom: 
				shade(
					$background-color, 
					$gradient-background-color-bottom-shade-amount
				);

			$button-gradient-background-color-top-hsl: 
				hsl(
					hue($button-gradient-background-color-top) + $gradient-background-color-top-hue, 
					saturation($button-gradient-background-color-top) + $gradient-background-color-top-saturation, 
					lightness($button-gradient-background-color-top) + $gradient-background-color-top-lightness
				);
			$button-gradient-background-color-bottom-hsl: 
				hsl(
					hue($button-gradient-background-color-bottom) + $gradient-background-color-bottom-hue, 
					saturation($button-gradient-background-color-bottom) + $gradient-background-color-bottom-saturation, 
					lightness($button-gradient-background-color-bottom) + $gradient-background-color-bottom-lightness
				);

			@include button_gradient_bg(
				$button-gradient-background-color-top-hsl, 
				$button-gradient-background-color-bottom-hsl
			);

			&:hover {
				@include button_gradient_bg(
					shade(
						$button-gradient-background-color-top-hsl, 
						$button-hover-background-color-shade-amount
					), 
					shade(
						$button-gradient-background-color-bottom-hsl, 
						$button-hover-background-color-shade-amount
					)
				);
			}
		}
	}

	.btn--outline {
		background-color: transparent;

		&.btn--#{$name} {
			border-color: transparentize($background-color, $button-outline-border-transparentize-amount);
			color: $background-color;

			&:hover {
				background-color: $background-color;
				border-color: transparentize($background-color, $button-outline-border-transparentize-amount);
				color: $text-color;
			}
		}
	}
}

/**
 * Link button:
 * `.btn--link`
 *
 *     @example
 *     button.btn.btn--link Link button
 */
.btn--link {
	background-color: transparent;
	border-color: transparent;

	color: $link-color;
	text-decoration: $link-decoration;

	&:hover {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
}

/**
 * Pill button:
 * `.btn--pill`
 *
 *     @example
 *     a.btn.btn--secondary.btn--pill Pill button
 */
.btn--pill {
	border-radius: 2em;

	&.btn--sm,
	&.btn--lg {
		@extend .btn--pill;
	}
}

/**
 * Button size:
 * `.btn--sm` `.btn--lg`
 *
 *     @example
 *     a.btn.btn--primary.btn--sm Small button
 *     a.btn.btn--primary.btn--lg Large button
 */
.btn--sm {
	border-radius: $button-small-border-radius;
	font-size: $button-small-font-size;
	padding: $button-small-padding;
}

.btn--lg {
	border-radius: $button-large-border-radius;
	font-size: $button-large-font-size;
	padding: $button-large-padding;
}

/**
 * Expanded button:
 * `.btn--expanded`
 *
 *     @example
 *     a.btn.btn--primary.btn--lg.btn--expanded Expanded button
 */
.btn--expanded {
	display: block;
	width: 100%;
}
