/***
 * Buttons:
 */

/**
 * Standard button:
 * `.btn`
 *
 *     @example
 *     a(href='#').btn Button
 */
.btn {
	background-color: $button-background-color;
	color: $text-color;
	border: $button-border;
	border-radius: $button-border-radius;
	box-shadow: none;
	display: inline-block;
	font-size: $button-font-size;
	font-weight: $button-font-weight;
	line-height: $button-line-height;
	padding: $button-padding;
	text-align: center;
	transition: $base-transition;
	vertical-align: middle;
	white-space: nowrap;

	-moz-appearance: none;
	-webkit-appearance: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:link,
	&:visited {
		color: $text-color;
	}

	&:hover {
		background-color: 
			shade(
				$button-background-color, 
				$button-hover-background-color-shade-amount
			);
		color: $text-color;
	}

	&:active,
	&.active {
		background-color: 
			shade(
				$button-background-color, 
				$button-active-background-color-shade-amount
			);
		color: $text-color;
	}
}

@each 
	$name, 
	$background-color, 
	$border-color, 
	$text-color, 
	$gradient-background-color-top-tint-amount, 
	$gradient-background-color-bottom-shade-amount,
	$gradient-background-color-top-hue, 
	$gradient-background-color-top-saturation, 
	$gradient-background-color-top-lightness,
	$gradient-background-color-bottom-hue, 
	$gradient-background-color-bottom-saturation, 
	$gradient-background-color-bottom-lightness in $buttons {
	$name_ucf: str_ucfirst($name);
	$name_r: str_replace(to_lower_case($name), ' ', '-');

	/**
	 * #{$name_ucf} button:
	 * `.btn--#{$name_r}`
	 *
	 *     @example
	 *     a(href='#').btn.btn--#{$name_r} Flat
	 *     a(href='#').btn.btn--#{$name_r}.btn--gradient Gradient
     *     a(href='#').btn.btn--#{$name_r}.btn--outline Outline
	 */
	.btn--#{$name_r} {
		background-color: $background-color;
		border-color: $border-color;
		color: $text-color;

		&:link,
		&:visited {
			color: $text-color;
		}

		&:hover {
			background-color: 
				shade(
					$background-color, 
					$button-hover-background-color-shade-amount
				);
			color: $text-color;
		}

		&:active,
		&.active {
			background-color: 
				shade(
					$background-color, 
					$button-active-background-color-shade-amount
				);
			color: $text-color;
		}
	}

	.btn--gradient {
		border: $button-gradient-border;
		padding: $button-gradient-padding;

		&.btn--#{$name_r} {
			$button-gradient-background-color-top: 
				tint(
					$base-background-color, 
					$background-color, 
					$gradient-background-color-top-tint-amount
				);
			$button-gradient-background-color-bottom: 
				shade(
					$background-color, 
					$gradient-background-color-bottom-shade-amount
				);

			$button-gradient-background-color-top-hsl: 
				hsl(
					hue($button-gradient-background-color-top) + $gradient-background-color-top-hue, 
					saturation($button-gradient-background-color-top) + $gradient-background-color-top-saturation, 
					lightness($button-gradient-background-color-top) + $gradient-background-color-top-lightness
				);
			$button-gradient-background-color-bottom-hsl: 
				hsl(
					hue($button-gradient-background-color-bottom) + $gradient-background-color-bottom-hue, 
					saturation($button-gradient-background-color-bottom) + $gradient-background-color-bottom-saturation, 
					lightness($button-gradient-background-color-bottom) + $gradient-background-color-bottom-lightness
				);

			@include button_gradient_bg(
				$button-gradient-background-color-top-hsl, 
				$button-gradient-background-color-bottom-hsl
			);

			&:link,
			&:visited {
				color: $text-color;
			}

			&:hover {
				@include button_gradient_bg(
					shade(
						$button-gradient-background-color-top-hsl, 
						$button-hover-background-color-shade-amount
					), 
					shade(
						$button-gradient-background-color-bottom-hsl, 
						$button-hover-background-color-shade-amount
					)
				);
			}

			&:active,
			&.active {
				@include button_gradient_bg(
					shade(
						$button-gradient-background-color-top-hsl, 
						$button-active-background-color-shade-amount
					), 
					shade(
						$button-gradient-background-color-bottom-hsl, 
						$button-active-background-color-shade-amount
					)
				);
			}
		}
	}

	.btn--outline {
		background-color: transparent;

		&.btn--#{$name_r} {
			border-color: transparentize($background-color, $button-outline-border-transparentize-amount);
			color: $background-color;

			&:link,
			&:visited {
				color: $background-color;
			}

			&:hover {
				background-color: $background-color;
				border-color: transparentize($background-color, $button-outline-border-transparentize-amount);
				color: $text-color;
			}

			&:active,
			&.active {
				background-color: 
					shade(
						$background-color, 
						$button-active-background-color-shade-amount
					);
				border-color: transparentize(
					shade(
						$background-color, 
						$button-active-background-color-shade-amount
					), 
					$button-outline-border-transparentize-amount
				);
				color: $text-color;
			}
		}
	}

	.toggle,
	.toggle [type='checkbox'],
	.toggle [type='radio'] {
		opacity: 0;
		position: absolute;

		&:checked {
			& + .btn--#{$name_r} {
				@extend .btn--#{$name_r}.active;
			}
		}
	}
}

/**
 * Link button:
 * `.btn--link`
 *
 *     @example
 *     a(href='#').btn.btn--link Link button
 */
.btn--link {
	background-color: transparent;
	border-color: transparent;

	color: $link-color;
	text-decoration: $link-decoration;

	&:link,
	&:visited {
		color: $link-color;
	}

	&:hover {
		background-color: $button-background-color;
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}

	&:active,
	&.active {
		background-color: 
			shade(
				$button-background-color,
				$button-active-background-color-shade-amount
			);
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
}

/**
 * Pill button:
 * `.btn--pill`
 *
 *     @example
 *     a(href='#').btn.btn--secondary.btn--pill Pill button
 */
.btn--pill {
	border-radius: 2em;

	&.btn--sm,
	&.btn--lg {
		@extend .btn--pill;
	}
}

/**
 * Button size:
 * `.btn--sm` `.btn--lg`
 *
 *     @example
 *     a(href='#').btn.btn--primary.btn--sm Small button
 *     a(href='#').btn.btn--primary.btn--lg Large button
 */
.btn--sm {
	border-radius: $button-small-border-radius;
	font-size: $button-small-font-size;
	padding: $button-small-padding-y $button-small-padding-x;

	&.btn--gradient {
		padding: $button-small-gradient-padding;
	}
}

.btn--lg {
	border-radius: $button-large-border-radius;
	font-size: $button-large-font-size;
	padding: $button-large-padding-y $button-large-padding-x;

	&.btn--gradient {
		padding: $button-large-gradient-padding;
	}
}

/**
 * Expanded button:
 * `.expanded`
 *
 *     @example
 *     a(href='#').btn.btn--primary.btn--lg.expanded Expanded button
 */
.btn {
	&.expanded {
		display: block;
		width: 100%;
	}
}

/**
 * Active button:
 * `.active`
 *
 *     @example
 *     a(href='#').btn.btn--primary.active Active button
 */

/**
 * Disabled button:
 * `.disabled` `disabled`
 *
 *     @example
 *     a(href='#').btn.btn--primary.disabled Disabled button
 *     button(disabled).btn.btn--primary Disabled button
 */
.btn {
	&[disabled],
	&.disabled {
		opacity: $button-disabled-opacity;
		pointer-events: none;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

/**
 * Toggle button:
 * `.toggle`
 *
 *     @example
 *     input(id='eg-toggle-btn', type='checkbox').toggle
 *     label(for='eg-toggle-btn').btn.btn--primary Toggle button
 */
.toggle,
.toggle [type='checkbox'],
.toggle [type='radio'] {
	opacity: 0;
	position: absolute;

	&:checked {
		& + .btn {
			@extend .btn.active;
		}
	}
}
