/***
 * Content:
 */

* {
	margin: 0;
	padding: 0;

	outline: none;
	
	transition: $base-transition;
}

body {
	background-color: $base-background-color;
	color: $text-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $line-height-ratio;
	// transition: $base-transition;

    -moz-osx-font-smoothing: auto;
	 -webkit-font-smoothing: subpixel-antialiased;
	 
	text-rendering: optimizeLegibility;

	&.night {
		background-color: $night-base-background-color;
		color: $night-text-color;
	}
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
	margin-bottom: $half-spacing-unit;
}

a {
	text-decoration: $link-decoration;
	// transition: $base-transition;
		
	&:link {
		color: $link-color;
	}

	&:visited {
		color: $link-visited-color;
	}

	&:hover {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}

	&:hover,
	&:active {
		transition-duration: 0s;
	}
}

.night {
	a {
		
		&:link {
			color: $night-link-color;
		}

		&:visited {
			color: $night-link-visited-color;
		}

		&:hover {
			color: $night-link-hover-color;
		}
	}
}

p > a:not(.btn) {
	border-bottom: $link-border-bottom-width $link-border-bottom-style $link-border-bottom-color;

	&:hover {
		border-bottom-color: $link-hover-border-bottom-color;
	}
}

.night {
	p > a:not(.btn) {
		border-bottom-color: $night-link-border-bottom-color;

		&:hover {
			border-bottom-color: $night-link-hover-border-bottom-color;
		}
	}
}

img {
	max-width: 100%;
}

/**
 * Blockquote:
 * `blockquote`
 *
 *     @example
 *     blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     blockquote
 *         p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     blockquote
 *         p.m-bottom-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *         footer A common form of 
 *             cite lorem ipsum
 */
blockquote {
	border-left: $blockquote-border-width $blockquote-border-style $blockquote-border-color;
	padding: 0 0 0 ($base-spacing-unit - 0.5) - 0.313;
	// transition: $base-transition;

	p {
		font-size: 1.125em;

		&:before,
		&:after {
			font-weight: bold;
		}

		&:before {
			content: $blockquote-left-quotation-mark;
			margin-right: $quarter-spacing-unit / 2;
		}

		&:after {
			content: $blockquote-right-quotation-mark;
			margin-left: $quarter-spacing-unit / 2;
		}
	}

	footer {
		font-size: $small-font-size;

		&:before {
			content: '— ';
		}
	}
}

.night {
	blockquote {
		border-left-color: $night-blockquote-border-color;
	}
}

/**
 * Bold and italic:
 * `strong` `i`
 *
 *     @example
 *     strong Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     br
 *     i Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
b,
strong {
	font-weight: 700;
}

i {
	font-style: italic;
}

/**
 * Code:
 * `code`
 *
 *     @example
 *     p Use <code>&lt;code&gt;</code> for inline code that can wrap.
 */
code {
	background-color: $code-background-color;
	border-radius: $code-border-radius;
	font-size: $code-font-size;
	padding: $quarter-spacing-unit / 2;
	// transition: $base-transition;
}

.night {
	code {
		background-color: $night-code-background-color;
	}
}

/**
 * Code block:
 * `pre`
 *
 *     @example
 *     pre
 *         code
 *             | body {
 *             |     font-size: 100%;
 *             | }
 */
pre {
	background-color: $pre-background-color;
	border-radius: $pre-border-radius;
	overflow-x: auto;
	padding: $quarter-spacing-unit $half-spacing-unit;
	// transition: $base-transition;

	code {
		background-color: transparent;
	}
}

.night {
	pre {
		background-color: $night-pre-background-color;

		code {
			background-color: transparent;
		}
	}
}

figure {
	margin-left: 0;
	margin-right: 0;

	figcaption {
		font-size: $small-font-size;
		font-style: italic;
		text-align: center;
	}

	code {
		background-color: none;
		padding: 0;
	}

	img {
		margin: 0;
	}
}

/**
 * Heading:
 * `h1` `h2` `h3` `h4` `h5` `h6`
 * `.h1` `.h2` `.h3` `.h4` `.h5` `.h6`
 *
 *     @example
 *     div.row
 *         div.col
 *             h1 Heading
 *             h2 Heading
 *             h3 Heading
 *             h4 Heading
 *             h5 Heading
 *             h6 Heading
 *         div.col
 *             p.h1 Heading
 *             p.h2 Heading
 *             p.h3 Heading
 *             p.h4 Heading
 *             p.h5 Heading
 *             p.h6 Heading
 */
@each $heading, $size in $headings {
	#{$heading},
	.#{$heading} {
		font-size: $size;
		line-height: $heading-line-height;

		&:not(:first-child) {
			margin-top: em_to_rem($size) + 0.25;
		}
	}
}

/**
 * List:
 * `ol` `ul`
 *
 *     @example
 *     div.row
 *         div.col-6
 *             ol
 *                 li List item
 *                 li List item
 *                 li List item
 *         div.col-6
 *             ul
 *                 li List item
 *                 li List item
 *                 li List item
 */
ol, ul {
	list-style-position: outside;
	padding-left: $half-spacing-unit * 2.5;

	&:not(last-child) {
		margin-bottom: $half-spacing-unit;
	}
}

ul {
	list-style-type: disc;
}

/**
 * Small:
 * `small`
 *
 *     @example
 *     p
 *         small  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at libero fermentum, pulvinar libero eget, consequat magna. Cras rutrum volutpat nunc, in efficitur sem vestibulum vitae. Suspendisse quis tellus in sapien pretium consequat a ac est. Nullam tincidunt vulputate ullamcorper. Etiam velit diam, bibendum at porta non, viverra non augue.
 */
small {
	font-size: $small-font-size;
	// line-height: $line-height-ratio - px-to-em($base-font-size - em-to-px($small-font-size) + 1);
}
