/***
 * Forms:
 */

.ctrl {
	font-size: $base-font-size;
	position: relative;
	text-align: left;
}

.lbl {
	padding: $label-padding;
}

/**
 * Input:
 * `.input`
 *
 *     @example
 *     input(type='text', placeholder='Text input').input
 */
.input {
	border: $input-border;
	border-radius: $input-border-radius;
	font-size: $base-font-size;
	line-height: $input-line-height;
	padding: $input-padding;
	transition: $base-transition;

	width: 100%;

	&:active {
		border-color: $input-active-border-color;
	}

	&:focus,
	&:focus:hover {
		border-color: $input-focus-border-color;
	}

	&:hover {
		border-color: $input-hover-border-color;
	}
}

/**
 * Line input:
 * `.input--line`
 *
 *     @example
 *     input(type='text', placeholder='Text input').input.input--line
 */
.input--line {
	background-color: transparent;

	border-top: none;
	border-right: none;
	border-bottom: $input-border;
	border-left: none;

	border-radius: 0;
}
