/***
 * Forms:
 */

// .ctrl {
// 	font-size: $base-font-size;
// 	position: relative;
// 	text-align: left;
// }

/**
 * Label:
 * `.lbl`
 *
 *     @example
 *     label.lbl Label
 *         input(type='text', placeholder='Text input').input
 */
.lbl {
	padding: $label-padding;
}

/**
 * Input:
 * `.input`
 *
 *     @example
 *     input(type='text', placeholder='Text input').input
 */
.input {
	border: $input-border;
	border-radius: $input-border-radius;
	box-shadow: none;
	font-size: $base-font-size;
	line-height: $input-line-height;
	padding: $input-padding;
	transition: $base-transition;

	width: 100%;

	&:active {
		border-color: $input-active-border-color;
	}

	&:invalid {
		border-color: $input-invalid-border-color;
	}

	&:valid {
		border-color: $input-valid-border-color;
	}

	// &:-moz-ui-invalid:-moz-focusring:not(output),
	// &:-moz-ui-invalid:not(output) {
	// 	border-color: $input-error-border-color;
	// }

	&:focus,
	&:focus:hover {
		border-color: $input-focus-border-color;
		border-width: $input-focus-border-width;
	}

	&:hover {
		border-color: $input-hover-border-color;
	}
}

/**
 * Input size:
 * `.input--[size]`
 *
 *     @example
 *     div.fld
 *         input(type='text', placeholder='Text input').input.input--lg
 *     div.fld
 *         input(type='text', placeholder='Text input').input.input--sm
 */
.input--sm {
	border-radius: $input-small-border-radius;
	font-size: $input-small-font-size;
	padding: $input-small-padding-y $input-small-padding-x;
}

.input--lg {
	border-radius: $input-large-border-radius;
	font-size: $input-large-font-size;
	padding: $input-large-padding-y $input-large-padding-x;
}

/**
 * Line input:
 * `.input--line`
 *
 *     @example
 *     input(type='text', placeholder='Line input').input.input--line
 */
.input--line {
	background-color: transparent;

	border-top: none;
	border-right: none;
	border-bottom: $input-border;
	border-left: none;

	border-radius: 0;

	padding-right: 0;
	padding-left: 0;
}
