/***
 * Forms:
 */

// .ctrl {
// 	font-size: $base-font-size;
// 	position: relative;
// 	text-align: left;
// }

/**
 * Label:
 * `.lbl`
 *
 *     @example
 *     label.lbl Label
 *         input(type='text', placeholder='Text input').input
 */
.lbl {
	padding: $label-padding;
}

/**
 * Input:
 * `.input`
 *
 *     @example
 *     input(type='text', placeholder='Text input').input
 */
.input {
	border: $input-border;
	border-radius: $input-border-radius;
	box-shadow: none;
	font-size: $base-font-size;
	line-height: $input-line-height;
	padding: $input-padding;
	transition: $base-transition;

	width: 100%;

	&:active {
		border-color: $input-active-border-color;
	}

	&:invalid {
		border-color: $input-invalid-border-color;
	}

	&:valid {
		border-color: $input-valid-border-color;
	}

	// &:-moz-ui-invalid:-moz-focusring:not(output),
	// &:-moz-ui-invalid:not(output) {
	// 	border-color: $input-error-border-color;
	// }

	&:focus,
	&:focus:hover {
		border-color: $input-focus-border-color;
		border-width: $input-focus-border-width;
	}

	&:hover {
		border-color: $input-hover-border-color;
	}
}

/**
 * Input size:
 * `.input--[size]`
 *
 *     @example
 *     div.fld
 *         input(type='text', placeholder='Text input').input.input--lg
 *     div.fld
 *         input(type='text', placeholder='Text input').input.input--sm
 */
.input--sm {
	border-radius: $input-small-border-radius;
	font-size: $input-small-font-size;
	padding: $input-small-padding-y $input-small-padding-x;
}

.input--lg {
	border-radius: $input-large-border-radius;
	font-size: $input-large-font-size;
	padding: $input-large-padding-y $input-large-padding-x;
}

/**
 * Line input:
 * `.input--line`
 *
 *     @example
 *     input(type='text', placeholder='Line input').input.input--line
 */
.input--line {
	background-color: transparent;

	border-top: none;
	border-right: none;
	border-bottom: $input-border;
	border-left: none;

	border-radius: 0;

	padding-right: 0;
	padding-left: 0;
}

/**
 * Checkbox and radio:
 * 
 *
 *     @example
 *     div.row
 *         div.sm-col-6
 *             div.fld.fld--check
 *                 label.lbl.lbl--check
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *             div.fld.fld--check
 *                 label.lbl.lbl--check
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *         div.sm-col-6
 *             div.fld.fld--check
 *                 label.lbl.lbl--check
 *                     input(checked, name='radio', type='radio', value='')
 *                     | Radio
 *             div.fld.fld--check
 *                 label.lbl.lbl--check
 *                     input(name='radio', type='radio', value='')
 *                     | Radio
 *     div.row
 *         div.sm-col-12
 *             div.fld
 *                 label.lbl.lbl--check
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *                 label.lbl.lbl--check
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *                 label.lbl.lbl--check
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *             div.fld
 *                 label.lbl.lbl--check
 *                     input(checked, name='radio-inline', type='radio', value='')
 *                     | Radio
 *                 label.lbl.lbl--check
 *                     input(name='radio-inline', type='radio', value='')
 *                     | Radio
 *                 label.lbl.lbl--check
 *                     input(name='radio-inline', type='radio', value='')
 *                     | Radio
 */
.fld--check:not(:last-child) {
	margin-bottom: $half-spacing-unit / 2;
}

.lbl--check {
	padding-left: $half-spacing-unit + 0.25;
	position: relative;

	&:not(:last-child) {
		margin-right: $half-spacing-unit + 0.25;
	}
}

[type='checkbox'],
[type='radio'] {
	margin-top: $quarter-spacing-unit;

	position: absolute;

	top: 0;
	left: 0;
}

/**
 * Switch:
 * `.switch`
 *
 *     @example
 *     div.row
 *         div.xs-col-12.md-col-6
 *             input(id='example-switch', type='checkbox').switch
 *             label(for='example-switch')
 *             input(id='example-switch-checked', type='checkbox' checked).switch
 *             label(for='example-switch-checked')
 *         div.xs-col-12.md-col-6
 *             input(id='example-switch-with-label', type='checkbox').switch
 *             label(for='example-switch-with-label')
 *                 span Switch with label
 */
.switch {
	opacity: 0;
	position: absolute;

	& + label {
		background-color: $switch-background-color;
		border: $switch-border;
		border-radius: $switch-height * 2;
		box-shadow: $switch-box-shadow;
		display: inline-block;
		position: relative;
		user-select: none;

		width: $switch-width;
		height: $switch-height;

		&:before {
			background-color: transparent;
			border-radius: $switch-border-radius;
			content: '';
			display: block;

			position: absolute;
			top: 0;
			left: 0;

			width: $switch-height;
			height: $switch-height;

			transition: $switch-transition;
		}

		// Toggle.
		&:after {
			background-color: $switch-toggle-background-color;
			box-shadow: $switch-toggle-box-shadow;
			border-radius: $switch-toggle-border-radius;
			content: '';
			display: block;
			margin-top: -($switch-toggle-height / 2);

			position: absolute;
			top: $switch-toggle-top;
			left: $switch-toggle-left;

			width: $switch-toggle-width;
			height: $switch-toggle-height;

			transition: $switch-toggle-transition;
		}

		span {
			height: $switch-height;
			line-height: $switch-height;
			margin-left: $switch-width;
			padding-left: $quarter-spacing-unit;
			white-space: nowrap;
		}
	}

	&:checked {
		& + label {
			// transition: box-shadow 2.5s cubic-bezier(0, 1.2, 0.9, 0.95);

			&:before {
				background-color: $switch-checked-background-color;
				box-shadow: $switch-box-shadow;

				@if $switch-border != none {
					top: -$control-border-width;
				}

				width: $switch-width;

				transition: $switch-checked-transition;
			}

			&:after {
				left: $switch-checked-toggle-left;
			}
		}
	}
}
