/***
 * Forms:
 */

.fld {
	margin-bottom: $half-spacing-unit;
}

/**
 * Label:
 * `.lbl`
 *
 *     @example
 *     label(for='eg-input').lbl Label
 *     input(id='eg-input', placeholder='Text input', type='text').input
 */
.lbl {
	display: inline-block;
	font-size: $label-font-size;
	margin-bottom: $quarter-spacing-unit;
}

/**
 * Input:
 * `.input`
 *
 *     @example
 *     input(type='text', placeholder='Text input').input
 */
.input,
.txtarea {
	background-color: $input-background-color;
	border: $input-border;
	border-radius: $input-border-radius;
	box-shadow: $input-box-shadow;
	color: $input-text-color;
	display: block;
	font-family: $base-font-family;
	font-size: $input-font-size;
	line-height: $input-line-height;
	padding: $input-padding;
	// transition: $base-transition;

	width: 100%;

	&:active {
		border-color: $input-active-border-color;
	}

	&:invalid {
		border-color: $input-invalid-border-color;
	}

	&:valid {
		border-color: $input-valid-border-color;
	}

	// &:-moz-ui-invalid:-moz-focusring:not(output),
	// &:-moz-ui-invalid:not(output) {
	// 	border-color: $input-error-border-color;
	// }

	&:focus,
	&:focus:hover {
		border-color: $input-focus-border-color;
		border-width: $input-focus-border-width;

		box-shadow: $control-focus-box-shadow;

		z-index: 10;
	}

	&:hover {
		border-color: $input-hover-border-color;
	}
}

.night {
	.input,
	.txtarea {
		border-color: $night-input-border-color;
		color: $night-text-color;

		&:active {
			border-color: $night-input-active-border-color;
		}

		&:invalid {
			border-color: $night-input-invalid-border-color;
		}

		&:valid {
			border-color: $night-input-valid-border-color;
		}

		&:focus,
		&:focus:hover {
			border-color: $night-input-focus-border-color;
			box-shadow: $night-control-focus-box-shadow;
		}

		&:hover {
			border-color: $night-input-hover-border-color;
		}
	}
}

/**
 * Input size:
 * `.input--[size]`
 *
 *     @example
 *     div.fld
 *         input(type='text', placeholder='Text input').input.input--lg
 *     div.fld
 *         input(type='text', placeholder='Text input').input.input--sm
 */
.input--sm {
	border-radius: $input-small-border-radius;
	font-size: $input-small-font-size;
	padding: $input-small-padding-y $input-small-padding-x;
}

.input--lg {
	border-radius: $input-large-border-radius;
	font-size: $input-large-font-size;
	padding: $input-large-padding-y $input-large-padding-x;
}

/**
 * Line input:
 * `.input--line`
 *
 *     @example
 *     input(type='text', placeholder='Line input').input.input--line
 */
.input--line {
	background-color: transparent;

	border-top: none;
	border-right: none;
	border-bottom: $input-border;
	border-left: none;

	border-radius: 0;

	padding-right: 0;
	padding-left: 0;

	&:focus,
	&:focus:hover {
		box-shadow: $input-line-focus-box-shadow;
	}
}

.night {
	.input--line {
		&:focus,
		&:focus:hover {
			box-shadow: $night-input-line-focus-box-shadow;
		}
	}
}

/**
 * Textarea:
 * `.txtarea`
 *
 *     @example
 *     textarea(placeholder='Textarea', rows='5').txtarea
 */

/**
 * Checkbox and radio:
 * 
 *
 *     @example
 *     div.row
 *         div.sm-col-6
 *             div.fld.fld--check
 *                 label.lbl.lbl--check
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *             div.fld.fld--check
 *                 label.lbl.lbl--check
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *         div.sm-col-6
 *             div.fld.fld--check
 *                 label.lbl.lbl--check
 *                     input(checked, name='radio', type='radio', value='')
 *                     | Radio
 *             div.fld.fld--check
 *                 label.lbl.lbl--check
 *                     input(name='radio', type='radio', value='')
 *                     | Radio
 *     div.row
 *         div.sm-col-12
 *             div.fld
 *                 label.lbl.lbl--check
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *                 label.lbl.lbl--check
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *                 label.lbl.lbl--check
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *             div.fld
 *                 label.lbl.lbl--check
 *                     input(checked, name='radio-inline', type='radio', value='')
 *                     | Radio
 *                 label.lbl.lbl--check
 *                     input(name='radio-inline', type='radio', value='')
 *                     | Radio
 *                 label.lbl.lbl--check
 *                     input(name='radio-inline', type='radio', value='')
 *                     | Radio
 */
.fld--check:not(:last-child) {
	margin-bottom: $half-spacing-unit / 2;
}

.lbl--check {
	margin-bottom: 0;
	padding-left: $half-spacing-unit + 0.25;
	position: relative;

	&:not(:last-child) {
		margin-right: $half-spacing-unit + 0.25;
	}
}

[type='checkbox'],
[type='radio'] {
	margin-top: $quarter-spacing-unit - 0.125;

	position: absolute;

	top: 0;
	left: 0;
}

/**
 * Select menu:
 * `.select`
 *
 *     @example
 *     select.select
 *         option Option 1
 *         option Option 2
 *         option Option 3
 */
.select {
	background-color: $select-background-color;
	border: $select-border;
	border-radius: $select-border-radius;
	display: block;
	font-size: $select-font-size;
	line-height: $select-line-height;
	padding: $select-padding;
	// transition: $base-transition;
	width: 100%;

	// -ms-touch-action: manipulation;
	// touch-action: manipulation;

	// Add background image.
	@if $select-background-image != none {
		background-image: url($select-background-image);
		background-position: $select-background-position;
		background-size: $select-background-size;
		background-repeat: no-repeat;
		margin-right: $select-margin-right;
		padding-right: $select-icon-padding-right;

		-webkit-appearance: none;
		-moz-appearance: none;

		@if $select-focus-background-image != none {
			&:focus {
				background-image: url($select-focus-background-image);
			}
		}
	}

	&:focus,
	&:focus:hover {
		border-color: $select-focus-border-color;
		border-width: $select-focus-border-width;
	}
}

.night {
	.select {
		border-color: $night-select-border-color;
		color: $night-select-text-color;

		option {
			color: $text-color;
		}
	}
}

/**
 * Pure CSS select menu icon:
 * `.select-icn`
 *
 *     @example
 *     div.select-icn
 *         select.select
 *             option Option 1
 *             option Option 2
 *             option Option 3
 */
.select-icn {
	position: relative;

	.select {
		background: none;

		-webkit-appearance: none;
		-moz-appearance: none;

		padding-right: $select-icon-padding-right;
	}
	
	&:after {
		border: $select-icon-border;
		border-right: 0;
		border-top: 0;
		
		content: '';
		display: block;

		width: $select-icon-width;
		height: $select-icon-height;

		margin-top: $select-icon-margin-top;
		position: absolute;
		top: $select-icon-top;
		right: $select-icon-right;

		pointer-events: none;
		transform: $select-icon-transform;
		// transition: $base-transition;

		// z-index: 4;
	}
}

.night {
	.select-icn {
		&:after {
			border-color: $night-select-icon-border-color;
		}
	}
}

/**
 * Select menu size:
 * `.select--[size]` `.select-icn--[size]`
 *
 *     @example
 *     div.row
 *         div.sm-col-6
 *             div.fld
 *                 select.select.select--sm
 *                     option Option 1
 *                     option Option 2
 *                     option Option 3
 *             div.fld
 *                 select.select.select--lg
 *                     option Option 1
 *                     option Option 2
 *                     option Option 3
 *         div.sm-col-6
 *             div.fld
 *                 div.select-icn.select-icn--sm
 *                     select.select
 *                         option Option 1
 *                         option Option 2
 *                         option Option 3
 *             div.fld
 *                 div.select-icn.select-icn--lg
 *                     select.select
 *                         option Option 1
 *                         option Option 2
 *                         option Option 3
 */
.select--sm {
	border-radius: $select-small-border-radius;
	font-size: $select-small-font-size;
	padding: $select-small-padding-y $select-small-padding-x;

	// Arrow icon.
	@if $select-background-image != none {
		padding-right: $select-icon-small-padding-right;
	}
}

.select--lg {
	border-radius: $select-large-border-radius;
	font-size: $select-large-font-size;
	padding: $select-large-padding-y $select-large-padding-x;

	// Arrow icon.
	@if $select-background-image != none {
		padding-right: $select-icon-large-padding-right;
	}
}

.select-icn--sm {
	.select {
		@extend .select--sm;

		padding-right: $select-icon-small-padding-right;
	}

	&:after {
		width: $select-icon-small-width;
		height: $select-icon-small-height;

		margin-top: $select-icon-small-margin-top;
		right: $select-icon-small-right;
	}
}

.select-icn--lg {
	.select {
		@extend .select--lg;

		padding-right: $select-icon-large-padding-right;
	}

	&:after {
		width: $select-icon-large-width;
		height: $select-icon-large-height;

		margin-top: $select-icon-large-margin-top;
		right: $select-icon-large-right;
	}
}
