/***
 * Input group:
 */

/**
 * Button addons:
 * `.input-group`
 *
 *     @example
 *     div.fld.input-group
 *         div.input-group-btn
 *             input(type='search', placeholder='Search...').input
 *             a.btn.btn--secondary Go
 */

/**
 * Mixed addons:
 * `.input-group`
 *
 *     @example
 *     div.fld.input-group
 *         label.lbl Search:
 *         div.input-group-btn
 *             input(type='search').input
 *             a.btn.btn--secondary Go
 */
.input-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;

	.lbl {
		&:first-child {
			margin-right: $quarter-spacing-unit;

			& + .input-group-btn {
				flex-grow: 2;
				width: auto;
			}
		}
	}

	.input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;

		&:first-child {
			flex: 1 1 auto;
		}

		&:last-child {
			border-top-right-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
		}
	}

	.btn {
		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

.input-group-btn {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: 100%;

	> *:not(:last-child) {
		margin-right: -1px;
	}
}
