/**
 * Switch:
 * `.switch`
 *
 *     @example
 *     div.row
 *         div.md-col-6
 *             input(id='eg-switch', type='checkbox').switch
 *             label(for='eg-switch')
 *             input(id='eg-switch-checked', type='checkbox' checked).switch
 *             label(for='eg-switch-checked')
 *         div.md-col-6
 *             input(id='eg-switch-with-label', type='checkbox').switch
 *             label(for='eg-switch-with-label')
 *                 span Switch with label
 */
.switch {
	opacity: 0;
	position: absolute;

	& + label {
		background-color: $switch-background-color;
		border: $switch-border;
		border-radius: $switch-border-radius;
		box-shadow: $switch-box-shadow;
		display: inline-block;
		position: relative;
		// transition: $base-transition;
		user-select: none;

		width: $switch-width;
		height: $switch-height;

		&:before {
			background-color: transparent;
			border-radius: $switch-border-radius;
			content: '';
			display: block;

			position: absolute;
			top: 0;
			left: 0;

			width: $switch-width;
			// width: $switch-height;
			height: $switch-height;

			transition: $switch-transition;
		}

		// Toggle.
		&:after {
			background-color: $switch-toggle-background-color;
			box-shadow: $switch-toggle-box-shadow;
			border-radius: $switch-toggle-border-radius;
			content: '';
			display: block;
			margin-top: -($switch-toggle-height / 2);

			position: absolute;
			top: $switch-toggle-top;
			left: $switch-toggle-left;

			width: $switch-toggle-width;
			height: $switch-toggle-height;

			transition: $switch-toggle-transition;
		}

		span {
			height: $switch-height;
			line-height: $switch-height;
			margin-left: $switch-width;
			padding-left: $quarter-spacing-unit;
			white-space: nowrap;
		}
	}

	&:checked {
		& + label {
			// transition: box-shadow 2.5s cubic-bezier(0, 1.2, 0.9, 0.95);

			&:before {
				background-color: $switch-checked-background-color;
				box-shadow: $switch-box-shadow;

				@if $switch-border != none {
					top: -$control-border-width;
				}

				// width: $switch-width;

				transition: $switch-checked-transition;
			}

			&:after {
				left: $switch-checked-toggle-left;
			}
		}
	}
}

.night {
	.switch {
		& + label {
			background-color: $night-switch-background-color;

			// Toggle.
			&:after {
				background-color: $night-switch-toggle-background-color;
			}
		}

		&:checked {
			& + label {
				&:before {
					background-color: $night-switch-checked-background-color;
				}
			}
		}
	}	
}

/**
 * Switch size:
 * `.switch--[size]`
 *
 *     @example
 *     input(id='eg-switch-sm', type='checkbox').switch.switch--sm
 *     label(for='eg-switch-sm')
 *     input(id='eg-switch-lg', type='checkbox').switch.switch--lg
 *     label(for='eg-switch-lg')
 */
.switch--sm {
	& + label {
		border-radius: $switch-small-border-radius;

		width: $switch-small-width;
		height: $switch-small-height;

		&:before {
			border-radius: $switch-small-border-radius;

			width: $switch-small-width;
			// width: $switch-small-height;
			height: $switch-small-height;
		}

		// Toggle.
		&:after {
			border-radius: $switch-small-toggle-border-radius;
			margin-top: -($switch-small-toggle-height / 2);

			width: $switch-small-toggle-width;
			height: $switch-small-toggle-height;

			left: $switch-small-toggle-left;
		}

		span {
			height: $switch-small-height;
			line-height: $switch-small-height;
			margin-left: $switch-small-width;
		}
	}

	&:checked {
		& + label {
			// &:before {
			// 	width: $switch-small-width;
			// }

			&:after {
				left: $switch-small-checked-toggle-left;
			}
		}
	}
}

.switch--lg {
	& + label {
		border-radius: $switch-large-border-radius;

		width: $switch-large-width;
		height: $switch-large-height;

		&:before {
			border-radius: $switch-large-border-radius;

			width: $switch-large-width;
			// width: $switch-large-height;
			height: $switch-large-height;
		}

		// Toggle.
		&:after {
			border-radius: $switch-large-toggle-border-radius;
			margin-top: -($switch-large-toggle-height / 2);

			width: $switch-large-toggle-width;
			height: $switch-large-toggle-height;

			left: $switch-large-toggle-left;
		}

		span {
			height: $switch-large-height;
			line-height: $switch-large-height;
			margin-left: $switch-large-width;
		}
	}

	&:checked {
		& + label {
			// &:before {
			// 	width: $switch-large-width;
			// }

			&:after {
				left: $switch-large-checked-toggle-left;
			}
		}
	}
}
