/***
 * Switch:
 */

/**
 * Standard switch:
 * `.switch`
 *
 *     @example
 *     div.row
 *         div.md-col-6
 *             input(id='eg-switch', type='checkbox').switch
 *             label(for='eg-switch')
 *             input(id='eg-switch-checked', type='checkbox' checked).switch
 *             label(for='eg-switch-checked')
 *         div.md-col-6
 *             input(id='eg-switch-with-label', type='checkbox').switch
 *             label(for='eg-switch-with-label')
 *                 span Switch with label
 */
.switch {
	opacity: 0;
	position: absolute;
	z-index: -1;

	& + label {
		background-color: $switch-label-background-color;
		border: $switch-label-border;
		border-radius: $switch-label-border-radius;
		box-shadow: $switch-label-box-shadow;
		display: inline-block;
		position: relative;
		user-select: none;

		width: $switch-label-width;
		height: $switch-label-height;

		&:before {
			background-color: transparent;
			border-radius: $switch-label-border-radius;
			content: '';
			display: block;

			position: absolute;
			top: 0;
			left: 0;

			width: $switch-label-width;
			height: $switch-label-height;

			transition: $switch-label-before-transition;
		}

		// Toggle.
		&:after {
			background-color: $switch-label-after-background-color;
			box-shadow: $switch-label-after-box-shadow;
			border-radius: $switch-label-border-radius;
			content: '';
			display: block;
			margin-top: -($switch-label-after-height / 2);

			position: absolute;
			top: $switch-label-after-top;
			left: $switch-label-after-left;

			width: $switch-label-after-width;
			height: $switch-label-after-height;

			transition: $switch-label-after-transition;
		}

		// Label.
		span {
			height: $switch-label-height;
			line-height: $switch-label-height;
			margin-left: $switch-label-width;
			padding-left: $quarter-spacing-unit;
			white-space: nowrap;
		}
	}

	&:checked {
		& + label {
			&:before {
				background-color: $switch-checked-label-before-background-color;
				box-shadow: $switch-label-box-shadow;

				@if $switch-label-border != none {
					top: -$control-border-width;
				}

				transition: $switch-checked-label-before-transition;
			}

			&:after {
				left: $switch-checked-label-after-left;
			}
		}
	}
}

.night {
	.switch {
		& + label {
			background-color: $night-switch-label-background-color;

			// Toggle.
			&:after {
				background-color: $night-switch-label-after-background-color;
			}
		}

		&:checked {
			& + label {
				&:before {
					background-color: $night-switch-checked-label-before-background-color;
				}
			}
		}
	}	
}

/**
 * Switch size:
 * `.switch--[size]`
 *
 *     @example
 *     input(id='eg-switch-sm', type='checkbox').switch.switch--sm
 *     label(for='eg-switch-sm')
 *     input(id='eg-switch-lg', type='checkbox').switch.switch--lg
 *     label(for='eg-switch-lg')
 */
.switch--sm {
	& + label {
		border-radius: $switch-small-label-border-radius;

		width: $switch-small-label-width;
		height: $switch-small-label-height;

		&:before {
			border-radius: $switch-small-label-border-radius;

			width: $switch-small-label-width;
			height: $switch-small-label-height;
		}

		// Toggle.
		&:after {
			border-radius: $switch-small-label-border-radius;
			margin-top: -($switch-small-label-after-height / 2);

			width: $switch-small-label-after-width;
			height: $switch-small-label-after-height;

			left: $switch-small-label-after-left;
		}

		span {
			height: $switch-small-label-height;
			line-height: $switch-small-label-height;
			margin-left: $switch-small-label-width;
		}
	}

	&:checked {
		& + label {
			&:after {
				left: $switch-small-checked-label-after-left;
			}
		}
	}
}

.switch--lg {
	& + label {
		border-radius: $switch-large-label-border-radius;

		width: $switch-large-label-width;
		height: $switch-large-label-height;

		&:before {
			border-radius: $switch-large-label-border-radius;

			width: $switch-large-label-width;
			height: $switch-large-label-height;
		}

		// Toggle.
		&:after {
			border-radius: $switch-large-label-border-radius;
			margin-top: -($switch-large-label-after-height / 2);

			width: $switch-large-label-after-width;
			height: $switch-large-label-after-height;

			left: $switch-large-label-after-left;
		}

		span {
			height: $switch-large-label-height;
			line-height: $switch-large-label-height;
			margin-left: $switch-large-label-width;
		}
	}

	&:checked {
		& + label {
			// &:before {
			// 	width: $switch-large-width;
			// }

			&:after {
				left: $switch-large-checked-label-after-left;
			}
		}
	}
}
