/***
 * Tables:
 */

table {
	border-collapse: collapse;
	margin-bottom: $half-spacing-unit;
	max-width: 100%;
	width: 100%;
}

th {
	text-align: $table-header-text-align;
}

/**
 * Table:
 * `.tbl` Tables are styled nicely for you.
 *
 *     @example
 *     table.tbl
 *         thead
 *             tr
 *                 th Table heading
 *                 th Table heading
 *                 th Table heading
 *         tbody
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 */
.tbl {
	// border-spacing: 0;

	tr + tr {
		th, td {
			border-top: 1px $table-border-style $table-border-color;
		}
	}

	th {
		background-color: $table-header-background-color;
		border-top: 1px solid $table-border-color;
		border-bottom: 1px solid $table-border-color;
		font-weight: $table-header-font-weight;
	}

	th, td {
		padding: ($quarter-spacing-unit + ($quarter-spacing-unit / 2)) $half-spacing-unit;
		vertical-align: top;
	}
}

.night {
	.tbl {
		tr + tr {
			th, td {
				border-top-color: $night-table-border-color;
			}
		}

		th {
			background-color: $night-table-header-background-color;
			border-top-color: $night-table-border-color;
			border-bottom-color: $night-table-border-color;
		}
	}
}

@each $prop, $abbr in (width: tbl-col) {
	@each $size, $length in $sizes {
		@for $i from 1 through length($sizes) {
			$col: $i;
			.#{$abbr}-#{$col}-#{$size} {
				tr th:nth-child(#{$col}),
				tr td:nth-child(#{$col}) {
					#{$prop}: $length;
				}
			}
		}
	}
}

/**
 * Bordered table:
 * `.tbl--bordered`
 *
 *     @example
 *     table.tbl.tbl--bordered
 *         thead
 *             tr
 *                 th Table heading
 *                 th Table heading
 *                 th Table heading
 *         tbody
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 */
.tbl--bordered {
	border: 1px solid $table-border-color;

	td, th {
		&:not(:last-child) {
			border-right: 1px solid $table-border-color;
		}
	}
}

.night {
	.tbl--bordered {
		border-color: $night-table-border-color;

		td, th {
			&:not(:last-child) {
				border-right-color: $night-table-border-color;
			}
		}
	}
}

/**
 * Responsive table:
 * `.tbl--responsive`
 *
 *     @example
 *     table.tbl.tbl--responsive
 *         thead
 *             tr
 *                 th Table heading
 *                 th Table heading
 *                 th Table heading
 *         tbody
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 */
.tbl--responsive {
	overflow-x: auto;
}

@media screen and (max-width: $breakpoint-sm-min-width - 1) {
	.tbl--responsive {
		display: block;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		overflow-y: hidden;
	}
}

/**
 * Scrolling table:
 * `.tbl--scroll`
 *
 *     @example
 *     table.tbl.tbl--scroll
 *         thead
 *             tr
 *                 th Table heading
 *                 th Table heading
 *                 th Table heading
 *         tbody
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 */
.tbl--scroll {
	display: block;
	overflow-x: auto;

	th, td {
		white-space: nowrap;
	}
}

/**
 * Striped table:
 * `.tbl--striped`
 *
 *     @example
 *     table.tbl.tbl--striped
 *         thead
 *             tr
 *                 th Table heading
 *                 th Table heading
 *                 th Table heading
 *         tbody
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 */
.tbl--striped {
	tbody {
		tr:nth-child(#{$table-striped-index}) {
			td, th {
				background-color: $table-striped-background-color;
			}
		}
	}
}

.night {
	.tbl--striped {
		tbody {
			tr:nth-child(#{$table-striped-index}) {
				td, th {
					background-color: $night-table-striped-background-color;
				}
			}
		}
	}
}
