/***
 * Tables:
 */

table {
	border-collapse: collapse;
	margin-bottom: $half-spacing-unit;
	max-width: 100%;
	width: 100%;
}

th {
	text-align: $table-heading-text-align;
}

/**
 * Table:
 * `.tbl` Tables are styled nicely for you.
 *
 *     @example
 *     table.tbl
 *         thead
 *             tr
 *                 th Table heading
 *                 th Table heading
 *                 th Table heading
 *         tbody
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 */
.tbl {
	// border-spacing: 0;

	tr {
		& + tr {
			th, td {
				border-top: 1px solid $border-color;
			}
		}
	}

	th {
		border-bottom: 2px solid $border-color;
		font-weight: $table-heading-font-weight;
	}

	th, td {
		padding: $quarter-spacing-unit;
		vertical-align: top;
	}
}

@each $prop, $abbr in (width: tbl-col) {
	@each $size, $length in $sizes {
		@for $i from 1 through length($sizes) {
			$col: $i;
			.#{$abbr}-#{$col}-#{$size} {
				tr th:nth-child(#{$col}),
				tr td:nth-child(#{$col}) {
					#{$prop}: $length;
				}
			}
		}
	}
}

/**
 * Bordered table:
 * `.tbl--bordered`
 *
 *     @example
 *     table.tbl.tbl--bordered
 *         thead
 *             tr
 *                 th Table heading
 *                 th Table heading
 *                 th Table heading
 *         tbody
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 */
.tbl--bordered {
	border: 1px solid $border-color;

	td, th {
		&:not(:last-child) {
			border-right: 1px solid $border-color;
		}
	}
}

/**
 * Responsive table:
 * `.tbl--responsive`
 *
 *     @example
 *     table.tbl.tbl--responsive
 *         thead
 *             tr
 *                 th Table heading
 *                 th Table heading
 *                 th Table heading
 *         tbody
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 */
.tbl--responsive {
	overflow-x: auto;
}

@media screen and (max-width: $breakpoint-sm-min-width - 1) {
	.tbl--responsive {
		display: block;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		overflow-y: hidden;
	}
}

/**
 * Scrolling table:
 * `.tbl--scroll`
 *
 *     @example
 *     table.tbl.tbl--scroll
 *         thead
 *             tr
 *                 th Table heading
 *                 th Table heading
 *                 th Table heading
 *         tbody
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 */
.tbl--scroll {
	display: block;
	overflow-x: auto;

	th, td {
		white-space: nowrap;
	}
}

/**
 * Striped table:
 * `.tbl--striped`
 *
 *     @example
 *     table.tbl.tbl--striped
 *         thead
 *             tr
 *                 th Table heading
 *                 th Table heading
 *                 th Table heading
 *         tbody
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 */
.tbl--striped {
	tbody {
		tr:nth-child(odd) {
			td, th {
				background-color: $table-striped-background-color;
			}
		}
	}
}
