
@import '../partials/_all';


/***
 * Base:
 */

* {
	margin: 0;
	padding: 0;

	outline: none;
}

*,
:before,
:after {
	box-sizing: inherit;
}

::-moz-selection {
	background-color: $day__bg-color-selection;
	text-shadow:none;
}

::selection {
	background-color: $day__bg-color-selection;
	text-shadow:none;
}

.night ::-moz-selection {
	background-color: $ngt__bg-color-selection;
	text-shadow:none;
}

.night ::selection {
	background-color: $ngt__bg-color-selection;
	text-shadow:none;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	font-family: sans-serif;

	-webkit-tap-highlight-color: transparent;

	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
}

body {
	background-color: $day__body-bg-color;
	color: $day__body-color;
	font-family: $font-family-base;
	font-feature-settings: normal;
	font-size: $font-size-base;
	font-variant-ligatures: common-ligatures;
	font-variant-numeric: oldstyle-nums;
	font-weight: $font-weight-base;
	line-height: $line-height-ratio;

	transition: $transition-base;
}

.night body {
	background-color: $ngt__body-bg-color;
	color: $ngt__body-color;
}

p, blockquote, pre,
ul, ol, dl, figure {
	font-family: inherit;
	margin-bottom: em-to-rem( $spacing-unit-half );
}

/**
 * Hyperlink:
 * `a` `.a-bd-bottom`
 *
 *     @example
 *     div.m-bottom-1 Lorem ipsum dolor sit amet, <a href="#!">consectetur adipiscing elit</a>. Mauris sagittis malesuada orci vitae maximus.
 *     p Lorem ipsum dolor sit amet, <a href="#!">consectetur adipiscing elit</a>. Mauris sagittis malesuada orci vitae maximus.
 */

a {
	color: $day__a-color;
	font-weight: $a-font-weight;
	text-decoration: $a-text-decoration;
	transition: $transition-base;

	&:link {
		color: $day__a-color;
	}

	&:visited {
		color: $day__a-visited-color;
		text-decoration: $a-visited-text-decoration;
	}

	&:hover {
		color: $day__a-hover-color;
		text-decoration: $a-hover-text-decoration;
	}

	&:hover,
	&:active {
		outline: 0;
	}

	&:focus {
		outline: thin dotted;
	}
}

.night a {
	color: $ngt__a-color;

	&:link {
		color: $ngt__a-color;
	}

	&:visited {
		color: $ngt__a-visited-color;
	}

	&:hover {
		color: $ngt__a-hover-color;
	}
}

p > a:not( .btn ),
.a-bd-bottom a:not( .btn ) {
	border-bottom-width: $a-bd-bottom-border-bottom-width;
	border-bottom-style: $a-bd-bottom-border-bottom-style;
}

// .a-custom a:not( .btn ) {
// 	background-image: linear-gradient( $day__a-hover-color, $day__a-hover-color );
// 	background-origin: padding-box;
// 	background-position: $a-custom-bg-position;
// 	background-repeat: no-repeat;
// 	background-size: $a-custom-bg-size;
// 	color: $day__a-custom-color;
// 	padding: $a-custom-padding;
// 	text-decoration: none;
// 	text-shadow: $day__a-custom-text-shadow;

// 	transition: $transition-base;

// 	&:link {
// 		color: $day__a-custom-color;
// 	}

// 	&:visited {
// 		color: $day__a-custom-visited-color;
// 		text-decoration: none;
// 	}

// 	&:hover {
// 		color: $day__a-custom-hover-color;
// 		text-decoration: none;
// 	}

// 	// background-color: transparent;
// 	// border-bottom: 0.063em solid color( 'blue 10' );
// 	// box-shadow: inset 0 -0.25em 0 color( 'blue 10' );
// 	// color: inherit;
// 	// font-weight: inherit;
// 	// text-decoration: none;
// 	// transition: background 0.16s cubic-bezier( 0.33, 0.66, 0.66, 1 );
// 	// word-wrap: break-word;

// 	// &:hover {
// 	// 	background-color: color( 'blue 10' );
// 	// }
// }

// .night .a-custom a:not( .btn ) {
// 	color: $ngt__a-custom-color;
// 	text-shadow: $ngt__a-custom-text-shadow;

// 	&:link {
// 		color: $ngt__a-custom-color;
// 	}

// 	&:visited {
// 		color: $ngt__a-custom-visited-color;
// 	}

// 	&:hover {
// 		color: $ngt__a-custom-hover-color;
// 	}
// }

/**
 * Heading:
 * `h1` `h2` `h3` `h4` `h5` `h6`
 * `.h1` `.h2` `.h3` `.h4` `.h5` `.h6`
 *
 *     @example
 *     div.row
 *         div.col
 *             h1 Heading
 *             h2 Heading
 *             h3 Heading
 *             h4 Heading
 *             h5 Heading
 *             h6 Heading
 *         div.col
 *             p.h1 Heading
 *             p.h2 Heading
 *             p.h3 Heading
 *             p.h4 Heading
 *             p.h5 Heading
 *             p.h6 Heading
 */

@each $key, $size in $headings {

	#{ $key },
	.#{ $key } {
		font-family: inherit;
		font-size: $size;
		font-weight: $heading-font-weight;
		letter-spacing: $heading-letter-spacing;
		line-height: $heading-line-height;
		margin-bottom: $heading-margin-bottom;
		text-transform: $heading-text-transform;

		// &:not( :first-child ) {
		// 	margin-top: $size - 0.5;
		// }

		a {
			font-weight: inherit;

			&:hover {
				text-decoration: none;
			}
		}
	}

}

/**
 * Inline elements:
 * `b` `strong` `del` `s` `em` `i`  `ins` `u` `mark` `small`
 *
 *     @example
 *     p
 *         b Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     p
 *         strong Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     p
 *         del Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     p
 *         s Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     p
 *         em Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     p
 *         i Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     p
 *         ins Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     p
 *         u Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     p
 *         mark Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     p
 *         small Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */

b,
strong {
	font-weight: 700;
}

em,
i {
	font-style: italic;
}

mark {
	border-radius: $mark-border-radius;
	background-color: $day__mark-bg-color;
	background-image: $day__mark-bg-image;
	color: inherit;
	padding: $mark-padding;
}

.night mark {
	background-color: $ngt__mark-bg-color;
	background-image: $ngt__mark-bg-image;
}

small {
	font-size: $font-size-sm;
}

img {
	border-style: none;
	vertical-align: middle;
}

/**
 * Blockquote:
 * `blockquote` `.bq`
 *
 *     @example
 *     blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     blockquote
 *         p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     blockquote.bq
 *         p.m-bottom-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *         footer A common form of
 *             cite lorem ipsum
 */

blockquote {
	padding: $blockquote-padding;

	p {
		font-size: $blockquote__p-font-size;
	}

	footer {
		font-size: $blockquote__footer-font-size;
	}
}

.bq {
	border-left-width: $blockquote-border-width;
	border-left-style: $blockquote-border-style;
	border-left-color: $day__blockquote-border-color;

	p {
		&:before,
		&:after {
			font-weight: $blockquote__p-before-after-font-weight;
		}

		&:before {
			content: $blockquote__p-before-content;
			margin-right: $blockquote__p-before-margin-right;
		}

		&:after {
			content: $blockquote__p-after-content;
			margin-left: $blockquote__p-after-margin-left;
		}
	}

	footer {
		&:before {
			content: $blockquote__footer-before-content;
		}
	}
}

.night .bq {
	border-left-color: $ngt__blockquote-border-color;
}

/**
 * Code:
 * `code`
 *
 *     @example
 *     p Use <code>&lt;code&gt;</code> for inline code that can wrap.
 */

code {
	background-color: $day__code-bg-color;
	border-radius: $code-border-radius;
	color: $day__code-color;
	font-family: $font-family-monospace;
	font-size: $code-font-size;
	padding: $code-padding;
}

.night code {
	background-color: $ngt__code-bg-color;
	color: $ngt__code-color;
}

/**
 * Code block:
 * `pre`
 *
 *     @example
 *     pre
 *         code
 *             | th.degF {
 *             |     transform: translate( 5.14em, -2em ) rotate( -60deg );
 *             | }
 */

pre {
	background-color: $day__pre-bg-color;

	border-top: $pre-border-top;
	border-right: $pre-border-right;
	border-bottom: $pre-border-bottom;
	border-left: $pre-border-left;

	border-color: $day__pre-border-color;

	border-radius: $pre-border-radius;
	overflow-x: auto;
	padding: $pre-padding-y $pre-padding-x;

	code {
		background-color: transparent;
		color: inherit;
	}
}

.night pre {
	background-color: $ngt__pre-bg-color;
	border-color: $ngt__pre-border-color;

	code {
		background-color: transparent;
		color: inherit;
	}
}

figure {
	margin-left: 0;
	margin-right: 0;

	figcaption {
		font-size: $font-size-sm;
		font-style: italic;
		padding-top: 0.5rem;
		text-align: left;
	}

	code {
		background-color: none;
		padding: 0;
	}

	img {
		margin: 0;
	}
}

/**
 * Standard list:
 * `ol` `ul`
 *
 *     @example
 *     div.row
 *         div.col-6
 *             ol
 *                 li List item
 *                 li List item
 *                 li List item
 *         div.col-6
 *             ul
 *                 li List item
 *                 li List item
 *                 li List item
 */

ol, ul {
	list-style-position: outside;
	padding-left: $spacing-unit-half * 2.5;

	&:not( :last-of-type ) {
		margin-bottom: $spacing-unit-half;
	}
}

ul {
	list-style-type: disc;
}

/**
 * Standard table:
 * `table`
 *
 *     @example
 *     table
 *         thead
 *             tr
 *                 th Table heading
 *                 th Table heading
 *                 th Table heading
 *         tbody
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 */

table {
	border-collapse: collapse;
	margin-bottom: $spacing-unit-half;
	max-width: 100%;
	width: 100%;
}

th {
	text-align: $tbl__th-text-align;
}

[ role='button' ], a, button, input, label, select, textarea {
    touch-action: manipulation;
}

hr {
    clear: both;
    display: block;
    margin: $hr-margin-y $hr-margin-x;
    padding: $hr-padding-y $hr-padding-x;
    height: $hr-height;
    border: 0;
    border-bottom-width: $hr-border-bottom-width;
    border-bottom-style: $hr-border-bottom-style;
    border-bottom-color: $day__hr-border-bottom-color;
}

.night hr {
    border-bottom-color: $ngt__hr-border-bottom-color;
}

@media ( -webkit-min-device-pixel-ratio: 2 ), ( min-resolution: 192dpi ) {

	hr {
		border-bottom-width: $hr-border-bottom-width / 2;
	}

}
