@import '../partials/_all';


/***
 * Button group:
 */

/**
 * Normal button group:
 * `.btn-group`
 *
 *     @example
 *     div.btn-group
 *         button.btn.btn--secondary First
 *         button.btn.btn--secondary Second
 *         button.btn.btn--secondary Third
 */
.btn-group {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	
	> .btn {
		flex: 0 1 auto;

		&:first-of-type {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:last-of-type {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&:not(:first-of-type):not(:last-of-type) {
			border-radius: 0;
		}

		&:not(:last-of-type) {
			margin-right: -1px;
		}
	}
}

/**
 * Expanded button group:
 * `.expanded`
 *
 *     @example
 *     div.btn-group.expanded
 *         button.btn.btn--secondary First
 *         button.btn.btn--secondary Second
 *         button.btn.btn--secondary Third
 *         button.btn.btn--secondary Fourth
 */
.expanded {
	display: flex;

	> .btn {
		flex-grow: 1;
	}
}

/**
 * Button group size:
 * `.btn-group--[size]`
 *
 *     @example
 *     div.fld.btn-group.btn-group--lg
 *         button.btn.btn--secondary First
 *         button.btn.btn--secondary Second
 *         button.btn.btn--secondary Third
 *     div.fld.btn-group.btn-group--sm
 *         button.btn.btn--secondary First
 *         button.btn.btn--secondary Second
 *         button.btn.btn--secondary Third
 */
.btn-group--sm {
	> .btn {
		border-radius: $button-sm-border-radius;
		font-size: $button-sm-font-size;
		padding: $button-sm-padding-y $button-sm-padding-x;
	}
}

.btn-group--lg {
	> .btn {
		border-radius: $button-lg-border-radius;
		font-size: $button-lg-font-size;
		padding: $button-lg-padding-y $button-lg-padding-x;
	}
}

/**
 * Pill button group:
 * `.btn-group--pill`
 *
 *     @example
 *     div.btn-group.btn-group--pill
 *         button.btn.btn--secondary First
 *         button.btn.btn--secondary Second
 *         button.btn.btn--secondary Third
 */
.btn-group--pill {
	> :first-child {
		border-top-left-radius: 2em;
		border-bottom-left-radius: 2em;
	}

	> :last-child {
		border-top-right-radius: 2em;
		border-bottom-right-radius: 2em;
	}
}

/**
 * Toggle state:
 * `.toggle`
 *
 *     @example
 *     div.cols
 *         div.sm-col-6
 *             div.fld.btn-group.toggle
 *                 input(id='eg-toggle-btn-group-1', type='checkbox')
 *                 label(for='eg-toggle-btn-group-1').btn.btn--secondary First
 *                 input(id='eg-toggle-btn-group-2', type='checkbox')
 *                 label(for='eg-toggle-btn-group-2').btn.btn--secondary Second
 *                 input(id='eg-toggle-btn-group-3', type='checkbox')
 *                 label(for='eg-toggle-btn-group-3').btn.btn--secondary Third
 *         div.sm-col-6
 *             div.fld.btn-group.toggle
 *                 input(id='eg-toggle-btn-group-4', name='toggle-btn-group', type='radio', checked)
 *                 label(for='eg-toggle-btn-group-4').btn.btn--secondary First
 *                 input(id='eg-toggle-btn-group-5', name='toggle-btn-group', type='radio')
 *                 label(for='eg-toggle-btn-group-5').btn.btn--secondary Second
 *                 input(id='eg-toggle-btn-group-6', name='toggle-btn-group', type='radio')
 *                 label(for='eg-toggle-btn-group-6').btn.btn--secondary Third
 */
.btn-group {
	&.toggle {
		opacity: 1;
		position: initial;
	}
}
