
@import '../partials/_all';


/***
 * Button:
 */

.btn {
	border-width: $btn-border-width;
	border-style: $btn-border-style;
	border-color: $btn-border-color;
	border-radius: $btn-border-radius;
	box-shadow: none;
	display: inline-block;
	font-size: $btn-font-size;
	font-weight: $btn-font-weight;
	line-height: $btn-line-height;
	padding: $btn-padding-y $btn-padding-x;
	text-align: center;
	transition: $btn-transition;
	vertical-align: middle;
	white-space: nowrap;

	-moz-appearance: none;
	-webkit-appearance: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:link {
		text-decoration: none;
	}
}

@each $name, $day-background-color, $ngt-background-color, $day-text-color, $ngt-text-color, $state-light-color in $btns {

	$name_ucf: str_ucfirst( $name );
	$name_r: str_replace( to_lower_case( $name ), ' ', '-' );

	/**
	 * #{ $name_ucf } button:
	 * `.btn--#{ $name_r }`
	 *
	 *     @example
	 *     button.btn.btn--#{ $name_r } Button
	 *     button.btn.btn--#{ $name_r }.btn--outline Outline button
	 */

	.btn--#{ $name_r } {
		background-color: $day-background-color;
		border-color: $btn-border-color;
		color: $day-text-color;

		&:link,
		&:visited {
			color: $day-text-color;
		}

		&:hover {
			@if not ($state-light-color == '') {

				background-color:
					tint(
						$day-background-color,
						$el-hover-amount
					);

			} @else {

				background-color:
					shade(
						$day-background-color,
						$el-hover-amount
					);
			}

			color: $day-text-color;
		}

		&:active,
		&.active {
			@if not ( $state-light-color == '' ) {

				background-color:
					tint(
						$day-background-color,
						$el-active-amount
					);

			} @else {

				background-color:
					shade(
						$day-background-color,
						$el-active-amount
					);

			}

			color: $day-text-color;
		}
	}

	.night .btn--#{ $name_r } {
		background-color: $ngt-background-color;
		color: $ngt-text-color;

		&:hover {
			@if not ( $state-light-color == '' ) {

				background-color:
					tint(
						$ngt-background-color,
						$el-hover-amount
					);

			} @else {

				background-color:
					shade(
						$ngt-background-color,
						$el-hover-amount
					);

			}

			color: $ngt-text-color;
		}

		&:active,
		&.active {
			@if not ( $state-light-color == '' ) {

				background-color:
					tint(
						$ngt-background-color,
						$el-active-amount
					);

			} @else {

				background-color:
					shade(
						$ngt-background-color,
						$el-active-amount
					);

			}

			color: $ngt-text-color;
		}
	}

	.btn--outline {
		background-color: transparent;

		&.btn--#{ $name_r } {
			border-color:
				transparentize(
					$day-background-color,
					$btn-outline-border-transparentize-amount
				);

			color: $day-background-color;

			&:link,
			&:visited {
				color: $day-background-color;
			}

			&:hover {
				@if not ( $state-light-color == '' ) {

					background-color:
						tint(
							$day-background-color,
							$el-hover-amount
						);

				} @else {

					background-color:
						shade(
							$day-background-color,
							$el-hover-amount
						);

				}

				border-color: transparent;

				color: $day-text-color;
			}

			&:active,
			&.active {
				@if not ( $state-light-color == '' ) {

					background-color:
						tint(
							$day-background-color,
							$el-active-amount
						);
					border-color: transparentize(
						tint(
							$day-background-color,
							$el-active-amount
						),
						$btn-outline-border-transparentize-amount
					);

				} @else {

					background-color:
						shade(
							$day-background-color,
							$el-active-amount
						);
					border-color: transparent;

				}

				color: $day-text-color;
			}
		}
	}

	.night .btn--outline {
		background-color: transparent;

		&.btn--#{ $name_r } {
			border-color:
				transparentize(
					$ngt-background-color,
					$btn-outline-border-transparentize-amount
				);
			color: $ngt-background-color;

			&:link,
			&:visited {
				color: $ngt-background-color;
			}

			&:hover {
				@if not ( $state-light-color == '' ) {

					background-color:
						tint(
							$ngt-background-color,
							$el-hover-amount
						);

				} @else {

					background-color:
						shade(
							$ngt-background-color,
							$el-hover-amount
						);

				}

				border-color: transparent;

				color: $ngt-text-color;
			}

			&:active,
			&.active {
				@if not ( $state-light-color == '' ) {

					background-color:
						tint(
							$ngt-background-color,
							$el-active-amount
						);
					border-color: transparentize(
						tint(
							$ngt-background-color,
							$el-active-amount
						),
						$btn-outline-border-transparentize-amount
					);

				} @else {

					background-color:
						shade(
							$ngt-background-color,
							$el-active-amount
						);
					border-color: transparent;

				}

				color: $ngt-text-color;
			}
		}
	}

	.btn-group--toggle,
	.btn-group--toggle [type='checkbox'],
	.btn-group--toggle [type='radio'] {
		opacity: 0;
		position: absolute;
		// z-index: -1;

		&:checked + .btn--#{ $name_r } {
			@extend .btn--#{ $name_r }.active;
		}
	}

	.btn--#{ $name_r }.btn--hover-scale {
		background-color: transparent;
		position: relative;

		&::before {
			// display: inline-block;

			height: 100%;

			content: '';
			vertical-align: middle;
		}


		&::after {
			position: absolute;
			z-index: -1;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			content: '';
			transition: transform 0.3s cubic-bezier( 0.4, 0, 0, 1 );

			border-radius: inherit;
			background-color: $day-background-color;
		}


		&:hover {
			background-color: transparent;

			&::after {
				transform: scale( 1.2 );

				@if not ($state-light-color == '') {

					background-color:
						tint(
							$day-background-color,
							$el-hover-amount
						);

				} @else {

					background-color:
						shade(
							$day-background-color,
							$el-hover-amount
						);
				}
			}
		}

		&:active,
		.active {
			background-color: transparent;

			&::after {
				@if not ( $state-light-color == '' ) {

					background-color:
						tint(
							$day-background-color,
							$el-active-amount
						);

				} @else {

					background-color:
						shade(
							$day-background-color,
							$el-active-amount
						);

				}
			}
		}
	}

	.night .btn--#{ $name_r }.btn--hover-scale {
		&::after {
			background-color: $ngt-background-color;
		}

		&:hover {
			&::after {
				@if not ( $state-light-color == '' ) {

					background-color:
						tint(
							$ngt-background-color,
							$el-hover-amount
						);

				} @else {

					background-color:
						shade(
							$ngt-background-color,
							$el-hover-amount
						);

				}
			}
		}

		&:active,
		&.active {
			&::after {
				@if not ( $state-light-color == '' ) {

					background-color:
						tint(
							$ngt-background-color,
							$el-active-amount
						);

				} @else {

					background-color:
						shade(
							$ngt-background-color,
							$el-active-amount
						);

				}
			}
		}
	}
}

/**
 * Link button:
 * `.btn--link`
 *
 *     @example
 *     button.btn.btn--link Link button
 */

.btn--link {
	background-color: transparent;
	border-color: transparent;

	color: $day__a-color;

	cursor: pointer;

	&:link {
		text-decoration: $a-text-decoration;
	}

	&:link,
	&:visited {
		color: $day__a-color;
	}

	&:visited {
		text-decoration: $a-visited-text-decoration;
	}

	&:hover {
		background-color: $day__btn-link-hover-bg-color;
		color: $day__a-hover-color;
		text-decoration: $a-hover-text-decoration;
	}

	&:active,
	&.active {
		color: $day__a-hover-color;
	}
}

.night .btn--link {
	background-color: transparent;
	color: $ngt__a-color;

	&:link,
	&:visited {
		color: $ngt__a-color;
	}

	&:hover {
		background-color: $ngt__btn-link-hover-bg-color;
		color: $ngt__a-hover-color;
	}

	&:active,
	&.active {
		color: $ngt__a-hover-color;
	}
}

/**
 * Button size:
 * `.btn--sm` `.btn--lg`
 *
 *     @example
 *     button.btn.btn--primary.btn--sm Small button
 *     button.btn.btn--primary.btn--lg Large button
 */

.btn--sm {
	border-radius: $btn-sm-border-radius;
	font-size: $btn-sm-font-size;
	padding: $btn-sm-padding-y $btn-sm-padding-x;
}

.btn--lg {
	border-radius: $btn-lg-border-radius;
	font-size: $btn-lg-font-size;
	padding: $btn-lg-padding-y $btn-lg-padding-x;
}

/**
 * Pill button:
 * `.btn--pill`
 *
 *     @example
 *     button.btn.btn--primary.btn--pill Pill button
 */

.btn--pill {
	border-radius: 2em;
}

/**
 * Expanded button:
 * `.btn--expanded`
 *
 *     @example
 *     button.btn.btn--primary.btn--lg.btn--expanded Expanded button
 */

.btn--expanded {
	display: block;
	width: 100%;
}

/**
 * Active button:
 * `.active`
 *
 *     @example
 *     button.btn.btn--primary.active Active button
 */

/**
 * Disabled button:
 * `.btn--disabled` `disabled`
 *
 *     @example
 *     button.btn.btn--primary.btn--disabled Disabled button
 *     button(disabled).btn.btn--primary Disabled button
 */

.btn {
	&[disabled],
	&--disabled {
		opacity: $btn-disabled-opacity;
		pointer-events: none;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

/**
 * Scale button on hover:
 * `.btn--hover-scale`
 *
 *     @example
 *     button.btn.btn--primary.btn--hover-scale
 *         span Hover me
 */
