@import '../partials/_all';


/***
 * Button:
 */

.btn {
	border: $button-border;
	border-radius: $button-border-radius;
	box-shadow: none;
	display: inline-block;
	font-size: $button-font-size;
	font-weight: $button-font-weight;
	line-height: $button-line-height;
	padding: $button-padding;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;

	-moz-appearance: none;
	-webkit-appearance: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:link {
		text-decoration: none;
	}
}

@each $name, $background-color, $night-background-color, $text-color, $state-light-color, $active-box-shadow in $buttons {
	$name_ucf: str_ucfirst($name);
	$name_r: str_replace(to_lower_case($name), ' ', '-');

	/**
	 * #{$name_ucf} button:
	 * `.btn--#{$name_r}`
	 *
	 *     @example
	 *     button.btn.btn--#{$name_r} Button
     *     button.btn.btn--#{$name_r}.btn--outline Outline button
	 */
	.btn--#{$name_r} {
		background-color: $background-color;
		border-color: $button-border-color;
		color: $text-color;

		&:link,
		&:visited {
			color: $text-color;
		}

		&:hover {
			@if not ($state-light-color == '') {
				background-color: 
					tint(
						$base-background-color, 
						$background-color, 
						$button-hover-background-color-amount
					);
			}
			@else {
				background-color: 
					shade(
						$night-base-background-color, 
						$background-color, 
						$button-hover-background-color-amount
					);
			}
			color: $text-color;
		}

		&:active,
		&.active {
			@if not ($state-light-color == '') {
				background-color: 
					tint(
						$base-background-color, 
						$background-color, 
						$button-active-background-color-amount
					);
			}
			@else {
				background-color: 
					shade(
						$night-base-background-color, 
						$background-color, 
						$button-active-background-color-amount
					);
			}
			color: $text-color;
		}

		@if not ($active-box-shadow == '') {
			&:active,
			&.active,
			&:focus {
				box-shadow: 0 0 0 $control-focus-box-shadow-spread 
				            rgba($background-color, $control-focus-box-shadow-color-opacity);
			}
		}
	}

	.night .btn--#{$name_r} {
		background-color: $night-background-color;

		&:hover {
			@if not ($state-light-color == '') {
				background-color: 
					tint(
						$base-background-color, 
						$night-background-color, 
						$button-hover-background-color-amount
					);
			}
			@else {
				background-color: 
					shade(
						$night-base-background-color, 
						$night-background-color, 
						$button-hover-background-color-amount
					);
			}
		}

		&:active,
		&.active {
			@if not ($state-light-color == '') {
				background-color: 
					tint(
						$base-background-color, 
						$night-background-color, 
						$button-active-background-color-amount
					);
			}
			@else {
				background-color: 
					shade(
						$night-base-background-color, 
						$night-background-color, 
						$button-active-background-color-amount
					);
			}
		}

		@if not ($active-box-shadow == '') {
			&:active,
			&.active,
			&:focus {
				box-shadow: 0 0 0 $control-focus-box-shadow-spread 
				            rgba($night-background-color, $control-focus-box-shadow-color-opacity);
			}
		}
	}

	.btn--outline {
		background-color: transparent;

		&.btn--#{$name_r} {
			border-color: 
				transparentize(
					$background-color, 
					$button-outline-border-transparentize-amount
				);
			color: $background-color;

			&:link,
			&:visited {
				color: $background-color;
			}

			&:hover {
				background-color: $background-color;
				border-color: 
					transparentize(
						$background-color, 
						$button-outline-border-transparentize-amount
					);
				color: $text-color;
			}

			&:active,
			&.active {
				@if not ($state-light-color == '') {
					background-color: 
						tint(
							$base-background-color, 
							$background-color, 
							$button-active-background-color-amount
						);
					border-color: transparentize(
						tint(
							$base-background-color, 
							$background-color, 
							$button-active-background-color-amount
						), 
						$button-outline-border-transparentize-amount
					);
				}
				@else {
					background-color: 
						shade(
							$night-base-background-color, 
							$background-color, 
							$button-active-background-color-amount
						);
					border-color: transparentize(
						shade(
							$night-base-background-color, 
							$background-color, 
							$button-active-background-color-amount
						), 
						$button-outline-border-transparentize-amount
					);
				}
				color: $text-color;
			}
		}
	}

	.night .btn--outline {
		background-color: transparent;

		&.btn--#{$name_r} {
			border-color: 
				transparentize(
					$night-background-color, 
					$button-outline-border-transparentize-amount
				);
			color: $night-background-color;

			&:link,
			&:visited {
				color: $night-background-color;
			}

			&:hover {
				background-color: $night-background-color;
				border-color: 
					transparentize(
						$night-background-color, 
						$button-outline-border-transparentize-amount
					);
				color: $text-color;
			}

			&:active,
			&.active {
				@if not ($state-light-color == '') {
					background-color: 
						tint(
							$base-background-color, 
							$night-background-color, 
							$button-active-background-color-amount
						);
					border-color: transparentize(
						tint(
							$base-background-color, 
							$night-background-color, 
							$button-active-background-color-amount
						), 
						$button-outline-border-transparentize-amount
					);
				}
				@else {
					background-color: 
						shade(
							$night-base-background-color, 
							$night-background-color, 
							$button-active-background-color-amount
						);
					border-color: transparentize(
						shade(
							$night-base-background-color, 
							$night-background-color, 
							$button-active-background-color-amount
						), 
						$button-outline-border-transparentize-amount
					);
				}
				color: $text-color;
			}
		}
	}

	.toggle,
	.toggle [type='checkbox'],
	.toggle [type='radio'] {
		opacity: 0;
		position: absolute;
		z-index: -1;

		&:checked {
			& + .btn--#{$name_r} {
				@extend .btn--#{$name_r}.active;
			}
		}
	}
}

/**
 * Link button:
 * `.btn--link`
 *
 *     @example
 *     button.btn.btn--link Link button
 */
.btn--link {
	background-color: transparent;
	border-color: transparent;

	color: $link-color;

	cursor: pointer;

	&:link {
		text-decoration: $link-decoration;
	}

	&:link,
	&:visited {
		color: $link-color;
	}

	&:hover {
		background-color: transparent;
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}

	&:active,
	&.active {
		background-color: transparent;
		color: $link-hover-color;
	}
}

.night {
	.btn--link {
		background-color: transparent;
		color: $night-link-color;

		&:link,
		&:visited {
			color: $night-link-color;
		}

		&:hover {
			background-color: transparent;
			color: $night-link-hover-color;
		}

		&:active,
		&.active {
			background-color: transparent;
			color: $night-link-hover-color;
		}
	}
}

/**
 * Pill button:
 * `.btn--pill`
 *
 *     @example
 *     button.btn.btn--secondary.btn--pill Pill button
 */
.btn--pill {
	border-radius: 2em;

	&.btn--sm,
	&.btn--lg {
		@extend .btn--pill;
	}
}

/**
 * Button size:
 * `.btn--sm` `.btn--lg`
 *
 *     @example
 *     button.btn.btn--primary.btn--sm Small button
 *     button.btn.btn--primary.btn--lg Large button
 */
.btn--sm {
	border-radius: $button-small-border-radius;
	font-size: $button-small-font-size;
	padding: $button-small-padding-y $button-small-padding-x;

	&.btn--gradient {
		padding: $button-small-gradient-padding;
	}
}

.btn--lg {
	border-radius: $button-large-border-radius;
	font-size: $button-large-font-size;
	padding: $button-large-padding-y $button-large-padding-x;

	&.btn--gradient {
		padding: $button-large-gradient-padding;
	}
}

/**
 * Expanded button:
 * `.expanded`
 *
 *     @example
 *     button.btn.btn--primary.btn--lg.expanded Expanded button
 */
.btn {
	&.expanded {
		display: block;
		width: 100%;
	}
}

/**
 * Active button:
 * `.active`
 *
 *     @example
 *     button.btn.btn--primary.active Active button
 */

/**
 * Disabled button:
 * `.disabled` `disabled`
 *
 *     @example
 *     button.btn.btn--primary.disabled Disabled button
 *     button(disabled).btn.btn--primary Disabled button
 */
.btn {
	&[disabled],
	&.disabled {
		opacity: $button-disabled-opacity;
		pointer-events: none;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

/**
 * Toggle button:
 * `.toggle`
 *
 *     @example
 *     input(id='eg-toggle-btn', type='checkbox').toggle
 *     label(for='eg-toggle-btn').btn.btn--primary Toggle button
 */
