@import '../partials/_all';


/**
 * File area:
 * `.file-area`
 *
 *     @example
 *     div.file-area
 *         input(id='eg-file', title='Add a file', type='file', required)
 *         div.file-area__bg
 *         p.h2.m-top-0.txtc-gray-25 Drag file here
 *         p.txtc-gray-25 – or –
 *         label(for='eg-file').btn.btn--primary.btn--pill Choose file
 */
.file-area {
	padding: $file-area-padding;
	position: relative;
	text-align: center;

	[type=file] {
		// cursor: pointer;
		opacity: 0;
		position: absolute;
		
		width: 100%;
		height: 100%;

		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		z-index: 1;

		// opacity: 0;
		// overflow: hidden;
		// position: absolute;
		
		// width: 0;
		// height: 0;

		// z-index: -1;

		&:focus + .file-area__bg {
			background-color: $file-area-focus-background-color;
		}

		&:valid + .file-area__bg {
			background-color: $file-area-valid-background-color;
		}

		&:hover + .file-area__bg {
			background-color: $file-area-hover-background-color;
		}
	}

	.file-area__bg {
		background-color: $file-area-background-color;
		border-radius: $border-radius;

		position: absolute;
		
		width: 100%;
		height: 100%;

		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		// transition: $base-transition;
		z-index: -1;
	}

	&:hover .file-area__bg {
		background-color: $file-area-hover-background-color;
	}

	label {
		position: relative;
		z-index: 1;
	}
}

.night {
	.file-area {
		[type=file] {
			&:focus + .file-area__bg {
				background-color: $night-file-area-focus-background-color;
			}

			&:valid + .file-area__bg {
				background-color: $night-file-area-valid-background-color;
			}

			&:hover + .file-area__bg {
				background-color: $night-file-area-hover-background-color;
			}
		}

		.file-area__bg {
			background-color: $night-file-area-background-color;
		}

		&:hover .file-area__bg {
			background-color: $night-file-area-hover-background-color;
		}
	}
}
