
@import '../partials/_all';


/**
 * File area:
 * `.farea`
 *
 *     @example
 *     div.farea
 *         input(id='eg-file', title='Add a file', type='file', required)
 *         div.farea__bg
 *         p.h2.m-top-0.txtc-gray-25 Drag file here
 *         p.txtc-gray-25 – or –
 *         label(for='eg-file').btn.btn--primary.btn--pill Choose file
 */

.farea {
	padding: $farea-padding;
	position: relative;
	text-align: center;

	[type=file] {
		opacity: 0;
		position: absolute;

		width: 100%;
		height: 100%;

		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		z-index: 1;

		&:focus + .farea__bg {
			background-color: $day__farea-focus-bg-color;
		}

		&:valid + .farea__bg {
			background-color: $day__farea-valid-bg-color;
		}

		&:hover + .farea__bg {
			background-color: $day__farea-hover-bg-color;
		}
	}

	.farea__bg {
		background-color: $day__farea-bg-color;
		border-radius: $farea-border-radius;

		position: absolute;

		width: 100%;
		height: 100%;

		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		transition: $farea-transition;
		z-index: -1;
	}

	&:hover .farea__bg {
		background-color: $day__farea-hover-bg-color;
	}

	label {
		position: relative;
		z-index: 1;
	}
}

.night .farea {
	[type=file] {
		&:focus + .farea__bg {
			background-color: $ngt__farea-focus-bg-color;
		}

		&:valid + .farea__bg {
			background-color: $ngt__farea-valid-bg-color;
		}

		&:hover + .farea__bg {
			background-color: $ngt__farea-hover-bg-color;
		}
	}

	.farea__bg {
		background-color: $ngt__farea-bg-color;
	}

	&:hover .farea__bg {
		background-color: $ngt__farea-hover-bg-color;
	}
}
