
@import '../partials/_all';


/**
 * File area:
 * `.file-area`
 *
 *     @example
 *     div.file-area
 *         input(id='eg-file', title='Add a file', type='file', required)
 *         div.file-area__bg
 *         p.h2.m-top-0.txtc-gray-25 Drag file here
 *         p.txtc-gray-25 – or –
 *         label(for='eg-file').btn.btn--primary.btn--pill Choose file
 */

.file-area {
	padding: $file-area-padding;
	position: relative;
	text-align: center;

	[type=file] {
		opacity: 0;
		position: absolute;

		width: 100%;
		height: 100%;

		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		z-index: 1;

		&:focus + .file-area__bg {
			background-color: $day__file-area-focus-bg-color;
		}

		&:valid + .file-area__bg {
			background-color: $day__file-area-valid-bg-color;
		}

		&:hover + .file-area__bg {
			background-color: $day__file-area-hover-bg-color;
		}
	}

	.file-area__bg {
		background-color: $day__file-area-bg-color;
		border-radius: $file-area-border-radius;

		position: absolute;

		width: 100%;
		height: 100%;

		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		transition: $file-area-transition;
		z-index: -1;
	}

	&:hover .file-area__bg {
		background-color: $day__file-area-hover-bg-color;
	}

	label {
		position: relative;
		z-index: 1;
	}
}

.night .file-area {
	[type=file] {
		&:focus + .file-area__bg {
			background-color: $ngt__file-area-focus-bg-color;
		}

		&:valid + .file-area__bg {
			background-color: $ngt__file-area-valid-bg-color;
		}

		&:hover + .file-area__bg {
			background-color: $ngt__file-area-hover-bg-color;
		}
	}

	.file-area__bg {
		background-color: $ngt__file-area-bg-color;
	}

	&:hover .file-area__bg {
		background-color: $ngt__file-area-hover-bg-color;
	}
}
