@import '../partials/_all';


/***
 * Form:
 */

.fld {
	margin-bottom: $spacing-unit-half;
}

/**
 * Label and input:
 * `.lbl` `.input`
 *
 *     @example
 *     label(for='eg-input').lbl Label
 *     input(id='eg-input', placeholder='Text input', type='text').input
 */
.lbl {
	display: inline-block;
	font-size: $label-font-size;
	margin-bottom: $spacing-unit-quarter;
}

.input,
.txtarea {
	background-color: $input-background-color;
	border-width: $input-border-width;
	border-style: $input-border-style;
	border-color: $input-border-color;
	border-radius: $input-border-radius;
	box-shadow: none;
	color: $input-color;
	display: block;
	font-family: $font-family-base;
	font-size: $input-font-size;
	line-height: $input-line-height;
	padding: $input-padding-y $input-padding-x;
	transition: $input-transition;
	width: 100%;

	&::-moz-placeholder {
		opacity: $input-placeholder-opacity;
	}

	&::placeholder {
		color: $input-placeholder-color;
		opacity: $input-placeholder-opacity;
	}

	&:invalid {
		border-color: $input-invalid-border-color;
	}

	&:valid {
		border-color: $input-valid-border-color;
	}

	// &:-moz-ui-invalid:-moz-focusring:not(output),
	// &:-moz-ui-invalid:not(output) {
	// 	border-color: $input-error-border-color;
	// }

	&:focus,
	&:focus:hover {
		background-color: $input-focus-background-color;
		border-color: $input-focus-border-color;
		box-shadow: $input-focus-box-shadow;

		&::placeholder {
			color: $input-focus-placeholder-color;
		}
	}

	&:hover {
		border-color: $input-hover-border-color;
	}

	&:active {
		border-color: $input-active-border-color;
	}
}

.night .input,
.night .txtarea,
.navbar--dark .input {
	background-color: $night-input-background-color;
	border-color: $night-input-border-color;
	color: $night-input-color;

	&::placeholder {
		color: $night-input-placeholder-color;
	}

	&:invalid {
		border-color: $night-input-invalid-border-color;
	}

	&:valid {
		border-color: $night-input-valid-border-color;
	}

	&:focus,
	&:focus:hover {
		border-color: $night-input-focus-border-color;

		&::placeholder {
			color: $night-input-focus-placeholder-color;
		}
	}

	&:hover {
		border-color: $night-input-hover-border-color;
	}

	&:active {
		border-color: $night-input-active-border-color;
	}
}

/**
 * Input size:
 * `.input--[size]`
 *
 *     @example
 *     div.fld
 *         input(type='text', placeholder='Text input').input.input--lg
 *     div.fld
 *         input(type='text', placeholder='Text input').input.input--sm
 */
.input--sm {
	border-radius: $input-small-border-radius;
	font-size: $input-small-font-size;
	padding: $input-small-padding-y $input-small-padding-x;
}

.input--lg {
	border-radius: $input-large-border-radius;
	font-size: $input-large-font-size;
	padding: $input-large-padding-y $input-large-padding-x;
}

/**
 * Flat input:
 * `.input--flat`
 *
 *     @example
 *     input(type='text', placeholder='Flat input').input.input--flat
 */
.input--flat {
	background-color: $input-flat-background-color;
	border-color: $input-flat-border-color;

	&:valid {
		border-color: $input-flat-border-color;
	}

	&:focus,
	&:focus:hover {
		border-color: $input-focus-border-color;
	}

	&:hover {
		background-color: $input-flat-hover-background-color;
		border-color: $input-flat-hover-border-color;
	}
}

.night .input--flat,
.navbar--dark .input--flat {
	background-color: $night-input-flat-background-color;
	border-color: $night-input-flat-border-color;

	&:valid {
		border-color: $night-input-flat-border-color;
	}

	&:focus,
	&:focus:hover {
		border-color: $night-input-focus-border-color;
	}

	&:hover {
		background-color: $night-input-flat-hover-background-color;
		border-color: $night-input-flat-hover-border-color;
	}
}

/**
 * Line input:
 * `.input--line`
 *
 *     @example
 *     input(type='text', placeholder='Line input').input.input--line
 */
.input--line {
	background-color: transparent;

	border-top: none;
	border-right: none;
	border-bottom-width: $input-border-width;
	border-bottom-style: $input-border-style;
	border-bottom-color: $input-border-color;
	border-left: none;

	border-radius: 0;

	padding-right: 0;
	padding-left: 0;

	&:focus,
	&:focus:hover {
		box-shadow: $input-line-focus-box-shadow;
	}
}

.night .input--line {
	&:focus,
	&:focus:hover {
		box-shadow: $input-line-focus-box-shadow;
	}
}

/**
 * Pill input:
 * `.input--pill`
 *
 *     @example
 *     input(type='text', placeholder='Pill input').input.input--pill
 */
.input--pill {
	border-radius: 2em;
}

/**
 * Textarea:
 * `.txtarea`
 *
 *     @example
 *     textarea(placeholder='Textarea', rows='5').txtarea
 */

/**
 * Checkbox and radio:
 *
 *     @example
 *     div.cols
 *         div.sm-col-6
 *             div.fld.fld--check
 *                 label.lbl.lbl--check
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *             div.fld.fld--check
 *                 label.lbl.lbl--check
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *         div.sm-col-6
 *             div.fld.fld--check
 *                 label.lbl.lbl--check
 *                     input(checked, name='radio', type='radio', value='')
 *                     | Radio
 *             div.fld.fld--check
 *                 label.lbl.lbl--check
 *                     input(name='radio', type='radio', value='')
 *                     | Radio
 *     div.cols
 *         div.sm-col-12
 *             div.fld
 *                 label.lbl.lbl--check
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *                 label.lbl.lbl--check
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *                 label.lbl.lbl--check
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *             div.fld
 *                 label.lbl.lbl--check
 *                     input(checked, name='radio-inline', type='radio', value='')
 *                     | Radio
 *                 label.lbl.lbl--check
 *                     input(name='radio-inline', type='radio', value='')
 *                     | Radio
 *                 label.lbl.lbl--check
 *                     input(name='radio-inline', type='radio', value='')
 *                     | Radio
 */
.fld--check:not(:last-child) {
	margin-bottom: $field-check-margin-bottom;
}

.lbl--check {
	margin-bottom: 0;
	padding-left: $label-check-padding-left;
	position: relative;

	&:not(:last-child) {
		margin-right: $label-check-padding-left;
	}

	[type='checkbox'],
	[type='radio'] {
		margin-top: $label-check-type-margin-top;

		position: absolute;

		top: 0;
		left: 0;
	}
}

/**
 * Pure CSS custom checkbox and radio:
 *
 *     @example
 *     div.cols
 *         div.sm-col-6
 *             div.fld.fld--check
 *                 label.lbl.lbl--check-css
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *                     div.check-css-indic
 *             div.fld.fld--check
 *                 label.lbl.lbl--check-css
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *                     div.check-css-indic
 *         div.sm-col-6
 *             div.fld.fld--check
 *                 label.lbl.lbl--check-css
 *                     input(checked, name='radio-css', type='radio', value='')
 *                     | Radio
 *                     div.check-css-indic
 *             div.fld.fld--check
 *                 label.lbl.lbl--check-css
 *                     input(name='radio-css', type='radio', value='')
 *                     | Radio
 *                     div.check-css-indic
 *     div.cols
 *         div.sm-col-12
 *             div.fld
 *                 label.lbl.lbl--check-css
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *                     div.check-css-indic
 *                 label.lbl.lbl--check-css
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *                     div.check-css-indic
 *                 label.lbl.lbl--check-css
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *                     div.check-css-indic
 *             div.fld
 *                 label.lbl.lbl--check-css
 *                     input(checked, name='radio-css-inline', type='radio', value='')
 *                     | Radio
 *                     div.check-css-indic
 *                 label.lbl.lbl--check-css
 *                     input(name='radio-css-inline', type='radio', value='')
 *                     | Radio
 *                     div.check-css-indic
 *                 label.lbl.lbl--check-css
 *                     input(name='radio-css-inline', type='radio', value='')
 *                     | Radio
 *                     div.check-css-indic
 */
.lbl--check-css {
	@extend .lbl--check;

	padding-left: $label-check-css-padding-left;

	&:not(:last-child) {
		margin-right: $label-check-css-padding-left;
	}

	&:hover {
		.check-css-indic {
			background-color: $label-check-css-hover-check-css-indicator-background-color;
			border-color: $label-check-css-hover-check-css-indicator-border-color;
		}

		[type='checkbox'],
		[type='radio'] {
			&:checked {
				~ .check-css-indic {
					background-color: $label-check-css-hover-type-checked-check-css-indicator-background-color;
				}

				&:active ~ .check-css-indic {
					background-color: $label-check-css-hover-type-checked-active-check-css-indicator-background-color;
				}
			}
		}
	}

	[type='checkbox'],
	[type='radio'] {
		opacity: 0;
		position: absolute;
		z-index: -1;

		&:checked ~ .check-css-indic {
			background-color: $label-check-css-type-checked-check-css-indicator-background-color;
			border-color: $label-check-css-type-checked-check-css-indicator-border-color;

			&:after {
				display: block;
			}
		}
	}

	[type='checkbox'] {
		& ~ .check-css-indic {
			border-radius: $label-check-css-type-checkbox-check-css-indicator-border-radius;
		}

		&:checked ~ .check-css-indic {
			&:after {
				border-width: $label-check-css-type-checkbox-checked-check-css-indicator-after-border-width;
				border-style: $label-check-css-type-checkbox-checked-check-css-indicator-after-border-style;
				border-color: $label-check-css-type-checkbox-checked-check-css-indicator-after-border-color;
				
				top: $label-check-css-type-checkbox-checked-check-css-indicator-after-top;
				left: $label-check-css-type-checkbox-checked-check-css-indicator-after-left;

				transform: $label-check-css-type-checkbox-checked-check-css-indicator-after-transform;

				width: $label-check-css-type-checkbox-checked-check-css-indicator-after-width;
				height: $label-check-css-type-checkbox-checked-check-css-indicator-after-height;
			}
		}
	}

	[type='radio'] {
		& ~ .check-css-indic {
			border-radius: $label-check-css-type-radio-check-css-indicator-border-radius;
		}

		&:checked ~ .check-css-indic {
			&:after {
				background-color: $label-check-css-type-radio-checked-check-css-indicator-after-background-color;
				border-radius: $label-check-css-type-radio-checked-check-css-indicator-after-border-radius;

				top: $label-check-css-type-radio-checked-check-css-indicator-after-top;
				left: $label-check-css-type-radio-checked-check-css-indicator-after-left;

				width: $label-check-css-type-radio-checked-check-css-indicator-after-width;
				height: $label-check-css-type-radio-checked-check-css-indicator-after-height;
			}
		}
	}
}

.night .lbl--check-css {
	&:hover {
		.check-css-indic {
			background-color: $night-label-check-css-hover-check-css-indicator-background-color;
			border-color: $night-label-check-css-hover-check-css-indicator-border-color;
		}

		[type='checkbox'],
		[type='radio'] {
			&:checked {
				~ .check-css-indic {
					background-color: $night-label-check-css-hover-type-checked-check-css-indicator-background-color;
				}

				&:active ~ .check-css-indic {
					background-color: $night-label-check-css-hover-type-checked-active-check-css-indicator-background-color;
				}
			}
		}
	}

	[type='checkbox'],
	[type='radio'] {
		&:checked ~ .check-css-indic {
			background-color: $night-label-check-css-type-checked-check-css-indicator-background-color;
			border-color: $night-label-check-css-type-checked-check-css-indicator-border-color;
		}
	}

	[type='checkbox'] {
		&:checked ~ .check-css-indic {
			&:after {
				border-color: $night-label-check-css-type-checkbox-checked-check-css-indicator-after-border-color;
			}
		}
	}

	[type='radio'] {
		&:checked ~ .check-css-indic {
			&:after {
				background-color: $night-label-check-css-type-radio-checked-check-css-indicator-after-background-color;
			}
		}
	}
}

.check-css-indic {
	background-color: $check-css-indicator-background-color;

	border-width: $check-css-indicator-border-width;
	border-style: $check-css-indicator-border-style;
	border-color: $check-css-indicator-border-color;

	margin-top: $check-css-indicator-margin-top;

	position: absolute;
	top: 0;
	left: 0;

	width: $check-css-indicator-width;
	height: $check-css-indicator-height;

	transition: $transition-base;

	&:after {
		content: '';
		display: none;
		position: absolute;
	}
}

.night .check-css-indic {
	background-color: $night-check-css-indicator-background-color;
	border-color: $night-check-css-indicator-border-color;
}

/**
 * Flat pure CSS custom checkbox and radio:
 *
 *     @example
 *     div.cols
 *         div.sm-col-6
 *             div.fld.fld--check
 *                 label.lbl.lbl--check-css
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *                     div.check-css-indic.check-css-indic--flat
 *             div.fld.fld--check
 *                 label.lbl.lbl--check-css
 *                     input(type='checkbox', value='')
 *                     | Checkbox
 *                     div.check-css-indic.check-css-indic--flat
 *         div.sm-col-6
 *             div.fld.fld--check
 *                 label.lbl.lbl--check-css
 *                     input(checked, name='radio-css-flat', type='radio', value='')
 *                     | Radio
 *                     div.check-css-indic.check-css-indic--flat
 *             div.fld.fld--check
 *                 label.lbl.lbl--check-css
 *                     input(name='radio-css-flat', type='radio', value='')
 *                     | Radio
 *                     div.check-css-indic.check-css-indic--flat
 */
.lbl--check-css {
	&:hover {
		.check-css-indic--flat {
			background-color: $label-check-css-hover-check-css-indicator-flat-background-color;
			border-color: $label-check-css-hover-check-css-indicator-flat-border-color;
		}
	}
}

.check-css-indic--flat {
	background-color: $check-css-indicator-flat-background-color;
	border-color: $check-css-indicator-flat-border-color;
}

.night .lbl--check-css {
	&:hover {
		.check-css-indic--flat {
			background-color: $night-label-check-css-hover-check-css-indicator-flat-background-color;
			border-color: $night-label-check-css-hover-check-css-indicator-flat-border-color;
		}
	}
}

.night .check-css-indic--flat {
	background-color: $night-check-css-indicator-flat-background-color;
	border-color: $night-check-css-indicator-flat-border-color;
}

/**
 * Select menu:
 * `.sel`
 *
 *     @example
 *     select.sel
 *         option Option 1
 *         option Option 2
 *         option Option 3
 */
.sel {
	background-color: $select-background-color;
	border-width: $select-border-width;
	border-style: $select-border-style;
	border-color: $select-border-color;
	border-radius: $select-border-radius;
	display: block;
	font-size: $select-font-size;
	line-height: $select-line-height;
	padding: $select-padding-y $select-padding-x;
	transition: $input-transition;
	width: 100%;

	// -ms-touch-action: manipulation;
	// touch-action: manipulation;

	&:focus,
	&:focus:hover {
		border-color: $select-focus-border-color;
		box-shadow: $select-focus-box-shadow;
	}
}

@if $select-icon-background-image != none {
	.sel--icn {
		background-image: url($select-icon-background-image);
		background-position: $select-icon-background-position;
		background-size: $select-icon-background-size;
		background-repeat: no-repeat;
		margin-right: $select-icon-margin-right;
		padding-right: $select-icon-padding-right;

		-webkit-appearance: none;
		-moz-appearance: none;

		@if $select-icon-focus-background-image != none {
			&:focus {
				background-image: url($select-icon-focus-background-image);
			}
		}
	}
}

.night .sel {
	border-color: $night-select-border-color;
	color: $night-select-color;

	&:focus,
	&:focus:hover {
		border-color: $night-select-focus-border-color;
		box-shadow: $night-select-focus-box-shadow;
	}

	option {
		color: $night-select-option-color;
	}
}

/**
 * Select menu with pure CSS icon:
 * `.sel-css-icn`
 *
 *     @example
 *     div.sel-css-icn
 *         select.sel
 *             option Option 1
 *             option Option 2
 *             option Option 3
 */
.sel-css-icn {
	position: relative;

	.sel {
		-webkit-appearance: none;
		-moz-appearance: none;

		padding-right: $select-css-icon-padding-right;
	}
	
	&:after {
		border-width: $select-css-icon-after-border-width;
		border-style: $select-css-icon-after-border-style;
		border-color: $select-css-icon-after-border-color;
		border-right: 0;
		border-top: 0;
		
		content: '';
		display: block;

		width: $select-css-icon-after-width;
		height: $select-css-icon-after-height;

		margin-top: $select-css-icon-after-margin-top;
		position: absolute;
		top: $select-css-icon-after-top;
		right: $select-css-icon-after-right;

		pointer-events: none;
		transform: $select-css-icon-after-transform;
	}
}

.night {
	.sel-css-icn {
		&:after {
			border-color: $night-select-css-icon-after-border-color;
		}
	}
}

/**
 * Select menu size:
 * `.sel--[size]` `.sel-css-icn--[size]`
 *
 *     @example
 *     div.cols
 *         div.sm-col-6
 *             div.fld
 *                 select.sel.sel--sm
 *                     option Option 1
 *                     option Option 2
 *                     option Option 3
 *             div.fld
 *                 select.sel.sel--lg
 *                     option Option 1
 *                     option Option 2
 *                     option Option 3
 *         div.sm-col-6
 *             div.fld
 *                 div.sel-css-icn.sel-css-icn--sm
 *                     select.sel
 *                         option Option 1
 *                         option Option 2
 *                         option Option 3
 *             div.fld
 *                 div.sel-css-icn.sel-css-icn--lg
 *                     select.sel
 *                         option Option 1
 *                         option Option 2
 *                         option Option 3
 */
.sel--sm {
	border-radius: $select-small-border-radius;
	font-size: $select-small-font-size;
	padding: $select-small-padding-y $select-small-padding-x;

	// Arrow icon.
	@if $select-icon-background-image != none {
		padding-right: $select-icon-small-padding-right;
	}
}

.sel--lg {
	border-radius: $select-large-border-radius;
	font-size: $select-large-font-size;
	padding: $select-large-padding-y $select-large-padding-x;

	// Arrow icon.
	@if $select-icon-background-image != none {
		padding-right: $select-icon-large-padding-right;
	}
}

.sel-css-icn--sm {
	.sel {
		@extend .sel--sm;

		padding-right: $select-css-icon-small-padding-right;
	}

	&:after {
		width: $select-css-icon-small-after-width;
		height: $select-css-icon-small-after-height;

		margin-top: $select-css-icon-small-after-margin-top;
		right: $select-css-icon-small-after-right;
	}
}

.sel-css-icn--lg {
	.sel {
		@extend .sel--lg;

		padding-right: $select-css-icon-large-padding-right;
	}

	&:after {
		width: $select-css-icon-large-after-width;
		height: $select-css-icon-large-after-height;

		margin-top: $select-css-icon-large-after-margin-top;
		right: $select-css-icon-large-after-right;
	}
}

.sel--flat {
	background-color: $select-flat-background-color;
	border-color: $select-flat-border-color;

	&:valid {
		border-color: $select-flat-border-color;
	}

	&:focus,
	&:focus:hover {
		border-color: $select-focus-border-color;
	}

	&:hover {
		background-color: $select-flat-hover-background-color;
		border-color: $select-flat-hover-border-color;
	}
}

/**
 * Flat select menu:
 * `.sel--flat`
 *
 *     @example
 *     div.cols
 *         div.sm-col-6
 *             div.fld
 *                 select.sel.sel--flat
 *                     option Option 1
 *                     option Option 2
 *                     option Option 3
 *         div.sm-col-6
 *             div.fld
 *                 div.sel-css-icn
 *                     select.sel.sel--flat
 *                         option Option 1
 *                         option Option 2
 *                         option Option 3
 */
.night .sel--flat,
.navbar--dark .sel--flat {
	background-color: $night-select-flat-background-color;
	border-color: $night-select-flat-border-color;

	&:valid {
		border-color: $night-select-flat-border-color;
	}

	&:focus,
	&:focus:hover {
		border-color: $night-select-focus-border-color;
	}

	&:hover {
		background-color: $night-select-flat-hover-background-color;
		border-color: $night-select-flat-hover-border-color;
	}
}
