
@import '../partials/_all';


/***
 * Form:
 */

/**
 * Label and input:
 * `.lbl` `.input`
 *
 *     @example
 *     label(for='eg-input').lbl Label
 *     input(id='eg-input', placeholder='Text input', type='text').input
 */

.lbl {
	display: inline-block;
	font-size: $label-font-size;
	margin-bottom: $spacing-unit-quarter;
}

.input,
.txtarea {
	-webkit-appearance: none;

	background-color: $day__input-bg-color;
	border-width: $input-border-width;
	border-style: $input-border-style;
	border-color: $day__input-border-color;
	border-radius: $input-border-radius;
	box-shadow: none;
	color: $day__input-color;
	display: block;
	font-family: inherit;
	font-size: $input-font-size;
	line-height: $input-line-height;
	padding: $input-padding-y $input-padding-x;
	transition: $input-transition;
	width: 100%;

	&::-moz-placeholder {
		opacity: $input-placeholder-opacity;
	}

	&::placeholder {
		color: $day__input-placeholder-color;
		opacity: $input-placeholder-opacity;
	}

	&:invalid {
		border-color: $day__input-invalid-border-color;
	}

	&:valid {
		border-color: $day__input-valid-border-color;
	}

	// &:-moz-ui-invalid:-moz-focusring:not(output),
	// &:-moz-ui-invalid:not(output) {
	// 	border-color: $input-error-border-color;
	// }

	&:focus,
	&:focus:hover {
		background-color: $day__input-focus-bg-color;
		border-color: $day__input-focus-border-color;
		box-shadow: $day__input-focus-box-shadow;

		&::placeholder {
			color: $day__input-focus-placeholder-color;
		}
	}

	&:hover {
		border-color: $day__input-hover-border-color;
	}

	&:active {
		border-color: $day__input-active-border-color;
	}
}

.night .input,
.night .txtarea,
.navbar--dark .input {
	background-color: $ngt__input-bg-color;
	border-color: $ngt__input-border-color;
	color: $ngt__input-color;

	&::placeholder {
		color: $ngt__input-placeholder-color;
	}

	&:invalid {
		border-color: $ngt__input-invalid-border-color;
	}

	&:valid {
		border-color: $ngt__input-valid-border-color;
	}

	&:focus,
	&:focus:hover {
		background-color: $ngt__input-focus-bg-color;
		border-color: $ngt__input-focus-border-color;
		box-shadow: $ngt__input-focus-box-shadow;

		&::placeholder {
			color: $ngt__input-focus-placeholder-color;
		}
	}

	&:hover {
		border-color: $ngt__input-hover-border-color;
	}

	&:active {
		border-color: $ngt__input-active-border-color;
	}
}

/**
 * Form field:
 * `.fld`
 *
 *     @example
 *     div.fld
 *         label(for='eg-form-field-1').lbl Label
 *         input(id='eg-form-field-1', placeholder='Text input', type='text').input
 *     div.fld
 *         label(for='eg-form-field-2').lbl Label
 *         input(id='eg-form-field-2', placeholder='Text input', type='text').input
 */

.fld {
	margin-bottom: $form-field-margin-bottom;
}

/**
 * Input size:
 * `.input--[size]`
 *
 *     @example
 *     div.fld
 *         input(type='text', placeholder='Text input').input.input--lg
 *     div.fld
 *         input(type='text', placeholder='Text input').input.input--sm
 */

.input--sm {
	border-radius: $input-sm-border-radius;
	font-size: $input-sm-font-size;
	padding: $input-sm-padding-y $input-sm-padding-x;
}

.input--lg {
	border-radius: $input-lg-border-radius;
	font-size: $input-lg-font-size;
	padding: $input-lg-padding-y $input-lg-padding-x;
}

/**
 * Flat input:
 * `.input--flat`
 *
 *     @example
 *     input(type='text', placeholder='Flat input').input.input--flat
 */

.input--flat {
	background-color: $day__input-flat-bg-color;
	border-color: $day__input-flat-border-color;

	&:valid {
		border-color: $day__input-flat-border-color;
	}

	&:focus,
	&:focus:hover {
		border-color: $day__input-focus-border-color;
	}

	&:hover {
		background-color: $day__input-flat-hover-bg-color;
		border-color: $day__input-flat-hover-border-color;
	}
}

.night .input--flat,
.navbar--dark .input--flat {
	background-color: $ngt__input-flat-bg-color;
	border-color: $ngt__input-flat-border-color;

	&:valid {
		border-color: $ngt__input-flat-border-color;
	}

	&:focus,
	&:focus:hover {
		border-color: $ngt__input-focus-border-color;
	}

	&:hover {
		background-color: $ngt__input-flat-hover-bg-color;
		border-color: $ngt__input-flat-hover-border-color;
	}
}

/**
 * Line input:
 * `.input--line`
 *
 *     @example
 *     input(type='text', placeholder='Line input').input.input--line
 */

.input--line {
	background-color: transparent;

	border-top: none;
	border-right: none;
	border-bottom-width: $input-border-width;
	border-bottom-style: $input-border-style;
	border-bottom-color: $day__input-border-color;
	border-left: none;

	border-radius: 0;

	padding-right: 0;
	padding-left: 0;

	&:focus,
	&:focus:hover {
		box-shadow: $day__input-line-focus-box-shadow;
	}
}

.night .input--line {
	&:focus,
	&:focus:hover {
		box-shadow: $ngt__input-line-focus-box-shadow;
	}
}

/**
 * Pill input:
 * `.input--pill`
 *
 *     @example
 *     input(type='text', placeholder='Pill input').input.input--pill
 */

.input--pill {
	border-radius: 2em;
}

/**
 * Input with icon:
 * `.ctrl--icn-left`
 *
 *     @example
 *     div.ctrl.ctrl--icn-left
 *         input(type='text', placeholder='Pill input').input
 *         span.icn-wrap
 *             i.icon.ion-md-search.icn-wrap__icn
 */

.ctrl {
	display: flex;
	flex-grow: 1;

	position: relative;
}

.ctrl--icn-left {
	.input {
		padding-left: $control-icon-left__icon-wrap-width;

	}

	.icn-wrap {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;

		position: absolute;
		top: 0;
		left: 0;

		width: $control-icon-left__icon-wrap-width;
		height: auto;
	}

	.icn-wrap__icn {
		color: $day__control-icon-left__icon-wrap__icon-color;
		font-size: $control-icon-left__icon-wrap__icon-font-size;
	}
}

.night .ctrl--icn-left {
	.icn-wrap__icn {
		color: $ngt__control-icon-left__icon-wrap__icon-color;
	}
}

/**
 * Textarea:
 * `.txtarea`
 *
 *     @example
 *     textarea(placeholder='Textarea', rows='5').txtarea
 */

 /**
 * Checkbox and radio:
 *
 *     @example
 *     div.row
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl-check
 *                     input(id='eg-checkbox-1', type='checkbox', value='').ctrl-check__input
 *                     label(for='eg-checkbox-1').ctrl-check__lbl Checkbox
 *                 div.ctrl-check
 *                     input(id='eg-checkbox-2', type='checkbox', value='').ctrl-check__input
 *                     label(for='eg-checkbox-2').ctrl-check__lbl Checkbox
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl-check
 *                     input(checked, id='eg-radio-1', name='radio', type='radio', value='').ctrl-check__input
 *                     label(for='eg-radio-1').ctrl-check__lbl Radio
 *                 div.ctrl-check
 *                     input(id='eg-radio-2', name='radio', type='radio', value='').ctrl-check__input
 *                     label(for='eg-radio-2').ctrl-check__lbl Radio
 */

.ctrl-check {
	display: block;
	position: relative;
}

.ctrl-check__input {
	margin-top: $control-check-input-margin-top;

	position: absolute;

	top: 0;
	left: 0;
}

.ctrl-check__lbl {
	padding-left: $control-check-label-padding-left;
}

/**
 * Inline checkbox and radio:
 *
 *     @example
 *     div.row
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl-check.ctrl-check--inline
 *                     input(id='eg-checkbox-inline-1', type='checkbox', value='').ctrl-check__input
 *                     label(for='eg-checkbox-inline-1').ctrl-check__lbl Checkbox
 *                 div.ctrl-check.ctrl-check--inline
 *                     input(id='eg-checkbox-inline-2', type='checkbox', value='').ctrl-check__input
 *                     label(for='eg-checkbox-inline-2').ctrl-check__lbl Checkbox
 *                 div.ctrl-check.ctrl-check--inline
 *                     input(id='eg-checkbox-inline-3', type='checkbox', value='').ctrl-check__input
 *                     label(for='eg-checkbox-inline-3').ctrl-check__lbl Checkbox
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl-check.ctrl-check--inline
 *                     input(checked, id='eg-radio-inline-1', name='radio-inline', type='radio', value='').ctrl-check__input
 *                     label(for='eg-radio-inline-1').ctrl-check__lbl Radio
 *                 div.ctrl-check.ctrl-check--inline
 *                     input(id='eg-radio-inline-2', name='radio-inline', type='radio', value='').ctrl-check__input
 *                     label(for='eg-radio-inline-2').ctrl-check__lbl Radio
 *                 div.ctrl-check.ctrl-check--inline
 *                     input(id='eg-radio-inline-3', name='radio-inline', type='radio', value='').ctrl-check__input
 *                     label(for='eg-radio-inline-3').ctrl-check__lbl Radio
 */

.ctrl-check--inline {
	display: inline-flex;

	&:not( :last-child ) {
		margin-right: $control-check-inline-margin-right;
	}
}

/**
 * Custom checkbox and radio:
 *
 *     @example
 *     div.row
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl-check.ctrl-check--custom
 *                     input(id='eg-checkbox-custom-1', type='checkbox', value='').ctrl-check__input-custom
 *                     label(for='eg-checkbox-custom-1').ctrl-check__lbl-custom
 *                         div.ctrl-check__indic.ctrl-check__indic--checkbox
 *                         | Checkbox
 *                 div.ctrl-check.ctrl-check--custom
 *                     input(id='eg-checkbox-custom-2', type='checkbox', value='').ctrl-check__input-custom
 *                     label(for='eg-checkbox-custom-2').ctrl-check__lbl-custom
 *                         div.ctrl-check__indic.ctrl-check__indic--checkbox
 *                         | Checkbox
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl-check.ctrl-check--custom
 *                     input(checked, id='eg-radio-custom-1', name='radio-custom', type='radio', value='').ctrl-check__input-custom
 *                     label(for='eg-radio-custom-1').ctrl-check__lbl-custom
 *                         div.ctrl-check__indic.ctrl-check__indic--radio
 *                         | Radio
 *                 div.ctrl-check.ctrl-check--custom
 *                     input(id='eg-radio-custom-2', name='radio-custom', type='radio', value='').ctrl-check__input-custom
 *                     label(for='eg-radio-custom-2').ctrl-check__lbl-custom
 *                         div.ctrl-check__indic.ctrl-check__indic--radio
 *                         | Radio
 */

.ctrl-check--custom {
	&:not( :last-child ) {
		margin-bottom: $control-check-custom-margin-bottom;
	}
}

.ctrl-check__input-custom {
	opacity: 0;
	position: absolute;
	z-index: -1;

	&:checked {
		~ .ctrl-check__lbl-custom {
			.ctrl-check__indic {
				background-color: $day__control-check-input-custom-checked__indic-bg-color;
				border-color: $day__control-check-input-custom-checked__indic-border-color;

				&:after {
					display: block;
				}
			}

			.ctrl-check__indic--checkbox {
				&:after {
					border-width: $control-check-input-custom-checked__indic-checkbox-after-border-width;
					border-style: $control-check-input-custom-checked__indic-checkbox-after-border-style;
					border-color: $day__control-check-input-custom-checked__indic-checkbox-after-border-color;

					top: $control-check-input-custom-checked__indic-checkbox-after-top;
					left: $control-check-input-custom-checked__indic-checkbox-after-left;

					transform: $control-check-input-custom-checked__indic-checkbox-after-transform;

					width: $control-check-input-custom-checked__indic-checkbox-after-width;
					height: $control-check-input-custom-checked__indic-checkbox-after-height;
				}
			}

			.ctrl-check__indic--radio {
				&:after {
					background-color: $day__control-check-input-custom-checked__indic-radio-after-bg-color;
					border-radius: $control-check-input-custom-checked__indic-radio-after-border-radius;

					top: $control-check-input-custom-checked__indic-radio-after-top;
					left: $control-check-input-custom-checked__indic-radio-after-left;

					width: $control-check-input-custom-checked__indic-radio-after-width;
					height: $control-check-input-custom-checked__indic-radio-after-height;
				}
			}
		}

		&:hover ~ .ctrl-check__lbl-custom .ctrl-check__indic {
			background-color: $day__control-check-input-custom-checked-hover__indic-bg-color;
		}

		&:active ~ .ctrl-check__lbl-custom .ctrl-check__indic {
			background-color: $day__control-check-input-custom-checked-active__indic-bg-color;
		}
	}
}

.night .ctrl-check__input-custom {
	&:checked {
		~ .ctrl-check__lbl-custom {
			.ctrl-check__indic {
				background-color: $ngt__control-check-input-custom-checked__indic-bg-color;
				border-color: $ngt__control-check-input-custom-checked__indic-border-color;
			}

			.ctrl-check__indic--checkbox {
				&:after {
					border-color: $ngt__control-check-input-custom-checked__indic-checkbox-after-border-color;
				}
			}

			.ctrl-check__indic--radio {
				&:after {
					background-color: $ngt__control-check-input-custom-checked__indic-radio-after-bg-color;
				}
			}
		}

		&:hover ~ .ctrl-check__lbl-custom .ctrl-check__indic {
			background-color: $ngt__control-check-input-custom-checked-hover__indic-bg-color;
		}

		&:active ~ .ctrl-check__lbl-custom .ctrl-check__indic {
			background-color: $ngt__control-check-input-custom-checked-active__indic-bg-color;
		}
	}
}

.ctrl-check__indic {
	background-color: $day__control-check-indic-bg-color;

	border-width: $control-check-indic-border-width;
	border-style: $control-check-indic-border-style;
	border-color: $day__control-check-indic-border-color;

	margin-top: $control-check-indic-margin-top;

	position: absolute;
	top: 0;
	left: 0;

	width: $control-check-indic-width;
	height: $control-check-indic-height;

	transition: $transition-base;

	&:after {
		content: '';
		display: none;
		position: absolute;
	}
}

.night .ctrl-check__indic {
	background-color: $ngt__control-check-indic-bg-color;
	border-color: $ngt__control-check-indic-border-color;
}

.ctrl-check__indic--checkbox {
	border-radius: $control-check-indic-checkbox-border-radius;
}

.ctrl-check__indic--radio {
	border-radius: $control-check-indic-radio-border-radius;
}

.ctrl-check__lbl-custom {
	padding-left: $control-check-label-custom-padding-left;

	&:hover {
		.ctrl-check__indic {
			background-color: $day__control-check-label-custom-hover__indic-bg-color;
			border-color: $day__control-check-label-custom-hover__indic-border-color;
		}
	}
}

.night .ctrl-check__lbl-custom {
	&:hover {
		.ctrl-check__indic {
			background-color: $ngt__control-check-label-custom-hover__indic-bg-color;
			border-color: $ngt__control-check-label-custom-hover__indic-border-color;
		}
	}
}

/**
 * Inline custom checkbox and radio:
 *
 *     @example
 *     div.row
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl-check.ctrl-check--custom.ctrl-check--inline
 *                     input(id='eg-checkbox-inline-custom-1', type='checkbox', value='').ctrl-check__input-custom
 *                     label(for='eg-checkbox-inline-custom-1').ctrl-check__lbl-custom
 *                         div.ctrl-check__indic.ctrl-check__indic--checkbox
 *                         | Checkbox
 *                 div.ctrl-check.ctrl-check--custom.ctrl-check--inline
 *                     input(id='eg-checkbox-inline-custom-2', type='checkbox', value='').ctrl-check__input-custom
 *                     label(for='eg-checkbox-inline-custom-2').ctrl-check__lbl-custom
 *                         div.ctrl-check__indic.ctrl-check__indic--checkbox
 *                         | Checkbox
 *                 div.ctrl-check.ctrl-check--custom.ctrl-check--inline
 *                     input(id='eg-checkbox-inline-custom-3', type='checkbox', value='').ctrl-check__input-custom
 *                     label(for='eg-checkbox-inline-custom-3').ctrl-check__lbl-custom
 *                         div.ctrl-check__indic.ctrl-check__indic--checkbox
 *                         | Checkbox
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl-check.ctrl-check--custom.ctrl-check--inline
 *                     input(checked, id='eg-radio-inline-custom-1', name='radio-inline-custom', type='radio', value='').ctrl-check__input-custom
 *                     label(for='eg-radio-inline-custom-1').ctrl-check__lbl-custom
 *                         div.ctrl-check__indic.ctrl-check__indic--radio
 *                         | Radio
 *                 div.ctrl-check.ctrl-check--custom.ctrl-check--inline
 *                     input(id='eg-radio-inline-custom-2', name='radio-inline-custom', type='radio', value='').ctrl-check__input-custom
 *                     label(for='eg-radio-inline-custom-2').ctrl-check__lbl-custom
 *                         div.ctrl-check__indic.ctrl-check__indic--radio
 *                         | Radio
 *                 div.ctrl-check.ctrl-check--custom.ctrl-check--inline
 *                     input(id='eg-radio-inline-custom-3', name='radio-inline-custom', type='radio', value='').ctrl-check__input-custom
 *                     label(for='eg-radio-inline-custom-3').ctrl-check__lbl-custom
 *                         div.ctrl-check__indic.ctrl-check__indic--radio
 *                         | Radio
 */

.ctrl-check--inline.ctrl-check--custom {
	&:not( :last-child ) {
		margin-right: $control-check-inline-custom-margin-right;
	}
}

/**
 * Custom flat checkbox and radio:
 *
 *     @example
 *     div.row
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl-check.ctrl-check--custom
 *                     input(id='eg-checkbox-custom-flat-1', type='checkbox', value='').ctrl-check__input-custom
 *                     label(for='eg-checkbox-custom-flat-1').ctrl-check__lbl-custom
 *                         div.ctrl-check__indic.ctrl-check__indic--checkbox.ctrl-check__indic--flat
 *                         | Checkbox
 *                 div.ctrl-check.ctrl-check--custom
 *                     input(id='eg-checkbox-custom-flat-2', type='checkbox', value='').ctrl-check__input-custom
 *                     label(for='eg-checkbox-custom-flat-2').ctrl-check__lbl-custom
 *                         div.ctrl-check__indic.ctrl-check__indic--checkbox.ctrl-check__indic--flat
 *                         | Checkbox
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl-check.ctrl-check--custom
 *                     input(checked, id='eg-radio-custom-flat-1', name='radio-custom-flat', type='radio', value='').ctrl-check__input-custom
 *                     label(for='eg-radio-custom-flat-1').ctrl-check__lbl-custom
 *                         div.ctrl-check__indic.ctrl-check__indic--radio.ctrl-check__indic--flat
 *                         | Radio
 *                 div.ctrl-check.ctrl-check--custom
 *                     input(id='eg-radio-custom-flat-2', name='radio-custom-flat', type='radio', value='').ctrl-check__input-custom
 *                     label(for='eg-radio-custom-flat-2').ctrl-check__lbl-custom
 *                         div.ctrl-check__indic.ctrl-check__indic--radio.ctrl-check__indic--flat
 *                         | Radio
 */

.ctrl-check__indic--flat {
	background-color: $day__control-check-indic-flat-bg-color;
	border-color: $day__control-check-indic-flat-border-color;
}

.night .ctrl-check__indic--flat {
	background-color: $ngt__control-check-indic-flat-bg-color;
	border-color: $ngt__control-check-indic-flat-border-color;
}

.ctrl-check__lbl-custom {
	&:hover {
		.ctrl-check__indic--flat {
			background-color: $day__control-check-label-custom-hover__indic-flat-bg-color;
			border-color: $day__control-check-label-custom-hover__indic-flat-border-color;
		}
	}

	&:active {
		.ctrl-check__indic--flat {
			background-color: $day__control-check-label-custom-active__indic-flat-bg-color;
			border-color: $day__control-check-label-custom-active__indic-flat-border-color;
		}
	}
}

.night .ctrl-check__lbl-custom {
	&:hover {
		.ctrl-check__indic--flat {
			background-color: $ngt__control-check-label-custom-hover__indic-flat-bg-color;
			border-color: $ngt__control-check-label-custom-hover__indic-flat-border-color;
		}
	}

	&:active {
		.ctrl-check__indic--flat {
			background-color: $ngt__control-check-label-custom-active__indic-flat-bg-color;
			border-color: $ngt__control-check-label-custom-active__indic-flat-border-color;
		}
	}
}

/**
 * Select menu:
 * `.sel`
 *
 *     @example
 *     select.sel
 *         option Option 1
 *         option Option 2
 *         option Option 3
 */

.sel {
	background-color: $day__select-bg-color;
	border-width: $select-border-width;
	border-style: $select-border-style;
	border-color: $select-border-color;
	border-radius: $select-border-radius;
	color: $day__select-color;
	display: block;
	font-size: $select-font-size;
	line-height: $select-line-height;
	padding: $select-padding-y $select-padding-x;
	transition: $input-transition;
	width: 100%;

	// -ms-touch-action: manipulation;
	// touch-action: manipulation;

	&:focus,
	&:focus:hover {
		border-color: $day__select-focus-border-color;
		box-shadow: $day__select-focus-box-shadow;
	}

	&:hover {
		border-color: $day__select-hover-border-color;
	}

	option {
		color: $day__select__option-color;
	}
}

@if $select-icon-bg-image != none {

	.sel--icn {
		background-image: url( $select-icon-bg-image );
		background-position: $select-icon-bg-position;
		background-size: $select-icon-bg-size;
		background-repeat: no-repeat;
		margin-right: $select-icon-margin-right;
		padding-right: $select-icon-padding-right;

		-webkit-appearance: none;
		-moz-appearance: none;

		@if $select-icon-focus-bg-image != none {

			&:focus {
				background-image: url( $select-icon-focus-bg-image );
			}

		}
	}

}

.night .sel {
	background-color: $ngt__select-bg-color;
	border-color: $ngt__select-border-color;
	color: $ngt__select-color;

	&:focus,
	&:focus:hover {
		border-color: $ngt__select-focus-border-color;
		box-shadow: $ngt__select-focus-box-shadow;
	}

	&:hover {
		border-color: $ngt__select-hover-border-color;
	}

	option {
		color: $ngt__select__option-color;
	}
}

/**
 * Custom select menu:
 * `.sel-custom`
 *
 *     @example
 *     div.sel-custom
 *         select.sel
 *             option Option 1
 *             option Option 2
 *             option Option 3
 */

.sel-custom {
	position: relative;

	.sel {
		-webkit-appearance: none;
		-moz-appearance: none;

		padding-right: $select-custom-padding-right;
	}

	&:after {
		border-width: $select-custom-after-border-width;
		border-style: $select-custom-after-border-style;
		border-color: $day__select-custom-after-border-color;
		border-right: 0;
		border-top: 0;

		content: '';
		display: block;

		width: $select-custom-after-width;
		height: $select-custom-after-height;

		margin-top: $select-custom-after-margin-top;
		position: absolute;
		top: $select-custom-after-top;
		right: $select-custom-after-right;

		pointer-events: none;
		transform: $select-custom-after-transform;
	}
}

.night .sel-custom {
	&:after {
		border-color: $ngt__select-custom-after-border-color;
	}
}

/**
 * Select menu size:
 * `.sel--[size]` `.sel-custom--[size]`
 *
 *     @example
 *     div.row
 *         div.sm-col-6
 *             div.fld
 *                 select.sel.sel--sm
 *                     option Option 1
 *                     option Option 2
 *                     option Option 3
 *             div.fld
 *                 select.sel.sel--lg
 *                     option Option 1
 *                     option Option 2
 *                     option Option 3
 *         div.sm-col-6
 *             div.fld
 *                 div.sel-custom.sel-custom--sm
 *                     select.sel
 *                         option Option 1
 *                         option Option 2
 *                         option Option 3
 *             div.fld
 *                 div.sel-custom.sel-custom--lg
 *                     select.sel
 *                         option Option 1
 *                         option Option 2
 *                         option Option 3
 */

.sel--sm {
	border-radius: $select-sm-border-radius;
	font-size: $select-sm-font-size;
	padding: $select-sm-padding-y $select-sm-padding-x;

	// Arrow icon.

	@if $select-icon-bg-image != none {

		padding-right: $select-icon-sm-padding-right;

	}
}

.sel--lg {
	border-radius: $select-lg-border-radius;
	font-size: $select-lg-font-size;
	padding: $select-lg-padding-y $select-lg-padding-x;

	// Arrow icon.

	@if $select-icon-bg-image != none {

		padding-right: $select-icon-lg-padding-right;

	}
}

.sel-custom--sm {
	.sel {
		@extend .sel--sm;

		padding-right: $select-custom-sm-padding-right;
	}

	&:after {
		width: $select-custom-sm-after-width;
		height: $select-custom-sm-after-height;

		margin-top: $select-custom-sm-after-margin-top;
		right: $select-custom-sm-after-right;
	}
}

.sel-custom--lg {
	.sel {
		@extend .sel--lg;

		padding-right: $select-custom-lg-padding-right;
	}

	&:after {
		width: $select-custom-lg-after-width;
		height: $select-custom-lg-after-height;

		margin-top: $select-custom-lg-after-margin-top;
		right: $select-custom-lg-after-right;
	}
}

.sel--flat {
	background-color: $day__select-flat-bg-color;
	border-color: $day__select-flat-border-color;

	&:valid {
		border-color: $day__select-flat-border-color;
	}

	&:focus,
	&:focus:hover {
		border-color: $day__select-focus-border-color;
	}

	&:hover {
		background-color: $day__select-flat-hover-bg-color;
		border-color: $day__select-flat-hover-border-color;
	}
}

/**
 * Flat select menu:
 * `.sel--flat`
 *
 *     @example
 *     div.row
 *         div.sm-col-6
 *             div.fld
 *                 select.sel.sel--flat
 *                     option Option 1
 *                     option Option 2
 *                     option Option 3
 *         div.sm-col-6
 *             div.fld
 *                 div.sel-custom
 *                     select.sel.sel--flat
 *                         option Option 1
 *                         option Option 2
 *                         option Option 3
 */

.night .sel--flat,
.navbar--dark .sel--flat {
	background-color: $ngt__select-flat-bg-color;
	border-color: $ngt__select-flat-border-color;

	&:valid {
		border-color: $ngt__select-flat-border-color;
	}

	&:focus,
	&:focus:hover {
		border-color: $ngt__select-focus-border-color;
	}

	&:hover {
		background-color: $ngt__select-flat-hover-bg-color;
		border-color: $ngt__select-flat-hover-border-color;
	}
}
