
@import '../partials/_all';


/***
 * Form:
 */

/**
 * Label and input:
 * `.lbl` `.input`
 *
 *     @example
 *     label(for='eg-input').lbl Label
 *     input(id='eg-input', placeholder='Text input', type='text').input
 */

.lbl {
	display: inline-block;
	font-size: $lbl-font-size;
	margin-bottom: $spacing-unit-quarter;
}

.input,
.tarea {
	-webkit-appearance: none;

	background-color: $day__input-bg-color;
	border-width: $input-border-width;
	border-style: $input-border-style;
	border-color: $day__input-border-color;
	border-radius: $input-border-radius;
	box-shadow: none;
	color: $day__input-color;
	display: block;
	font-family: inherit;
	font-size: $input-font-size;
	line-height: $input-line-height;
	padding: $input-padding-y $input-padding-x;
	transition: $input-transition;
	width: 100%;

	&::-moz-placeholder {
		opacity: $input-placeholder-opacity;
	}

	&::placeholder {
		color: $day__input-placeholder-color;
		opacity: $input-placeholder-opacity;
	}

	&:invalid {
		border-color: $day__input-invalid-border-color;
	}

	&:valid {
		border-color: $day__input-valid-border-color;
	}

	// &:-moz-ui-invalid:-moz-focusring:not(output),
	// &:-moz-ui-invalid:not(output) {
	// 	border-color: $input-error-border-color;
	// }

	&:focus,
	&:focus:hover {
		background-color: $day__input-focus-bg-color;
		border-color: $day__input-focus-border-color;
		box-shadow: $day__input-focus-box-shadow;

		&::placeholder {
			color: $day__input-focus-placeholder-color;
		}
	}

	&:hover {
		border-color: $day__input-hover-border-color;
	}

	&:active {
		border-color: $day__input-active-border-color;
	}
}

.night .input,
.night .tarea,
.navbar--dark .input {
	background-color: $ngt__input-bg-color;
	border-color: $ngt__input-border-color;
	color: $ngt__input-color;

	&::placeholder {
		color: $ngt__input-placeholder-color;
	}

	&:invalid {
		border-color: $ngt__input-invalid-border-color;
	}

	&:valid {
		border-color: $ngt__input-valid-border-color;
	}

	&:focus,
	&:focus:hover {
		background-color: $ngt__input-focus-bg-color;
		border-color: $ngt__input-focus-border-color;
		box-shadow: $ngt__input-focus-box-shadow;

		&::placeholder {
			color: $ngt__input-focus-placeholder-color;
		}
	}

	&:hover {
		border-color: $ngt__input-hover-border-color;
	}

	&:active {
		border-color: $ngt__input-active-border-color;
	}
}

/**
 * Form field:
 * `.fld`
 *
 *     @example
 *     div.fld
 *         label(for='eg-form-field-1').lbl Label
 *         input(id='eg-form-field-1', placeholder='Text input', type='text').input
 *     div.fld
 *         label(for='eg-form-field-2').lbl Label
 *         input(id='eg-form-field-2', placeholder='Text input', type='text').input
 */

.fld {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;

	margin-bottom: $fld-margin-bottom;
}

/**
 * Input size:
 * `.input--[size]`
 *
 *     @example
 *     div.fld
 *         input(type='text', placeholder='Text input').input.input--lg
 *     div.fld
 *         input(type='text', placeholder='Text input').input.input--sm
 */

.input--sm {
	border-radius: $input--sm-border-radius;
	font-size: $input--sm-font-size;
	padding: $input--sm-padding-y $input--sm-padding-x;
}

.input--lg {
	border-radius: $input--lg-border-radius;
	font-size: $input--lg-font-size;
	padding: $input--lg-padding-y $input--lg-padding-x;
}

/**
 * Flat input:
 * `.input--flat`
 *
 *     @example
 *     input(type='text', placeholder='Flat input').input.input--flat
 */

.input--flat {
	background-color: $day__input--flat-bg-color;
	border-color: $day__input--flat-border-color;

	&:valid {
		border-color: $day__input--flat-border-color;
	}

	&:focus,
	&:focus:hover {
		border-color: $day__input-focus-border-color;
	}

	&:hover {
		background-color: $day__input--flat-hover-bg-color;
		border-color: $day__input--flat-hover-border-color;
	}
}

.night .input--flat,
.navbar--dark .input--flat {
	background-color: $ngt__input--flat-bg-color;
	border-color: $ngt__input--flat-border-color;

	&:valid {
		border-color: $ngt__input--flat-border-color;
	}

	&:focus,
	&:focus:hover {
		border-color: $ngt__input-focus-border-color;
	}

	&:hover {
		background-color: $ngt__input--flat-hover-bg-color;
		border-color: $ngt__input--flat-hover-border-color;
	}
}

/**
 * Line input:
 * `.input--line`
 *
 *     @example
 *     input(type='text', placeholder='Line input').input.input--line
 */

.input--line {
	background-color: transparent;

	border-top: none;
	border-right: none;
	border-bottom-width: $input-border-width;
	border-bottom-style: $input-border-style;
	border-bottom-color: $day__input-border-color;
	border-left: none;

	border-radius: 0;

	padding-right: 0;
	padding-left: 0;

	&:focus,
	&:focus:hover {
		box-shadow: $day__input--line-focus-box-shadow;
	}
}

.night .input--line {
	&:focus,
	&:focus:hover {
		box-shadow: $ngt__input--line-focus-box-shadow;
	}
}

/**
 * Pill input:
 * `.input--pill`
 *
 *     @example
 *     input(type='text', placeholder='Pill input').input.input--pill
 */

.input--pill {
	border-radius: 2em;
}

/**
 * Input with a left icon:
 * `.ctrl--icn-left`
 *
 *     @example
 *     div.ctrl.ctrl--icn-left
 *         input(type='text', placeholder='Pill input').input
 *         span.icn-wrap
 *             i.icon.ion-md-search.icn-wrap__icn
 */

.ctrl {
	display: flex;
	flex-grow: 1;

	position: relative;

	.icn-wrap {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;

		position: absolute;
		top: 0;

		width: $ctrl__icn-wrap-width;
		height: 100%;

		svg {
			fill: $day__ctrl__icn-wrap__icn-color;
			vertical-align: middle;

			width: $ctrl__icn-wrap__svg-width;
			height: $ctrl__icn-wrap__svg-height;
		}
	}

	.icn-wrap__icn {
		color: $day__ctrl__icn-wrap__icn-color;
		font-size: $ctrl__icn-wrap__icn-font-size;
	}
}

.night .ctrl {
	.icn-wrap {
		svg {
			fill: $ngt__ctrl__icn-wrap__icn-color;
		}
	}

	.icn-wrap__icn {
		color: $ngt__ctrl__icn-wrap__icn-color;
	}
}

.ctrl--icn-left {
	.input {
		padding-left: $ctrl__icn-wrap-width;
	}

	.icn-wrap {
		left: 0;
	}
}

/**
 * Input with a right icon:
 * `.ctrl--icn-right`
 *
 *     @example
 *     div.ctrl.ctrl--icn-right
 *         input(type='text', placeholder='Pill input').input
 *         span.icn-wrap
 *             i.icon.ion-md-search.icn-wrap__icn
 */

.ctrl--icn-right {
	.input {
		padding-right: $ctrl__icn-wrap-width;
	}

	.icn-wrap {
		right: 0;
	}
}

/**
 * Textarea:
 * `.tarea`
 *
 *     @example
 *     textarea(placeholder='Textarea', rows='5').tarea
 */

 /**
 * Checkbox and radio:
 *
 *     @example
 *     div.row
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl.ctrl--check
 *                     input(id='eg-checkbox-1', type='checkbox', value='')
 *                     label(for='eg-checkbox-1') Checkbox
 *                 div.ctrl.ctrl--check
 *                     input(id='eg-checkbox-2', type='checkbox', value='')
 *                     label(for='eg-checkbox-2') Checkbox
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl.ctrl--check
 *                     input(checked, id='eg-radio-1', name='radio', type='radio', value='')
 *                     label(for='eg-radio-1') Radio
 *                 div.ctrl.ctrl--check
 *                     input(id='eg-radio-2', name='radio', type='radio', value='')
 *                     label(for='eg-radio-2') Radio
 */

.ctrl--check {
	[ type='checkbox' ],
	[ type='radio' ] {
		margin-top: $ctrl--check__input-margin-top;

		position: absolute;

		top: 0;
		left: 0;
	}

	label {
		padding-left: $ctrl--check__label-padding-left;
	}
}

/**
 * Inline checkbox and radio:
 *
 *     @example
 *     div.row
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl.ctrl--check.ctrl--inline
 *                     input(id='eg-checkbox-inline-1', type='checkbox', value='')
 *                     label(for='eg-checkbox-inline-1') Checkbox
 *                 div.ctrl.ctrl--check.ctrl--inline
 *                     input(id='eg-checkbox-inline-2', type='checkbox', value='')
 *                     label(for='eg-checkbox-inline-2') Checkbox
 *                 div.ctrl.ctrl--check.ctrl--inline
 *                     input(id='eg-checkbox-inline-3', type='checkbox', value='')
 *                     label(for='eg-checkbox-inline-3') Checkbox
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl.ctrl--check.ctrl--inline
 *                     input(checked, id='eg-radio-inline-1', name='radio-inline', type='radio', value='')
 *                     label(for='eg-radio-inline-1') Radio
 *                 div.ctrl.ctrl--check.ctrl--inline
 *                     input(id='eg-radio-inline-2', name='radio-inline', type='radio', value='')
 *                     label(for='eg-radio-inline-2') Radio
 *                 div.ctrl.ctrl--check.ctrl--inline
 *                     input(id='eg-radio-inline-3', name='radio-inline', type='radio', value='')
 *                     label(for='eg-radio-inline-3') Radio
 */

.ctrl--check.ctrl--inline {
	display: inline-flex;

	&:not( :last-child ) {
		margin-right: $ctrl--check__label-padding-left;
	}
}

/**
 * Custom checkbox and radio:
 * `.ctrl--custom-check`
 *
 *     @example
 *     div.row
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl.ctrl--custom-check
 *                     input(id='eg-checkbox-custom-1', type='checkbox', value='')
 *                     label(for='eg-checkbox-custom-1')
 *                         div.indic.indic--checkbox
 *                         | Checkbox
 *                 div.ctrl.ctrl--custom-check
 *                     input(id='eg-checkbox-custom-2', type='checkbox', value='')
 *                     label(for='eg-checkbox-custom-2')
 *                         div.indic.indic--checkbox
 *                         | Checkbox
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl.ctrl--custom-check
 *                     input(checked, id='eg-radio-custom-1', name='radio-custom', type='radio', value='')
 *                     label(for='eg-radio-custom-1')
 *                         div.indic.indic--radio
 *                         | Radio
 *                 div.ctrl.ctrl--custom-check
 *                     input(id='eg-radio-custom-2', name='radio-custom', type='radio', value='')
 *                     label(for='eg-radio-custom-2')
 *                         div.indic.indic--radio
 *                         | Radio
 */

.ctrl--custom-check {
	&:not( :last-child ) {
		margin-bottom: $ctrl--custom-check-margin-bottom;
	}

	[ type='checkbox' ],
	[ type='radio' ] {
		opacity: 0;
		position: absolute;
		z-index: -1;

		&:checked {
			~ label {
				.indic {
					background-color: $day__color-primary;
					border-color: $day__color-primary;

					&:after {
						display: block;
					}
				}

				.indic--checkbox,
				.indic--radio {
					&:after {
						border-width: $tick-border-width;
						border-style: $tick-border-style;
						border-color: $day__tick-border-color;

						top: $tick-top;
						transform: $tick-transform;

						width: $tick-width;
						height: $tick-height;
					}
				}
			}

			&:hover ~ label .indic {
				background-color: shade( $day__color-primary, $el-hover-amount );
			}

			&:active ~ label .indic {
				background-color: shade( $day__color-primary, $el-active-amount );
			}
		}
	}

	label {
		padding-left: $ctrl--custom-check__label-padding-left;

		&:hover {
			.indic {
				background-color: $day__el-hover-bg-color;
				border-color: $day__el-hover-border-color;
			}
		}
	}
}

.night .ctrl--custom-check {
	[ type='checkbox' ],
	[ type='radio' ] {
		&:checked {
			~ label {
				.indic {
					background-color: $ngt__color-primary;
					border-color: $ngt__color-primary;
				}

				.indic--checkbox,
				.indic--radio {
					&:after {
						border-color: $ngt__tick-border-color;
					}
				}
			}

			&:hover ~ label .indic {
				background-color: shade( $day__color-primary, $el-hover-amount );
			}

			&:active ~ label .indic {
				background-color: shade( $day__color-primary, $el-active-amount );
			}
		}
	}

	label {
		&:hover {
			.indic {
				background-color: $ngt__el-hover-bg-color;
				border-color: $ngt__el-hover-border-color;
			}
		}
	}
}

.indic {
	background-color: $day__indic-bg-color;

	border-width: $indic-border-width;
	border-style: $indic-border-style;
	border-color: $day__indic-border-color;

	display: flex;
	justify-content: center;

	margin-top: $indic-margin-top;

	position: absolute;
	top: 0;
	left: 0;

	width: $indic-width;
	height: $indic-height;

	transition: $transition-base;

	&:after {
		content: '';
		display: none;
		position: absolute;
	}
}

.night .indic {
	background-color: $ngt__indic-bg-color;
	border-color: $ngt__indic-border-color;
}

.indic--checkbox {
	border-radius: $indic--checkbox-border-radius;
}

.indic--radio {
	border-radius: 50%;
}

/**
 * Custom flat checkbox and radio:
 *
 *     @example
 *     div.row
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl.ctrl--custom-check.ctrl--flat
 *                     input(id='eg-checkbox-custom-flat-1', type='checkbox', value='')
 *                     label(for='eg-checkbox-custom-flat-1')
 *                         div.indic.indic--checkbox
 *                         | Checkbox
 *                 div.ctrl.ctrl--custom-check.ctrl--flat
 *                     input(id='eg-checkbox-custom-flat-2', type='checkbox', value='')
 *                     label(for='eg-checkbox-custom-flat-2')
 *                         div.indic.indic--checkbox
 *                         | Checkbox
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl.ctrl--custom-check.ctrl--flat
 *                     input(checked, id='eg-radio-custom-flat-1', name='radio-custom-flat', type='radio', value='')
 *                     label(for='eg-radio-custom-flat-1')
 *                         div.indic.indic--radio
 *                         | Radio
 *                 div.ctrl.ctrl--custom-check.ctrl--flat
 *                     input(id='eg-radio-custom-flat-2', name='radio-custom-flat', type='radio', value='')
 *                     label(for='eg-radio-custom-flat-2')
 *                         div.indic.indic--radio
 *                         | Radio
 */

.ctrl--custom-check.ctrl--flat .indic {
	background-color: $day__ctrl--custom-check--flat__indic-bg-color;
	border-color: transparent;
}

.night .ctrl--custom-check.ctrl--flat .indic {
	background-color: $ngt__ctrl--custom-check--flat__indic-bg-color;
	border-color: transparent;
}

.ctrl--custom-check.ctrl--flat label {
	&:hover {
		.indic {
			background-color: shade( $day__ctrl--custom-check--flat__indic-bg-color, $el-hover-amount );
			border-color: transparent;
		}
	}

	&:active {
		.indic {
			background-color: shade( $day__ctrl--custom-check--flat__indic-bg-color, $el-active-amount );
			border-color: transparent;
		}
	}
}

.night .ctrl--custom-check.ctrl--flat label {
	&:hover {
		.indic {
			background-color: tint( $ngt__ctrl--custom-check--flat__indic-bg-color, $el-hover-amount );
			border-color: transparent;
		}
	}

	&:active {
		.indic {
			background-color: tint( $ngt__ctrl--custom-check--flat__indic-bg-color, $el-active-amount );
			border-color: transparent;
		}
	}
}

/**
 * Inline custom checkbox and radio:
 *
 *     @example
 *     div.row
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl.ctrl--custom-check.ctrl--inline
 *                     input(id='eg-checkbox-inline-custom-1', type='checkbox', value='')
 *                     label(for='eg-checkbox-inline-custom-1')
 *                         div.indic.indic--checkbox
 *                         | Checkbox
 *                 div.ctrl.ctrl--custom-check.ctrl--inline
 *                     input(id='eg-checkbox-inline-custom-2', type='checkbox', value='')
 *                     label(for='eg-checkbox-inline-custom-2')
 *                         div.indic.indic--checkbox
 *                         | Checkbox
 *                 div.ctrl.ctrl--custom-check.ctrl--inline
 *                     input(id='eg-checkbox-inline-custom-3', type='checkbox', value='')
 *                     label(for='eg-checkbox-inline-custom-3')
 *                         div.indic.indic--checkbox
 *                         | Checkbox
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl.ctrl--custom-check.ctrl--inline
 *                     input(checked, id='eg-radio-inline-custom-1', name='radio-inline-custom', type='radio', value='')
 *                     label(for='eg-radio-inline-custom-1')
 *                         div.indic.indic--radio
 *                         | Radio
 *                 div.ctrl.ctrl--custom-check.ctrl--inline
 *                     input(id='eg-radio-inline-custom-2', name='radio-inline-custom', type='radio', value='')
 *                     label(for='eg-radio-inline-custom-2')
 *                         div.indic.indic--radio
 *                         | Radio
 *                 div.ctrl.ctrl--custom-check.ctrl--inline
 *                     input(id='eg-radio-inline-custom-3', name='radio-inline-custom', type='radio', value='')
 *                     label(for='eg-radio-inline-custom-3')
 *                         div.indic.indic--radio
 *                         | Radio
 */

.ctrl--custom-check.ctrl--inline {
	display: inline-flex;

	&:not( :last-child ) {
		margin-right: #{ $ctrl--check__label-padding-left + 0.25 };
	}
}

/**
 * Select menu:
 * `.sel`
 *
 *     @example
 *     select.sel
 *         option Option 1
 *         option Option 2
 *         option Option 3
 */

.sel {
	background-color: $day__sel-bg-color;
	border-width: $sel-border-width;
	border-style: $sel-border-style;
	border-color: $sel-border-color;
	border-radius: $sel-border-radius;
	color: $day__sel-color;
	display: block;
	font-size: $sel-font-size;
	line-height: $sel-line-height;
	padding: $sel-padding-y $sel-padding-x;
	transition: $input-transition;
	width: 100%;

	// -ms-touch-action: manipulation;
	// touch-action: manipulation;

	&:focus,
	&:focus:hover {
		border-color: $day__sel-focus-border-color;
		box-shadow: $day__sel-focus-box-shadow;
	}

	&:hover {
		border-color: $day__sel-hover-border-color;
	}

	option {
		color: $day__sel__option-color;
	}
}

.night .sel {
	background-color: $ngt__sel-bg-color;
	border-color: $ngt__sel-border-color;
	color: $ngt__sel-color;

	&:focus,
	&:focus:hover {
		border-color: $ngt__sel-focus-border-color;
		box-shadow: $ngt__sel-focus-box-shadow;
	}

	&:hover {
		border-color: $ngt__sel-hover-border-color;
	}

	option {
		color: $ngt__sel__option-color;
	}
}

/**
 * Custom select menu:
 * `.ctrl--custom-sel`
 *
 *     @example
 *     div.ctrl.ctrl--custom-sel
 *         select.sel
 *             option Option 1
 *             option Option 2
 *             option Option 3
 */

.ctrl--custom-sel {
	.sel {
		-webkit-appearance: none;
		-moz-appearance: none;

		padding-right: $ctrl--custom-sel__sel-padding-right;
	}

	&:after {
		border-width: $ctrl--custom-sel-after-border-width;
		border-style: $ctrl--custom-sel-after-border-style;
		border-color: $day__ctrl--custom-sel-after-border-color;
		border-right: 0;
		border-top: 0;

		content: '';
		display: block;

		width: $ctrl--custom-sel-after-width;
		height: $ctrl--custom-sel-after-height;

		margin-top: $ctrl--custom-sel-after-margin-top;
		position: absolute;
		top: $ctrl--custom-sel-after-top;
		right: $ctrl--custom-sel-after-right;

		pointer-events: none;
		transform: $ctrl--custom-sel-after-transform;
	}
}

.night .ctrl--custom-sel {
	&:after {
		border-color: $ngt__ctrl--custom-sel-after-border-color;
	}
}

/**
 * Select menu size:
 * `.sel--[size]` `.ctrl--[size]`
 *
 *     @example
 *     div.row
 *         div.sm-col-6
 *             div.fld
 *                 select.sel.sel--sm
 *                     option Option 1
 *                     option Option 2
 *                     option Option 3
 *             div.fld
 *                 select.sel.sel--lg
 *                     option Option 1
 *                     option Option 2
 *                     option Option 3
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl.ctrl--custom-sel.ctrl--sm
 *                     select.sel.sel--sm
 *                         option Option 1
 *                         option Option 2
 *                         option Option 3
 *             div.fld
 *                 div.ctrl.ctrl--custom-sel.ctrl--lg
 *                     select.sel.sel--lg
 *                         option Option 1
 *                         option Option 2
 *                         option Option 3
 */

.sel--sm {
	border-radius: $sel--sm-border-radius;
	font-size: $sel--sm-font-size;
	padding: $sel--sm-padding-y $sel--sm-padding-x;
}

.sel--lg {
	border-radius: $sel--lg-border-radius;
	font-size: $sel--lg-font-size;
	padding: $sel--lg-padding-y $sel--lg-padding-x;
}

.ctrl--custom-sel.ctrl--sm {
	.sel--sm {
		padding-right: $ctrl--custom-sel--sm-padding-right;
	}

	&:after {
		width: $ctrl--custom-sel--sm-after-width;
		height: $ctrl--custom-sel--sm-after-height;

		margin-top: $ctrl--custom-sel--sm-after-margin-top;
		right: $ctrl--custom-sel--sm-after-right;
	}
}

.ctrl--custom-sel.ctrl--lg {
	.sel--lg {
		padding-right: $ctrl--custom-sel--lg-padding-right;
	}

	&:after {
		width: $ctrl--custom-sel--lg-after-width;
		height: $ctrl--custom-sel--lg-after-height;

		margin-top: $ctrl--custom-sel--lg-after-margin-top;
		right: $ctrl--custom-sel--lg-after-right;
	}
}

/**
 * Flat select menu:
 * `.sel--flat`
 *
 *     @example
 *     div.row
 *         div.sm-col-6
 *             div.fld
 *                 select.sel.sel--flat
 *                     option Option 1
 *                     option Option 2
 *                     option Option 3
 *         div.sm-col-6
 *             div.fld
 *                 div.ctrl.ctrl--custom-sel
 *                     select.sel.sel--flat
 *                         option Option 1
 *                         option Option 2
 *                         option Option 3
 */

.sel--flat {
	background-color: $day__sel--flat-bg-color;
	border-color: transparent;

	&:valid {
		border-color: transparent;
	}

	&:focus,
	&:focus:hover {
		border-color: $day__sel-focus-border-color;
	}

	&:hover {
		background-color: $day__sel--flat-hover-bg-color;
		border-color: transparent;
	}
}

.night .sel--flat,
.navbar--dark .sel--flat {
	background-color: $ngt__sel--flat-bg-color;
	border-color: transparent;

	&:valid {
		border-color: transparent;
	}

	&:focus,
	&:focus:hover {
		border-color: $ngt__sel-focus-border-color;
	}

	&:hover {
		background-color: $ngt__sel--flat-hover-bg-color;
		border-color: transparent;
	}
}
