
@import '../partials/_all';


/***
 * Image:
 */

 /**
  * Responsive image:
  * `.img--responsive`
  *
  *     @example
  *     img( src='holder.js/1240x320?auto=yes' ).img-responsive
  */

.img-responsive {
	max-width: 100%;
	height: auto;
}

.img {
	display: block;
	position: relative;
}

@each $key, $value in $fixed-sq-imgs {

	/**
	 * #{ $key }x#{ $value } image:
	 * `.img--[#]`
	 *
	 *     @example
	 *     div.img.img--#{ $key }x#{ $key }
	 *         img( src='holder.js/64x64' )
	 */

	.img--#{ $key }x#{ $key } {
		width: #{ $value };
		height: #{ $value };
	}

}

svg {
	stroke: $day__body-color;
}

.night svg {
	stroke: $ngt__body-color;
}
