
@import '../partials/_all';


/***
 * Image:
 */

.img-responsive {
	max-width: 100%;
	height: auto;
}

.img {
	display: block;
	position: relative;

	@each $key, $value in $fixed-square-images {

		&--#{ $key }x#{ $key } {
			width: #{ $value };
			height: #{ $value };
		}

	}
}
