
@import '../partials/_all';


/***
 * Image:
 */

.img-responsive {
	max-width: 100%;
	height: auto;
}

.img {
	display: block;
	position: relative;

	@each $key, $value in $fixed-sq-imgs {

		&--#{ $key }x#{ $key } {
			width: #{ $value };
			height: #{ $value };
		}

	}
}

svg {
	stroke: $day__body-color;
}

.night svg {
	stroke: $ngt__body-color;
}
