@import '../partials/_all';


/***
 * Input group:
 */

/**
 * Button addons:
 * `.input-group`
 *
 *     @example
 *     div.input-group
 *         div.input-group-btn
 *             input(type='search', placeholder='Search...').input
 *             button.btn.btn--secondary Go
 */

/**
 * Mixed addons:
 * `.input-group`
 *
 *     @example
 *     div.input-group
 *         label.lbl Search:
 *         div.input-group-btn
 *             input(type='search').input
 *             button.btn.btn--secondary Go
 */
.input-group {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;

	.lbl {
		margin-bottom: 0;

		&:first-child {
			margin-right: $spacing-unit-quarter;

			& + .input-group-btn {
				flex-grow: 2;
				width: auto;
			}
		}
	}
}

.input-group-btn {
	border-radius: $control-border-radius;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	position: relative;
	width: 100%;

	> *:not(:last-child) {
		margin-right: -#{$control-border-width};
	}

	.input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;

		min-width: $spacing-unit-base * 3;

		&:first-child {
			flex: 1 1 auto;
		}

		&:last-child {
			border-top-right-radius: $input-border-radius;
			border-bottom-right-radius: $input-border-radius;
		}

		&:focus,
		&:focus:hover,
		&:active {
			border-color: $input-group-btn-input-focus-border-color;
		}

		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			z-index: 3;
		}
	}

	.btn {
		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

/**
 * Input group size:
 * `.input-group--[size]`
 *
 *     @example
 *     div.fld.input-group.input-group--lg
 *         div.input-group-btn
 *             input(type='search', placeholder='Search...').input
 *             button.btn.btn--secondary Go
 *     div.fld.input-group.input-group--sm
 *         div.input-group-btn
 *             input(type='search', placeholder='Search...').input
 *             button.btn.btn--secondary Go
 */
.input-group--sm {
	.btn {
		border-radius: $button-small-border-radius;
		font-size: $button-small-font-size;
		padding: $button-small-padding-y $button-small-padding-x;
	}

	.input {
		font-size: $input-small-font-size;
		padding: $input-small-padding-y $input-small-padding-x;

		&:last-child {
			border-top-right-radius: $input-small-border-radius;
			border-bottom-right-radius: $input-small-border-radius;
		}
	}
}

.input-group--lg {
	.btn {
		border-radius: $button-large-border-radius;
		font-size: $button-large-font-size;
		padding: $button-large-padding-y $button-large-padding-x;
	}

	.input {
		font-size: $input-large-font-size;
		padding: $input-large-padding-y $input-large-padding-x;

		&:last-child {
			border-top-right-radius: $input-large-border-radius;
			border-bottom-right-radius: $input-large-border-radius;
		}
	}
}

/**
 * Pill input group button:
 * `.input-group-btn--pill`
 *
 *     @example
 *     div.input-group
 *         div.input-group-btn.input-group-btn--pill
 *             input(type='search', placeholder='Search...').input
 *             button.btn.btn--secondary Go
 */
.input-group-btn--pill {
	> :first-child {
		border-top-left-radius: 2em;
		border-bottom-left-radius: 2em;
	}

	> :last-child {
		border-top-right-radius: 2em;
		border-bottom-right-radius: 2em;
	}
}
