@import '../partials/_all';


/***
 * Item group:
 */

/**
 * Standard item group:
 * `.item-group`
 *
 *     @example
 *     div.item-group
 *         div.item
 *             img(src="http://via.placeholder.com/48x48")
 *         div.item
 *             p.m-0
 *                 strong John Doe
 *             p.m-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */

.item-group {
	display: flex;
	align-items: flex-start;

	padding: $item-group-padding;

	&:not(:last-child) {
		border-bottom-width: $item-group-border-width;
		border-bottom-style: $item-group-border-style;
		border-bottom-color: $day__item-group-border-color;

		margin-bottom: $item-group-not-last-child-margin-bottom;
		padding-bottom: $item-group-not-last-child-padding-bottom;
	}
}

.night .item-group {
	&:not(:last-child) {
		border-bottom-color: $ngt__item-group-border-color;
	}
}

.item-group__lbl {
	background-color: $day__item-group-label-bg-color;
	color: $day__item-group-label-color;
	padding: $item-group-label-padding;
	text-align: $item-group-label-text-align;
}

.night .item-group__lbl {
	background-color: $ngt__item-group-label-bg-color;
	color: $ngt__item-group-label-color;
}

.item {
	display: block;

	&:not(:first-child) {
		margin-left: $item-not-first-child-margin-left;
	}
}

/**
 * Multiple item groups:
 * `.item-group`
 *
 *     @example
 *     div.item-group
 *         div.item
 *             img(src="http://via.placeholder.com/48x48")
 *         div.item
 *             p.m-0
 *                 strong John Doe
 *             p.m-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     div.item-group
 *         div.item
 *             img(src="http://via.placeholder.com/48x48")
 *         div.item
 *             p.m-0
 *                 strong John Doe
 *             p.m-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     div.item-group
 *         div.item
 *             img(src="http://via.placeholder.com/48x48")
 *         div.item
 *             p.m-0
 *                 strong John Doe
 *             p.m-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */

/**
 * Vertical center item:
 *
 *     @example
 *     div.item-group.ai-center
 *         div.item
 *             img(src="http://via.placeholder.com/48x48")
 *         div.item
 *             p.m-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     div.item-group.ai-center
 *         div.item
 *             img(src="http://via.placeholder.com/48x48")
 *         div.item
 *             p.m-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     div.item-group.ai-center
 *         div.item
 *             img(src="http://via.placeholder.com/48x48")
 *         div.item
 *             p.m-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
