@import '../partials/_all';


/***
 * Item group:
 */

/**
 * Standard item group:
 * `.item-group`
 *
 *     @example
 *     div.item-group
 *         div.item.fxg-0
 *             img(src="http://via.placeholder.com/48x48")
 *         div.item.fxd-col
 *             p.m-0
 *                 strong John Doe
 *             p.m-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */

.item-group {
	display: flex;
	flex-grow: 1;
}

// .item-group__lbl {
// 	background-color: $day__item-group-label-bg-color;
// 	color: $day__item-group-label-color;
// 	padding: $item-group-label-padding;
// 	text-align: $item-group-label-text-align;
// }

// .night .item-group__lbl {
// 	background-color: $ngt__item-group-label-bg-color;
// 	color: $ngt__item-group-label-color;
// }

.item {
	display: flex;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 0;

    padding-right: $item-padding-x;
    padding-left: $item-padding-x;

	&:first-child {
		padding-left: 0;
	}
}

/**
 * Multiple item groups:
 * `.item-group`
 *
 *     @example
 *     div.item-group.m-bottom-1
 *         div.item.fxg-0
 *             img(src="http://via.placeholder.com/48x48")
 *         div.item.fxd-col
 *             p.m-0
 *                 strong John Doe
 *             p.m-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     div.item-group.m-bottom-1
 *         div.item.fxg-0
 *             img(src="http://via.placeholder.com/48x48")
 *         div.item.fxd-col
 *             p.m-0
 *                 strong John Doe
 *             p.m-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 *     div.item-group
 *         div.item.fxg-0
 *             img(src="http://via.placeholder.com/48x48")
 *         div.item.fxd-col
 *             p.m-0
 *                 strong John Doe
 *             p.m-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */

/**
 * Vertical center item:
 *
 *     @example
 *     div.item-group.ai-center
 *         div.item.fxg-0
 *             img(src="http://via.placeholder.com/48x48")
 *         div.item
 *             p.m-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
