
@import '../partials/_all';


/***
 * List:
 */

 /**
 * Unstyled list:
 * `.ls`
 *
 *     @example
 *     ul.ls
 *         li Apricot
 *         li Banana
 *         li Cherry
 *             ul
 *                 li Caramel
 *                 li Ice cream
 */

.ls {
	list-style: none;
	padding-left: 0;
}

 /**
 * Inline list:
 * `.ls--inline`
 *
 *     @example
 *     ul.ls--inline
 *         li Apricot
 *         li Banana
 *         li Cherry
 */

.ls--inline {
	li {
		display: inline-block;

		&:not( :last-child ) {
			margin-right: $ls-inline__item-not-last-margin-right;
		}
	}
}
