
@import '../partials/_all';


/***
 * List:
 */

/**
 * Unstyled list:
 * `.ls`
 *
 *     @example
 *     ul.ls
 *         li Apricot
 *         li Banana
 *         li Cherry
 *             ul
 *                 li Caramel
 *                 li Ice cream
 */

.ls {
	list-style: none;
	padding-left: 0;

	> li {
		margin: $list__li-margin;
	}
}

/**
 * Inline list:
 * `.ls--inline`
 *
 *     @example
 *     ul.ls.ls--inline
 *         li Apricot
 *         li Banana
 *         li Cherry
 */

.ls--inline {
	> li {
		display: inline-block;

		&:not( :last-child ) {
			margin-right: $ls--inline__li-margin-right;
		}
	}
}
