
@import '../partials/_all';


/***
 * Switch:
 */

/**
 * Standard switch:
 * `.sw`
 *
 *     @example
 *     div.row
 *         div.md-col-6
 *             div.fld
 *                 div.sw
 *                     input(id='eg-switch', type='checkbox')
 *                     label(for='eg-switch')
 *         div.md-col-6
 *             div.fld
 *                 div.sw
 *                     input(id='eg-sw-checked', type='checkbox' checked)
 *                     label(for='eg-sw-checked')
 */

.sw {
	display: inline-flex;

	[ type='checkbox' ] {
		opacity: 0;
		position: absolute;
		z-index: -1;

		&:checked {
			& + label {
				&:before {
					background-color: $day__sw__checked__label-before-bg-color;
					box-shadow: $sw__label-box-shadow;

					@if $sw__label-border != none {

						top: -#{ $el-border-width };

					}

					transition: $sw__checked__label-before-transition;
				}

				&:after {
					left: $sw__checked__label-after-left;
				}

				.sw__on {
					color: $day__sw__checked__label__sw__on-color;
					transform: translate3d( 0, -50%, 0 );
				}

				.sw__off {
					color: $day__sw__checked__label__sw__off-color;
					transform: translate3d( #{ $sw__off-right * 3 }, -50%, 0 );
				}
			}
		}
	}

	label {
		background-color: $day__sw__label-bg-color;
		border: $sw__label-border;
		border-radius: $sw__label-border-radius;
		box-shadow: $sw__label-box-shadow;
		display: inline-block;
		position: relative;
		user-select: none;

		overflow: hidden;

		width: $sw__label-width;
		height: $sw__label-height;

		&:before {
			background-color: transparent;
			border-radius: $sw__label-border-radius;
			content: '';
			display: block;

			position: absolute;
			top: 0;
			left: 0;

			width: $sw__label-width;
			height: $sw__label-height;

			transition: $sw__label-before-transition;
		}

		// Toggle.

		&:after {
			background-color: $day__sw__label-after-bg-color;
			box-shadow: $sw__label-after-box-shadow;
			border-radius: $sw__label-border-radius;
			content: '';
			display: block;
			margin-top: -( $sw__label-after-height / 2 );

			position: absolute;
			top: $sw__label-after-top;
			left: $sw__label-after-left;

			width: $sw__label-after-width;
			height: $sw__label-after-height;

			transition: $sw__label-after-transition;
		}
	}
}

.night .sw {
	[ type='checkbox' ] {
		&:checked {
			& + label {
				&:before {
					background-color: $ngt__sw__checked__label-before-bg-color;
				}

				.sw__on {
					color: $ngt__sw__checked__label__sw__on-color;
				}

				.sw__off {
					color: $ngt__sw__checked__label__sw__off-color;
				}
			}
		}
	}

	label {
		background-color: $ngt__sw__label-bg-color;

		// Toggle.

		&:after {
			background-color: $ngt__sw__label-after-bg-color;
		}
	}
}

/**
 * Switch with labels:
 * `.sw`
 *
 *     @example
 *     div.row
 *         div.md-col-6
 *             div.fld
 *                 div.item-group.ai-center
 *                     div.item.fxg-0
 *                         div.sw
 *                             input(id='eg-sw-with-inner-labels', type='checkbox')
 *                             label(for='eg-sw-with-inner-labels')
 *                                 span.sw__on  Yes
 *                                 span.sw__off
 *                     div.item
 *                         span Switch with inner labels
 */

.sw__on,
.sw__off {
	font-size: $sw__inner-label-font-size;
	font-weight: $sw__inner-label-font-weight;
	letter-spacing: $sw__inner-label-letter-spacing;
	line-height: $sw__inner-label-line-height;
	position: absolute;
	text-transform: $sw__inner-label-text-transform;
	top: $sw__inner-label-top;
	transform: $sw__inner-label-transform;
	transition: $transition-base,
				transform $transition-duration $transition-timing-function;

	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.sw__on {
	color: $day__sw__on-color;
	left: $sw__on-left;

	transform: translate3d( -#{ $sw__on-left * 3 }, -50%, 0 );
}

.sw__off {
	color: $day__sw__off-color;
 	right: $sw__off-right;

	transform: translate3d( 0, -50%, 0 );
}

.night .sw__on {
	color: $ngt__sw__on-color;
}

.night .sw__off {
	color: $ngt__sw__off-color;
}

/**
 * Switch size:
 * `.sw--[size]`
 *
 *     @example
 *     div.row
 *         div.md-col-6
 *             div.fld
 *                 div.sw.sw--sm
 *                     input(id='eg-sw-sm', type='checkbox')
 *                     label(for='eg-sw-sm')
 *             div.fld
 *                 div.sw.sw--lg
 *                     input(id='eg-sw-lg', type='checkbox')
 *                     label(for='eg-sw-lg')
 *         div.md-col-6
 *             div.fld
 *                 div.item-group.ai-center
 *                     div.item.fxg-0
 *                         div.sw.sw--sm
 *                             input(id='eg-sw-with-inner-labels-sm', type='checkbox')
 *                             label(for='eg-sw-with-inner-labels-sm')
 *                                 span.sw__on  Yes
 *                                 span.sw__off
 *                     div.item
 *                         span Small switch
 *             div.fld
 *                 div.item-group.ai-center
 *                     div.item.fxg-0
 *                         div.sw.sw--lg
 *                             input(id='eg-sw-with-inner-labels-lg', type='checkbox')
 *                             label(for='eg-sw-with-inner-labels-lg')
 *                                 span.sw__on  Yes
 *                                 span.sw__off
 *                     div.item
 *                         span Large switch
 */

.sw--sm {
	label {
		border-radius: $sw--sm__label-border-radius;

		width: $sw--sm__label-width;
		height: $sw--sm__label-height;

		&:before {
			border-radius: $sw--sm__label-border-radius;

			width: $sw--sm__label-width;
			height: $sw--sm__label-height;
		}

		// Toggle.

		&:after {
			border-radius: $sw--sm__label-border-radius;
			margin-top: -( $sw--sm__label-after-height / 2 );

			width: $sw--sm__label-after-width;
			height: $sw--sm__label-after-height;

			left: $sw--sm__label-after-left;
		}
	}

	[ type='checkbox' ]:checked {
		& + label {
			&:after {
				left: $sw--sm-checked-label-after-left;
			}
		}
	}

	.sw__on,
	.sw__off {
		font-size: $sw--sm__inner-label-font-size;
	}

	.sw__on {
		left: $sw--sm__sw__on-left;
	}

	.sw__off {
	 	right: $sw--sm__sw__off-right;
	}
}

.sw--lg {
	label {
		border-radius: $sw--lg__label-border-radius;

		width: $sw--lg__label-width;
		height: $sw--lg__label-height;

		&:before {
			border-radius: $sw--lg__label-border-radius;

			width: $sw--lg__label-width;
			height: $sw--lg__label-height;
		}

		// Toggle.

		&:after {
			border-radius: $sw--lg__label-border-radius;
			margin-top: -( $sw--lg__label-after-height / 2 );

			width: $sw--lg__label-after-width;
			height: $sw--lg__label-after-height;

			left: $sw--lg__label-after-left;
		}
	}

	[ type='checkbox' ]:checked {
		& + label {
			&:after {
				left: $sw--lg-checked-label-after-left;
			}
		}
	}

	.sw__on,
	.sw__off {
		font-size: $sw--lg__inner-label-font-size;
	}

	.sw__on {
		left: $sw--lg__sw__on-left;
	}

	.sw__off {
	 	right: $sw--lg__sw__off-right;
	}
}
