
@import '../partials/_all';


/***
 * Table:
 */

/**
 * Table:
 * `.tbl` Tables are styled nicely for you.
 *
 *     @example
 *     table.tbl
 *         thead
 *             tr
 *                 th Table heading
 *                 th Table heading
 *                 th Table heading
 *         tbody
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 */

.tbl {
	// border-spacing: 0;

	tr {
		th, td {
			border-top-width: $tbl-border-width;
			border-top-style: $tbl-border-style;
		}
	}

	th, td {
		&:not( :last-child ) {
			border-right-width: $tbl-border-width;
			border-right-style: none;
		}
	}

	th {
		background-color: $day__tbl__th-bg-color;
		font-size: $tbl__th-font-size;
		font-weight: $tbl__th-font-weight;
	}

	th, td {
		border-color: $day__tbl-border-color;
		padding: $tbl__cell-padding-y $tbl__cell-padding-x;
		vertical-align: $tbl__cell-vertical-align;
	}
}

.night .tbl {
	th {
		background-color: $ngt__tbl__th-bg-color;
	}

	th, td {
		border-color: $ngt__tbl-border-color;
	}
}

/**
 * Bordered table:
 * `.tbl--bordered`
 *
 *     @example
 *     table.tbl.tbl--bordered
 *         thead
 *             tr
 *                 th Table heading
 *                 th Table heading
 *                 th Table heading
 *         tbody
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 */

.tbl--bordered {
	border-width: $tbl-border-width;
	border-style: $tbl-border-style;
	border-color: $day__tbl-border-color;

	thead {
		tr:first-child {
			th, td {
				border-top-width: $tbl-border-width;
				border-top-style: $tbl-border-style;
				border-top-color: $day__tbl-border-color;
			}
		}
	}

	tbody {
		tr:last-child {
			th, td {
				border-bottom-width: $tbl-border-width;
				border-bottom-style: $tbl-border-style;
				border-bottom-color: $day__tbl-border-color;
			}
		}
	}

	td, th {
		&:not( :last-child ) {
			border-right-style: $tbl-border-style;
		}
	}
}

.night .tbl--bordered {
	border-color: $ngt__tbl-border-color;

	thead {
		tr:first-child {
			th, td {
				border-top-color: $ngt__tbl-border-color;
			}
		}
	}

	tbody {
		tr:last-child {
			th, td {
				border-bottom-color: $ngt__tbl-border-color;
			}
		}
	}
}

/**
 * Responsive table:
 * `.tbl--responsive`
 *
 *     @example
 *     table.tbl.tbl--responsive
 *         thead
 *             tr
 *                 th Table heading
 *                 th Table heading
 *                 th Table heading
 *         tbody
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 */

.tbl--responsive {
	overflow-x: auto;
}

@media screen and ( max-width: $breakpoint-sm-min-width - 1 ) {

	.tbl--responsive {
		display: block;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		overflow-y: hidden;
	}

}

/**
 * Scrolling table:
 * `.tbl-scroll`
 *
 *     @example
 *     div.tbl-scroll
 *         table.tbl
 *             thead
 *                 tr
 *                     th Table heading
 *                     th Table heading
 *                     th Table heading
 *             tbody
 *                 tr
 *                     td Table data
 *                     td Table data
 *                     td Table data
 *                 tr
 *                     td Table data
 *                     td Table data
 *                     td Table data
 *                 tr
 *                     td Table data
 *                     td Table data
 *                     td Table data
 */

.tbl-scroll {
	overflow-x: auto;

	th, td {
		white-space: nowrap;
	}
}

/**
 * Striped table:
 * `.tbl--striped`
 *
 *     @example
 *     table.tbl.tbl--striped
 *         thead
 *             tr
 *                 th Table heading
 *                 th Table heading
 *                 th Table heading
 *         tbody
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 */

.tbl--striped {
	tbody {
		tr:nth-child( #{ $tbl-striped-index } ) {
			td, th {
				background-color: $day__tbl-striped-bg-color;
			}
		}
	}

	tr {
		th, td {
			border-top-color: $day__tbl-striped-border-color;
		}
	}
}

.night .tbl--striped {
	tbody {
		tr:nth-child( #{ $tbl-striped-index } ) {
			td, th {
				background-color: $ngt__tbl-striped-bg-color;
			}
		}
	}

	tr {
		th, td {
			border-top-color: $ngt__tbl-striped-border-color;
		}
	}
}
