
@import '../partials/_all';


/**
 * Toolbar:
 * `.tbar`
 *
 *     @example
 *     div.tbar
 *         div.btn-group.m-bottom-2
 *             button.btn.btn--secondary First
 *             button.btn.btn--secondary Second
 *             button.btn.btn--secondary Third
 *         button.btn.btn--secondary.m-bottom-2 Forth
 *         div.input-group.m-bottom-2
 *             div.input-group-btn
 *                 input(type='search', placeholder='Search...').input
 *                 button.btn.btn--secondary Go
 */
.tbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

	> *:not(:last-child) {
		margin-right: $spacing-unit-quarter;
	}

	> .input-group {
		width: auto;
	}
}
