/***
 * Cards:
 */

/**
 * Card:
 * `.card`
 *
 *     @example
 *     div.card.w-50
 *         div.card__body
 *             h4.card__title Card title
 *             div.card__content
 *                 p Lorem ipsum dolor sit amet, mei nisl meliore eu. Ne ius quaeque discere, homero inermis ex eos. Iuvaret quaestio sapientem te nec. Falli legendos expetendis ei sed, sed quidam interpretaris ei, ipsum soleat quaestio ad mel.
 *             ul.ls-inline.m-0
 *                 li
 *                     a(href="") First link
 *                 li
 *                     a(href="") Second link
 */
.card {
	border: $border-width $border-style $border-color;
	border-radius: $border-radius;

	transition: $base-transition;

	&:hover {
		box-shadow: $card-hover-box-shadow;
	}
}

.card__body {
	padding: $card-padding;
}
