/***
 * Collapse:
 */

/**
 * Open one:
 * `.collapse`
 *
 *     @example
 *     div
 *         input(checked, id='eg-open-one-toggle-1', name='open-one', type='radio').collapse-toggle
 *         label(for='eg-open-one-toggle-1').collapse__toggler.btn.btn--link Open accordion
 *         div.collapse
 *             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis malesuada orci vitae maximus. Nunc bibendum gravida nisi sit amet varius. Ut non dolor a erat rhoncus lobortis et in enim.
 *     div
 *         input(id='eg-open-one-toggle-2', name='open-one', type='radio').collapse-toggle
 *         label(for='eg-open-one-toggle-2').collapse__toggler.btn.btn--link Open accordion
 *         div.collapse
 *             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis malesuada orci vitae maximus. Nunc bibendum gravida nisi sit amet varius. Ut non dolor a erat rhoncus lobortis et in enim.
 */
.collapse {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	position: relative;
	transform: translateY(-$quarter-spacing-unit);
	transition: $collapse-transition;
	
	&.open {
		max-height: 100vh;
		opacity: 1;
		transform: translateY(0);
	}
}

.collapse-toggle {
	opacity: 0;
	position: absolute;
	z-index: -1;

	&:checked {
		~ .collapse {
			@extend .collapse.open;
		}
	}
}

/**
 * Open multiple:
 *
 *     @example
 *     div
 *         input(id='eg-open-multiple-toggle-1', type='checkbox').collapse-toggle
 *         label(for='eg-open-multiple-toggle-1').collapse__toggler.btn.btn--link Open accordion
 *         div.collapse
 *             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis malesuada orci vitae maximus. Nunc bibendum gravida nisi sit amet varius. Ut non dolor a erat rhoncus lobortis et in enim.
 *     div
 *         input(id='eg-open-multiple-toggle-2', type='checkbox').collapse-toggle
 *         label(for='eg-open-multiple-toggle-2').collapse__toggler.btn.btn--link Open accordion
 *         div.collapse
 *             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis malesuada orci vitae maximus. Nunc bibendum gravida nisi sit amet varius. Ut non dolor a erat rhoncus lobortis et in enim.
 */
