/***
 * Drawer:
 */

/**
 * Standard drawer:
 *
 *     @example
 *     div.drawer-wrapper
 *         input(type='checkbox', id='eg-open-drawer-right').drawer-toggle-right
 *         input(type='checkbox', id='eg-open-drawer-left').drawer-toggle-left
 *         div.doc-drawer.drawer.drawer--right
 *             div.p-4
 *                 label(for='eg-open-drawer-right').btn.btn--link Close
 *         div.doc-drawer.drawer.drawer--left
 *             div.p-4
 *                 label(for='eg-open-drawer-left').btn.btn--link Close
 *         div.drawer-outside
 *             div.p-4
 *                 p Lorem ipsum dolor sit amet, mei nisl meliore eu. Ne ius quaeque discere, homero inermis ex eos. Iuvaret quaestio sapientem te nec. Falli legendos expetendis ei sed, sed quidam interpretaris ei, ipsum soleat quaestio ad mel.
 *                 div.txt-center
 *                     label(for='eg-open-drawer-left').btn.btn--link Open left drawer
 *                     label(for='eg-open-drawer-right').btn.btn--link Open right drawer
 */
.drawer-wrapper {
	overflow: hidden;
	position: relative;
}

.drawer {
	background-color: $drawer-background-color;
	position: fixed;
	
	visibility: hidden;
	width: $drawer-width;
}

.night {
	.drawer {
		background-color: $night-drawer-background-color;
	}
}

.drawer--right {
	margin-right: -$drawer-width;
	
	top: 0;
	right: 0;
	bottom: 0;
}

.drawer--left {
	margin-left: -$drawer-width;
	
	top: 0;
	bottom: 0;
	left: 0;
}

.drawer--right,
.drawer--right ~ .drawer-outside {
	transition: margin-right $base-transition-duration $base-transition-timing-function, 
				  visibility $base-transition-duration $base-transition-timing-function;
}

.drawer--left,
.drawer--left ~ .drawer-outside {
	transition: margin-left $base-transition-duration $base-transition-timing-function, 
				 visibility $base-transition-duration $base-transition-timing-function;
}

.drawer-outside {
	transform: none;
}

.drawer-toggle {
	opacity: 0;
	position: absolute;
	z-index: -1;

	&:checked {
		~ .drawer {
			visibility: visible;
		}
	}
}

[class*='drawer-toggle-'] {
	@extend .drawer-toggle;
}

.drawer-toggle-right:checked {
	~ .drawer--right {
		margin-right: 0;
		
		& ~ .drawer-outside {
			margin-right: $drawer-width;
		}
	}
}

.drawer-toggle-left:checked {
	~ .drawer--left {
		margin-left: 0;
		
		& ~ .drawer-outside {
			margin-left: $drawer-width;
		}
	}
}

.open {
	&.drawer {
		visibility: visible;
	}

	&.drawer--right {
		margin-right: 0;
		
		& ~ .drawer-outside {
			margin-right: $drawer-width;
		}
	}

	&.drawer--left {
		margin-left: 0;
		
		& ~ .drawer-outside {
			margin-left: $drawer-width;
		}
	}
}

/**
 * Drawer with push:
 * `.drawer--push`
 *
 *     @example
 *     div.drawer-wrapper
 *         input(type='checkbox', id='eg-open-drawer-right-push').drawer-toggle-right
 *         input(type='checkbox', id='eg-open-drawer-left-push').drawer-toggle-left
 *         div.doc-drawer.drawer.drawer--right.drawer--push
 *             div.p-4
 *                 label(for='eg-open-drawer-right-push').btn.btn--link Close
 *         div.doc-drawer.drawer.drawer--left.drawer--push
 *             div.p-4
 *                 label(for='eg-open-drawer-left-push').btn.btn--link Close
 *         div.drawer-outside
 *             div.p-4
 *                 p Lorem ipsum dolor sit amet, mei nisl meliore eu. Ne ius quaeque discere, homero inermis ex eos. Iuvaret quaestio sapientem te nec. Falli legendos expetendis ei sed, sed quidam interpretaris ei, ipsum soleat quaestio ad mel.
 *                 div.txt-center
 *                     label(for='eg-open-drawer-left-push').btn.btn--link Open left drawer
 *                     label(for='eg-open-drawer-right-push').btn.btn--link Open right drawer
 */
.drawer--push.drawer--right {
	margin-right: 0;
	transform: translateX($drawer-width);
}

.drawer--push.drawer--left {
	margin-left: 0;
	transform: translateX(-$drawer-width);
}

.drawer--push,
.drawer--push ~ .drawer-outside {
	transition: transform $base-transition-duration $base-transition-timing-function, 
			    visibility $base-transition-duration $base-transition-timing-function;
}

[class*='drawer-toggle-']:checked {
	~ .drawer--push ~ .drawer-outside {
		margin: 0;
	}
}

.drawer-toggle-right:checked {
	~ .drawer--push.drawer--right {
		transform: translate(0, 0);
		
		& ~ .drawer-outside {
			transform: translateX(-$drawer-width);
		}
	}

	~ .drawer--push.drawer--left {
		transform: translateX(-$drawer-width);
	}
}

.drawer-toggle-left:checked {
	~ .drawer--push.drawer--left {
		transform: translate(0, 0);
		
		& ~ .drawer-outside {
			transform: translateX($drawer-width);
		}
	}

	~ .drawer--push.drawer--right {
		transform: translateX($drawer-width);
	}
}

.open {
	&.drawer--push ~ .drawer-outside {
		margin: 0;
	}

	&.drawer--push.drawer--right {
		transform: translate(0, 0);
		
		& ~ .drawer-outside {
			transform: translateX(-$drawer-width);
		}
	}

	&.drawer--push.drawer--left {
		transform: translate(0, 0);
		
		& ~ .drawer-outside {
			transform: translateX($drawer-width);
		}
	}
}

.close {
	&.drawer--push.drawer--right {
		transform: translateX($drawer-width);
	}

	&.drawer--push.drawer--left {
		transform: translateX(-$drawer-width);
	}
}

/**
 * Drawer with overlap:
 * `.drawer--overlap`
 *
 *     @example
 *     div.drawer-wrapper
 *         input(type='checkbox', id='eg-open-drawer-right-overlap').drawer-toggle-right
 *         input(type='checkbox', id='eg-open-drawer-left-overlap').drawer-toggle-left
 *         div.doc-drawer.drawer.drawer--right.drawer--overlap
 *             div.p-4
 *                 label(for='eg-open-drawer-right-overlap').btn.btn--link Close
 *         div.doc-drawer.drawer.drawer--left.drawer--overlap
 *             div.p-4
 *                 label(for='eg-open-drawer-left-overlap').btn.btn--link Close
 *         div.drawer-outside
 *             div.p-4
 *                 p Lorem ipsum dolor sit amet, mei nisl meliore eu. Ne ius quaeque discere, homero inermis ex eos. Iuvaret quaestio sapientem te nec. Falli legendos expetendis ei sed, sed quidam interpretaris ei, ipsum soleat quaestio ad mel.
 *                 div.txt-center
 *                     label(for='eg-open-drawer-left-overlap').btn.btn--link Open left drawer
 *                     label(for='eg-open-drawer-right-overlap').btn.btn--link Open right drawer
 */
[class*='drawer-toggle-']:checked {
	~ .drawer--overlap ~ .drawer-outside {
		margin: 0;
	}
}

.open {
	&.drawer--overlap ~ .drawer-outside {
		margin: 0;
	}
}
