/***
 * Menu:
 */

/**
 * Vertical menu:
 * `.menu`
 *
 *     @example
 *     ul.menu.flex-col
 *         li.active
 *             a(href='#') Link 1
 *         li
 *             a(href='#') Link 2
 *         li
 *             a(href='#') Link 3
 */
.menu {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	// margin: 0;
	padding-left: 0;

	li {
		display: block;
		margin: $menu-item-margin;
		padding: $menu-item-padding;

		&.active {
			a,
			a:hover {
				background-color: $menu-item-active-background-color;
			}
		}

		a {
			border-radius: $border-radius;
			color: $text-color;
			display: block;
			padding: $menu-link-padding;
			text-decoration: none;

			&:link,
			&:visited,
			&:hover,
			&:active {
				color: $text-color;
			}

			&:hover {
				background-color: $menu-link-hover-background-color;
			}
		}
	}
}

.night {
	.menu {
		li {
			&.active {
				a,
				a:hover {
					background-color: $night-menu-item-active-background-color;
				}
			}
		}

		a {
			color: $night-text-color;

			&:link,
			&:visited,
			&:hover,
			&:active {
				color: $night-text-color;
			}

			&:hover {
				background-color: $night-menu-link-hover-background-color;
			}
		}
	}
}
