.mobile-nav {
	background-color: $mobile-nav-background-color;
	width: 100%;
}

.mobile-nav__item {
	letter-spacing: 0.18em;

	&:first-child {
		border-color: transparent;
	}

	&.active {
		.mobile-nav__link {
			&:link,
			&:hover,
			&:visited {
				color: $link-color;
			}
		}
	}
}

.night {
	.mobile-nav {
		background-color: $night-mobile-nav-background-color;
	}

	.mobile-nav__item {
		&.active {
			.mobile-nav__link {
				&:link,
				&:hover,
				&:visited {
					color: $night-link-color;
				}
			}
		}
	}

	.mobile-nav__link {
		&:link,
		&:visited {
			color: $night-text-color;
		}

		&:hover {
			color: $night-link-color;
		}
	}
}

