/***
 * Navbar:
 */

.navbar {
	display: flex;
}

/**
 * Navbar brand:
 * `.navbar-brand`
 *
 *     @example
 *     div.navbar.bd.bd-radius
 *         a(href="").navbar-brand Brand
 */
.navbar-brand {
	display: flex;
	font-size: $navbar-brand-font-size;
	padding: $quarter-spacing-unit $half-spacing-unit;
}
