/***
 * Navbar:
 */

/**
 * Navbar:
 * `.navbar`
 *
 *     @example
 *     nav.navbar.maxsm-navbar-responsive
 *         div.navbar__brand
 *             a(href="").navbar__link Brand
 *         a(href="#!").navbar__toggler Menu
 *         div.navbar__collapse
 *             ul.navbar__menu
 *                 li.navbar__item.navbar__item--active
 *                     a(href="").navbar__link Home
 *                 li.navbar__item
 *                     a(href="").navbar__link Archive
 *                 li.navbar__item
 *                     a(href="").navbar__link About
 *             form.navbar__form
 *                 div.input-group
 *                     div.input-group-btn
 *                         input(type='search', placeholder='Search...').input.input--line.maxsm-txt-center
 *                         a.btn.btn--secondary.maxsm-hide Go
 */
.navbar,
.navbar__brand,
.navbar__collapse,
.navbar__menu,
.navbar__item,
.navbar__link,
.navbar__form {
	display: flex;
}

.navbar__brand,
.navbar__toggler,
.navbar__link,
.navbar__form {
	align-items: center;
}

.navbar,
.navbar__brand,
.navbar__toggler,
.navbar__menu,
.navbar__form {
	min-height: 3.5rem;
}

.navbar {
	justify-content: flex-start;
}

.navbar__brand {
	font-size: $navbar-brand-font-size;

	> * {
		margin-right: $half-spacing-unit;
	}
}

.navbar__toggler {
	display: none;
}

.navbar__toggler,
.navbar__link,
.navbar__form {
	padding: $quarter-spacing-unit $half-spacing-unit;
}

.navbar__collapse,
.navbar__menu {
	flex-grow: 1;
}

.navbar__menu {
	margin: 0;
	padding: 0;
}

/**
 * Right align navbar menu:
 * `.navbar__menu--right`
 *
 *     @example
 *     nav.navbar.maxsm-navbar-responsive
 *         div.navbar__brand
 *             a(href="").navbar__link Brand
 *         a(href="#!").navbar__toggler Menu
 *         div.navbar__collapse
 *             ul.navbar__menu.navbar__menu--right
 *                 li.navbar__item.navbar__item--active
 *                     a(href="").navbar__link Home
 *                 li.navbar__item
 *                     a(href="").navbar__link Archive
 *                 li.navbar__item
 *                     a(href="").navbar__link About
 */
.navbar__menu--right {
	justify-content: flex-end;
}

.navbar__item {
	align-items: stretch;
}

.navbar__link,
.navbar__toggler {
	&:link,
	&:visited {
		color: $text-color;
	}

	&:hover {
		color: $link-color;
	}
}

.navbar__item--active {
	.navbar__link {
		&:link,
		&:hover,
		&:visited {
			color: $link-color;
		}
	}
}

/**
 * Responsive navbar menu:
 * `.navbar-responsive` `.max[size]-navbar-responsive`
 *
 *     @example
 *     nav.navbar.navbar-responsive
 *         div.navbar__brand
 *             a(href="").navbar__link Brand
 *         a(href="#!").navbar__toggler Menu
 *         div.navbar__collapse
 *             ul.navbar__menu
 *                 li.navbar__item.navbar__item--active
 *                     a(href="").navbar__link Home
 *                 li.navbar__item
 *                     a(href="").navbar__link Archive
 *                 li.navbar__item
 *                     a(href="").navbar__link About
 */
@mixin navbar-responsive-collapse-focus {
	max-height: 600px;
	opacity: 1;
	transform: translateY(0);
	z-index: 10;
}

@mixin navbar-responsive-collapse {
	.navbar__toggler {
		display: flex;

		&:focus + .navbar__collapse {
			@include navbar-responsive-collapse-focus;
		}
	}

	.navbar__collapse {
		flex-wrap: wrap;
		max-height: 0;
		opacity: 0;
		padding: 0 $half-spacing-unit;
		transform: translateY(-$half-spacing-unit);
		transition: max-height 0.16s ease-in-out, opacity 0.16s ease-in-out, transform 0.16s ease-in-out, z-index 0.16s ease-in-out;
		width: 100%;
		z-index: -1;

		&:focus-within {
			@include navbar-responsive-collapse-focus;
		}
	}

	.navbar__menu,
	.navbar__item,
	.navbar__link,
	.navbar__form {
		display: block;
		width: 100%;
	}

	.navbar__item {
		text-align: center;
	}

	.navbar__item {
		border-top: $border-width $border-style $border-color;

		&:last-child {
			border-bottom: $border-width $border-style $border-color;
		}
	}

	.navbar__form {
		padding: 0;
	}

	.input,
	.btn {
		line-height: inherit;
	}
}

@mixin navbar-responsive {
	&.navbar {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	@include navbar-responsive-collapse;
}

.navbar-responsive {
	@include navbar-responsive;
}

@each $size, $length in $grid-breakpoints {
	@media (max-width: $length - 1) {
		.max#{$size}-navbar-responsive {
			@include navbar-responsive;
		}
	}
}

/**
 * Navbar brand in the center:
 *
 *     @example
 *     nav.navbar.maxlg-navbar-responsive
 *         ul.navbar__menu.maxlg-hide
 *             li.navbar__item
 *                 a(href="").navbar__link RSS feed
 *             li.navbar__item
 *                 a(href="").navbar__link Follow me
 *         div.navbar__brand
 *             a(href="").navbar__link Brand
 *         a(href="#!").navbar__toggler Menu
 *         div.navbar__collapse
 *             ul.navbar__menu.navbar__menu--right
 *                 li.navbar__item.navbar__item--active
 *                     a(href="").navbar__link Home
 *                 li.navbar__item
 *                     a(href="").navbar__link Archive
 *                 li.navbar__item
 *                     a(href="").navbar__link About
 */

[class*="container"] {
	.row {
		> .col,
		> [class*="col-"] {
			> .navbar {
				margin-left: -$half-spacing-unit;
				margin-right: -$half-spacing-unit;
			}
		}
	}
}
