/***
 * Tabs:
 */

/**
 * Standard tabs:
 * `.tabs`
 *
 *     @example
 *     div.tabs
 *         ul
 *             li.active
 *                 a(href='#!') Tab 1
 *             li
 *                 a(href='#!') Tab 2
 *             li
 *                 a(href='#!') Tab 3
 *             li
 *                 a(href='#!') Tab 4
 */
.tabs {
	align-items: stretch;
	display: flex;

	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;

	ul, a {
		border-bottom-color: $tabs-border-bottom-color;
		border-bottom-style: $tabs-border-bottom-style;
		border-bottom-width: $tabs-border-bottom-width;
	}

	ul {
		display: flex;
		flex-grow: 1;
		// flex-shrink: 0;
		list-style: none;
		padding-left: 0;
		position: relative;
	}

	li {
		display: block;
		margin: $tabs-item-margin;

		&:first-child {
			margin-left: 0;
		}

		a {
			border-bottom-color: $tabs-link-border-bottom-color;
			border-bottom-width: $tabs-link-border-bottom-width;

			display: flex;
			margin-bottom: -#{$tabs-border-bottom-width};

			&:link,
			&:visited {
				color: $tabs-link-color;
			}

			&:hover {
				border-bottom-color: $tabs-link-hover-border-bottom-color;
				color: $tabs-link-hover-color;
			}

			padding: $tabs-link-padding;
		}

		&.active {
			a {
				border-bottom-color: $tabs-item-active-link-border-bottom-color;
				border-bottom-width: $tabs-item-active-link-border-bottom-width;

				&:link,
				&:visited {
					color: $tabs-item-active-link-color;
				}

				&:hover {
					color: $tabs-item-active-link-hover-color;
				}
			}
		}
	}
}

.night .tabs {
	ul, a {
		border-bottom-color: $night-tabs-border-bottom-color;
	}

	li {
		a {
			border-bottom-color: $night-tabs-link-border-bottom-color;

			&:link,
			&:visited {
				color: $night-tabs-link-color;
			}

			&:hover {
				border-bottom-color: $night-tabs-link-hover-border-bottom-color;
				color: $night-tabs-link-hover-color;
			}
		}

		&.active {
			a {
				border-bottom-color: $night-tabs-item-active-link-border-bottom-color;

				&:link,
				&:visited {
					color: $night-tabs-item-active-link-color;
				}

				&:hover {
					color: $night-tabs-item-active-link-hover-color;
				}
			}
		}
	}
}

/**
 * Center tabs:
 * `.tabs--center`
 *
 *     @example
 *     div.tabs.tabs--center
 *         ul
 *             li.active
 *                 a(href='#!') Tab 1
 *             li
 *                 a(href='#!') Tab 2
 *             li
 *                 a(href='#!') Tab 3
 *             li
 *                 a(href='#!') Tab 4
 */
.tabs--center {
	ul {
		justify-content: center;
	}
}

/**
 * Right tabs:
 * `.tabs--right`
 *
 *     @example
 *     div.tabs.tabs--right
 *         ul
 *             li.active
 *                 a(href='#!') Tab 1
 *             li
 *                 a(href='#!') Tab 2
 *             li
 *                 a(href='#!') Tab 3
 *             li
 *                 a(href='#!') Tab 4
 */
.tabs--right {
	ul {
		justify-content: right;
	}
}

/**
 * Active item underline:
 * `.active-item-underline`
 *
 *     @example
 *     div.tabs
 *         ul
 *             li
 *                 a(href='#!') Tab 1
 *             li
 *                 a(href='#!') Tab 2
 *             li
 *                 a(href='#!') Tab 3
 *             li
 *                 a(href='#!') Tab 4
 *             li(style='transform: translateX(71px); width: 73px;').active-underline
 */
.active-underline {
	background-color: $tabs-item-active-link-border-bottom-color;
	height: $tabs-item-active-link-border-bottom-width;
	position: absolute;
	left: 0;
	bottom: -1px;

	transition: $tabs-item-active-underline-transition;
	will-change: transform, width;

	// Modify with js:
	transform: translateX(0); // X position, 
	width: 71px; // item width.
}

.night .active-underline {
	background-color: $night-tabs-item-active-link-border-bottom-color;
}


.tabs-details {
	> div:not(.active) {
		display: none;
	}
}
