
@import '../partials/_all';


/***
 * Card:
 */

/**
 * Standard card:
 * `.card`
 *
 *     @example
 *     div.row
 *         div.md-col-6
 *             div.bx.bxsh-0063.bd-0063.card
 *                 div.card__body.p-125
 *                     h4 Card title
 *                     p Lorem ipsum dolor sit amet, mei nisl meliore eu. Ne ius quaeque discere, homero inermis ex eos. Iuvaret quaestio sapientem te nec. Falli legendos expetendis ei sed, sed quidam interpretaris ei, ipsum soleat quaestio ad mel.
 *                     ul.ls.ls--inline.m-0
 *                         li
 *                             a(href='') First link
 *                         li
 *                             a(href='') Second link
 */

.card {
	max-width: 100%;
	position: relative;
}

/**
 * Card with an image:
 * `.card__img`
 *
 *     @example
 *     div.row
 *         div.md-col-6
 *             div.bx.bxsh-0063.bd-0063.card
 *                 div.card__img
 *                     img(src="http://via.placeholder.com/640x480")
 *                 div.card__body.p-125
 *                     h4 Card title
 *                     p Lorem ipsum dolor sit amet, mei nisl meliore eu. Ne ius quaeque discere, homero inermis ex eos. Iuvaret quaestio sapientem te nec. Falli legendos expetendis ei sed, sed quidam interpretaris ei, ipsum soleat quaestio ad mel.
 *                     ul.ls.ls--inline.m-0
 *                         li
 *                             a(href='') First link
 *                         li
 *                             a(href='') Second link
 */

.card__img {
	border-top-right-radius: $border-radius-base;
	border-top-left-radius: $border-radius-base;

	display: block;

	&:first-child {
		img {
			border-top-right-radius: $border-radius-base;
			border-top-left-radius: $border-radius-base;

			display: block;

			max-width: 100%;
		}
	}
}

/**
 * Card head and card foot:
 * `.card__head` `.card__foot` `card__foot-item`
 *
 *     @example
 *     div.row
 *         div.md-col-6
 *             div.bx.bxsh-0063.bd-0063.card
 *                 div.card__head.bd-bottom-0063
 *                     h4.m-0.p-125 Card title
 *                 div.card__body.p-125
 *                     p.m-0 Lorem ipsum dolor sit amet, mei nisl meliore eu. Ne ius quaeque discere, homero inermis ex eos. Iuvaret quaestio sapientem te nec. Falli legendos expetendis ei sed, sed quidam interpretaris ei, ipsum soleat quaestio ad mel.
 *                 div.card__foot.bd-top-0063
 *                     div.item-group.ta-center
 *                         div.item
 *                             a(href='').p-125.w-100 First link
 *                         div.item.bd-left-0063
 *                             a(href='').p-125.w-100 Second link
 */

.card__head {
    background-color: $day__card-head-bg-color;

    border-top-right-radius: $card-head-border-top-right-radius;
    border-top-left-radius: $card-head-border-top-left-radius;
}

.night .card__head {
    background-color: $ngt__card-head-bg-color;
}

.card__head,
.card__foot {
    display: flex;
    align-items: stretch;
    position: relative;

    .item {
        padding-right: 0;
        padding-left: 0;
    }
}

.card__body {
    background-color: $day__card-body-bg-color;
    position: relative;
    overflow: auto;
}

.night .card__body {
    background-color: $ngt__card-body-bg-color;
}

.card__foot {
    background-color: $day__card-foot-bg-color;

    border-bottom-right-radius: $card-foot-border-bottom-right-radius;
    border-bottom-left-radius: $card-foot-border-bottom-left-radius;

    .btn:not( :first-child ) {
        margin-left: $card-foot-button-not-first-child-margin-left;
    }
}

.night .card__foot {
    background-color: $ngt__card-foot-bg-color;
}

/**
 * Card head with an icon:
 * `.card__head-item`
 *
 *     @example
 *     div.row
 *         div.md-col-6
 *             div.bx.bxsh-0063.bd-0063.card
 *                 div.card__head.bd-bottom-0063
 *                     div.item-group
 *                         div.item
 *                             h4.m-0.p-125 Card title
 *                         div.item.fxg-0
 *                             a(href='#!').p-125
 *                                 span.ion-ios-arrow-down
 *                 div.card__body.p-125
 *                     p.m-0 Lorem ipsum dolor sit amet, mei nisl meliore eu. Ne ius quaeque discere, homero inermis ex eos. Iuvaret quaestio sapientem te nec. Falli legendos expetendis ei sed, sed quidam interpretaris ei, ipsum soleat quaestio ad mel.
 *                 div.card__foot.bd-top-0063
 *                     div.item-group.ta-center
 *                         div.item
 *                             a(href='').p-125.w-100 First link
 *                         div.item.bd-left-0063
 *                             a(href='').p-125.w-100 Second link
 */
