
@import '../partials/_all';


/***
 * Collapse:
 */

/**
 * Open one item:
 * `.collapse`
 *
 *     @example
 *     p
 *         button(data-target='#eg-collapse-1', data-toggle='collapse').btn.btn--primary Item 1
 *         button(data-target='#eg-collapse-2', data-toggle='collapse').btn.btn--primary Item 2
 *
 *     div.row
 *         div.col-6
 *             div(id='eg-collapse-1').collapse.show
 *                 div.bx.bd-0063.p-125 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis malesuada orci vitae maximus. Nunc bibendum gravida nisi sit amet varius. Ut non dolor a erat rhoncus lobortis et in enim. Vestibulum turpis tortor, vulputate a pharetra vel, viverra ut nisi. Integer tincidunt efficitur turpis eget finibus. Ut sed eleifend nulla, tincidunt vulputate mi. Curabitur cursus facilisis dui ut consectetur. Nulla sed tortor eu mauris ultricies euismod.
 *
 *         div.col-6
 *             div(id='eg-collapse-2').collapse
 *                 div.bx.bd-0063.p-125 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis malesuada orci vitae maximus. Nunc bibendum gravida nisi sit amet varius. Ut non dolor a erat rhoncus lobortis et in enim. Vestibulum turpis tortor, vulputate a pharetra vel, viverra ut nisi. Integer tincidunt efficitur turpis eget finibus. Ut sed eleifend nulla, tincidunt vulputate mi. Curabitur cursus facilisis dui ut consectetur. Nulla sed tortor eu mauris ultricies euismod.
 */

.collapse {
	display: none;
	height: 0;
	opacity: 0;
	overflow: hidden;
	position: relative;
	transition: $collapse-transition;

	&.show {
		display: flex;
		height: auto;
	}

	&[ data-collapsed='false' ] {
		opacity: 1;
	}
}

/**
 * Open multiple items:
 * `.collapse--multiple`
 *
 *     @example
 *     p
 *         button(data-target='#eg-collapse-multiple-1', data-toggle='collapse').btn.btn--primary Item 1
 *         button(data-target='#eg-collapse-multiple-2', data-toggle='collapse').btn.btn--primary Item 2
 *         button(data-target='.collapse--multiple', data-toggle='collapse').btn.btn--primary Item 1 & 2
 *
 *     div.row
 *         div.col-6
 *             div(id='eg-collapse-multiple-1').collapse.collapse--multiple.show
 *                 div.bx.bd-0063.p-125 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis malesuada orci vitae maximus. Nunc bibendum gravida nisi sit amet varius. Ut non dolor a erat rhoncus lobortis et in enim. Vestibulum turpis tortor, vulputate a pharetra vel, viverra ut nisi. Integer tincidunt efficitur turpis eget finibus. Ut sed eleifend nulla, tincidunt vulputate mi. Curabitur cursus facilisis dui ut consectetur. Nulla sed tortor eu mauris ultricies euismod.
 *
 *         div.col-6
 *             div(id='eg-collapse-multiple-2').collapse.collapse--multiple
 *                 div.bx.bd-0063.p-125 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis malesuada orci vitae maximus. Nunc bibendum gravida nisi sit amet varius. Ut non dolor a erat rhoncus lobortis et in enim. Vestibulum turpis tortor, vulputate a pharetra vel, viverra ut nisi. Integer tincidunt efficitur turpis eget finibus. Ut sed eleifend nulla, tincidunt vulputate mi. Curabitur cursus facilisis dui ut consectetur. Nulla sed tortor eu mauris ultricies euismod.
 */

/**
 * Accordion:
 *
 *     @example
 *     div(id='eg-accordion')
 *         div.card.bx.bd-0063
 *             div.card__head.p-y-1.p-x-125.bd-bottom-0063
 *                 a(href='#eg-accordion-collapse-1', data-toggle='collapse') Item 1
 *             div(id='eg-accordion-collapse-1', data-parent='#eg-accordion').collapse.show
 *                 div.card__body.p-125 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis malesuada orci vitae maximus. Nunc bibendum gravida nisi sit amet varius. Ut non dolor a erat rhoncus lobortis et in enim. Vestibulum turpis tortor, vulputate a pharetra vel, viverra ut nisi. Integer tincidunt efficitur turpis eget finibus. Ut sed eleifend nulla, tincidunt vulputate mi. Curabitur cursus facilisis dui ut consectetur. Nulla sed tortor eu mauris ultricies euismod.
 *         div.card.bx.bd-0063
 *             div.card__head.p-y-1.p-x-125.bd-bottom-0063
 *                 a(href='#eg-accordion-collapse-2', data-toggle='collapse') Item 2
 *             div(id='eg-accordion-collapse-2', data-parent='#eg-accordion').collapse
 *                 div.card__body.p-125 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis malesuada orci vitae maximus. Nunc bibendum gravida nisi sit amet varius. Ut non dolor a erat rhoncus lobortis et in enim. Vestibulum turpis tortor, vulputate a pharetra vel, viverra ut nisi. Integer tincidunt efficitur turpis eget finibus. Ut sed eleifend nulla, tincidunt vulputate mi. Curabitur cursus facilisis dui ut consectetur. Nulla sed tortor eu mauris ultricies euismod.
 */

.collapse {
	.ls {
		a {
			&:link,
			&:visited {
				color: $day__collapse__ls__a-color;
			}

			&:hover {
				color: $day__collapse__ls__a-hover-color;
			}
		}

		.active {
			a {
				font-weight: $collapse__ls__item-active__a-font-weight;

				&:link,
				&:hover,
				&:visited {
					color: $day__collapse__ls__item-active__a-color;
				}
			}
		}
	}
}

.night .collapse {
	.ls {
		a {
			&:link,
			&:visited {
				color: $ngt__collapse__ls__a-color;
			}

			&:hover {
				color: $ngt__collapse__ls__a-hover-color;
			}
		}

		.active {
			a {
				&:link,
				&:hover,
				&:visited {
					color: $ngt__collapse__ls__item-active__a-color;
				}
			}
		}
	}
}
