@import '../partials/_all';


/***
 * Menu:
 */

/**
 * Vertical menu:
 * `.menu`
 *
 *     @example
 *     ul.menu.flex-col
 *         li.active
 *             a(href='#') Link 1
 *         li
 *             a(href='#') Link 2
 *         li
 *             a(href='#') Link 3
 */
.menu {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;

	li {
		display: block;
		margin: $menu-item-margin;
		padding: $menu-item-padding-y $menu-item-padding-x;

		&.active {
			a {
				&:link,
				&:hover,
				&:visited {
					color: $text-color;
				}
			}
		}

		a {
			display: block;
			padding: $menu-link-padding-y $menu-link-padding-x;
			text-decoration: none;
		}
	}
}

.night {
	.menu {
		li {
			&.active {
				a {
					&:link,
					&:hover,
					&:visited {
						color: $night-text-color;
					}
				}
			}
		}
	}
}

/**
 * Vertical menu pills:
 * `.menu--pills`
 *
 *     @example
 *     ul.menu.menu--pills.flex-col
 *         li.active
 *             a(href='#') Link 1
 *         li
 *             a(href='#') Link 2
 *         li
 *             a(href='#') Link 3
 */
.menu.menu--pills {
	li {
		a {
			border-radius: $border-radius;
			color: $text-color;

			&:link,
			&:visited,
			&:hover,
			&:active {
				color: $text-color;
			}

			&:hover {
				background-color: $menu-pills-link-hover-background-color;
			}
		}

		&.active {
			a,
			a:hover {
				background-color: $menu-pills-item-active-background-color;
				color: $link-color;
			}
		}
	}
}

.night .menu.menu--pills {
	li {
		a {
			color: $night-text-color;

			&:link,
			&:visited,
			&:hover,
			&:active {
				color: $night-text-color;
			}

			&:hover {
				background-color: $night-menu-pills-link-hover-background-color;
			}
		}
		
		&.active {
			a,
			a:hover {
				background-color: $night-menu-pills-item-active-background-color;
				color: $night-link-color;
			}
		}
	}
}
