
@import '../partials/_all';


/***
 * Modal:
 */

/**
 * Standard modal:
 * `.modal`
 *
 *     @example
 *     button(id='eg-btn-open-std-modal').btn.btn--secondary Launch standard modal
 *     div(id='eg-std-modal').modal
 *         div.modal__overlay
 *         div.modal__content
 *             div.bx.card.bd-0
 *                 div.card__head.p-1
 *                     h4.m-0 Modal title
 *                 div.card__body.p-1
 *                     p Donec in dapibus turpis. Curabitur iaculis tellus at ipsum sagittis aliquet. In vehicula, massa sit amet sagittis venenatis, odio est ultricies nunc, ac ultricies leo tortor eget urna. Integer sollicitudin, purus id tristique convallis, nisl magna ornare lacus, eu elementum tellus odio nec sem. Curabitur dapibus diam ligula, vitae euismod lectus faucibus sit amet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vehicula pellentesque commodo.
 *                 div.card__foot.p-1
 *                     button.btn.btn--primary Save changes
 *                     button.btn.btn--secondary Cancel
 */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    transition: $modal-transition;

    z-index: $modal-z-index;

    &.show {
        transition: $modal-show-transition;

        z-index: $modal-show-z-index;

        .modal__overlay {
            opacity: 0.5;
        }

        .modal__overlay,
        .modal__content {
            visibility: visible;
        }

        .modal__content {
            opacity: 1;

            transform: $modal-show-content-transform;

            transition: $modal-show-content-transition;
        }
    }
}

.modal,
.modal__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal__overlay {
    background-color: $day__modal-overlay-bg-color;

    overflow: hidden;

    transition: $modal-overlay-transition;

    width: 100%;
    height: 100%;
}

.modal__overlay,
.modal__content {
    opacity: 0;
    visibility: hidden;
}

.night .modal__overlay {
    background-color: $ngt__modal-overlay-bg-color;
}

.modal__content {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    max-width: $modal-content-max-width;
    max-height: $modal-content-max-height;

    position: relative;

    transform: $modal-content-transform;

    transition: $modal-content-transition;

    .bx,
    .card {
        display: flex;
        flex-direction: column;
    }

    .bx {
        overflow: auto;
    }

    .card {
        overflow: hidden;
    }
}
