
@import '../partials/_all';

/***
 * Navbar:
 */

/**
 * Navbar:
 * `.navbar`
 *
 *     @example
 *     div.cntr-fluid
 *         div.row
 *             div.col
 *                 nav.navbar.md-navbar--expand
 *                     div.navbar__items.fxg-1
 *                         div.navbar__brand
 *                             div.navbar__item
 *                                 a(href='#!').p-left-0 Brand
 *                         div.navbar__items.fxg-1
 *                             form.navbar__item.fxg-1.p-x-05
 *                                 div.ctrl.ctrl--icn-left
 *                                     input(placeholder='Search...').input.input--flat.input--pill
 *                                     span.icn-wrap
 *                                         i.icon.ion-md-search.icn-wrap__icn
 *                         div.navbar__items
 *                             div.navbar__item.navbar__item--icn
 *                                 button.btn.btn--link
 *                                     i.icon.ion-md-moon.navbar__icn
 *                         div.navbar__toggler
 *                             div.navbar__item.navbar__item--icn
 *                                 a(href="#!", data-target='#eg-navbar-collapse', data-toggle='collapse').p-right-0
 *                                     i.icon.ion-md-menu.navbar__icn
 *                     div(id='eg-navbar-collapse').navbar__collapse.collapse
 *                         ul.navbar__items.ta-right
 *                             li.navbar__item.active
 *                                 a(href='#!') Home
 *                             li.navbar__item
 *                                 a(href='#!') Archive
 *                             li.navbar__item
 *                                 a(href='#!').p-right-0 About
 */

.navbar {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;

	padding: $navbar-padding-y $navbar-padding-x;
	position: relative;

	a, .btn--link {
		border-radius: $navbar-a-border-radius;
		color: $day__navbar-a-color;
		font-weight: $navbar-a-font-weight;

		&:link,
		&:visited {
			color: $day__navbar-a-color;
		}

		&:hover {
			background-color: $day__navbar-a-hover-bg-color;
			color: $day__navbar-a-hover-color;
		}
	}

	.active a,
	a.active {
		color: $day__navbar-item-active__a-color;

		&:link,
		&:visited,
		&:hover {
			color: $day__navbar-item-active__a-color;
		}
	}

	.input {
		font-weight: $navbar-a-font-weight;
	}

	a, .btn {
		.navbar__icn {
			fill: $day__navbar-a-color;
		}

		&:hover .navbar__icn {
			fill: $day__navbar-a-hover-color;
		}

		&.active .navbar__icn {
			fill: $day__navbar-item-active__a-color;
		}
	}

	svg {
		transition: $transition-base;
		vertical-align: middle;

		width: $navbar-svg-width;
		height: $navbar-svg-height;
	}
}

.night .navbar,
.navbar--dark {
	a, .btn--link {
		color: $ngt__navbar-a-color;

		&:link,
		&:visited {
			color: $ngt__navbar-a-color;
		}

		&:hover {
			background-color: $ngt__navbar-a-hover-bg-color;
			color: $ngt__navbar-a-hover-color;
		}
	}

	.active a,
	a.active {
		color: $ngt__navbar-item-active__a-color;

		&:link,
		&:visited,
		&:hover {
			color: $ngt__navbar-item-active__a-color;
		}
	}

	a, .btn {
		svg {
			fill: $ngt__navbar-a-color;
		}

		&:hover svg {
			fill: $ngt__navbar-a-hover-color;
		}

		&.active svg {
			fill: $ngt__navbar-item-active__a-color;
		}
	}
}

.navbar__brand {
	display: flex;
	align-items: stretch;

	font-size: $navbar-brand-font-size;

	a {
		color: $day__navbar-item-active__a-color;

		&:link,
		&:visited,
		&:hover {
			color: $day__navbar-item-active__a-color;
		}
	}
}

.night .navbar__brand,
.navbar--dark .navbar__brand {
	a {
		color: $ngt__navbar-item-active__a-color;

		&:link,
		&:visited,
		&:hover {
			color: $ngt__navbar-item-active__a-color;
		}
	}
}

.navbar__toggler {
	display: flex;
	align-items: stretch;
}

.navbar__collapse {
	align-items: stretch;
	flex-basis: 100%;
	flex-grow: 1;
	flex-wrap: wrap;

	&.show {
		padding: $navbar-collapse-show-padding-y $navbar-collapse-show-padding-x;
	}

	.navbar__items {
		flex-direction: column;
		flex-basis: 100%;
	}

	.navbar__item a,
	a.navbar__item {
		padding-right: 0;
		padding-left: 0;

		width: 100%;
	}
}

.navbar__items {
	display: flex;
	align-items: stretch;

	// Reset list.

	margin-bottom: 0;
	padding-left: 0;
}

.navbar__item {
	display: flex;
	align-items: center;
}

.navbar__item a,
a.navbar__item {
	display: block;
	padding: $navbar-item__a-padding-y $navbar-item__a-padding-x;
}

.navbar__item--icn a,
a.navbar__item--icn {
	padding: $navbar-item-icon__a-padding-y $navbar-item-icon__a-padding-x;
}

.navbar__icn {
	font-size: $navbar-icon-font-size;
}

// Si el .navbar está dentro de una col. remover el espacio de los lados p/alinearlo.

.col > .navbar,
[ class*='-col-' ] > .navbar {
	margin-right: -#{ $navbar-padding-x };
	margin-left: -#{ $navbar-padding-x };
}

// .[size]-navbar--expand

@each $size, $length in $grid-breakpoints {

	@media ( min-width: $length ) {

		.#{ $size }-navbar--expand {
			flex-wrap: nowrap;

			.navbar__toggler {
				display: none;
			}

			.navbar__collapse {
				display: flex;
				flex-basis: auto;
				flex-grow: 0;

				width: auto;
				height: auto;

				&.show {
					padding: 0;
				}

				.navbar__items {
					flex-direction: row;
					flex-basis: auto;
				}

				.navbar__item a,
				a.navbar__item {
					padding: $navbar-item-icon__a-padding-y $navbar-item-icon__a-padding-x;
					width: auto;
				}
			}
		}

	}

}
