@import '../partials/_all';


/***
 * Navbar:
 */

[class*="container"] {
	.cols {
		> .col,
		> [class*="-col-"] {
			> .navbar {
				margin-left: -$gutter-width;
				margin-right: -$gutter-width;
			}
		}
	}
}

/**
 * Navbar:
 * `.navbar`
 *
 *     @example
 *     nav.navbar.maxsm-navbar-responsive
 *         input(type='checkbox', id='eg-navbar-toggle').collapse-toggle
 *         div.navbar__brand
 *             a(href='').navbar__link Brand
 *         label(for='eg-navbar-toggle').navbar__toggler Menu
 *         div.navbar__collapse.collapse
 *             ul.navbar__menu.maxsm-ta-center
 *                 li.navbar__item.active.maxsm-bd-top
 *                     a(href='').navbar__link Home
 *                 li.navbar__item.maxsm-bd-top
 *                     a(href='').navbar__link Archive
 *                 li.navbar__item.maxsm-bd-top
 *                     a(href='').navbar__link About
 *             form.navbar__form.maxsm-ta-center.maxsm-bd-top
 *                 input(type='search', placeholder='Search').input.input--line.maxsm-ta-center
 */
.navbar,
.navbar__brand,
.navbar__collapse,
.navbar__no-collapse,
.navbar__menu,
.navbar__item,
.navbar__link,
.navbar__form {
	display: flex;
}

.navbar__brand,
.navbar__toggler,
.navbar__link,
.navbar__form {
	align-items: center;
}

// .navbar,
// .navbar__brand,
// .navbar__toggler,
// .navbar__menu,
// .navbar__form {
// 	min-height: 3.5rem;
// }

.navbar {
	background-color: $navbar-background-color;
	justify-content: flex-start;
}

.night {
	.navbar {
		background-color: $night-navbar-background-color;
	}
}

.navbar__brand,
.navbar__item {
	align-items: stretch;
}

.navbar__brand {
	font-size: $navbar-brand-font-size;

	> * {
		margin-right: $spacing-unit-half;
	}
}

.navbar__toggler {
	display: none;
}

.navbar__toggler,
.navbar__link,
.navbar__form {
	padding: $navbar-padding-y $navbar-padding-x;
}

.navbar__collapse,
.navbar__no-collapse,
.navbar__menu {
	flex-grow: 1;
}

.navbar__menu {
	margin: 0;
	padding: 0;
}

/**
 * Right align navbar menu:
 * `.navbar__menu--right`
 *
 *     @example
 *     nav.navbar.maxsm-navbar-responsive
 *         input(type='checkbox', id='eg-right-align-navbar-menu-toggle').collapse-toggle
 *         div.navbar__brand
 *             a(href='').navbar__link Brand
 *         label(for='eg-right-align-navbar-menu-toggle').navbar__toggler Menu
 *         div.navbar__collapse.collapse
 *             ul.navbar__menu.navbar__menu--right.maxsm-ta-center
 *                 li.navbar__item.active.maxsm-bd-top
 *                     a(href='').navbar__link Home
 *                 li.navbar__item.maxsm-bd-top
 *                     a(href='').navbar__link Archive
 *                 li.navbar__item.maxsm-bd-top
 *                     a(href='').navbar__link About
 */
.navbar__menu--right {
	justify-content: flex-end;
}

.navbar__link,
.navbar__toggler {
	color: $navbar-link-color;

	&:link,
	&:visited {
		color: $navbar-link-color;
	}

	&:hover {
		color: $navbar-link-hover-color;
	}
}

.navbar__brand,
.navbar__item.active {
	.navbar__link {
		&:link,
		&:hover,
		&:visited {
			color: $navbar-item-active-link-color;
		}
	}
}

.night {
	.navbar__link,
	.navbar__toggler {
		color: $night-navbar-link-color;

		&:link,
		&:visited {
			color: $night-navbar-link-color;
		}

		&:hover {
			color: $night-navbar-link-hover-color;
		}
	}

	.navbar__brand,
	.navbar__item.active {
		.navbar__link {
			&:link,
			&:hover,
			&:visited {
				color: $night-navbar-item-active-link-color;
			}
		}
	}
}

/**
 * Responsive navbar menu:
 * `.navbar-responsive` `.max[size]-navbar-responsive`
 *
 *     @example
 *     nav.navbar.navbar-responsive
 *         input(type='checkbox', id='eg-responsive-navbar-menu-toggle').collapse-toggle
 *         div.navbar__brand
 *             a(href='').navbar__link Brand
 *         label(for='eg-responsive-navbar-menu-toggle').navbar__toggler Menu
 *         div.navbar__collapse.collapse
 *             ul.navbar__menu
 *                 li.navbar__item.active
 *                     a(href='').navbar__link Home
 *                 li.navbar__item
 *                     a(href='').navbar__link Archive
 *                 li.navbar__item
 *                     a(href='').navbar__link About
 */
@mixin navbar-responsive-collapse {
	.navbar__toggler {
		cursor: $navbar-toggler-cursor;
		display: flex;
		order: 2;
	}

	.navbar__collapse {
		flex-wrap: wrap;
		padding: 0 $navbar-padding-x;
		width: 100%;

		&:first-of-type {
			order: 4;
		}

		&:last-of-type {
			order: 3;
		}

		.navbar__menu,
		.navbar__item {
			flex-direction: column;
		}

		.navbar__item .navbar__link,
		.navbar__form {
			display: block;
			width: 100%;
		}

		.navbar__item {
			.navbar__link {
				padding-right: 0;
				padding-left: 0;
			}
		}

		.navbar__form {
			padding-right: 0;
			padding-left: 0;
		}

		.input,
		.btn {
			line-height: inherit;
		}
	}

	.navbar__no-collapse {
		overflow-x: auto;
		width: 100%;

		.navbar__menu {
			justify-content: center;
		}
	}
}

@mixin navbar-responsive {
	&.navbar {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&.navbar-responsive--top {
		.navbar__collapse {
			&:first-of-type {
				order: 2;
			}

			&:last-of-type {
				order: 1;
			}
		}

		.navbar__brand {
			order: 3;
		}

		.navbar__toggler {
			order: 4;
		}
	}

	@include navbar-responsive-collapse;
}

.navbar-responsive {
	@include navbar-responsive;
}

@each $size, $length in $grid-breakpoints {
	@media (max-width: $length - 1) {
		.max#{$size}-navbar-responsive {
			@include navbar-responsive;
		}
	}
}

/**
 * Responsive navbar menu at top:
 * `.navbar-responsive--top`
 *
 *     @example
 *     nav.navbar.navbar-responsive.navbar-responsive--top
 *         input(type='checkbox', id='eg-responsive-navbar-menu-at-top-toggle').collapse-toggle
 *         div.navbar__brand
 *             a(href='').navbar__link Brand
 *         label(for='eg-responsive-navbar-menu-at-top-toggle').navbar__toggler Menu
 *         div.navbar__collapse.collapse
 *             ul.navbar__menu
 *                 li.navbar__item.active
 *                     a(href='').navbar__link Home
 *                 li.navbar__item
 *                     a(href='').navbar__link Archive
 *                 li.navbar__item
 *                     a(href='').navbar__link About
 */

/**
 * Open responsive navbar menu:
 * `.open`
 *
 *     @example
 *     nav.navbar.navbar-responsive
 *         input(type='checkbox', id='eg-open-responsive-navbar-menu-toggle').collapse-toggle
 *         div.navbar__brand
 *             a(href='').navbar__link Brand
 *         label(for='eg-open-responsive-navbar-menu-toggle').navbar__toggler Menu
 *         div.navbar__collapse.collapse.open
 *             ul.navbar__menu
 *                 li.navbar__item.active
 *                     a(href='').navbar__link Home
 *                 li.navbar__item
 *                     a(href='').navbar__link Archive
 *                 li.navbar__item
 *                     a(href='').navbar__link About
 */

/**
 * Responsive navbar grid menu:
 *
 *     @example
 *     nav.navbar.maxlg-navbar-responsive
 *         input(type='checkbox', id='eg-responsive-navbar-grid-menu-toggle').collapse-toggle
 *         div.navbar__brand
 *             a(href='').navbar__link Brand
 *         label(for='eg-responsive-navbar-grid-menu-toggle').navbar__toggler Menu
 *         div.navbar__collapse.collapse
 *             ul.navbar__menu.navbar__menu--right.xs-gcols-2.md-gcols-3.lg-gcols-0.maxlg-gap-0.maxlg-ta-center
 *                 li.navbar__item.active.xs-bd-bottom.lg-bd-bottom-0
 *                     a(href='').navbar__link Home
 *                 li.navbar__item.xs-bd-bottom.xs-bd-left.md-bd-x.lg-bd-0
 *                     a(href='').navbar__link Archive
 *                 li.navbar__item.md-bd-bottom.lg-bd-bottom-0
 *                     a(href='').navbar__link Contact
 *                 li.navbar__item.xs-bd-left.md-bd-x.lg-bd-x-0.md-gcol-2
 *                     a(href='').navbar__link About
 */

/**
 * Navbar brand in the center:
 *
 *     @example
 *     nav.navbar.maxlg-navbar-responsive
 *         input(type='checkbox', id='eg-navbar-brand-in-the-center-toggle').collapse-toggle
 *         label(for='eg-navbar-brand-in-the-center-toggle').navbar__toggler Menu
 *         div.navbar__collapse.collapse
 *             ul.navbar__menu.maxlg-ta-center
 *                 li.navbar__item.maxlg-bd-top
 *                     a(href='').navbar__link RSS feed
 *                 li.navbar__item.maxlg-bd-top
 *                     a(href='').navbar__link Follow me
 *         div.navbar__brand
 *             a(href='').navbar__link Brand
 *         div.navbar__collapse.collapse
 *             ul.navbar__menu.navbar__menu--right.maxlg-ta-center
 *                 li.navbar__item.active.maxlg-bd-top
 *                     a(href='').navbar__link Home
 *                 li.navbar__item.maxlg-bd-top
 *                     a(href='').navbar__link Archive
 *                 li.navbar__item.maxlg-bd-top
 *                     a(href='').navbar__link About
 */

 /**
 * Responsive navbar horizontal menu:
 *
 *     @example
 *     nav.navbar.maxmd-navbar-responsive
 *         a(href='#!').navbar__link.md-d-none Menu
 *         div.navbar__brand
 *             a(href='').navbar__link.maxmd-m-0 Brand
 *         a(href='#!').navbar__link.md-d-none RSS
 *         div.navbar__no-collapse
 *             ul.navbar__menu.navbar__menu--right
 *                 li.navbar__item.active
 *                     a(href='').navbar__link Home
 *                 li.navbar__item
 *                     a(href='').navbar__link Archive
 *                 li.navbar__item
 *                     a(href='').navbar__link About
 *                 li.navbar__item
 *                     a(href='').navbar__link Contact
 *                 li.navbar__item
 *                     a(href='').navbar__link RSS
 */

/**
 * Navbar optional classes:
 * `.fixed` `.scrolled`
 *
 *     @example
 *     table.tbl
 *         thead
 *             tr
 *                 th Class
 *                 th Description
 *         tbody
 *             tr
 *                 td <code>.fixed</code>
 *                 td Fija el <code>.navbar</code> en la parte superior de la página.
 *             tr
 *                 td <code>.scrolled</code>
 *                 td Agrega una sombra al <code>.navbar</code> cuando se desplaza la scrollbar vertical.
 */
.navbar {
	&.fixed {
		position: fixed;
		width: 100%;
		z-index: 1000;
	}

	&.scrolled {
		box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
					0 4px 5px 0 rgba(0, 0, 0, 0.06),
					0 1px 10px 0 rgba(0, 0, 0, 0.08);
	}
}

.night {
	.navbar {
		&.scrolled {
			box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 
						0 4px 5px 0 rgba(0, 0, 0, 0.14), 
						0 1px 10px 0 rgba(0, 0, 0, 0.12);
		}
	}
}

.navbar--dark {
	.navbar__link,
	.navbar__toggler {
		color: $navbar-dark-link-color;

		&:link,
		&:visited {
			color: $navbar-dark-link-color;
		}

		&:hover {
			color: $navbar-dark-link-hover-color;
		}
	}

	.navbar__brand,
	.navbar__item.active {
		.navbar__link {
			&:link,
			&:hover,
			&:visited {
				color: $navbar-dark-item-active-link-color;
			}
		}
	}
}


