
@import '../partials/_all';


/***
 * Navmenu:
 */

/**
 * Full screen menu:
 * `.max[size]-fsmenu`
 *
 *     @example
 *     p Es el menú que ves en esta guía al consultarla desde tu teléfono móvil. Usa la clase <code>.open</code> para que este visible.
 */

@each $size, $length in $grid-breakpoints {
	@media (max-width: $length - 1) {
		.max#{$size}-fsmenu {
			background-color: transparent;

			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, -100%, 0);

			overflow-y: auto;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			width: 100%;
			height: 100%;

			transition: $fsmenu-transition;
			z-index: 999;

			> * {
				opacity: 0;
				transition: $fsmenu-all-transition;
			}

			&.open {
				background-color: $day__fsmenu-open-bg-color;
				opacity: 1;
				visibility: visible;
				transform: translate3d(0, 0, 0);

				transition: $fsmenu-open-transition;

				> * {
					opacity: 1;
					transition: $fsmenu-open-all-transition;
				}
			}
		}

		.night {
			.max#{$size}-fsmenu.open {
				background-color: $ngt__fsmenu-open-bg-color;
			}
		}
	}
}
