
@import '../partials/_all';


/***
 * Navmenu:
 */

/**
 * Full screen menu:
 * `.max[size]-fsmenu`
 *
 *     @example
 *     p Es el menú que ves en esta guía al consultarla desde tu teléfono móvil. Usa la clase <code>.open</code> para que este visible.
 */

@each $size, $length in $grid-breakpoints {

	@media ( max-width: $length - 1 ) {

		.max#{ $size }-fsmenu {
			background-color: transparent;

			opacity: 0;
			visibility: hidden;
			transform: translate3d( 0, -100%, 0 );

			overflow-y: auto;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			width: 100%;
			height: 100%;

			transition: $fsmenu-transition;
			z-index: 999;

			> * {
				opacity: 0;
				transition: $fsmenu-all-transition;
			}

			&.open {
				background-color: $day__fsmenu-open-bg-color;
				opacity: 1;
				visibility: visible;
				transform: translate3d( 0, 0, 0 );

				transition: $fsmenu-open-transition;

				> * {
					opacity: 1;
					transition: $fsmenu-open-all-transition;
				}
			}
		}

		.night {
			.max#{ $size }-fsmenu.open {
				background-color: $ngt__fsmenu-open-bg-color;
			}
		}

	}

}

/**
 * Mobile menu:
 * `.mobile-menu`
 *
 *     @example
 *     div.mobile-menu.doc-mobile-menu
 *         button(aria-label='Navigation Toggle Button', id='burger').burger.doc-burger
 *             span.burger__inner
 *                 span.burger__line-wrap
 *                     span.burger__line
 *                     span.burger__line
 *                     span.burger__line
 *                 span.burger__circle
 *                 span.burger__img-wrap
 *                     span.burger__img
 *         nav.mobile-menu__nav.doc-mobile-menu__nav
 *             div.cntr
 *                 div.row
 *                     div.col
 *                         a(href='#!').mobile-menu__a Home
 *                         a(href='#!').mobile-menu__a Archive
 *                         a(href='#!').mobile-menu__a About
 */

.mobile-menu {
	position: relative;
	z-index: $mobile-menu-z-index;
}

.burger {
	position: fixed;
	top: 0;
	right: 0;

	display: flex;

	width: $burger-width;
	height: $burger-height;
	padding: 0;

	cursor: pointer;

	border: 0;
	border-radius: 0;
	outline: unset;
	background-color: transparent;

	align-items: center;
	justify-content: center;
	-webkit-appearance: none;

	&::after {
		position: absolute;
		z-index: #{ $mobile-menu-z-index - 1 };
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		display: block;

		width: 100%;
		height: 100%;

		content: '';
	}
}

.burger__inner {
	position: relative;

	display: flex;

	width: $burger-width;
	height: $burger-width;

	align-items: center;
	justify-content: center;
}

.burger__line-wrap {
	position: absolute;
	z-index: 3;

	display: block;

	transition: -webkit-transform 0.5s cubic-bezier( 0.19, 1, 0.22, 1 );
	transition:         transform 0.5s cubic-bezier( 0.19, 1, 0.22, 1 ),
				-webkit-transform 0.5s cubic-bezier( 0.19, 1, 0.22, 1 );
	transition:         transform 0.5s cubic-bezier( 0.19, 1, 0.22, 1 );

	will-change: transform;
}

.mobile-menu-open .burger__line-wrap {
	transition-delay: 0.25s;
	-webkit-transform: rotate( -135deg );
			transform: rotate( -135deg );
}

.burger__line {
	display: block;

	width: 100%;
	width: 25px;
	height: 2px;
	margin-bottom: 4px;

	transition: -webkit-transform 0.5s cubic-bezier( 0.19, 1, 0.22, 1 );
	transition:         transform 0.5s cubic-bezier( 0.19, 1, 0.22, 1 ),
				-webkit-transform 0.5s cubic-bezier( 0.19, 1, 0.22, 1 );
	transition:         transform 0.5s cubic-bezier( 0.19, 1, 0.22, 1 );

	background-color: $burger__line-bg-color;

	will-change: transform;

	&:last-child {
		margin-bottom: 0;
	}
}

.mobile-menu-open .burger__line {
	&:first-child {
		transition-delay: 0.25s;
		-webkit-transform: translateY( 6px );
				transform: translateY( 6px );
	}

	&:nth-child( 2 ) {
		-webkit-transform: rotateY( -90deg );
				transform: rotateY( -90deg );
	}

	&:nth-child( 3 ) {
		transition-delay: 0.25s;
		-webkit-transform: translateY( -6px ) rotate( 90deg );
				transform: translateY( -6px ) rotate( 90deg );
	}
}

// Actualizar el width y height con js.

.burger__circle {
	position: absolute;
	z-index: 2;

	cursor: default;
	transition:  background-color 0.5s cubic-bezier( 0.77, 0, 0.175, 1 ),
				-webkit-transform 0.5s cubic-bezier( 0.77, 0, 0.175, 1 );
	transition:         transform 0.5s cubic-bezier( 0.77, 0, 0.175, 1 ),
				 background-color 0.5s cubic-bezier( 0.77, 0, 0.175, 1 ),
				-webkit-transform 0.5s cubic-bezier( 0.77, 0, 0.175, 1 );
	transition:         transform 0.5s cubic-bezier( 0.77, 0, 0.175, 1 ),
				 background-color 0.5s cubic-bezier( 0.77, 0, 0.175, 1 );
	-webkit-transform: scale( 0 );
			transform: scale( 0 );

	border-radius: 50%;
	background-color: $burger__circle-bg-color;

	will-change: transform;
}

.mobile-menu-open .burger__circle {
	transition-delay: 0.25s;
	-webkit-transform: scale( 1 );
			transform: scale( 1 );
}

.burger__img-wrap {
	position: relative;

	display: block;

	width: $burger__img-wrap-width;
	height: $burger__img-wrap-height;

	// Si se agregara una imagen de fondo comentar el css code de abajo

	border-radius: 50%;
	background-color: $burger__img-wrap-bg-color;

	// y reemplazar html por el siguiente:
	// img(src='https://twinsoul.studio/menu-circle-blue.d423a17d.png', aria-hidden='true').burger__img
}

.burger__img {
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: auto;

	transition: opacity 0.3s;

	opacity: 1;
}


.mobile-menu__nav {
	position: fixed;
	z-index: 2;
	top: $mobile-menu__nav-top;
	left: 0;

	width: 100%;
	height: 100%;

	pointer-events: none;
}

.mobile-menu-open .mobile-menu__nav {
	pointer-events: auto;
}

.mobile-menu__a {
	font-size: $mobile-menu__a-font-size;

	display: block;

	margin-bottom: $mobile-menu__a-margin-bottom;

	transition:           opacity 0.5s cubic-bezier( 0.23, 1, 0.32, 1 ),
				-webkit-transform 0.6s cubic-bezier( 0.23, 1, 0.32, 1 );
	transition:           opacity 0.5s cubic-bezier( 0.23, 1, 0.32, 1 ),
						transform 0.6s cubic-bezier( 0.23, 1, 0.32, 1 ),
				-webkit-transform 0.6s cubic-bezier( 0.23, 1, 0.32, 1 );
	transition:           opacity 0.5s cubic-bezier( 0.23, 1, 0.32, 1 ),
						transform 0.6s cubic-bezier( 0.23, 1, 0.32, 1 );
	-webkit-transform: translateX( 25px );
			transform: translateX( 25px );
	text-decoration: none;
	// letter-spacing: 0.06em;
	text-transform: uppercase;

	opacity: 0;
	color: #fff !important;

	will-change: transform;
}

.mobile-menu-open .mobile-menu__a {
	-webkit-transform: none;
			transform: none;

	opacity: 1;

	&:first-child {
		transition-delay: 0.4s;
	}

	&:nth-child( 2 ) {
		transition-delay: 0.5s;
	}

	&:nth-child( 3 ) {
		transition-delay: 0.6s;
	}
}
