
@import '../partials/_all';


/***
 * Tabs:
 */

/**
 * Standard tabs:
 * `.tabs`
 *
 *     @example
 *     div.tabs
 *         ul
 *             li.active
 *                 a(href='#!') Tab 1
 *             li
 *                 a(href='#!') Tab 2
 *             li
 *                 a(href='#!') Tab 3
 *             li
 *                 a(href='#!') Tab 4
 */

.tabs {
	align-items: stretch;
	display: flex;

	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;

	ul, a {
		border-bottom-width: $tabs-border-bottom-width;
		border-bottom-style: $tabs-border-bottom-style;
		border-bottom-color: $day__tabs-border-bottom-color;
	}

	ul {
		display: flex;
		flex-grow: 1;
		// flex-shrink: 0;
		list-style: none;
		padding-left: 0;
		position: relative;
	}

	li {
		display: block;
		margin: $tabs__item-margin;

		&:first-child {
			margin-left: 0;
		}

		a {
			border-bottom-width: $tabs__a-border-bottom-width;
			border-bottom-color: $day__tabs__a-border-bottom-color;

			display: flex;
			margin-bottom: -#{$tabs-border-bottom-width};

			&:link,
			&:visited {
				color: $day__tabs__a-color;
			}

			&:hover {
				border-bottom-color: $day__tabs__a-hover-border-bottom-color;
				color: $day__tabs__a-hover-color;
			}

			padding: $tabs__a-padding-y $tabs__a-padding-x;
		}
	}

	.active {
		a {
			border-bottom-width: $tabs__item-active__a-border-bottom-width;
			border-bottom-color: $day__tabs__item-active__a-border-bottom-color;

			&:link,
			&:visited {
				color: $day__tabs__item-active__a-color;
			}

			&:hover {
				color: $day__tabs__item-active__a-hover-color;
			}
		}
	}
}

.night .tabs {
	ul, a {
		border-bottom-color: $ngt__tabs-border-bottom-color;
	}

	li {
		a {
			border-bottom-color: $ngt__tabs__a-border-bottom-color;

			&:link,
			&:visited {
				color: $ngt__tabs__a-color;
			}

			&:hover {
				border-bottom-color: $ngt__tabs__a-hover-border-bottom-color;
				color: $ngt__tabs__a-hover-color;
			}
		}
	}

	.active {
		a {
			border-bottom-color: $ngt__tabs__item-active__a-border-bottom-color;

			&:link,
			&:visited {
				color: $ngt__tabs__item-active__a-color;
			}

			&:hover {
				color: $ngt__tabs__item-active__a-hover-color;
			}
		}
	}
}

/**
 * Center tabs:
 * `.tabs--center`
 *
 *     @example
 *     div.tabs.tabs--center
 *         ul
 *             li.active
 *                 a(href='#!') Tab 1
 *             li
 *                 a(href='#!') Tab 2
 *             li
 *                 a(href='#!') Tab 3
 *             li
 *                 a(href='#!') Tab 4
 */

.tabs--center {
	ul {
		justify-content: center;
	}
}

/**
 * Right tabs:
 * `.tabs--right`
 *
 *     @example
 *     div.tabs.tabs--right
 *         ul
 *             li.active
 *                 a(href='#!') Tab 1
 *             li
 *                 a(href='#!') Tab 2
 *             li
 *                 a(href='#!') Tab 3
 *             li
 *                 a(href='#!') Tab 4
 */

.tabs--right {
	ul {
		justify-content: right;
	}
}

/**
 * Active item underline:
 * `.active-item-underline`
 *
 *     @example
 *     div.tabs
 *         ul
 *             li
 *                 a(href='#!') Tab 1
 *             li.active.active--underline
 *                 a(href='#!') Tab 2
 *             li
 *                 a(href='#!') Tab 3
 *             li
 *                 a(href='#!') Tab 4
 *             li(style='transform: translate3d( 71px, 0, 0 ); width: 73px;').active-underline
 */

.active-underline {
	background-color: $day__tabs__item-active__a-border-bottom-color;
	height: $tabs__item-active__a-border-bottom-width;
	position: absolute;
	left: 0;
	bottom: -1px;

	transition: $tabs__item__active-underline-transition;
	will-change: transform, width;

	// Modify with js:

	transform: translate3d( 0 ); // X position,
	width: 71px; // item width.
}

.night .active-underline {
	background-color: $ngt__tabs__item-active__a-border-bottom-color;
}

.tabs {
	.active--underline {
		a {
			border-bottom: none;
		}
	}
}

.tabs-details {
	> div:not( .active ) {
		display: none;
	}
}
