// Color palette

// Name color, hex., generate list of tints and shades?
$color-palette: (
	'black'        #000000 '',
	'white'        #ffffff '',

	'blue'         #1d97f4 'y',
	'dark blue'    #0a71d8 '',
	'gray'         #9e9e9f 'y',
	'cool gray'    #9ea3af 'y',
	'green'        #0ec96b 'y',
	'orange'       #ff9a56 '',
	'red'          #ff5956 'y',
	'yellow'       #fcd255 'y'
);

// $color-palette: (
// 	'black'        #000000 '',
// 	'white'        #ffffff '',

// 	'blue'         #259af4 'y',
// 	'dark blue'    #1174d9 '',
// 	'gray'         #9e9e9f 'y',
// 	'cool gray'    #9ea3af 'y',
// 	'green'        #15ca6e 'y',
// 	'orange'       #ff9f5f '',
// 	'red'          #ff635f 'y',
// 	'yellow'       #fcd45c 'y'
// );
