//
// Color palette

// Cyan

$cyan-1:  #def9fb;
$cyan-10: #aceff4;
$cyan-20: #70e4ee;
$cyan-30: #00d9e8; // P
$cyan-40: #00d0e3;
$cyan-50: #00c7df;
$cyan-60: #00b6cc;
$cyan-70: #00a1b1;
$cyan-80: #008c98;
$cyan-90: #00696b;

// Red

$red-1:  #fbeae7;
$red-10: #ffcfbd;
$red-20: #ffb093;
$red-30: #ff9267; // P
$red-40: #ff7b45;
$red-50: #ff6522;
$red-60: #f45f1e;
$red-70: #e65719;
$red-80: #d85015;
$red-90: #c0430c;

// Yellow

$yellow-1:  #fefde6;
$yellow-10: #fdf8c2;
$yellow-20: #fcf399;
$yellow-30: #fbef70;
$yellow-40: #f8ea4e;
$yellow-50: #f9e82d; // P
$yellow-60: #f8d526;
$yellow-70: #f6bd1d;
$yellow-80: #f5a513;
$yellow-90: #f27b00;

// Color defaults

$cyan:       $cyan-30;
$red:        $red-30;
$yellow:     $yellow-50;

// Fades

$black:      #000;
$white:      #fff;

$black-0125: rgba( $black, 0.0125 );
$black-025:  rgba( $black, 0.025 );
$black-05:   rgba( $black, 0.05 );
$black-075:  rgba( $black, 0.075 );
$black-10:   rgba( $black, 0.1 );
$black-20:   rgba( $black, 0.2 );
$black-30:   rgba( $black, 0.3 );
$black-40:   rgba( $black, 0.4 );
$black-50:   rgba( $black, 0.5 );
$black-60:   rgba( $black, 0.6 );
$black-70:   rgba( $black, 0.7 );
$black-80:   rgba( $black, 0.8 );
$black-90:   rgba( $black, 0.9 );

$white-0125: rgba( $white, 0.0125 );
$white-025:  rgba( $white, 0.025 );
$white-05:   rgba( $white, 0.05 );
$white-075:  rgba( $white, 0.075 );
$white-10:   rgba( $white, 0.1 );
$white-20:   rgba( $white, 0.2 );
$white-30:   rgba( $white, 0.3 );
$white-40:   rgba( $white, 0.4 );
$white-50:   rgba( $white, 0.5 );
$white-60:   rgba( $white, 0.6 );
$white-70:   rgba( $white, 0.7 );
$white-80:   rgba( $white, 0.8 );
$white-90:   rgba( $white, 0.9 );

$color-palette: (
    'cyan'         $cyan,
    'red'          $red,
    'yellow'       $yellow,

    'black'        $black,
    'white'        $white,

    'cyan 1'       $cyan-1,
    'cyan 10'      $cyan-10,
    'cyan 20'      $cyan-20,
    'cyan 30'      $cyan-30,
    'cyan 40'      $cyan-40,
    'cyan 50'      $cyan-50,
    'cyan 60'      $cyan-60,
    'cyan 70'      $cyan-70,
    'cyan 80'      $cyan-80,
    'cyan 90'      $cyan-90,

    'red 1'        $red-1,
    'red 10'       $red-10,
    'red 20'       $red-20,
    'red 30'       $red-30,
    'red 40'       $red-40,
    'red 50'       $red-50,
    'red 60'       $red-60,
    'red 70'       $red-70,
    'red 80'       $red-80,
    'red 90'       $red-90,

    'yellow 1'     $yellow-1,
    'yellow 10'    $yellow-10,
    'yellow 20'    $yellow-20,
    'yellow 30'    $yellow-30,
    'yellow 40'    $yellow-40,
    'yellow 50'    $yellow-50,
    'yellow 60'    $yellow-60,
    'yellow 70'    $yellow-70,
    'yellow 80'    $yellow-80,
    'yellow 90'    $yellow-90,

    'black 0125'   $black-0125,
    'black 025'    $black-025,
    'black 05'     $black-05,
    'black 075'    $black-075,
    'black 10'     $black-10,
    'black 20'     $black-20,
    'black 30'     $black-30,
    'black 40'     $black-40,
    'black 50'     $black-50,
    'black 60'     $black-60,
    'black 70'     $black-70,
    'black 80'     $black-80,
    'black 90'     $black-90,

    'white 0125'   $white-0125,
    'white 025'    $white-025,
    'white 05'     $white-05,
    'white 075'    $white-075,
    'white 10'     $white-10,
    'white 20'     $white-20,
    'white 30'     $white-30,
    'white 40'     $white-40,
    'white 50'     $white-50,
    'white 60'     $white-60,
    'white 70'     $white-70,
    'white 80'     $white-80,
    'white 90'     $white-90
);
