//
// Color palette

// Purple

$purple-1:            #f2edfd;
$purple-10:           #e0d1fb;
$purple-20:           #cbb3f9;
$purple-30:           #b694f6;
$purple-40:           #a67df4;
$purple-50:           #9666f2;
$purple-60:           #8e5ef0;
$purple-70:           #8353ee;
$purple-80:           #7949ec;
$purple-90:           #6838e8;

// Gold

$gold-1:              #fff8e9;
$gold-10:             #ffeec7;
$gold-20:             #ffe3a2;
$gold-30:             #fed87d;
$gold-40:             #fecf61;
$gold-50:             #fec745;
$gold-60:             #fec13e;
$gold-70:             #feba36;
$gold-80:             #feb32e;
$gold-90:             #fda61f;

// Red

$red-1:               #ffecec;
$red-10:              #fed0cf;
$red-20:              #feb1b0;
$red-30:              #fd9190;
$red-40:              #fc7a78;
$red-50:              #fc6260;
$red-60:              #fc5a58;
$red-70:              #fb504e;
$red-80:              #fb4644;
$red-90:              #fa3433;

// Green

$green-1:             #e5fbf2;
$green-10:            #bff4de;
$green-20:            #94edc9;
$green-30:            #69e5b3;
$green-40:            #49e0a2;
$green-50:            #29da92;
$green-60:            #24d68a;
$green-70:            #1fd07f;
$green-80:            #19cb75;
$green-90:            #0fc263;

// Gray

$gray-1:              #eaeaea;
$gray-10:             #d8d8d8;
$gray-20:             #c0bfc0;
$gray-30:             #a6a5a6;
$gray-40:             #949394;
$gray-50:             #777677;
$gray-60:             #595859;
$gray-70:             #464646;
$gray-80:             #343334;
$gray-90:             #272727;

// Cool gray

$cool-gray-1:         #e3ecec;
$cool-gray-10:        #d0dada;
$cool-gray-20:        #b8c1c1;
$cool-gray-30:        #9fa7a7;
$cool-gray-40:        #8c9696;
$cool-gray-50:        #6f7878;
$cool-gray-60:        #535a5a;
$cool-gray-70:        #424747;
$cool-gray-80:        #343334;
$cool-gray-90:        #272727;

// Neutral white

$neutral-white-1:     #fcfcfc;
$neutral-white-2:     #f9f9f9;
$neutral-white-3:     #f6f6f6;
$neutral-white-4:     #f3f3f3;

// Cool white

$cool-white-1:        #fbfcfc;
$cool-white-2:        #f8fafa;
$cool-white-3:        #f4f7f7;
$cool-white-4:        #f0f4f4;

// Warm white

$warm-white-1:        #fdfcfc;
$warm-white-2:        #fbf8f8;
$warm-white-3:        #f9f6f6;
$warm-white-4:        #f6f3f3;

// Fades

$black:               #000;
$white:               #fff;

$transparent:         transparent;

$black-0125:          rgba( $black, 0.0125 );
$black-025:           rgba( $black, 0.025 );
$black-05:            rgba( $black, 0.05 );
$black-075:           rgba( $black, 0.075 );
$black-10:            rgba( $black, 0.1 );
$black-20:            rgba( $black, 0.2 );
$black-30:            rgba( $black, 0.3 );
$black-40:            rgba( $black, 0.4 );
$black-50:            rgba( $black, 0.5 );
$black-60:            rgba( $black, 0.6 );
$black-70:            rgba( $black, 0.7 );
$black-80:            rgba( $black, 0.8 );
$black-90:            rgba( $black, 0.9 );

$white-0125:          rgba( $white, 0.0125 );
$white-025:           rgba( $white, 0.025 );
$white-05:            rgba( $white, 0.05 );
$white-075:           rgba( $white, 0.075 );
$white-10:            rgba( $white, 0.1 );
$white-20:            rgba( $white, 0.2 );
$white-30:            rgba( $white, 0.3 );
$white-40:            rgba( $white, 0.4 );
$white-50:            rgba( $white, 0.5 );
$white-60:            rgba( $white, 0.6 );
$white-70:            rgba( $white, 0.7 );
$white-80:            rgba( $white, 0.8 );
$white-90:            rgba( $white, 0.9 );

// Color defaults

$purple:              $purple-50;
$gold:                $gold-50;
$red:                 $red-50;
$green:               $green-50;

$gray-light:          $gray-20;
$gray:                $gray-40;
$gray-dark:           $gray-90;

$cool-gray-light:     $cool-gray-20;
$cool-gray:           $cool-gray-40;
$cool-gray-dark:      $cool-gray-90;


$color-palette: (
    'purple'          $purple,
    'gold'            $gold,
    'red'             $red,
    'green'           $green,

    'purple 1'        $purple-1,
    'purple 10'       $purple-10,
    'purple 20'       $purple-20,
    'purple 30'       $purple-30,
    'purple 40'       $purple-40,
    'purple 50'       $purple-50,
    'purple 60'       $purple-60,
    'purple 70'       $purple-70,
    'purple 80'       $purple-80,
    'purple 90'       $purple-90,

    'gold 1'          $gold-1,
    'gold 10'         $gold-10,
    'gold 20'         $gold-20,
    'gold 30'         $gold-30,
    'gold 40'         $gold-40,
    'gold 50'         $gold-50,
    'gold 60'         $gold-60,
    'gold 70'         $gold-70,
    'gold 80'         $gold-80,
    'gold 90'         $gold-90,

    'red 1'           $red-1,
    'red 10'          $red-10,
    'red 20'          $red-20,
    'red 30'          $red-30,
    'red 40'          $red-40,
    'red 50'          $red-50,
    'red 60'          $red-60,
    'red 70'          $red-70,
    'red 80'          $red-80,
    'red 90'          $red-90,

    'green 1'         $green-1,
    'green 10'        $green-10,
    'green 20'        $green-20,
    'green 30'        $green-30,
    'green 40'        $green-40,
    'green 50'        $green-50,
    'green 60'        $green-60,
    'green 70'        $green-70,
    'green 80'        $green-80,
    'green 90'        $green-90,

    'gray 1'          $gray-1,
    'gray 10'         $gray-10,
    'gray 20'         $gray-20,
    'gray 30'         $gray-30,
    'gray 40'         $gray-40,
    'gray 50'         $gray-50,
    'gray 60'         $gray-60,
    'gray 70'         $gray-70,
    'gray 80'         $gray-80,
    'gray 90'         $gray-90,

    'cool gray 1'     $cool-gray-1,
    'cool gray 10'    $cool-gray-10,
    'cool gray 20'    $cool-gray-20,
    'cool gray 30'    $cool-gray-30,
    'cool gray 40'    $cool-gray-40,
    'cool gray 50'    $cool-gray-50,
    'cool gray 60'    $cool-gray-60,
    'cool gray 70'    $cool-gray-70,
    'cool gray 80'    $cool-gray-80,
    'cool gray 90'    $cool-gray-90,

    'neutral white 1' $neutral-white-1,
    'neutral white 2' $neutral-white-2,
    'neutral white 3' $neutral-white-3,
    'neutral white 4' $neutral-white-4,

    'cool white 1'    $cool-white-1,
    'cool white 2'    $cool-white-2,
    'cool white 3'    $cool-white-3,
    'cool white 4'    $cool-white-4,

    'warm white 1'    $warm-white-1,
    'warm white 2'    $warm-white-2,
    'warm white 3'    $warm-white-3,
    'warm white 4'    $warm-white-4,

    'black'           $black,
    'white'           $white,

    'transparent'     $transparent,

    'black 0125'      $black-0125,
    'black 025'       $black-025,
    'black 05'        $black-05,
    'black 075'       $black-075,
    'black 10'        $black-10,
    'black 20'        $black-20,
    'black 30'        $black-30,
    'black 40'        $black-40,
    'black 50'        $black-50,
    'black 60'        $black-60,
    'black 70'        $black-70,
    'black 80'        $black-80,
    'black 90'        $black-90,

    'white 0125'      $white-0125,
    'white 025'       $white-025,
    'white 05'        $white-05,
    'white 075'       $white-075,
    'white 10'        $white-10,
    'white 20'        $white-20,
    'white 30'        $white-30,
    'white 40'        $white-40,
    'white 50'        $white-50,
    'white 60'        $white-60,
    'white 70'        $white-70,
    'white 80'        $white-80,
    'white 90'        $white-90,

    'gray light'      $gray-light,
    'gray'            $gray,
    'gray dark'       $gray-dark,

    'cool gray light' $cool-gray-light,
    'cool gray'       $cool-gray,
    'cool gray dark'  $cool-gray-dark
);
