//
// Color palette

// Ultramarine
$ultramarine-1:       #e7e9f7;
$ultramarine-10:      #d1d7f4;
$ultramarine-20:      #b0bef3;
$ultramarine-30:      #89a2f6;
$ultramarine-40:      #648fff;
$ultramarine-50:      #3c6df0;
$ultramarine-60:      #3151b7;
$ultramarine-70:      #2e3f8f;
$ultramarine-80:      #252e6a;
$ultramarine-90:      #20214f;

// Blue
$blue-1:              #e1ebf7;
$blue-10:             #c8daf4;
$blue-20:             #a8c0f3;
$blue-30:             #79a6f6;
$blue-40:             #5392ff;
$blue-50:             #2d74da;
$blue-60:             #1f57a4;
$blue-70:             #25467a;
$blue-80:             #1d3458;
$blue-90:             #19273c;

// Cerulean
$cerulean-1:          #deedf7;
$cerulean-10:         #c2dbf4;
$cerulean-20:         #95c4f3;
$cerulean-30:         #56acf2;
$cerulean-40:         #009bef;
$cerulean-50:         #047cc0;
$cerulean-60:         #175d8d;
$cerulean-70:         #1c496d;
$cerulean-80:         #1d364d;
$cerulean-90:         #1b2834;

// Aqua
$aqua-1:              #d1f0f7;
$aqua-10:             #a0e3f0;
$aqua-20:             #71cddd;
$aqua-30:             #00b6cb;
$aqua-40:             #12a3b4;
$aqua-50:             #188291;
$aqua-60:             #17616b;
$aqua-70:             #164d56;
$aqua-80:             #13393e;
$aqua-90:             #122a2e;

// Teal
$teal-1:              #c0f5e8;
$teal-10:             #8ee9d4;
$teal-20:             #40d5bb;
$teal-30:             #00baa1;
$teal-40:             #00a78f;
$teal-50:             #008673;
$teal-60:             #006456;
$teal-70:             #124f44;
$teal-80:             #133a32;
$teal-90:             #122b26;

// Green
$green-1:             #cef3d1;
$green-10:            #89eda0;
$green-20:            #57d785;
$green-30:            #34bc6e;
$green-40:            #00aa5e;
$green-50:            #00884b;
$green-60:            #116639;
$green-70:            #12512e;
$green-80:            #123b22;
$green-90:            #112c1b;

// Lime
$lime-1:              #d7f4bd;
$lime-10:             #b4e876;
$lime-20:             #95d13c;
$lime-30:             #81b532;
$lime-40:             #73a22c;
$lime-50:             #5b8121;
$lime-60:             #426200;
$lime-70:             #374c1a;
$lime-80:             #283912;
$lime-90:             #1f2a10;

// Yellow
$yellow-1:            #fbeaae;
$yellow-10:           #fed500;
$yellow-20:           #e3bc13;
$yellow-30:           #c6a21a;
$yellow-40:           #b3901f;
$yellow-50:           #91721f;
$yellow-60:           #70541b;
$yellow-70:           #5b421a;
$yellow-80:           #452f18;
$yellow-90:           #372118;

// Gold
$gold-1:              #f5e8db;
$gold-10:             #ffd191;
$gold-20:             #ffb000;
$gold-30:             #e39d14;
$gold-40:             #c4881c;
$gold-50:             #9c6d1e;
$gold-60:             #74521b;
$gold-70:             #5b421c;
$gold-80:             #42301b;
$gold-90:             #2f261c;

 // Orange
$orange-1:            #f5e8de;
$orange-10:           #fdcfad;
$orange-20:           #fcaf6d;
$orange-30:           #fe8500;
$orange-40:           #db7c00;
$orange-50:           #ad6418;
$orange-60:           #814b19;
$orange-70:           #653d1b;
$orange-80:           #482e1a;
$orange-90:           #33241c;

// Peach
$peach-1:             #f7e7e2;
$peach-10:            #f8d0c3;
$peach-20:            #faad96;
$peach-30:            #fc835c;
$peach-40:            #fe6100;
$peach-50:            #c45433;
$peach-60:            #993a1d;
$peach-70:            #782f1c;
$peach-80:            #56251a;
$peach-90:            #3a201b;

// Red
$red-1:               #f7e6e6;
$red-10:              #fccec7;
$red-20:              #ffaa9d;
$red-30:              #ff806c;
$red-40:              #ff5c49;
$red-50:              #e62325;
$red-60:              #aa231f;
$red-70:              #83231e;
$red-80:              #5c1f1b;
$red-90:              #3e1d1b;

// Magenta
$magenta-1:           #f5e7eb;
$magenta-10:          #f5cedb;
$magenta-20:          #f7aac3;
$magenta-30:          #f87eac;
$magenta-40:          #ff509e;
$magenta-50:          #dc267f;
$magenta-60:          #a91560;
$magenta-70:          #831b4c;
$magenta-80:          #5d1a38;
$magenta-90:          #401a29;

// Purple
$purple-1:            #f7e4fb;
$purple-10:           #efcef3;
$purple-20:           #e4adea;
$purple-30:           #d68adf;
$purple-40:           #cb71d7;
$purple-50:           #c22dd5;
$purple-60:           #9320a2;
$purple-70:           #71237c;
$purple-80:           #501e58;
$purple-90:           #3b1a40;

// Violet
$violet-1:            #ece8f5;
$violet-10:           #e2d2f4;
$violet-20:           #d2b5f0;
$violet-30:           #bf93eb;
$violet-40:           #b07ce8;
$violet-50:           #9753e1;
$violet-60:           #7732bb;
$violet-70:           #602797;
$violet-80:           #44216a;
$violet-90:           #321c4c;

// Indigo
$indigo-1:            #e9e8ff;
$indigo-10:           #dcd4f7;
$indigo-20:           #c7b6f7;
$indigo-30:           #ae97f4;
$indigo-40:           #9b82f3;
$indigo-50:           #785ef0;
$indigo-60:           #5a3ec8;
$indigo-70:           #473793;
$indigo-80:           #352969;
$indigo-90:           #272149;

// Gray
$gray-1:              #eaeaea;
$gray-10:             #d8d8d8;
$gray-20:             #c0bfc0;
$gray-30:             #a6a5a6;
$gray-40:             #949394;
$gray-50:             #777677;
$gray-60:             #595859;
$gray-70:             #464646;
$gray-80:             #343334;
$gray-90:             #272727;

// Cool gray
$cool-gray-1:         #e3ecec;
$cool-gray-10:        #d0dada;
$cool-gray-20:        #b8c1c1;
$cool-gray-30:        #9fa7a7;
$cool-gray-40:        #8c9696;
$cool-gray-50:        #6f7878;
$cool-gray-60:        #535a5a;
$cool-gray-70:        #424747;
$cool-gray-80:        #343334;
$cool-gray-90:        #272727;

// Warm gray
$warm-gray-1:         #efe9e9;
$warm-gray-10:        #e2d5d5;
$warm-gray-20:        #ccbcbc;
$warm-gray-30:        #b4a1a1;
$warm-gray-40:        #9e9191;
$warm-gray-50:        #7d7373;
$warm-gray-60:        #5f5757;
$warm-gray-70:        #4b4545;
$warm-gray-80:        #373232;
$warm-gray-90:        #2a2626;

// Neutral white
$neutral-white-1:     #fcfcfc;
$neutral-white-2:     #f9f9f9;
$neutral-white-3:     #f6f6f6;
$neutral-white-4:     #f3f3f3;

// Cool white
$cool-white-1:        #fbfcfc;
$cool-white-2:        #f8fafa;
$cool-white-3:        #f4f7f7;
$cool-white-4:        #f0f4f4;

// Warm white
$warm-white-1:        #fdfcfc;
$warm-white-2:        #fbf8f8;
$warm-white-3:        #f9f6f6;
$warm-white-4:        #f6f3f3;

// Fades
$black:               #000;
$white:               #fff;

$transparent:         transparent;

$black-90:            rgba($black, 0.9);
$black-80:            rgba($black, 0.8);
$black-70:            rgba($black, 0.7);
$black-60:            rgba($black, 0.6);
$black-50:            rgba($black, 0.5);
$black-40:            rgba($black, 0.4);
$black-30:            rgba($black, 0.3);
$black-20:            rgba($black, 0.2);
$black-10:            rgba($black, 0.1);
$black-075:           rgba($black, 0.075);
$black-05:            rgba($black, 0.05);
$black-025:           rgba($black, 0.025);
$black-0125:          rgba($black, 0.0125);

$white-90:            rgba($white, 0.9);
$white-80:            rgba($white, 0.8);
$white-70:            rgba($white, 0.7);
$white-60:            rgba($white, 0.6);
$white-50:            rgba($white, 0.5);
$white-40:            rgba($white, 0.4);
$white-30:            rgba($white, 0.3);
$white-20:            rgba($white, 0.2);
$white-10:            rgba($white, 0.1);
$white-075:           rgba($white, 0.075);
$white-05:            rgba($white, 0.05);
$white-025:           rgba($white, 0.025);
$white-0125:          rgba($white, 0.0125);

// Color defaults
$ultramarine:         $ultramarine-50;
$blue:                $blue-40;
$cerulean:            $cerulean-40;
$aqua:                $aqua-30;
$teal:                $teal-30;
$green:               $green-30;
$lime:                $lime-20;
$yellow:              $yellow-10;
$gold:                $gold-20;
$orange:              $orange-20;
$peach:               $peach-30;
$red:                 $red-40;
$magenta:             $magenta-30;
$purple:              $purple-40;
$violet:              $violet-50;
$indigo:              $indigo-50;

$gray-light:          $gray-20;
$gray:                $gray-40;
$gray-dark:           $gray-90;

$cool-gray-light:     $cool-gray-20;
$cool-gray:           $cool-gray-40;
$cool-gray-dark:      $cool-gray-90;

$warm-gray-light:     $warm-gray-20;
$warm-gray:           $warm-gray-40;
$warm-gray-dark:      $warm-gray-90;


$color-palette: (
    // 'ultramarine 1'   $ultramarine-1,
    // 'ultramarine 10'  $ultramarine-10,
    // 'ultramarine 20'  $ultramarine-20,
    // 'ultramarine 30'  $ultramarine-30,
    // 'ultramarine 40'  $ultramarine-40,
    // 'ultramarine 50'  $ultramarine-50,
    // 'ultramarine 60'  $ultramarine-60,
    // 'ultramarine 70'  $ultramarine-70,
    // 'ultramarine 80'  $ultramarine-80,
    // 'ultramarine 90'  $ultramarine-90,

    // 'blue 1'          $blue-1,
    // 'blue 10'         $blue-10,
    // 'blue 20'         $blue-20,
    // 'blue 30'         $blue-30,
    // 'blue 40'         $blue-40,
    // 'blue 50'         $blue-50,
    // 'blue 60'         $blue-60,
    // 'blue 70'         $blue-70,
    // 'blue 80'         $blue-80,
    // 'blue 90'         $blue-90,

    'cerulean 1'      $cerulean-1,
    'cerulean 10'     $cerulean-10,
    'cerulean 20'     $cerulean-20,
    'cerulean 30'     $cerulean-30,
    'cerulean 40'     $cerulean-40,
    'cerulean 50'     $cerulean-50,
    'cerulean 60'     $cerulean-60,
    'cerulean 70'     $cerulean-70,
    'cerulean 80'     $cerulean-80,
    'cerulean 90'     $cerulean-90,

    'aqua 1'          $aqua-1,
    'aqua 10'         $aqua-10,
    'aqua 20'         $aqua-20,
    'aqua 30'         $aqua-30,
    'aqua 40'         $aqua-40,
    'aqua 50'         $aqua-50,
    'aqua 60'         $aqua-60,
    'aqua 70'         $aqua-70,
    'aqua 80'         $aqua-80,
    'aqua 90'         $aqua-90,

    'teal 1'          $teal-1,
    'teal 10'         $teal-10,
    'teal 20'         $teal-20,
    'teal 30'         $teal-30,
    'teal 40'         $teal-40,
    'teal 50'         $teal-50,
    'teal 60'         $teal-60,
    'teal 70'         $teal-70,
    'teal 80'         $teal-80,
    'teal 90'         $teal-90,

    'green 1'         $green-1,
    'green 10'        $green-10,
    'green 20'        $green-20,
    'green 30'        $green-30,
    'green 40'        $green-40,
    'green 50'        $green-50,
    'green 60'        $green-60,
    'green 70'        $green-70,
    'green 80'        $green-80,
    'green 90'        $green-90,

    // 'lime 1'          $lime-1,
    // 'lime 10'         $lime-10,
    // 'lime 20'         $lime-20,
    // 'lime 30'         $lime-30,
    // 'lime 40'         $lime-40,
    // 'lime 50'         $lime-50,
    // 'lime 60'         $lime-60,
    // 'lime 70'         $lime-70,
    // 'lime 80'         $lime-80,
    // 'lime 90'         $lime-90,

    'yellow 1'        $yellow-1,
    'yellow 10'       $yellow-10,
    'yellow 20'       $yellow-20,
    'yellow 30'       $yellow-30,
    'yellow 40'       $yellow-40,
    'yellow 50'       $yellow-50,
    'yellow 60'       $yellow-60,
    'yellow 70'       $yellow-70,
    'yellow 80'       $yellow-80,
    'yellow 90'       $yellow-90,

    'gold 1'          $gold-1,
    'gold 10'         $gold-10,
    'gold 20'         $gold-20,
    'gold 30'         $gold-30,
    'gold 40'         $gold-40,
    'gold 50'         $gold-50,
    'gold 60'         $gold-60,
    'gold 70'         $gold-70,
    'gold 80'         $gold-80,
    'gold 90'         $gold-90,

    'orange 1'        $orange-1,
    'orange 10'       $orange-10,
    'orange 20'       $orange-20,
    'orange 30'       $orange-30,
    'orange 40'       $orange-40,
    'orange 50'       $orange-50,
    'orange 60'       $orange-60,
    'orange 70'       $orange-70,
    'orange 80'       $orange-80,
    'orange 90'       $orange-90,

    'peach 1'         $peach-1,
    'peach 10'        $peach-10,
    'peach 20'        $peach-20,
    'peach 30'        $peach-30,
    'peach 40'        $peach-40,
    'peach 50'        $peach-50,
    'peach 60'        $peach-60,
    'peach 70'        $peach-70,
    'peach 80'        $peach-80,
    'peach 90'        $peach-90,

    'red 1'           $red-1,
    'red 10'          $red-10,
    'red 20'          $red-20,
    'red 30'          $red-30,
    'red 40'          $red-40,
    'red 50'          $red-50,
    'red 60'          $red-60,
    'red 70'          $red-70,
    'red 80'          $red-80,
    'red 90'          $red-90,

    'magenta 1'       $magenta-1,
    'magenta 10'      $magenta-10,
    'magenta 20'      $magenta-20,
    'magenta 30'      $magenta-30,
    'magenta 40'      $magenta-40,
    'magenta 50'      $magenta-50,
    'magenta 60'      $magenta-60,
    'magenta 70'      $magenta-70,
    'magenta 80'      $magenta-80,
    'magenta 90'      $magenta-90,

    // 'purple 1'        $purple-1,
    // 'purple 10'       $purple-10,
    // 'purple 20'       $purple-20,
    // 'purple 30'       $purple-30,
    // 'purple 40'       $purple-40,
    // 'purple 50'       $purple-50,
    // 'purple 60'       $purple-60,
    // 'purple 70'       $purple-70,
    // 'purple 80'       $purple-80,
    // 'purple 90'       $purple-90,

    'violet 1'        $violet-1,
    'violet 10'       $violet-10,
    'violet 20'       $violet-20,
    'violet 30'       $violet-30,
    'violet 40'       $violet-40,
    'violet 50'       $violet-50,
    'violet 60'       $violet-60,
    'violet 70'       $violet-70,
    'violet 80'       $violet-80,
    'violet 90'       $violet-90,

    // 'indigo 1'        $indigo-1,
    // 'indigo 10'       $indigo-10,
    // 'indigo 20'       $indigo-20,
    // 'indigo 30'       $indigo-30,
    // 'indigo 40'       $indigo-40,
    // 'indigo 50'       $indigo-50,
    // 'indigo 60'       $indigo-60,
    // 'indigo 70'       $indigo-70,
    // 'indigo 80'       $indigo-80,
    // 'indigo 90'       $indigo-90,

    'gray 1'          $gray-1,
    'gray 10'         $gray-10,
    'gray 20'         $gray-20,
    'gray 30'         $gray-30,
    'gray 40'         $gray-40,
    'gray 50'         $gray-50,
    'gray 60'         $gray-60,
    'gray 70'         $gray-70,
    'gray 80'         $gray-80,
    'gray 90'         $gray-90,

    'cool gray 1'     $cool-gray-1,
    'cool gray 10'    $cool-gray-10,
    'cool gray 20'    $cool-gray-20,
    'cool gray 30'    $cool-gray-30,
    'cool gray 40'    $cool-gray-40,
    'cool gray 50'    $cool-gray-50,
    'cool gray 60'    $cool-gray-60,
    'cool gray 70'    $cool-gray-70,
    'cool gray 80'    $cool-gray-80,
    'cool gray 90'    $cool-gray-90,

    // 'warm gray 1'     $warm-gray-1,
    // 'warm gray 10'    $warm-gray-10,
    // 'warm gray 20'    $warm-gray-20,
    // 'warm gray 30'    $warm-gray-30,
    // 'warm gray 40'    $warm-gray-40,
    // 'warm gray 50'    $warm-gray-50,
    // 'warm gray 60'    $warm-gray-60,
    // 'warm gray 70'    $warm-gray-70,
    // 'warm gray 80'    $warm-gray-80,
    // 'warm gray 90'    $warm-gray-90,

    'neutral white 1' $neutral-white-1,
    'neutral white 2' $neutral-white-2,
    'neutral white 3' $neutral-white-3,
    'neutral white 4' $neutral-white-4,

    'cool white 1'    $cool-white-1,
    'cool white 2'    $cool-white-2,
    'cool white 3'    $cool-white-3,
    'cool white 4'    $cool-white-4,

    'warm white 1'    $warm-white-1,
    'warm white 2'    $warm-white-2,
    'warm white 3'    $warm-white-3,
    'warm white 4'    $warm-white-4,

    'black'           $black,
    'white'           $white,

    'transparent'     $transparent,

    'black 90'        $black-90,
    'black 80'        $black-80,
    'black 70'        $black-70,
    'black 60'        $black-60,
    'black 50'        $black-50,
    'black 40'        $black-40,
    'black 30'        $black-30,
    'black 20'        $black-20,
    'black 10'        $black-10,
    'black 075'       $black-075,
    'black 05'        $black-05,
    'black 025'       $black-025,
    'black 0125'      $black-0125,

    'white 90'        $white-90,
    'white 80'        $white-80,
    'white 70'        $white-70,
    'white 60'        $white-60,
    'white 50'        $white-50,
    'white 40'        $white-40,
    'white 30'        $white-30,
    'white 20'        $white-20,
    'white 10'        $white-10,
    'white 075'       $white-075,
    'white 05'        $white-05,
    'white 025'       $white-025,
    'white 0125'      $white-0125,

    // 'ultramarine'     $ultramarine,
    // 'blue'            $blue,
    'cerulean'        $cerulean,
    'aqua'            $aqua,
    'teal'            $teal,
    'green'           $green,
    // 'lime'            $lime,
    'yellow'          $yellow,
    'gold'            $gold,
    'orange'          $orange,
    'peach'           $peach,
    'red'             $red,
    'magenta'         $magenta,
    // 'purple'          $purple,
    'violet'          $violet,
    // 'indigo'          $indigo,

    'gray light'      $gray-light,
    'gray'            $gray,
    'gray dark'       $gray-dark,

    'cool gray light' $cool-gray-light,
    'cool gray'       $cool-gray,
    'cool gray dark'  $cool-gray-dark,

    // 'warm gray light' $warm-gray-light,
    // 'warm gray'       $warm-gray,
    // 'warm gray dark'  $warm-gray-dark
);
