//
// Color palette

// aqua

$aqua-1:  #e1f8f8;
$aqua-10: #b6eeee;
$aqua-20: #88e4e5;
$aqua-30: #5cd8dc; // P
$aqua-40: #40cfd5;
$aqua-50: #2ec6d1;
$aqua-60: #2bb6be;
$aqua-70: #28a0a5;
$aqua-80: #258b8e;
$aqua-90: #1e6864;

// cherry

$cherry-1:  #fbecee;
$cherry-10: #f6cfd4;
$cherry-20: #e29e9f;
$cherry-30: #d37b7b;
$cherry-40: #dc605c; // P
$cherry-50: #e05547;
$cherry-60: #d14c44;
$cherry-70: #bf443e;
$cherry-80: #b13e38;
$cherry-90: #a3352d;

// Gold

$gold-1:  #fcf6e3;
$gold-10: #f7e6b8;
$gold-20: #f2d68b;
$gold-30: #edc862; // P
$gold-40: #e9bc4a;
$gold-50: #e6b138;
$gold-60: #e5a534;
$gold-70: #e3942f;
$gold-80: #e1852b;
$gold-90: #de6922;

// Color defaults

$aqua:   $aqua-70;
$cherry: $cherry-40;
$gold:   $gold-30;

// Fades

$carbon:  #000;
$coconut: #fff;

$carbon-0125: rgba( $carbon, 0.0125 );
$carbon-025:  rgba( $carbon, 0.025 );
$carbon-05:   rgba( $carbon, 0.05 );
$carbon-075:  rgba( $carbon, 0.075 );
$carbon-10:   rgba( $carbon, 0.1 );
$carbon-20:   rgba( $carbon, 0.2 );
$carbon-30:   rgba( $carbon, 0.3 );
$carbon-40:   rgba( $carbon, 0.4 );
$carbon-50:   rgba( $carbon, 0.5 );
$carbon-60:   rgba( $carbon, 0.6 );
$carbon-70:   rgba( $carbon, 0.7 );
$carbon-80:   rgba( $carbon, 0.8 );
$carbon-90:   rgba( $carbon, 0.9 );

$coconut-0125: rgba( $coconut, 0.0125 );
$coconut-025:  rgba( $coconut, 0.025 );
$coconut-05:   rgba( $coconut, 0.05 );
$coconut-075:  rgba( $coconut, 0.075 );
$coconut-10:   rgba( $coconut, 0.1 );
$coconut-20:   rgba( $coconut, 0.2 );
$coconut-30:   rgba( $coconut, 0.3 );
$coconut-40:   rgba( $coconut, 0.4 );
$coconut-50:   rgba( $coconut, 0.5 );
$coconut-60:   rgba( $coconut, 0.6 );
$coconut-70:   rgba( $coconut, 0.7 );
$coconut-80:   rgba( $coconut, 0.8 );
$coconut-90:   rgba( $coconut, 0.9 );

$color-palette: (
    'aqua'   $aqua,
    'cherry' $cherry,
    'gold'   $gold,

    'carbon'  $carbon,
    'coconut' $coconut,

    'aqua 1'  $aqua-1,
    'aqua 10' $aqua-10,
    'aqua 20' $aqua-20,
    'aqua 30' $aqua-30,
    'aqua 40' $aqua-40,
    'aqua 50' $aqua-50,
    'aqua 60' $aqua-60,
    'aqua 70' $aqua-70,
    'aqua 80' $aqua-80,
    'aqua 90' $aqua-90,

    'cherry 1'  $cherry-1,
    'cherry 10' $cherry-10,
    'cherry 20' $cherry-20,
    'cherry 30' $cherry-30,
    'cherry 40' $cherry-40,
    'cherry 50' $cherry-50,
    'cherry 60' $cherry-60,
    'cherry 70' $cherry-70,
    'cherry 80' $cherry-80,
    'cherry 90' $cherry-90,

    'gold 1'  $gold-1,
    'gold 10' $gold-10,
    'gold 20' $gold-20,
    'gold 30' $gold-30,
    'gold 40' $gold-40,
    'gold 50' $gold-50,
    'gold 60' $gold-60,
    'gold 70' $gold-70,
    'gold 80' $gold-80,
    'gold 90' $gold-90,

    'carbon 0125' $carbon-0125,
    'carbon 025'  $carbon-025,
    'carbon 05'   $carbon-05,
    'carbon 075'  $carbon-075,
    'carbon 10'   $carbon-10,
    'carbon 20'   $carbon-20,
    'carbon 30'   $carbon-30,
    'carbon 40'   $carbon-40,
    'carbon 50'   $carbon-50,
    'carbon 60'   $carbon-60,
    'carbon 70'   $carbon-70,
    'carbon 80'   $carbon-80,
    'carbon 90'   $carbon-90,

    'coconut 0125' $coconut-0125,
    'coconut 025'  $coconut-025,
    'coconut 05'   $coconut-05,
    'coconut 075'  $coconut-075,
    'coconut 10'   $coconut-10,
    'coconut 20'   $coconut-20,
    'coconut 30'   $coconut-30,
    'coconut 40'   $coconut-40,
    'coconut 50'   $coconut-50,
    'coconut 60'   $coconut-60,
    'coconut 70'   $coconut-70,
    'coconut 80'   $coconut-80,
    'coconut 90'   $coconut-90
);
