//
// Color palette

// Orchid

$orchid-1:            #eff2fb;
$orchid-10:           #d6ddf6;
$orchid-20:           #bbc7f0;
$orchid-30:           #9fb1ea;
$orchid-40:           #8ba0e6;
$orchid-50:           #768fe1;
$orchid-60:           #6e87dd;
$orchid-70:           #637cd9;
$orchid-80:           #5972d5;
$orchid-90:           #4660cd;

// Gold

$gold-1:              #fbf6e0;
$gold-10:             #f6e8b3;
$gold-20:             #f0d980;
$gold-30:             #eac94d;
$gold-40:             #e6be26;
$gold-50:             #e1b200;
$gold-60:             #ddab00;
$gold-70:             #d9a200;
$gold-80:             #d59900;
$gold-90:             #cd8a00;

// Apricot

$apricot-1:           #fcf3e3;
$apricot-10:          #f8e1b9;
$apricot-20:          #f3cd8b;
$apricot-30:          #eeb85d;
$apricot-40:          #eaa93a;
$apricot-50:          #e69a17;
$apricot-60:          #e39214;
$apricot-70:          #df8811;
$apricot-80:          #db7e0d;
$apricot-90:          #d56c07;

// Pomegranate

$pomegranate-1:       #ffecec;
$pomegranate-10:      #fed0cf;
$pomegranate-20:      #feb1b0;
$pomegranate-30:      #fd9190;
$pomegranate-40:      #fc7a78;
$pomegranate-50:      #fc6260;
$pomegranate-60:      #fc5a58;
$pomegranate-70:      #fb504e;
$pomegranate-80:      #fb4644;
$pomegranate-90:      #fa3433;

// Gray

$gray-1:              #eaeaea;
$gray-10:             #d8d8d8;
$gray-20:             #c0bfc0;
$gray-30:             #a6a5a6;
$gray-40:             #949394;
$gray-50:             #777677;
$gray-60:             #595859;
$gray-70:             #464646;
$gray-80:             #343334;
$gray-90:             #272727;

// Fades

$black:               #000;
$white:               #fff;

$black-0125:          rgba( $black, 0.0125 );
$black-025:           rgba( $black, 0.025 );
$black-05:            rgba( $black, 0.05 );
$black-075:           rgba( $black, 0.075 );
$black-10:            rgba( $black, 0.1 );
$black-20:            rgba( $black, 0.2 );
$black-30:            rgba( $black, 0.3 );
$black-40:            rgba( $black, 0.4 );
$black-50:            rgba( $black, 0.5 );
$black-60:            rgba( $black, 0.6 );
$black-70:            rgba( $black, 0.7 );
$black-80:            rgba( $black, 0.8 );
$black-90:            rgba( $black, 0.9 );

$white-0125:          rgba( $white, 0.0125 );
$white-025:           rgba( $white, 0.025 );
$white-05:            rgba( $white, 0.05 );
$white-075:           rgba( $white, 0.075 );
$white-10:            rgba( $white, 0.1 );
$white-20:            rgba( $white, 0.2 );
$white-30:            rgba( $white, 0.3 );
$white-40:            rgba( $white, 0.4 );
$white-50:            rgba( $white, 0.5 );
$white-60:            rgba( $white, 0.6 );
$white-70:            rgba( $white, 0.7 );
$white-80:            rgba( $white, 0.8 );
$white-90:            rgba( $white, 0.9 );

// Color defaults

$orchid:              $orchid-50;
$gold:                $gold-50;
$apricot:             $apricot-50;
$pomegranate:         $pomegranate-50;

$gray-light:          $gray-20;
$gray:                $gray-40;
$gray-dark:           $gray-90;


$color-palette: (
    'orchid'          $orchid,
    'gold'            $gold,
    'apricot'         $apricot,
    'pomegranate'     $pomegranate,

    'gray light'      $gray-light,
    'gray'            $gray,
    'gray dark'       $gray-dark,

    'black'           $black,
    'white'           $white,

    'orchid 1'        $orchid-1,
    'orchid 10'       $orchid-10,
    'orchid 20'       $orchid-20,
    'orchid 30'       $orchid-30,
    'orchid 40'       $orchid-40,
    'orchid 50'       $orchid-50,
    'orchid 60'       $orchid-60,
    'orchid 70'       $orchid-70,
    'orchid 80'       $orchid-80,
    'orchid 90'       $orchid-90,

    'gold 1'          $gold-1,
    'gold 10'         $gold-10,
    'gold 20'         $gold-20,
    'gold 30'         $gold-30,
    'gold 40'         $gold-40,
    'gold 50'         $gold-50,
    'gold 60'         $gold-60,
    'gold 70'         $gold-70,
    'gold 80'         $gold-80,
    'gold 90'         $gold-90,

    'apricot 1'       $apricot-1,
    'apricot 10'      $apricot-10,
    'apricot 20'      $apricot-20,
    'apricot 30'      $apricot-30,
    'apricot 40'      $apricot-40,
    'apricot 50'      $apricot-50,
    'apricot 60'      $apricot-60,
    'apricot 70'      $apricot-70,
    'apricot 80'      $apricot-80,
    'apricot 90'      $apricot-90,

    'pomegranate 1'   $pomegranate-1,
    'pomegranate 10'  $pomegranate-10,
    'pomegranate 20'  $pomegranate-20,
    'pomegranate 30'  $pomegranate-30,
    'pomegranate 40'  $pomegranate-40,
    'pomegranate 50'  $pomegranate-50,
    'pomegranate 60'  $pomegranate-60,
    'pomegranate 70'  $pomegranate-70,
    'pomegranate 80'  $pomegranate-80,
    'pomegranate 90'  $pomegranate-90,

    'gray 1'          $gray-1,
    'gray 10'         $gray-10,
    'gray 20'         $gray-20,
    'gray 30'         $gray-30,
    'gray 40'         $gray-40,
    'gray 50'         $gray-50,
    'gray 60'         $gray-60,
    'gray 70'         $gray-70,
    'gray 80'         $gray-80,
    'gray 90'         $gray-90,

    'black 0125'      $black-0125,
    'black 025'       $black-025,
    'black 05'        $black-05,
    'black 075'       $black-075,
    'black 10'        $black-10,
    'black 20'        $black-20,
    'black 30'        $black-30,
    'black 40'        $black-40,
    'black 50'        $black-50,
    'black 60'        $black-60,
    'black 70'        $black-70,
    'black 80'        $black-80,
    'black 90'        $black-90,

    'white 0125'      $white-0125,
    'white 025'       $white-025,
    'white 05'        $white-05,
    'white 075'       $white-075,
    'white 10'        $white-10,
    'white 20'        $white-20,
    'white 30'        $white-30,
    'white 40'        $white-40,
    'white 50'        $white-50,
    'white 60'        $white-60,
    'white 70'        $white-70,
    'white 80'        $white-80,
    'white 90'        $white-90
);
