//
// Color palette

$sky: #5499c3;
$gold: #ffd16d;
$cherry: #d86262;
$mint: #599fa0;
$carbon: #252729;
$silver: #c1c1c2;

// $tomato: #ef4822;
// $cappuccino: #eae5e0;
// $salmon: #e3afa6;

$color-palette: (
	'primary' $sky,
	'warning' $gold,
	'danger' $cherry,
	'success' $mint,
	'dark' $carbon,
	'light' $silver
);
