//
// Color palette

// Ultramarine
$ultramarine-1:  #e7e9f7;
$ultramarine-10: #d1d7f4;
$ultramarine-20: #b0bef3;
$ultramarine-30: #89a2f6;
$ultramarine-40: #648fff;
$ultramarine-50: #3c6df0;
$ultramarine-60: #3151b7;
$ultramarine-70: #2e3f8f;
$ultramarine-80: #252e6a;
$ultramarine-90: #20214f;

// Blue
$blue-1:  #e1ebf7;
$blue-10: #c8daf4;
$blue-20: #a8c0f3;
$blue-30: #79a6f6;
$blue-40: #5392ff;
$blue-50: #2d74da;
$blue-60: #1f57a4;
$blue-70: #25467a;
$blue-80: #1d3458;
$blue-90: #19273c;

// Cerulean
$cerulean-1:  #deedf7;
$cerulean-10: #c2dbf4;
$cerulean-20: #95c4f3;
$cerulean-30: #56acf2;
$cerulean-40: #009bef;
$cerulean-50: #047cc0;
$cerulean-60: #175d8d;
$cerulean-70: #1c496d;
$cerulean-80: #1d364d;
$cerulean-90: #1b2834;

// Aqua
$aqua-1:  #d1f0f7;
$aqua-10: #a0e3f0;
$aqua-20: #71cddd;
$aqua-30: #00b6cb;
$aqua-40: #12a3b4;
$aqua-50: #188291;
$aqua-60: #17616b;
$aqua-70: #164d56;
$aqua-80: #13393e;
$aqua-90: #122a2e;

// Teal
$teal-1:  #c0f5e8;
$teal-10: #8ee9d4;
$teal-20: #40d5bb;
$teal-30: #00baa1;
$teal-40: #00a78f;
$teal-50: #008673;
$teal-60: #006456;
$teal-70: #124f44;
$teal-80: #133a32;
$teal-90: #122b26;

// Green
$green-1:  #cef3d1;
$green-10: #89eda0;
$green-20: #57d785;
$green-30: #34bc6e;
$green-40: #00aa5e;
$green-50: #00884b;
$green-60: #116639;
$green-70: #12512e;
$green-80: #123b22;
$green-90: #112c1b;

// Lime
$lime-1:  #d7f4bd;
$lime-10: #b4e876;
$lime-20: #95d13c;
$lime-30: #81b532;
$lime-40: #73a22c;
$lime-50: #5b8121;
$lime-60: #426200;
$lime-70: #374c1a;
$lime-80: #283912;
$lime-90: #1f2a10;

// Yellow
$yellow-1:  #fbeaae;
$yellow-10: #fed500;
$yellow-20: #e3bc13;
$yellow-30: #c6a21a;
$yellow-40: #b3901f;
$yellow-50: #91721f;
$yellow-60: #70541b;
$yellow-70: #5b421a;
$yellow-80: #452f18;
$yellow-90: #372118;

// Gold
$gold-1:  #f5e8db;
$gold-10: #ffd191;
$gold-20: #ffb000;
$gold-30: #e39d14;
$gold-40: #c4881c;
$gold-50: #9c6d1e;
$gold-60: #74521b;
$gold-70: #5b421c;
$gold-80: #42301b;
$gold-90: #2f261c;

 // Orange
$orange-1:  #f5e8de;
$orange-10: #fdcfad;
$orange-20: #fcaf6d;
$orange-30: #fe8500;
$orange-40: #db7c00;
$orange-50: #ad6418;
$orange-60: #814b19;
$orange-70: #653d1b;
$orange-80: #482e1a;
$orange-90: #33241c;

// Peach
$peach-1:  #f7e7e2;
$peach-10: #f8d0c3;
$peach-20: #faad96;
$peach-30: #fc835c;
$peach-40: #fe6100;
$peach-50: #c45433;
$peach-60: #993a1d;
$peach-70: #782f1c;
$peach-80: #56251a;
$peach-90: #3a201b;

// Red
$red-1:  #f7e6e6;
$red-10: #fccec7;
$red-20: #ffaa9d;
$red-30: #ff806c;
$red-40: #ff5c49;
$red-50: #e62325;
$red-60: #aa231f;
$red-70: #83231e;
$red-80: #5c1f1b;
$red-90: #3e1d1b;

// Magenta
$magenta-1:  #f5e7eb;
$magenta-10: #f5cedb;
$magenta-20: #f7aac3;
$magenta-30: #f87eac;
$magenta-40: #ff509e;
$magenta-50: #dc267f;
$magenta-60: #a91560;
$magenta-70: #831b4c;
$magenta-80: #5d1a38;
$magenta-90: #401a29;

// Purple
$purple-1:  #f7e4fb;
$purple-10: #efcef3;
$purple-20: #e4adea;
$purple-30: #d68adf;
$purple-40: #cb71d7;
$purple-50: #c22dd5;
$purple-60: #9320a2;
$purple-70: #71237c;
$purple-80: #501e58;
$purple-90: #3b1a40;

// Violet
$violet-1:  #ece8f5;
$violet-10: #e2d2f4;
$violet-20: #d2b5f0;
$violet-30: #bf93eb;
$violet-40: #b07ce8;
$violet-50: #9753e1;
$violet-60: #7732bb;
$violet-70: #602797;
$violet-80: #44216a;
$violet-90: #321c4c;

// Indigo
$indigo-1:  #e9e8ff;
$indigo-10: #dcd4f7;
$indigo-20: #c7b6f7;
$indigo-30: #ae97f4;
$indigo-40: #9b82f3;
$indigo-50: #785ef0;
$indigo-60: #5a3ec8;
$indigo-70: #473793;
$indigo-80: #352969;
$indigo-90: #272149;

// Gray
$gray-1:  #eaeaea;
$gray-10: #d8d8d8;
$gray-20: #c0bfc0;
$gray-30: #a6a5a6;
$gray-40: #949394;
$gray-50: #777677;
$gray-60: #595859;
$gray-70: #464646;
$gray-80: #343334;
$gray-90: #272727;

// Cool gray
$cool-gray-1:  #e3ecec;
$cool-gray-10: #d0dada;
$cool-gray-20: #b8c1c1;
$cool-gray-30: #9fa7a7;
$cool-gray-40: #8c9696;
$cool-gray-50: #6f7878;
$cool-gray-60: #535a5a;
$cool-gray-70: #424747;
$cool-gray-80: #343334;
$cool-gray-90: #272727;

// Warm gray
$warm-gray-1:  #efe9e9;
$warm-gray-10: #e2d5d5;
$warm-gray-20: #ccbcbc;
$warm-gray-30: #b4a1a1;
$warm-gray-40: #9e9191;
$warm-gray-50: #7d7373;
$warm-gray-60: #5f5757;
$warm-gray-70: #4b4545;
$warm-gray-80: #373232;
$warm-gray-90: #2a2626;

// Neutral white
$neutral-white-1: #fcfcfc;
$neutral-white-2: #f9f9f9;
$neutral-white-3: #f6f6f6;
$neutral-white-4: #f3f3f3;

// Cool white
$cool-white-1: #fbfcfc;
$cool-white-2: #f8fafa;
$cool-white-3: #f4f7f7;
$cool-white-4: #f0f4f4;

// Warm white
$warm-white-1: #fdfcfc;
$warm-white-2: #fbf8f8;
$warm-white-3: #f9f6f6;
$warm-white-4: #f6f3f3;

// Fades
$black:           #000;
$white:           #fff;

$transparent:     transparent;

$black-90:        rgba($black, 0.9);
$black-80:        rgba($black, 0.8);
$black-70:        rgba($black, 0.7);
$black-60:        rgba($black, 0.6);
$black-50:        rgba($black, 0.5);
$black-40:        rgba($black, 0.4);
$black-30:        rgba($black, 0.3);
$black-20:        rgba($black, 0.2);
$black-10:        rgba($black, 0.1);
$black-05:        rgba($black, 0.05);
$black-025:       rgba($black, 0.025);
$black-0125:      rgba($black, 0.0125);

$white-90:        rgba($white, 0.9);
$white-80:        rgba($white, 0.8);
$white-70:        rgba($white, 0.7);
$white-60:        rgba($white, 0.6);
$white-50:        rgba($white, 0.5);
$white-40:        rgba($white, 0.4);
$white-30:        rgba($white, 0.3);
$white-20:        rgba($white, 0.2);
$white-10:        rgba($white, 0.1);
$white-05:        rgba($white, 0.05);
$white-025:       rgba($white, 0.025);
$white-0125:      rgba($white, 0.0125);

// Color defaults
$ultramarine:     $ultramarine-40;
$blue:            $blue-40;
$cerulean:        $cerulean-40;
$aqua:            $aqua-40;
$teal:            $teal-40;
$green:           $green-40;
$lime:            $lime-40;
$yellow:          $yellow-40;
$gold:            $gold-40;
$orange:          $orange-40;
$peach:           $peach-40;
$red:             $red-40;
$magenta:         $magenta-40;
$purple:          $purple-40;
$violet:          $violet-40;
$indigo:          $indigo-40;

$gray-dark:       $gray-90;
$gray-light:      $gray-20;
$gray:            $gray-40;

$cool-gray-dark:  $cool-gray-90;
$cool-gray-light: $cool-gray-20;
$cool-gray:       $cool-gray-40;

$warm-gray-dark:  $warm-gray-90;
$warm-gray-light: $warm-gray-20;
$warm-gray:       $warm-gray-40;


$color-palette: (
	'ultramarine 1'  $ultramarine-1  '',
	'ultramarine 10' $ultramarine-10 '',
	'ultramarine 20' $ultramarine-20 '',
	'ultramarine 30' $ultramarine-30 '',
	'ultramarine 40' $ultramarine-40 '',
	'ultramarine 50' $ultramarine-50 '',
	'ultramarine 60' $ultramarine-60 '',
	'ultramarine 70' $ultramarine-70 '',
	'ultramarine 80' $ultramarine-80 '',
	'ultramarine 90' $ultramarine-90 '',

	'blue 1'  $blue-1  '',
	'blue 10' $blue-10 '',
	'blue 20' $blue-20 '',
	'blue 30' $blue-30 '',
	'blue 40' $blue-40 '',
	'blue 50' $blue-50 '',
	'blue 60' $blue-60 '',
	'blue 70' $blue-70 '',
	'blue 80' $blue-80 '',
	'blue 90' $blue-90 '',

	'cerulean 1'  $cerulean-1  '',
	'cerulean 10' $cerulean-10 '',
	'cerulean 20' $cerulean-20 '',
	'cerulean 30' $cerulean-30 '',
	'cerulean 40' $cerulean-40 '',
	'cerulean 50' $cerulean-50 '',
	'cerulean 60' $cerulean-60 '',
	'cerulean 70' $cerulean-70 '',
	'cerulean 80' $cerulean-80 '',
	'cerulean 90' $cerulean-90 '',

	'aqua 1'  $aqua-1  '',
	'aqua 10' $aqua-10 '',
	'aqua 20' $aqua-20 '',
	'aqua 30' $aqua-30 '',
	'aqua 40' $aqua-40 '',
	'aqua 50' $aqua-50 '',
	'aqua 60' $aqua-60 '',
	'aqua 70' $aqua-70 '',
	'aqua 80' $aqua-80 '',
	'aqua 90' $aqua-90 '',

	'teal 1'  $teal-1  '',
	'teal 10' $teal-10 '',
	'teal 20' $teal-20 '',
	'teal 30' $teal-30 '',
	'teal 40' $teal-40 '',
	'teal 50' $teal-50 '',
	'teal 60' $teal-60 '',
	'teal 70' $teal-70 '',
	'teal 80' $teal-80 '',
	'teal 90' $teal-90 '',

	'green 1'  $green-1  '',
	'green 10' $green-10 '',
	'green 20' $green-20 '',
	'green 30' $green-30 '',
	'green 40' $green-40 '',
	'green 50' $green-50 '',
	'green 60' $green-60 '',
	'green 70' $green-70 '',
	'green 80' $green-80 '',
	'green 90' $green-90 '',

	'lime 1' $lime-1  '',
	'lime 10' $lime-10 '',
	'lime 20' $lime-20 '',
	'lime 30' $lime-30 '',
	'lime 40' $lime-40 '',
	'lime 50' $lime-50 '',
	'lime 60' $lime-60 '',
	'lime 70' $lime-70 '',
	'lime 80' $lime-80 '',
	'lime 90' $lime-90 '',

	'yellow 1'  $yellow-1  '',
	'yellow 10' $yellow-10 '',
	'yellow 20' $yellow-20 '',
	'yellow 30' $yellow-30 '',
	'yellow 40' $yellow-40 '',
	'yellow 50' $yellow-50 '',
	'yellow 60' $yellow-60 '',
	'yellow 70' $yellow-70 '',
	'yellow 80' $yellow-80 '',
	'yellow 90' $yellow-90 '',

	'gold 1'  $gold-1  '',
	'gold 10' $gold-10 '',
	'gold 20' $gold-20 '',
	'gold 30' $gold-30 '',
	'gold 40' $gold-40 '',
	'gold 50' $gold-50 '',
	'gold 60' $gold-60 '',
	'gold 70' $gold-70 '',
	'gold 80' $gold-80 '',
	'gold 90' $gold-90 '',

	'orange 1'  $orange-1  '',
	'orange 10' $orange-10 '',
	'orange 20' $orange-20 '',
	'orange 30' $orange-30 '',
	'orange 40' $orange-40 '',
	'orange 50' $orange-50 '',
	'orange 60' $orange-60 '',
	'orange 70' $orange-70 '',
	'orange 80' $orange-80 '',
	'orange 90' $orange-90 '',

	'peach 1'  $peach-1  '',
	'peach 10' $peach-10 '',
	'peach 20' $peach-20 '',
	'peach 30' $peach-30 '',
	'peach 40' $peach-40 '',
	'peach 50' $peach-50 '',
	'peach 60' $peach-60 '',
	'peach 70' $peach-70 '',
	'peach 80' $peach-80 '',
	'peach 90' $peach-90 '',

	'red 1'  $red-1  '',
	'red 10' $red-10 '',
	'red 20' $red-20 '',
	'red 30' $red-30 '',
	'red 40' $red-40 '',
	'red 50' $red-50 '',
	'red 60' $red-60 '',
	'red 70' $red-70 '',
	'red 80' $red-80 '',
	'red 90' $red-90 '',

	'magenta 1'  $magenta-1  '',
	'magenta 10' $magenta-10 '',
	'magenta 20' $magenta-20 '',
	'magenta 30' $magenta-30 '',
	'magenta 40' $magenta-40 '',
	'magenta 50' $magenta-50 '',
	'magenta 60' $magenta-60 '',
	'magenta 70' $magenta-70 '',
	'magenta 80' $magenta-80 '',
	'magenta 90' $magenta-90 '',

	'purple 1'  $purple-1  '',
	'purple 10' $purple-10 '',
	'purple 20' $purple-20 '',
	'purple 30' $purple-30 '',
	'purple 40' $purple-40 '',
	'purple 50' $purple-50 '',
	'purple 60' $purple-60 '',
	'purple 70' $purple-70 '',
	'purple 80' $purple-80 '',
	'purple 90' $purple-90 '',

	'violet 1'  $violet-1  '',
	'violet 10' $violet-10 '',
	'violet 20' $violet-20 '',
	'violet 30' $violet-30 '',
	'violet 40' $violet-40 '',
	'violet 50' $violet-50 '',
	'violet 60' $violet-60 '',
	'violet 70' $violet-70 '',
	'violet 80' $violet-80 '',
	'violet 90' $violet-90 '',

	'indigo 1'  $indigo-1  '',
	'indigo 10' $indigo-10 '',
	'indigo 20' $indigo-20 '',
	'indigo 30' $indigo-30 '',
	'indigo 40' $indigo-40 '',
	'indigo 50' $indigo-50 '',
	'indigo 60' $indigo-60 '',
	'indigo 70' $indigo-70 '',
	'indigo 80' $indigo-80 '',
	'indigo 90' $indigo-90 '',

	'gray 1'  $gray-1  '',
	'gray 10' $gray-10 '',
	'gray 20' $gray-20 '',
	'gray 30' $gray-30 '',
	'gray 40' $gray-40 '',
	'gray 50' $gray-50 '',
	'gray 60' $gray-60 '',
	'gray 70' $gray-70 '',
	'gray 80' $gray-80 '',
	'gray 90' $gray-90 '',

	'cool gray 1'  $cool-gray-1  '',
	'cool gray 10' $cool-gray-10 '',
	'cool gray 20' $cool-gray-20 '',
	'cool gray 30' $cool-gray-30 '',
	'cool gray 40' $cool-gray-40 '',
	'cool gray 50' $cool-gray-50 '',
	'cool gray 60' $cool-gray-60 '',
	'cool gray 70' $cool-gray-70 '',
	'cool gray 80' $cool-gray-80 '',
	'cool gray 90' $cool-gray-90 '',

	'warm gray 1'  $warm-gray-1  '',
	'warm gray 10' $warm-gray-10 '',
	'warm gray 20' $warm-gray-20 '',
	'warm gray 30' $warm-gray-30 '',
	'warm gray 40' $warm-gray-40 '',
	'warm gray 50' $warm-gray-50 '',
	'warm gray 60' $warm-gray-60 '',
	'warm gray 70' $warm-gray-70 '',
	'warm gray 80' $warm-gray-80 '',
	'warm gray 90' $warm-gray-90 '',

	'neutral white 1' $neutral-white-1 '',
	'neutral white 2' $neutral-white-2 '',
	'neutral white 3' $neutral-white-3 '',
	'neutral white 4' $neutral-white-4 '',

	'cool white 1' $cool-white-1 '',
	'cool white 2' $cool-white-2 '',
	'cool white 3' $cool-white-3 '',
	'cool white 4' $cool-white-4 '',

	'warm white 1' $warm-white-1 '',
	'warm white 2' $warm-white-2 '',
	'warm white 3' $warm-white-3 '',
	'warm white 4' $warm-white-4 '',

	'black'           $black '',
	'white'           $white '',

	'transparent'     $transparent '',

	'black 90'        $black-90   '',
	'black 80'        $black-80   '',
	'black 70'        $black-70   '',
	'black 60'        $black-60   '',
	'black 50'        $black-50   '',
	'black 40'        $black-40   '',
	'black 30'        $black-30   '',
	'black 20'        $black-20   '',
	'black 10'        $black-10   '',
	'black 05'        $black-05   '',
	'black 025'       $black-025  '',
	'black 0125'      $black-0125 '',

	'white 90'        $white-90   '',
	'white 80'        $white-80   '',
	'white 70'        $white-70   '',
	'white 60'        $white-60   '',
	'white 50'        $white-50   '',
	'white 40'        $white-40   '',
	'white 30'        $white-30   '',
	'white 20'        $white-20   '',
	'white 10'        $white-10   '',
	'white 05'        $white-05   '',
	'white 025'       $white-025  '',
	'white 0125'      $white-0125 '',

    'ultramarine'     $ultramarine '',
    'blue'            $blue        '',
    'cerulean'        $cerulean    '',
    'aqua'            $aqua        '',
    'teal'            $teal        '',
    'green'           $green       '',
    'lime'            $lime        '',
    'yellow'          $yellow      '',
    'gold'            $gold        '',
    'orange'          $orange      '',
    'peach'           $peach       '',
    'red'             $red         '',
    'magenta'         $magenta     '',
    'purple'          $purple      '',
    'violet'          $violet      '',
    'indigo'          $indigo      '',

    'gray dark'       $gray-dark   '',
    'gray light'      $gray-light  '',
    'gray'            $gray        '',

    'cool gray dark'  $cool-gray-dark  '',
    'cool gray light' $cool-gray-light '',
    'cool gray'       $cool-gray       '',

    'warm gray dark'  $warm-gray-dark  '',
    'warm gray light' $warm-gray-light '',
    'warm gray'       $warm-gray       ''
);















// // -------- Blue --------
// $blue-000:        #f1f8ff !default;
// $blue-100:        #dbedff !default;
// $blue-200:        #c8e1ff !default;
// $blue-300:        #79b8ff !default;
// $blue-400:        #2188ff !default;
// $blue-500:        #0366d6 !default; // Default: Passes AA with #fff
// $blue-600:        #005cc5 !default;
// $blue-700:        #044289 !default;
// $blue-800:        #032f62 !default;
// $blue-900:        #05264c !default; // Passes with 1/2/300 blues

// // -------- Gray --------
// $gray-000:        #fafbfc !default;
// $gray-100:        #f6f8fa !default;
// $gray-200:        #e1e4e8 !default;
// $gray-300:        #d1d5da !default;
// $gray-400:        #959da5 !default;
// $gray-500:        #6a737d !default;
// $gray-600:        #586069 !default;
// $gray-700:        #444d56 !default;
// $gray-800:        #2f363d !default;
// $gray-900:        #24292e !default; // body font color

// // -------- Green --------
// $green-000:       #f0fff4 !default;
// $green-100:       #dcffe4 !default;
// $green-200:       #bef5cb !default;
// $green-300:       #85e89d !default;
// $green-400:       #34d058 !default;
// $green-500:       #28a745 !default; // Default. passes AA Large
// $green-600:       #22863a !default; // Text green, passes AA on #fff
// $green-700:       #176f2c !default;
// $green-800:       #165c26 !default;
// $green-900:       #144620 !default;

// // -------- Orange --------
// $orange-000:      #fff8f2 !default;
// $orange-100:      #ffebda !default;
// $orange-200:      #ffd1ac !default;
// $orange-300:      #ffab70 !default;
// $orange-400:      #fb8532 !default;
// $orange-500:      #f66a0a !default; // Default. passes AA Large with #fff
// $orange-600:      #e36209 !default;
// $orange-700:      #d15704 !default;
// $orange-800:      #c24e00 !default;
// $orange-900:      #a04100 !default;

// // -------- Purple --------
// $purple-000:      #f5f0ff !default;
// $purple-100:      #e6dcfd !default;
// $purple-200:      #d1bcf9 !default;
// $purple-300:      #b392f0 !default;
// $purple-400:      #8a63d2 !default;
// $purple-500:      #6f42c1 !default; // passes AA with #fff
// $purple-600:      #5a32a3 !default;
// $purple-700:      #4c2889 !default;
// $purple-800:      #3a1d6e !default;
// $purple-900:      #29134e !default;

// // -------- Red --------
// $red-000:         #ffeef0 !default;
// $red-100:         #ffdce0 !default;
// $red-200:         #fdaeb7 !default;
// $red-300:         #f97583 !default;
// $red-400:         #ea4a5a !default;
// $red-500:         #d73a49 !default; // Default. passes AA
// $red-600:         #cb2431 !default;
// $red-700:         #b31d28 !default;
// $red-800:         #9e1c23 !default;
// $red-900:         #86181d !default;

// // -------- Yellow --------
// $yellow-000:      #fffdef !default;
// $yellow-100:      #fffbdd !default;
// $yellow-200:      #fff5b1 !default;
// $yellow-300:      #ffea7f !default;
// $yellow-400:      #ffdf5d !default;
// $yellow-500:      #ffd33d !default;
// $yellow-600:      #f9c513 !default;
// $yellow-700:      #dbab09 !default;
// $yellow-800:      #b08800 !default;
// $yellow-900:      #735c0f !default;

// // -------- Fades --------
// $black:           #1b1f23 !default;
// $white:           #fff !default;

// $transparent:      transparent;

// $black-90:        rgba($black, 0.9);
// $black-80:        rgba($black, 0.8);
// $black-70:        rgba($black, 0.7);
// $black-60:        rgba($black, 0.6);
// $black-50:        rgba($black, 0.5);
// $black-40:        rgba($black, 0.4);
// $black-30:        rgba($black, 0.3);
// $black-20:        rgba($black, 0.2);
// $black-10:        rgba($black, 0.1);
// $black-05:        rgba($black, 0.05);
// $black-025:       rgba($black, 0.025);
// $black-0125:      rgba($black, 0.0125);

// $white-90:        rgba($white, 0.9);
// $white-80:        rgba($white, 0.8);
// $white-70:        rgba($white, 0.7);
// $white-60:        rgba($white, 0.6);
// $white-50:        rgba($white, 0.5);
// $white-40:        rgba($white, 0.4);
// $white-30:        rgba($white, 0.3);
// $white-20:        rgba($white, 0.2);
// $white-10:        rgba($white, 0.1);
// $white-05:        rgba($white, 0.05);
// $white-025:       rgba($white, 0.025);
// $white-0125:      rgba($white, 0.0125);

// // -------- Color defaults --------
// $blue:            $blue-500 !default;
// $green:           $green-500 !default;
// $orange:          $orange-500 !default;
// $purple:          $purple-500 !default;
// $red:             $red-500 !default;
// $yellow:          $yellow-500 !default;

// $gray-dark:       $gray-900 !default;
// $gray-light:      $gray-300 !default;
// $gray:            $gray-400 !default;

// $color-palette: (
//     'blue 000'    $blue-000 '',
//     'blue 100'    $blue-100 '',
//     'blue 200'    $blue-200 '',
//     'blue 300'    $blue-300 '',
//     'blue 400'    $blue-400 '',
//     'blue 500'    $blue-500 '',
//     'blue 600'    $blue-600 '',
//     'blue 700'    $blue-700 '',
//     'blue 800'    $blue-800 '',
//     'blue 900'    $blue-900 '',

//     'gray 000'    $gray-000 '',
//     'gray 100'    $gray-100 '',
//     'gray 200'    $gray-200 '',
//     'gray 300'    $gray-300 '',
//     'gray 400'    $gray-400 '',
//     'gray 500'    $gray-500 '',
//     'gray 600'    $gray-600 '',
//     'gray 700'    $gray-700 '',
//     'gray 800'    $gray-800 '',
//     'gray 900'    $gray-900 '',

//     'green 000'   $green-000 '',
//     'green 100'   $green-100 '',
//     'green 200'   $green-200 '',
//     'green 300'   $green-300 '',
//     'green 400'   $green-400 '',
//     'green 500'   $green-500 '',
//     'green 600'   $green-600 '',
//     'green 700'   $green-700 '',
//     'green 800'   $green-800 '',
//     'green 900'   $green-900 '',

//     'orange 000'  $orange-000 '',
//     'orange 100'  $orange-100 '',
//     'orange 200'  $orange-200 '',
//     'orange 300'  $orange-300 '',
//     'orange 400'  $orange-400 '',
//     'orange 500'  $orange-500 '',
//     'orange 600'  $orange-600 '',
//     'orange 700'  $orange-700 '',
//     'orange 800'  $orange-800 '',
//     'orange 900'  $orange-900 '',

//     'purple 000'  $purple-000 '',
//     'purple 100'  $purple-100 '',
//     'purple 200'  $purple-200 '',
//     'purple 300'  $purple-300 '',
//     'purple 400'  $purple-400 '',
//     'purple 500'  $purple-500 '',
//     'purple 600'  $purple-600 '',
//     'purple 700'  $purple-700 '',
//     'purple 800'  $purple-800 '',
//     'purple 900'  $purple-900 '',

//     'red 000'     $red-000 '',
//     'red 100'     $red-100 '',
//     'red 200'     $red-200 '',
//     'red 300'     $red-300 '',
//     'red 400'     $red-400 '',
//     'red 500'     $red-500 '',
//     'red 600'     $red-600 '',
//     'red 700'     $red-700 '',
//     'red 800'     $red-800 '',
//     'red 900'     $red-900 '',

//     'yellow 000'  $yellow-000 '',
//     'yellow 100'  $yellow-100 '',
//     'yellow 200'  $yellow-200 '',
//     'yellow 300'  $yellow-300 '',
//     'yellow 400'  $yellow-400 '',
//     'yellow 500'  $yellow-500 '',
//     'yellow 600'  $yellow-600 '',
//     'yellow 700'  $yellow-700 '',
//     'yellow 800'  $yellow-800 '',
//     'yellow 900'  $yellow-900 '',

// 	'black'       $black '',
// 	'white'       $white '',

// 	'transparent' $transparent '',

// 	'black 90'    $black-90   '',
// 	'black 80'    $black-80   '',
// 	'black 70'    $black-70   '',
// 	'black 60'    $black-60   '',
// 	'black 50'    $black-50   '',
// 	'black 40'    $black-40   '',
// 	'black 30'    $black-30   '',
// 	'black 20'    $black-20   '',
// 	'black 10'    $black-10   '',
// 	'black 05'    $black-05   '',
// 	'black 025'   $black-025  '',
// 	'black 0125'  $black-0125 '',

// 	'white 90'    $white-90   '',
// 	'white 80'    $white-80   '',
// 	'white 70'    $white-70   '',
// 	'white 60'    $white-60   '',
// 	'white 50'    $white-50   '',
// 	'white 40'    $white-40   '',
// 	'white 30'    $white-30   '',
// 	'white 20'    $white-20   '',
// 	'white 10'    $white-10   '',
// 	'white 05'    $white-05   '',
// 	'white 025'   $white-025  '',
// 	'white 0125'  $white-0125 '',

// 	'blue'        $blue       '',
// 	'green'       $green      '',
// 	'orange'      $orange     '',
// 	'purple'      $purple     '',
// 	'red'         $red        '',
// 	'yellow'      $yellow     '',

// 	'gray dark'   $gray-dark  '',
// 	'gray light'  $gray-light '',
// 	'gray'        $gray       ''
// );














// // Neutrals
// //
// // Dark neutrals

// $n900: #091e42;
// $n800: #172b4d;
// $n700: #253858;
// $n600: #344563;
// $n500: #42526e;


// // Mid-neutrals

// $n400: #505f79;
// $n300: #5e6c84;
// $n200: #6c798f;
// $n100: #7a869a;
// $n90:  #8993a4;
// $n80:  #97a0af;
// $n70:  #a5adba;
// $n60:  #b3bac5;


// // Light neutrals

// $n50:  #c1c7d0;
// $n40:  #dfe1e5;
// $n30:  #ebecf0;
// $n20:  #f4f5f7;
// $n10:  #fafbfc;
// $n0:   #ffffff;


// // Blues

// $b500: #0747a6;
// $b400: #0052cc;
// $b300: #0065ff;
// $b200: #2684ff;
// $b100: #4c9aff;
// $b75:  #b2d4ff;
// $b50:  #deebff;


// // Greens

// $g500: #006644;
// $g400: #00875a;
// $g300: #36b37e;
// $g200: #57d9a3;
// $g100: #79f2c0;
// $g75:  #abf5d1;
// $g50:  #e3fcef;


// // Purples

// $p500: #403294;
// $p400: #5243aa;
// $p300: #6554c0;
// $p200: #8777d9;
// $p100: #998dd9;
// $p75:  #c0b6f2;
// $p50:  #eae6ff;


// // Reds

// $r500: #bf2600;
// $r400: #de350b;
// $r300: #ff5630;
// $r200: #ff7452;
// $r100: #ff8f73;
// $r75:  #ffbdad;
// $r50:  #ffebe5;


// // Teals

// $t500: #008da6;
// $t400: #00a3bf;
// $t300: #00b8d9;
// $t200: #00c7e5;
// $t100: #79e2f2;
// $t75:  #b3f5ff;
// $t50:  #e6fcff;


// // Yellows

// $y500: #ff8b00;
// $y400: #ff991f;
// $y300: #ffab00;
// $y200: #ffc400;
// $y100: #ffe380;
// $y75:  #fff0b2;
// $y50:  #fffae5;


// // Fades

// $black: $n800;
// $white: $n0;

// $transparent: transparent;

// $black-90:   rgba($black, 0.9);
// $black-80:   rgba($black, 0.8);
// $black-70:   rgba($black, 0.7);
// $black-60:   rgba($black, 0.6);
// $black-50:   rgba($black, 0.5);
// $black-40:   rgba($black, 0.4);
// $black-30:   rgba($black, 0.3);
// $black-20:   rgba($black, 0.2);
// $black-10:   rgba($black, 0.1);
// $black-05:   rgba($black, 0.05);
// $black-025:  rgba($black, 0.025);
// $black-0125: rgba($black, 0.0125);

// $white-90:   rgba($white, 0.9);
// $white-80:   rgba($white, 0.8);
// $white-70:   rgba($white, 0.7);
// $white-60:   rgba($white, 0.6);
// $white-50:   rgba($white, 0.5);
// $white-40:   rgba($white, 0.4);
// $white-30:   rgba($white, 0.3);
// $white-20:   rgba($white, 0.2);
// $white-10:   rgba($white, 0.1);
// $white-05:   rgba($white, 0.05);
// $white-025:  rgba($white, 0.025);
// $white-0125: rgba($white, 0.0125);


// // Color defaults

// $blue:   $b400;
// $green:  $g300;
// $purple: $p300;
// $red:    $r300;
// $teal:   $t300;
// $yellow: $y300;

// $gray-dark:  $n500;
// $gray-light: $n20;
// $gray:       $n80;

// // Name color, hex., generate list of tints, shades and transparent colors?
// $color-palette: (
// 	'n900'        $n900 '',
// 	'n800'        $n800 '',
// 	'n700'        $n700 '',
// 	'n600'        $n600 '',
// 	'n500'        $n500 '',
// 	'n400'        $n400 '',
// 	'n300'        $n300 '',
// 	'n200'        $n200 '',
// 	'n100'        $n100 '',
// 	'n90'         $n90  '',
// 	'n80'         $n80  '',
// 	'n70'         $n70  '',
// 	'n60'         $n60  '',
// 	'n50'         $n50  '',
// 	'n40'         $n40  '',
// 	'n30'         $n30  '',
// 	'n20'         $n20  '',
// 	'n10'         $n10  '',
// 	'n0'          $n0   '',

// 	'b500'        $b500 '',
// 	'b400'        $b400 '',
// 	'b300'        $b300 '',
// 	'b200'        $b200 '',
// 	'b100'        $b100 '',
// 	'b75'         $b75  '',
// 	'b50'         $b50  '',

// 	'g500'        $g500 '',
// 	'g400'        $g400 '',
// 	'g300'        $g300 '',
// 	'g200'        $g200 '',
// 	'g100'        $g100 '',
// 	'g75'         $g75  '',
// 	'g50'         $g50  '',

// 	'p500'        $p500 '',
// 	'p400'        $p400 '',
// 	'p300'        $p300 '',
// 	'p200'        $p200 '',
// 	'p100'        $p100 '',
// 	'p75'         $p75  '',
// 	'p50'         $p50  '',

// 	'r500'        $r500 '',
// 	'r400'        $r400 '',
// 	'r300'        $r300 '',
// 	'r200'        $r200 '',
// 	'r100'        $r100 '',
// 	'r75'         $r75  '',
// 	'r50'         $r50  '',

// 	't500'        $t500 '',
// 	't400'        $t400 '',
// 	't300'        $t300 '',
// 	't200'        $t200 '',
// 	't100'        $t100 '',
// 	't75'         $t75  '',
// 	't50'         $t50  '',

// 	'y500'        $y500 '',
// 	'y400'        $y400 '',
// 	'y300'        $y300 '',
// 	'y200'        $y200 '',
// 	'y100'        $y100 '',
// 	'y75'         $y75  '',
// 	'y50'         $y50  '',

// 	'black'       $black '',
// 	'white'       $white '',

// 	'transparent' $transparent '',

// 	'black 90'    $black-90   '',
// 	'black 80'    $black-80   '',
// 	'black 70'    $black-70   '',
// 	'black 60'    $black-60   '',
// 	'black 50'    $black-50   '',
// 	'black 40'    $black-40   '',
// 	'black 30'    $black-30   '',
// 	'black 20'    $black-20   '',
// 	'black 10'    $black-10   '',
// 	'black 05'    $black-05   '',
// 	'black 025'   $black-025  '',
// 	'black 0125'  $black-0125 '',

// 	'white 90'    $white-90   '',
// 	'white 80'    $white-80   '',
// 	'white 70'    $white-70   '',
// 	'white 60'    $white-60   '',
// 	'white 50'    $white-50   '',
// 	'white 40'    $white-40   '',
// 	'white 30'    $white-30   '',
// 	'white 20'    $white-20   '',
// 	'white 10'    $white-10   '',
// 	'white 05'    $white-05   '',
// 	'white 025'   $white-025  '',
// 	'white 0125'  $white-0125 '',

// 	'blue'        $blue   '',
// 	'green'       $green  '',
// 	'purple'      $purple '',
// 	'red'         $red    '',
// 	'teal'        $teal   '',
// 	'yellow'      $yellow '',

// 	'gray dark'   $gray-dark  '',
// 	'gray light'  $gray-light '',
// 	'gray'        $gray       ''
// );
