// Color palette

// Name color, hex., generate list of tints and shades?
$color-palette: (
	'black'        #000000 'y',
	'white'        #ffffff 'y',

	'blue'         #2299f4 'y',
	'dark blue'    #0f73d8 '',
	'gray'         #9e9e9f 'y',
	'cool gray'    #9ea3af 'y',
	'green'        #12c96d 'y',
	'orange'       #ff9d5b '',
	'red'          #ff5654 'y',
	'yellow'       #fcd45a 'y'
);

// $color-palette: (
// 	'black'        #000000 '',
// 	'white'        #ffffff '',

// 	'blue'         #259af4 'y',
// 	'dark blue'    #1174d9 '',
// 	'gray'         #9e9e9f 'y',
// 	'cool gray'    #9ea3af 'y',
// 	'green'        #15ca6e 'y',
// 	'orange'       #ff9f5f '',
// 	'red'          #ff635f 'y',
// 	'yellow'       #fcd45c 'y'
// );
