// Color palette

// Name color, hex., generate list of tints and shades?
$color-palette: (
	'black'        #000000 'y',
	'white'        #ffffff 'y',

	'blue'         #2299f4 'y',
	'darkblue'     #0f73d8 '',
	'gray'         #9e9e9f 'y',
	'coolgray'     #9ea3af 'y',
	'green'        #12c96d 'y',
	'orange'       #ff9d5b 'y',
	'pink'         #f0368d '',
	'purple'       #b25bb9 '',
	'red'          #ff5654 'y',
	'teal'         #41c1b5 '',
	'yellow'       #fcd45a 'y'
);

// $color-palette: (
// 	'black'        #000000 '',
// 	'white'        #ffffff '',

// 	'blue'         #259af4 'y',
// 	'dark blue'    #1174d9 '',
// 	'gray'         #9e9e9f 'y',
// 	'cool gray'    #9ea3af 'y',
// 	'green'        #15ca6e 'y',
// 	'orange'       #ff9f5f '',
// 	'red'          #ff635f 'y',
// 	'yellow'       #fcd45c 'y'
// );

// $color-palette: (
// 	'black'        #000000 'y',
// 	'white'        #ffffff 'y',

// 	'blue'         #4f9ccc 'y',
// 	'dark blue'    #34445b 'y',
// 	'gray'         #9e9e9e 'y',
// 	'cool gray'    #9da7b2 'y',
// 	'green'        #54bc8a 'y',
// 	'red'          #d85b3c 'y',
// 	'purple'       #a67ac1 'y',
// 	'yellow'       #f2982b 'y'
// );
