//
// Color palette

// Blue

$blue-1:  #e4f2fe;
$blue-10: #bedffd;
$blue-20: #95ccfc;
$blue-30: #6cb7fa;
$blue-40: #4fa7fa;
$blue-50: #3999f8;
$blue-60: #368aea;
$blue-70: #3178d6;
$blue-80: #2d67c4; // P
$blue-90: #2648a4;

// // Blue gray

// $blue-gray-1:  #e3ebf2;
// $blue-gray-10: #bfced6; // P
// $blue-gray-20: #99acb8;
// $blue-gray-30: #748c9b;
// $blue-gray-40: #597586;
// $blue-gray-50: #3d5f71;
// $blue-gray-60: #325262;
// $blue-gray-70: #25404d;
// $blue-gray-80: #182e39;
// $blue-gray-90: #081a23;

// // Cream

// $cream-1:  #e8e0d3; // P
// $cream-10: #cab18c;
// $cream-20: #a67f3e;
// $cream-30: #835100;
// $cream-40: #703500;
// $cream-50: #5e1600;
// $cream-60: #5e0900;
// $cream-70: #5c0000;
// $cream-80: #560000;
// $cream-90: #4f0000;

// Cyan

$cyan-1:  #e1f9f8;
$cyan-10: #b4efed;
$cyan-20: #84e4e3;
$cyan-30: #53d9da;
$cyan-40: #2dd0d3;
$cyan-50: #00c7cf;
$cyan-60: #00b7bd; // P
$cyan-70: #06a1a4;
$cyan-80: #078d8d;
$cyan-90: #086963;

// Gray

$gray-1:  #fdf8f7;
$gray-10: #f6f2f1;
$gray-20: #ede9e8;
$gray-30: #ded9d8;
$gray-40: #bab6b5;
$gray-50: #9a9695; // P
$gray-60: #716e6d;
$gray-70: #5e5a59;
$gray-80: #3f3b3b;
$gray-90: #1e1b1a;

// Green

$green-1:  #ecf1f1;
$green-10: #d2ddda;
$green-20: #b5c6c2; // P
$green-30: #97afaa;
$green-40: #809c96;
$green-50: #698b84;
$green-60: #5d7b74;
$green-70: #4d6661;
$green-80: #3f524e;
$green-90: #2e3c39;

// Indigo

$indigo-1:  #e6e9ee;
$indigo-10: #bec8d7;
$indigo-20: #96a5bb;
$indigo-30: #6f839f;
$indigo-40: #50698d;
$indigo-50: #2f507d;
$indigo-60: #294975;
$indigo-70: #21406a;
$indigo-80: #1b365d; // P
$indigo-90: #142645;

// Pink

$pink-1:  #f2e3e2;
$pink-10: #eabeb0; // P
$pink-20: #dd937c;
$pink-30: #d26849;
$pink-40: #cb4823;
$pink-50: #c22300;
$pink-60: #b91e00;
$pink-70: #ad1700;
$pink-80: #a00d00;
$pink-90: #890000;

// Red

$red-1:  #fdebed;
$red-10: #fbccd1;
$red-20: #e99999;
$red-30: #dc7371;
$red-40: #e5544f; // P
$red-50: #e94536;
$red-60: #da3c35;
$red-70: #c8332f;
$red-80: #bb2c28;
$red-90: #ac211d;

// Yellow

$yellow-1:  #fdfce9;
$yellow-10: #fbf7c9;
$yellow-20: #f8f1a7;
$yellow-30: #f6ec87;
$yellow-40: #f4e76f;
$yellow-50: #f1e25b;
$yellow-60: #f0d256;
$yellow-70: #ebbc4e; // P
$yellow-80: #e6a646;
$yellow-90: #dd8238;

// Color defaults

$blue:       $blue-80;
// $blue-gray:  $blue-gray-10;
// $cream:      $cream-1;
$cyan:       $cyan-60;

$gray-light: $gray-30;
$gray:       $gray-50;
$gray-dark:  $gray-80;

$green:      $green-20;
$indigo:     $indigo-80;
$pink:       $pink-10;
$red:        $red-40;
$yellow:     $yellow-70;

// Fades

$black:      #000;
$white:      #fff;

$black-0125: rgba( $black, 0.0125 );
$black-025:  rgba( $black, 0.025 );
$black-05:   rgba( $black, 0.05 );
$black-075:  rgba( $black, 0.075 );
$black-10:   rgba( $black, 0.1 );
$black-20:   rgba( $black, 0.2 );
$black-30:   rgba( $black, 0.3 );
$black-40:   rgba( $black, 0.4 );
$black-50:   rgba( $black, 0.5 );
$black-60:   rgba( $black, 0.6 );
$black-70:   rgba( $black, 0.7 );
$black-80:   rgba( $black, 0.8 );
$black-90:   rgba( $black, 0.9 );

$white-0125: rgba( $white, 0.0125 );
$white-025:  rgba( $white, 0.025 );
$white-05:   rgba( $white, 0.05 );
$white-075:  rgba( $white, 0.075 );
$white-10:   rgba( $white, 0.1 );
$white-20:   rgba( $white, 0.2 );
$white-30:   rgba( $white, 0.3 );
$white-40:   rgba( $white, 0.4 );
$white-50:   rgba( $white, 0.5 );
$white-60:   rgba( $white, 0.6 );
$white-70:   rgba( $white, 0.7 );
$white-80:   rgba( $white, 0.8 );
$white-90:   rgba( $white, 0.9 );

$color-palette: (
    'blue'         $blue,
    // 'blue-gray'    $blue-gray,
    // 'cream'        $cream,
    'cyan'         $cyan,

    'gray light'   $gray-light,
    'gray'         $gray,
    'gray dark'    $gray-dark,

    'green'        $green,
    'indigo'       $indigo,
    'pink'         $pink,
    'red'          $red,
    'yellow'       $yellow,

    'black'        $black,
    'white'        $white,

    'blue 1'       $blue-1,
    'blue 10'      $blue-10,
    'blue 20'      $blue-20,
    'blue 30'      $blue-30,
    'blue 40'      $blue-40,
    'blue 50'      $blue-50,
    'blue 60'      $blue-60,
    'blue 70'      $blue-70,
    'blue 80'      $blue-80,
    'blue 90'      $blue-90,

    // 'blue gray 1'  $blue-gray-1,
    // 'blue gray 10' $blue-gray-10,
    // 'blue gray 20' $blue-gray-20,
    // 'blue gray 30' $blue-gray-30,
    // 'blue gray 40' $blue-gray-40,
    // 'blue gray 50' $blue-gray-50,
    // 'blue gray 60' $blue-gray-60,
    // 'blue gray 70' $blue-gray-70,
    // 'blue gray 80' $blue-gray-80,
    // 'blue gray 90' $blue-gray-90,

    // 'cream 1'      $cream-1,
    // 'cream 10'     $cream-10,
    // 'cream 20'     $cream-20,
    // 'cream 30'     $cream-30,
    // 'cream 40'     $cream-40,
    // 'cream 50'     $cream-50,
    // 'cream 60'     $cream-60,
    // 'cream 70'     $cream-70,
    // 'cream 80'     $cream-80,
    // 'cream 90'     $cream-90,

    'cyan 1'       $cyan-1,
    'cyan 10'      $cyan-10,
    'cyan 20'      $cyan-20,
    'cyan 30'      $cyan-30,
    'cyan 40'      $cyan-40,
    'cyan 50'      $cyan-50,
    'cyan 60'      $cyan-60,
    'cyan 70'      $cyan-70,
    'cyan 80'      $cyan-80,
    'cyan 90'      $cyan-90,

    'gray 1'       $gray-1,
    'gray 10'      $gray-10,
    'gray 20'      $gray-20,
    'gray 30'      $gray-30,
    'gray 40'      $gray-40,
    'gray 50'      $gray-50,
    'gray 60'      $gray-60,
    'gray 70'      $gray-70,
    'gray 80'      $gray-80,
    'gray 90'      $gray-90,

    'green 1'      $green-1,
    'green 10'     $green-10,
    'green 20'     $green-20,
    'green 30'     $green-30,
    'green 40'     $green-40,
    'green 50'     $green-50,
    'green 60'     $green-60,
    'green 70'     $green-70,
    'green 80'     $green-80,
    'green 90'     $green-90,

    'indigo 1'     $indigo-1,
    'indigo 10'    $indigo-10,
    'indigo 20'    $indigo-20,
    'indigo 30'    $indigo-30,
    'indigo 40'    $indigo-40,
    'indigo 50'    $indigo-50,
    'indigo 60'    $indigo-60,
    'indigo 70'    $indigo-70,
    'indigo 80'    $indigo-80,
    'indigo 90'    $indigo-90,

    'pink 1'       $pink-1,
    'pink 10'      $pink-10,
    'pink 20'      $pink-20,
    'pink 30'      $pink-30,
    'pink 40'      $pink-40,
    'pink 50'      $pink-50,
    'pink 60'      $pink-60,
    'pink 70'      $pink-70,
    'pink 80'      $pink-80,
    'pink 90'      $pink-90,

    'red 1'        $red-1,
    'red 10'       $red-10,
    'red 20'       $red-20,
    'red 30'       $red-30,
    'red 40'       $red-40,
    'red 50'       $red-50,
    'red 60'       $red-60,
    'red 70'       $red-70,
    'red 80'       $red-80,
    'red 90'       $red-90,

    'yellow 1'     $yellow-1,
    'yellow 10'    $yellow-10,
    'yellow 20'    $yellow-20,
    'yellow 30'    $yellow-30,
    'yellow 40'    $yellow-40,
    'yellow 50'    $yellow-50,
    'yellow 60'    $yellow-60,
    'yellow 70'    $yellow-70,
    'yellow 80'    $yellow-80,
    'yellow 90'    $yellow-90,

    'black 0125'   $black-0125,
    'black 025'    $black-025,
    'black 05'     $black-05,
    'black 075'    $black-075,
    'black 10'     $black-10,
    'black 20'     $black-20,
    'black 30'     $black-30,
    'black 40'     $black-40,
    'black 50'     $black-50,
    'black 60'     $black-60,
    'black 70'     $black-70,
    'black 80'     $black-80,
    'black 90'     $black-90,

    'white 0125'   $white-0125,
    'white 025'    $white-025,
    'white 05'     $white-05,
    'white 075'    $white-075,
    'white 10'     $white-10,
    'white 20'     $white-20,
    'white 30'     $white-30,
    'white 40'     $white-40,
    'white 50'     $white-50,
    'white 60'     $white-60,
    'white 70'     $white-70,
    'white 80'     $white-80,
    'white 90'     $white-90
);
