// Mixins


// Button background gradient.
@mixin button_gradient_bg($color-top, $color-bottom) {
	background: #{$color-top};
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #{$color-top}), color-stop(100%, #{$color-bottom}));
	background: -webkit-linear-gradient(top, #{$color-top} 0%, #{$color-bottom} 100%);
	background:    -moz-linear-gradient(top, #{$color-top} 0%, #{$color-bottom} 100%);
	background:     -ms-linear-gradient(top, #{$color-top} 0%, #{$color-bottom} 100%);
	background:      -o-linear-gradient(top, #{$color-top} 0%, #{$color-bottom} 100%);
	background:         linear-gradient(to bottom, #{$color-top} 0%, #{$color-bottom} 100%);
	filter:      progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$color-top}', endColorstr='#{$color-bottom}', GradientType=0);
}

// Output vendor properties.
@mixin vendor($property, $value) {
	-webkit-#{$property}: $value;
	   -moz-#{$property}: $value;
		-ms-#{$property}: $value;
		 -o-#{$property}: $value;
			#{$property}: $value;
}

@mixin animation($animate...) {
	$max: length($animate);
	$animations: '';

	@for $i from 1 through $max {
		$animations: #{ $animations + nth($animate, $i) };

		@if $i < $max {
			$animations: #{ $animations + ', ' };
		}
	}
	-webkit-animation: $animations;
	   -moz-animation: $animations;
	     -o-animation: $animations;
	        animation: $animations;
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin classes_abbr_value($abbreviation, $property, $list) {
	@each $abbr, $prop in ($abbreviation: $property) {
		$prop_ucf: str_ucfirst($prop);
		$prop_r: str_replace($prop_ucf, '-', ' ');
		@each $item in $list {
			$item_rename: value_to_class($item);
			/**
			 * #{$prop_r} #{$item}:
			 * `.#{$abbr}-#{$item_rename}` `.[size]-#{$abbr}-#{$item_rename}` `.max[size]-#{$abbr}-#{$item_rename}`
			 *
			 *     @example
			 *     p
			 *         span.#{$abbr}-#{$item_rename} Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			 */
			.#{$abbr}-#{$item_rename} {
				#{$prop}: #{$item};
			}
		}

		@each $size, $length in $grid-breakpoints {
			@media (min-width: $length) {
				@each $item in $list {
					.#{$size}-#{$abbr}-#{value_to_class($item)} {
						#{$prop}: #{$item};
					}
				}
			}

			@if ($length != 0) {
				@media (max-width: $length - 1) {
					@each $item in $list {
						.max#{$size}-#{$abbr}-#{value_to_class($item)} {
							#{$prop}: #{$item};
						}
					}
				}
			}
		}
	}
}
