// Mixins


// Button background gradient.
@mixin button_gradient_bg($color-top, $color-bottom) {
	background: #{$color-top};
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #{$color-top}), color-stop(100%, #{$color-bottom}));
	background: -webkit-linear-gradient(top, #{$color-top} 0%, #{$color-bottom} 100%);
	background:    -moz-linear-gradient(top, #{$color-top} 0%, #{$color-bottom} 100%);
	background:     -ms-linear-gradient(top, #{$color-top} 0%, #{$color-bottom} 100%);
	background:      -o-linear-gradient(top, #{$color-top} 0%, #{$color-bottom} 100%);
	background:         linear-gradient(to bottom, #{$color-top} 0%, #{$color-bottom} 100%);
	filter:      progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$color-top}', endColorstr='#{$color-bottom}', GradientType=0);
}

// Output vendor properties.
@mixin vendor($property, $value) {
	-webkit-#{$property}: $value;
	   -moz-#{$property}: $value;
		-ms-#{$property}: $value;
		 -o-#{$property}: $value;
			#{$property}: $value;
}

@mixin animation($animate...) {
	$max: length($animate);
	$animations: '';

	@for $i from 1 through $max {
		$animations: #{ $animations + nth($animate, $i) };

		@if $i < $max {
			$animations: #{ $animations + ', ' };
		}
	}
	-webkit-animation: $animations;
	   -moz-animation: $animations;
		 -o-animation: $animations;
			animation: $animations;
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin class_abbr_val($abbreviation, $property, $values) {
	@each $abbr, $prop in ($abbreviation: $property) {
		$prop-ucf: str_ucfirst($prop);
		$prop-r: str_replace($prop-ucf, '-', ' ');
		@each $value in $values {
			$value-rename: val_to_class_name($value);
			/**
			 * #{$prop-r} #{$value}:
			 * `.#{$abbr}-#{$value-rename}` `.[size]-#{$abbr}-#{$value-rename}` `.max[size]-#{$abbr}-#{$value-rename}`
			 *
			 *     @example
			 *     div.#{$abbr}-#{$value-rename} Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			 */
			.#{$abbr}-#{$value-rename} {
				#{$prop}: #{$value};
			}
		}

		@each $size, $length in $grid-breakpoints {
			@media (min-width: $length) {
				@each $value in $values {
					.#{$size}-#{$abbr}-#{val_to_class_name($value)} {
						#{$prop}: #{$value};
					}
				}
			}

			@if ($length != 0) {
				@media (max-width: $length - 1) {
					@each $value in $values {
						.max#{$size}-#{$abbr}-#{val_to_class_name($value)} {
							#{$prop}: #{$value};
						}
					}
				}
			}
		}
	}
}

@mixin class_abbr_len($abbreviation, $property, $length-value, $number-of-lengths) {
	@each $abbr, $prop in ($abbreviation: $property) {
		$prop-ucf: str_ucfirst($prop);
		$prop-r: str_replace($prop-ucf, '-', ' ');
		@for $i from 0 through $number-of-lengths {
			/**
			 * #{$prop-r} #{$length-value * $i}:
			 * `.#{$abbr}-#{$i}` `.[size]-#{$abbr}-#{$i}` `.max[size]-#{$abbr}-#{$i}`
			 *
			 *     @example
			 *     div.#{$abbr}-#{$i} Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			 */
			.#{$abbr}-#{$i} {
				#{$prop}: $length-value * $i;
			}
		}

		@each $size, $length in $grid-breakpoints {
			@media (min-width: $length) {
				@for $i from 0 through $number-of-lengths {
					.#{$size}-#{$abbr}-#{$i} {
						#{$prop}: $length-value * $i;
					}
				}
			}

			@if ($length != 0) {
				@media (max-width: $length - 1) {
					@for $i from 0 through $number-of-lengths {
						.max#{$size}-#{$abbr}-#{$i} {
							#{$prop}: $length-value * $i;
						}
					}
				}
			}
		}
	}
}

@mixin class_abbr_propext_val($abbreviation, $property, $property-extended, $values) {
	$prop-merge: list_to_str($property);
	@each $abbr, $prop in ($abbreviation: $prop-merge) {
		$prop-ucf: str_ucfirst($prop_merge);
		$prop-r: str_replace($prop-ucf, '-', ' ');
		@each $prop-ext in $property-extended {
			$prop-ext-r: str_replace($prop-ext, '-', ' ');
			@each $value in $values {
				$value-rename: val_to_class_name($value);
				/**
				 * #{$prop-r} #{$prop-ext-r} #{$value}:
				 * `.#{$abbr}-#{$prop-ext}-#{$value-rename}` `.[size]-#{$abbr}-#{$prop-ext}-#{$value-rename}` `.max[size]-#{$abbr}-#{$prop-ext}-#{$value-rename}`
				 *
				 *     @example
				 *     div.#{$abbr}-#{$prop-ext}-#{$value-rename} Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				 */
				.#{$abbr}-#{$prop-ext}-#{$value-rename} {
					#{nth($property, 1)}-#{$prop-ext}-#{nth($property, 2)}: #{$value};
				}
			}
		}

		@each $size, $length in $grid-breakpoints {
			@media (min-width: $length) {
				@each $prop-ext in $property-extended {
					@each $value in $values {
						.#{$size}-#{$abbr}-#{$prop-ext}-#{val_to_class_name($value)} {
							#{nth($property, 1)}-#{$prop-ext}-#{nth($property, 2)}: #{$value};
						}
					}
				}
			}

			@if ($length != 0) {
				@media (max-width: $length - 1) {
					@each $prop-ext in $property-extended {
						@each $value in $values {
							.max#{$size}-#{$abbr}-#{$prop-ext}-#{val_to_class_name($value)} {
								#{nth($property, 1)}-#{$prop-ext}-#{nth($property, 2)}: #{$value};
							}
						}
					}
				}
			}
		}
	}
}

// @mixin class_abbr_propext_num($abbreviation, $property, $property-extended, $number, $numbers) {
// 	$prop_merge: list_to_str($property);

// 	@if type_of($property) == 'list' {
// 		@each $abbr, $prop in ($abbreviation: $prop_merge) {
// 			@each $prop-ext in $property-extended {
// 				@each $value in $values {
// 					$i: index($values, $value);
// 					.#{$abbr}-#{$prop-ext}-#{$i} {
// 						#{nth($property, 1)}-#{$prop-ext}-#{nth($property, 2)}: #{$value};
// 					}
// 				}
// 			}
// 		}
// 	}
// 	@else {

// 	}
// }


// abbr-val / d-inline
// prop: val / display: inline

// abbr-prop_ext-val / bds-top-solid
// prop1-prop_ext-prop2: val / border-top-style: solid

// abbr-prop_ext-length / bdw-top-4
// prop1-prop_ext-prop2: val / border-top-width: 1px

// abbr-prop_ext-length / bdr-topright-1
// prop1-prop_ext-prop2: val / border-top-right-radius: 1px

// @include class(
// 	/* Abbreviation */
// 	'bdr',

// 	/* Property */
// 	(
// 		'border', 
// 		'radius'
// 	),

// 	Property extended
// 	(
// 		'top-right',
// 		'bottom-right',
// 		'bottom-left',
// 		'top-left'
// 	),

// 	/* Values */
// 	$border-radius
// );
