// Mixins


// Button background gradient.
@mixin button_gradient_bg($color-top, $color-bottom) {
	background: #{$color-top};
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #{$color-top}), color-stop(100%, #{$color-bottom}));
	background: -webkit-linear-gradient(top, #{$color-top} 0%, #{$color-bottom} 100%);
	background:    -moz-linear-gradient(top, #{$color-top} 0%, #{$color-bottom} 100%);
	background:     -ms-linear-gradient(top, #{$color-top} 0%, #{$color-bottom} 100%);
	background:      -o-linear-gradient(top, #{$color-top} 0%, #{$color-bottom} 100%);
	background:         linear-gradient(to bottom, #{$color-top} 0%, #{$color-bottom} 100%);
	filter:      progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$color-top}', endColorstr='#{$color-bottom}', GradientType=0);
}

// Output vendor properties.
@mixin vendor($property, $value) {
	-webkit-#{$property}: $value;
	   -moz-#{$property}: $value;
		-ms-#{$property}: $value;
		 -o-#{$property}: $value;
			#{$property}: $value;
}

@mixin animation($animate...) {
	$max: length($animate);
	$animations: '';

	@for $i from 1 through $max {
		$animations: #{ $animations + nth($animate, $i) };

		@if $i < $max {
			$animations: #{ $animations + ', ' };
		}
	}
	-webkit-animation: $animations;
	   -moz-animation: $animations;
		 -o-animation: $animations;
			animation: $animations;
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin class_abbr_val($abbreviation, $property, $values) {
	@each $abbr, $prop in ($abbreviation: $property) {
		$prop-ucf: str_ucfirst($prop);
		$prop-r: str_replace($prop-ucf, '-', ' ');
		@each $value in $values {
			$value-rename: val_to_class_name($value);
			/**
			 * #{$prop-r} #{$value}:
			 * `.#{$abbr}-#{$value-rename}` `.[size]-#{$abbr}-#{$value-rename}` `.max[size]-#{$abbr}-#{$value-rename}`
			 *
			 *     @example
			 *     div.#{$abbr}-#{$value-rename} Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			 */
			.#{$abbr}-#{$value-rename} {
				#{$prop}: #{$value};
			}
		}

		@each $size, $length in $grid-breakpoints {
			@media (min-width: $length) {
				@each $value in $values {
					.#{$size}-#{$abbr}-#{val_to_class_name($value)} {
						#{$prop}: #{$value};
					}
				}
			}

			@if ($length != 0) {
				@media (max-width: $length - 1) {
					@each $value in $values {
						.max#{$size}-#{$abbr}-#{val_to_class_name($value)} {
							#{$prop}: #{$value};
						}
					}
				}
			}
		}
	}
}

@mixin class_abbr_len($abbreviation, $property, $length-value, $number-of-lengths) {
	@each $abbr, $prop in ($abbreviation: $property) {
		$prop-ucf: str_ucfirst($prop);
		$prop-r: str_replace($prop-ucf, '-', ' ');
		@for $i from 0 through $number-of-lengths {
			/**
			 * #{$prop-r} #{$length-value * $i}:
			 * `.#{$abbr}-#{$i}` `.[size]-#{$abbr}-#{$i}` `.max[size]-#{$abbr}-#{$i}`
			 *
			 *     @example
			 *     div.#{$abbr}-#{$i} Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			 */
			.#{$abbr}-#{$i} {
				#{$prop}: $length-value * $i;
			}
		}

		@each $size, $length in $grid-breakpoints {
			@media (min-width: $length) {
				@for $i from 0 through $number-of-lengths {
					.#{$size}-#{$abbr}-#{$i} {
						#{$prop}: $length-value * $i;
					}
				}
			}

			@if ($length != 0) {
				@media (max-width: $length - 1) {
					@for $i from 0 through $number-of-lengths {
						.max#{$size}-#{$abbr}-#{$i} {
							#{$prop}: $length-value * $i;
						}
					}
				}
			}
		}
	}
}

@mixin class_abbr_key($abbreviation, $property, $map) {
	@each $abbr, $prop in ($abbreviation: $property) {
		$prop-ucf: str_ucfirst($prop);
		$prop-r: str_replace($prop-ucf, '-', ' ');
		@each $key, $value in $map {
			/**
			 * #{$prop-r} #{$value}:
			 * `.#{$abbr}-#{$key}` `.[size]-#{$abbr}-#{$key}` `.max[size]-#{$abbr}-#{$key}`
			 *
			 *     @example
			 *     div.#{$abbr}-#{$key} Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			 */
			.#{$abbr}-#{$key} {
				#{$prop}: #{$value};
			}
		}

		@each $size, $length in $grid-breakpoints {
			@media (min-width: $length) {
				@each $key, $value in $map {
					.#{$size}-#{$abbr}-#{$key} {
						#{$prop}: #{$value};
					}
				}
			}

			@if ($length != 0) {
				@media (max-width: $length - 1) {
					@each $key, $value in $map {
						.max#{$size}-#{$abbr}-#{$key} {
							#{$prop}: #{$value};
						}
					}
				}
			}
		}
	}
}

@mixin class_abbr_propext_val($abbreviation, $property, $property-extended, $values) {
	$prop-split: str_split($property, '-');
	@each $abbr, $prop in ($abbreviation: $property) {
		$prop-ucf: str_ucfirst($property);
		$prop-r: str_replace($prop-ucf, '-', ' ');
		@each $prop-ext in $property-extended {
			$prop-ext-r: str_replace($prop-ext, '-', ' ');
			@each $value in $values {
				$value-rename: val_to_class_name($value);
				/**
				 * #{$prop-r} #{$prop-ext-r} #{$value}:
				 * `.#{$abbr}-#{$prop-ext}-#{$value-rename}` `.[size]-#{$abbr}-#{$prop-ext}-#{$value-rename}` `.max[size]-#{$abbr}-#{$prop-ext}-#{$value-rename}`
				 *
				 *     @example
				 *     div.#{$abbr}-#{$prop-ext}-#{$value-rename} Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				 */
				.#{$abbr}-#{$prop-ext}-#{$value-rename} {
					#{nth($prop-split, 1)}-#{$prop-ext}-#{nth($prop-split, 2)}: #{$value};
				}
			}
		}

		@each $size, $length in $grid-breakpoints {
			@media (min-width: $length) {
				@each $prop-ext in $property-extended {
					@each $value in $values {
						.#{$size}-#{$abbr}-#{$prop-ext}-#{val_to_class_name($value)} {
							#{nth($prop-split, 1)}-#{$prop-ext}-#{nth($prop-split, 2)}: #{$value};
						}
					}
				}
			}

			@if ($length != 0) {
				@media (max-width: $length - 1) {
					@each $prop-ext in $property-extended {
						@each $value in $values {
							.max#{$size}-#{$abbr}-#{$prop-ext}-#{val_to_class_name($value)} {
								#{nth($prop-split, 1)}-#{$prop-ext}-#{nth($prop-split, 2)}: #{$value};
							}
						}
					}
				}
			}
		}
	}
}

@mixin class_abbr_propext_key($abbreviation, $property, $property-extended, $map) {
	$property-contains-a-dash: str-index($property, '-');
	$prop-split: ();
	@if $property-contains-a-dash {
		$prop-split: str_split($property, '-');
	}

	@each $abbr, $prop in ($abbreviation: $property) {
		$prop-ucf: str_ucfirst($property);
		$prop-r: str_replace($prop-ucf, '-', ' ');
		@each $prop-ext in $property-extended {
			$prop-ext-r: str_replace($prop-ext, '-', ' ');
			$prop-ext-rename: val_to_class_name($prop-ext);
			@each $key, $value in $map {
				/**
				 * #{$prop-r} #{$prop-ext-r} #{$value}:
				 * `.#{$abbr}-#{$prop-ext-rename}-#{$key}` `.[size]-#{$abbr}-#{$prop-ext-rename}-#{$key}` `.max[size]-#{$abbr}-#{$prop-ext-rename}-#{$key}`
				 *
				 *     @example
				 *     div.#{$abbr}-#{$prop-ext-rename}-#{$key} Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				 */
				.#{$abbr}-#{$prop-ext-rename}-#{$key} {
					@if $property-contains-a-dash {
						#{nth($prop-split, 1)}-#{$prop-ext}-#{nth($prop-split, 2)}: #{$value};
					}
					@else {
						#{$property)}-#{$prop-ext}: #{$value};
					}
				}
			}
		}

		@each $size, $length in $grid-breakpoints {
			@media (min-width: $length) {
				@each $prop-ext in $property-extended {
					$prop-ext-rename: val_to_class_name($prop-ext);
					@each $key, $value in $map {
						.#{$size}-#{$abbr}-#{$prop-ext-rename}-#{$key} {
							@if $property-contains-a-dash {
								#{nth($prop-split, 1)}-#{$prop-ext}-#{nth($prop-split, 2)}: #{$value};
							}
							@else {
								#{$property}-#{$prop-ext}: #{$value};
							}
						}
					}
				}
			}

			@if ($length != 0) {
				@media (max-width: $length - 1) {
					@each $prop-ext in $property-extended {
						$prop-ext-rename: val_to_class_name($prop-ext);
						@each $key, $value in $map {
							.max#{$size}-#{$abbr}-#{$prop-ext-rename}-#{$key} {
								@if $property-contains-a-dash {
									#{nth($prop-split, 1)}-#{$prop-ext}-#{nth($prop-split, 2)}: #{$value};
								}
								@else {
									#{$property}-#{$prop-ext}: #{$value};
								}
							}
						}
					}
				}
			}
		}
	}
}
