//
// Variables


// ==========================================================================
// Elements
// ==========================================================================


// Base

$font-family-sans-serif: -apple-system,
                         BlinkMacSystemFont,
                         'Segoe UI',
                         Roboto,
                         'Helvetica Neue',
                         Arial,
                         sans-serif,
                         'Apple Color Emoji',
                         'Segoe UI Emoji',
                         'Segoe UI Symbol' !default;

$font-family-monospace:  'SF Mono',
                         'Segoe UI Mono',
                         'Roboto Mono',
                         'Ubuntu Mono',
                         Menlo,
                         Courier,
                         monospace !default;

$font-family-base:       $font-family-sans-serif;
$font-size-base:         16px !default;
$font-size-sm:           0.813em; // 13px
$font-size-lg:           1.5em;   // 24px
$font-weight-base:       400;
$line-height-base:       25px !default;

$spacing-unit-base:      2em; // 32px
$spacing-unit-half:      $spacing-unit-base / 2; // 1em   (16px)
$spacing-unit-quarter:   $spacing-unit-base / 4; // 0.5em  (8px)

$line-height-ratio:      $line-height-base / $font-size-base;

$border-radius-base:     0.25rem;


// Color

$day__body-bg-color: #fff;
$ngt__body-bg-color: #060b0b;

$colors:             colors( $color-palette );

$day__color-primary: color( 'black 90' );
$ngt__color-primary: color( 'black 90' );

$day__body-color:    color( 'black 90' );
$ngt__body-color:    color( 'white 90' );

$day__border-color:  color( 'black 10' );
$ngt__border-color:  color( 'white 10' );

$day__border-dark-color: color( 'black 90' );
$ngt__border-dark-color: color( 'white 90' );


// Transition

$transition-duration:        0.16s;
$transition-timing-function: ease-out;
$transition-base:            background-color $transition-duration $transition-timing-function,
                             border-color     $transition-duration $transition-timing-function,
                             box-shadow       $transition-duration $transition-timing-function,
                             color            $transition-duration $transition-timing-function;


// Hyperlink

$day__a-color:                     $day__color-primary;
$ngt__a-color:                     $ngt__color-primary;
$a-font-weight:                    500;
$a-text-decoration:                none;

$day__a-visited-color:             $day__a-color;
$ngt__a-visited-color:             $ngt__a-color;
$a-visited-text-decoration:        none;

$day__a-hover-color:               shade( color( 'blue 60' ), 12% );
$ngt__a-hover-color:               tint( color( 'blue 60' ), 12% );
$a-hover-text-decoration:          underline;


// Nota: Borde para los enlaces que estan dentro de los parrafos.

$a-border-bottom-width:            0.063rem;
$a-border-bottom-style:            solid;
$day__a-border-bottom-color:       $day__a-color;
$ngt__a-border-bottom-color:       $ngt__a-color;

$a-hover-border-bottom-width:      0.125rem;
$day__a-hover-border-bottom-color: $day__a-hover-color;
$ngt__a-hover-border-bottom-color: $ngt__a-hover-color;


// Heading

$headings: (
    'h1': 2.250em, // 36px
    'h2': 2em,     // 32px
    'h3': 1.750em, // 28px
    'h4': 1.5em,   // 24px
    'h5': 1.25em,  // 20px
    'h6': 1em      // 16px
) !default;

$heading-font-weight:    500;
$heading-letter-spacing: normal; // 0.15em;
$heading-line-height:    1.2;
$heading-text-transform: none;


// Marked text

$mark-border-radius: 0;
$day__mark-bg-color: rgba( color( 'yellow 1' ), 0.5 );
$ngt__mark-bg-color: rgba( color( 'yellow 1' ), 0.5 );
$day__mark-bg-image: none;
$ngt__mark-bg-image: none;
$mark-padding:       0.2em;


// Blockquote

$blockquote-border-width:                0.313rem;
$blockquote-border-style:                solid;
$day__blockquote-border-color:           color( 'black 05' );
$ngt__blockquote-border-color:           color( 'white 05' );

$blockquote-padding:                     0 0 0 ( 1.5 - $blockquote-border-width );

$blockquote__p-font-size:                1.125em;
$blockquote__p-before-after-font-weight: 700;
$blockquote__p-before-content:           '«'; // '“';
$blockquote__p-before-margin-right:      0.25rem;
$blockquote__p-after-content:            '»'; // '”';
$blockquote__p-after-margin-left:        0.25rem;

$blockquote__footer-font-size:           $font-size-sm;
$blockquote__footer-before-content:      '— ';


// Code

$day__code-bg-color:    color( 'black 05' );
$ngt__code-bg-color:    color( 'white 05' );
$day__code-color:       inherit;
$ngt__code-color:       inherit;
$code-border-radius:    $border-radius-base;
$code-font-size:        0.875em; // 14px
$code-padding:          0.125em 0.313em; // 2px 5px


// Pre

$day__pre-bg-color:     color( 'black 025' );
$ngt__pre-bg-color:     color( 'white 025' );

$pre-border-top:        none;
$pre-border-right:      none;
$pre-border-bottom:     none;
$pre-border-left:       none;

$day__pre-border-color: transparent;
$ngt__pre-border-color: transparent;

$pre-border-radius:     $border-radius-base;

$pre-padding-y:         1.5rem;
$pre-padding-x:         1.5rem;


// Box

$day__box-bg-color:     $day__body-bg-color;
$ngt__box-bg-color:     #202225;

$box-border-radius:     $border-radius-base;


// Generic values, used by form elements.

$el-hover-amount:              12%;
$el-active-amount:             22%;

$el-border-width:              0.063rem;
$el-border-style:              solid;
$day__el-border-color:         color( 'black 20' );
$ngt__el-border-color:         color( 'white 20' );

$day__el-hover-border-color:   color( 'black 30' );
$ngt__el-hover-border-color:   color( 'white 30' );

$day__el-hover-bg-color:       transparent;
$ngt__el-hover-bg-color:       transparent;

$el-border-radius:             $border-radius-base;

$day__el-color:                $day__body-color;
$ngt__el-color:                $ngt__body-color;

$el-line-height:               inherit;

$el-padding-y:                 0.250em;
$el-padding-x:                 0.750em;

$el-sm-padding-y:              $el-padding-y;
$el-sm-padding-x:              $el-padding-x;

$el-lg-padding-y:              $el-padding-y;
$el-lg-padding-x:              $el-padding-x;

$el-lg-font-size:              1.25em;

$day__el-invalid-border-color: color( 'red 30' );
$ngt__el-invalid-border-color: color( 'red 30' );

$day__el-focus-border-color:   color( 'blue 30' );
$ngt__el-focus-border-color:   color( 'blue 30' );

$day__el-focus-box-shadow:     inset 0 0 0 0.063rem $day__el-focus-border-color;
$ngt__el-focus-box-shadow:     inset 0 0 0 0.063rem $ngt__el-focus-border-color;

$day__el-active-border-color:  color( 'blue 30' );
$ngt__el-active-border-color:  color( 'blue 30' );


// Button

$btn-border-width:           $el-border-width;
$btn-border-style:           $el-border-style;
$btn-border-color:           transparent;

$btn-border-radius:          $el-border-radius;
$btn-font-size:              $font-size-base;
$btn-font-weight:            500;
$btn-line-height:            $el-line-height;

$btn-padding-y:              $el-padding-y;
$btn-padding-x:              $el-padding-x;

$btn-transition:             $transition-base;


// Buttons style
//
// name, bg color, night bg color, text color, night text color, light colors on hover/active state?

$btns: (
    'primary'   color( 'blue' )   color( 'blue' )   #fff #fff '',
    'secondary' color( 'black 40' ) color( 'white 20' ) #fff #fff ''
);


// Outline button

$btn-outline-border-transparentize-amount: 0;


// Disabled button

$btn-disabled-opacity: 0.6;


// Button link

$day__btn-link-hover-bg-color: color( 'black 05' );
$ngt__btn-link-hover-bg-color: color( 'white 05' );


// Small button

$btn-sm-border-radius: $el-border-radius;
$btn-sm-font-size:     $font-size-sm;
$btn-sm-padding-y:     $el-sm-padding-y;
$btn-sm-padding-x:     $el-sm-padding-x;


// Large button

$btn-lg-border-radius: $el-border-radius;
$btn-lg-font-size:     $el-lg-font-size;
$btn-lg-padding-y:     $el-lg-padding-y;
$btn-lg-padding-x:     $el-lg-padding-x;


// File area

$day__farea-bg-color:       color( 'black 025' );
$ngt__farea-bg-color:       color( 'white 025' );

$day__farea-focus-bg-color: none;
$ngt__farea-focus-bg-color: none;

$day__farea-valid-bg-color: color( 'black 10' );
$ngt__farea-valid-bg-color: color( 'white 10' );

$day__farea-hover-bg-color: color( 'black 05' );
$ngt__farea-hover-bg-color: color( 'white 05' );

$farea-border-radius:       $border-radius-base;
$farea-padding:             6.25rem 1rem;
$farea-transition:          $transition-base;


// Label

$lbl-font-size: px_to_em( $font-size-base );


// Input

$day__input-bg-color:                transparent;
$ngt__input-bg-color:                transparent;

$input-border-width:                 $el-border-width;
$input-border-style:                 $el-border-style;
$day__input-border-color:            $day__el-border-color;
$ngt__input-border-color:            $ngt__el-border-color;

$input-border-radius:                $el-border-radius;
$day__input-color:                   $day__el-color;
$ngt__input-color:                   $ngt__el-color;
$input-font-size:                    $font-size-base;
$input-line-height:                  $el-line-height;
$input-padding-y:                    $el-padding-y;
$input-padding-x:                    $el-padding-x;
$input-transition:                   $transition-base;

$day__input-focus-bg-color:          transparent;
$ngt__input-focus-bg-color:          transparent;
$day__input-focus-border-color:      $day__el-focus-border-color;
$ngt__input-focus-border-color:      $ngt__el-focus-border-color;
$day__input-focus-box-shadow:        $day__el-focus-box-shadow;
$ngt__input-focus-box-shadow:        $ngt__el-focus-box-shadow;

$day__input-placeholder-color:       color( 'black 30' );
$ngt__input-placeholder-color:       color( 'white 30' );

$day__input-focus-placeholder-color: rgba( color( 'blue 50' ), 0.5 );
$ngt__input-focus-placeholder-color: rgba( color( 'blue 50' ), 0.5 );

$input-placeholder-opacity:          1;

$day__input-invalid-border-color:    $day__el-invalid-border-color;
$ngt__input-invalid-border-color:    $ngt__el-invalid-border-color;

$day__input-valid-border-color:      $day__input-border-color;
$ngt__input-valid-border-color:      $ngt__input-border-color;

$day__input-hover-border-color:      $day__el-hover-border-color;
$ngt__input-hover-border-color:      $ngt__el-hover-border-color;

$day__input-active-border-color:     $day__el-active-border-color;
$ngt__input-active-border-color:     $ngt__el-active-border-color;

$input--sm-border-radius:             $el-border-radius;
$input--sm-font-size:                 $font-size-sm;
$input--sm-padding-y:                 $el-sm-padding-y;
$input--sm-padding-x:                 $el-sm-padding-x;

$input--lg-border-radius:             $el-border-radius;
$input--lg-font-size:                 $el-lg-font-size;
$input--lg-padding-y:                 $el-lg-padding-y;
$input--lg-padding-x:                 $el-lg-padding-x;


// Form field

$fld-margin-bottom: 1em;


// Flat input

$day__input--flat-bg-color:           color( 'black 05' );
$ngt__input--flat-bg-color:           color( 'white 05' );
$day__input--flat-border-color:       transparent;
$ngt__input--flat-border-color:       transparent;

$day__input--flat-hover-bg-color:     color( 'black 075' );
$ngt__input--flat-hover-bg-color:     color( 'white 075' );
$day__input--flat-hover-border-color: transparent;
$ngt__input--flat-hover-border-color: transparent;


// Line input

$day__input--line-focus-box-shadow: inset 0 -0.063rem 0 0 $day__input-focus-border-color;
$ngt__input--line-focus-box-shadow: inset 0 -0.063rem 0 0 $ngt__input-focus-border-color;


// Input with icon

$ctrl__icn-wrap-width:           2.75rem;

$day__ctrl__icn-wrap__icn-color: color( 'black 30' );
$ngt__ctrl__icn-wrap__icn-color: color( 'white 30' );

$ctrl__icn-wrap__icn-font-size:  1.5em;

$ctrl__icn-wrap__svg-width:      1.5rem;
$ctrl__icn-wrap__svg-height:     1.5rem;


// Checkbox and radio

$ctrl--check__input-margin-top:   0.6em;
$ctrl--check__label-padding-left: 1.25em;


// Custom checkbox and radio

$ctrl--custom-check-margin-bottom:       0.5em;
$ctrl--custom-check__label-padding-left: 2em;


// Custom checked indicator

$tick-border-width:             0 0.125em 0.125em 0;
$tick-border-style:             solid;
$day__tick-border-color:        #fff;
$ngt__tick-border-color:        #fff;

$tick-top:                      18%;
$tick-transform:                rotate( 45deg );

$tick-width:                    0.313em; //  5px
$tick-height:                   0.625em; // 10px

$day__indic-bg-color:           transparent;
$ngt__indic-bg-color:           transparent;

$indic-border-width:            $el-border-width;
$indic-border-style:            $el-border-style;

$day__indic-border-color:       $day__el-border-color;
$ngt__indic-border-color:       $ngt__el-border-color;

$indic-margin-top:              0.125em;

$indic-width:                   1.25em;
$indic-height:                  1.25em;

$indic--checkbox-border-radius: $el-border-radius;


// Flat custom indicator

$day__ctrl--custom-check--flat__indic-bg-color: color( 'black 10' );
$ngt__ctrl--custom-check--flat__indic-bg-color: color( 'white 10' );


// Select menu

$day__sel-bg-color:           transparent;
$ngt__sel-bg-color:           transparent;

$sel-border-width:            $el-border-width;
$sel-border-style:            $el-border-style;
$sel-border-color:            $day__el-border-color;
$ngt__sel-border-color:       $ngt__el-border-color;

$sel-border-radius:           $el-border-radius;

$day__sel-color:              $day__el-color;
$ngt__sel-color:              $ngt__el-color;

$sel-font-size:               $font-size-base;
$sel-line-height:             $el-line-height;
$sel-padding-y:               $el-padding-y;
$sel-padding-x:               $el-padding-x;

$day__sel-focus-border-color: $day__el-focus-border-color;
$ngt__sel-focus-border-color: $ngt__el-focus-border-color;

$day__sel-focus-box-shadow:   $day__el-focus-box-shadow;
$ngt__sel-focus-box-shadow:   $ngt__el-focus-box-shadow;

$day__sel-hover-border-color: $day__el-hover-border-color;
$ngt__sel-hover-border-color: $ngt__el-hover-border-color;

$sel--sm-border-radius:       $el-border-radius;
$sel--sm-font-size:           $font-size-sm;
$sel--sm-padding-y:           $el-sm-padding-y;
$sel--sm-padding-x:           $el-sm-padding-x;

$sel--lg-border-radius:       $el-border-radius;
$sel--lg-font-size:           $el-lg-font-size;
$sel--lg-padding-y:           $el-lg-padding-y;
$sel--lg-padding-x:           $el-lg-padding-x;

$day__sel__option-color:      $day__el-color;
$ngt__sel__option-color:      $day__el-color;


// Custom select menu.

$ctrl--custom-sel-after-border-width:      0.125em;
$ctrl--custom-sel-after-border-style:      solid;
$day__ctrl--custom-sel-after-border-color: $day__body-color;
$ngt__ctrl--custom-sel-after-border-color: $ngt__body-color;

$ctrl--custom-sel-after-margin-top:        -0.3em;
$ctrl--custom-sel-after-width:             0.4em;
$ctrl--custom-sel-after-height:            0.4em;
$ctrl--custom-sel-after-top:               50%;
$ctrl--custom-sel-after-right:             1em;
$ctrl--custom-sel-after-transform:         rotate( -45deg );
$ctrl--custom-sel__sel-padding-right:      $ctrl--custom-sel-after-width + ( $el-padding-x * 2 );

$ctrl--custom-sel--sm-after-margin-top:    $ctrl--custom-sel-after-margin-top / 1.25;
$ctrl--custom-sel--sm-after-width:         $ctrl--custom-sel-after-width / 1.25;
$ctrl--custom-sel--sm-after-height:        $ctrl--custom-sel-after-height / 1.25;
$ctrl--custom-sel--sm-after-right:         $ctrl--custom-sel-after-right - 0.25;
$ctrl--custom-sel--sm-padding-right:       $ctrl--custom-sel--sm-after-width + ( $el-sm-padding-x * 2 );

$ctrl--custom-sel--lg-after-margin-top:    $ctrl--custom-sel-after-margin-top * 1.5;
$ctrl--custom-sel--lg-after-width:         $ctrl--custom-sel-after-width * 1.5;
$ctrl--custom-sel--lg-after-height:        $ctrl--custom-sel-after-height * 1.5;
$ctrl--custom-sel--lg-after-right:         $ctrl--custom-sel-after-right + 0.25;
$ctrl--custom-sel--lg-padding-right:       $ctrl--custom-sel--lg-after-width + ( $el-lg-padding-x * 2 );


// Flat select menu

$day__sel--flat-bg-color:           color( 'black 05' );
$ngt__sel--flat-bg-color:           color( 'white 05' );

$day__sel--flat-hover-bg-color:     color( 'black 075' );
$ngt__sel--flat-hover-bg-color:     color( 'white 075' );


// Image

$fixed-sq-imgs: (
    4: 4rem
);


// Item group

$item-padding-x: 0.5em;


// List
//
// Inline list

$ls--inline__li-margin-right: 1em;


// Switch

$day__sw__checked__label-before-bg-color: color( 'blue' );
$ngt__sw__checked__label-before-bg-color: color( 'blue' );

$sw__label-box-shadow:                    none;
$sw__label-border:                        none;

$sw__checked__label-before-transition:    0.2s cubic-bezier( 0, 0, 0, 0.1 );

$sw__label-height:                        2.188em;
$sw__label-width:                         $sw__label-height * 2;

$day__sw__checked__label__sw__on-color:   $ngt__body-color;
$ngt__sw__checked__label__sw__on-color:   $ngt__body-color;

$day__sw__label-bg-color:                 $day__el-border-color;
$ngt__sw__label-bg-color:                 $ngt__el-border-color;

$sw__label-before-transition:             0.2s cubic-bezier( 0.25, 0, 0.5, 1 );

// Switch toggle

$day__sw__label-after-bg-color: #fff;
$ngt__sw__label-after-bg-color: #fff;

$sw__label-after-box-shadow:    none;
$sw__label-border-radius:       $sw__label-height / 2;

$sw__label-after-top:           50%;
$sw__label-after-left:          12%;

$sw__label-after-width:         30%;
$sw__label-after-height:        60%;

$sw__checked__label-after-left: 100% - $sw__label-after-width - $sw__label-after-left;

$sw__label-after-transition:    0.32s cubic-bezier( 0.55, 1.5, 0.5, 1 );

// Switch with inner labels

$sw__inner-label-font-size:      1em;
$sw__inner-label-font-weight:    400;
$sw__inner-label-letter-spacing: normal;
$sw__inner-label-line-height:    1;
$sw__inner-label-text-transform: none;
$sw__inner-label-top:            50%;
$sw__inner-label-transform:      translate3d( 0, -50%, 0 );

$sw__on-left:                    0.6em;

$day__sw__off-color:             #fff;
$ngt__sw__off-color:             #fff;

$sw__off-right:                  1em;

// Extra small switch

$sw--xs__label-height:            1em;
$sw--xs__label-width:             $sw--xs__label-height * 2;

$sw--xs__label-border-radius:     $sw--xs__label-height / 2;

$sw--xs__inner-label-font-size:   $font-size-sm;

$sw--xs__sw__on-left:             0.75em;
$sw--xs__sw__off-right:           1em;

// Small switch

$sw--sm__label-height:            1.859em;
$sw--sm__label-width:             $sw--sm__label-height * 2;

$sw--sm__label-border-radius:     $sw--sm__label-height / 2;

$sw--sm__inner-label-font-size:   $font-size-sm;

$sw--sm__sw__on-left:             0.75em;
$sw--sm__sw__off-right:           1em;

// Large switch

$sw--lg__label-height:            3.016em;
$sw--lg__label-width:             $sw--lg__label-height * 2;
$sw--lg__label-border-radius:     $sw--lg__label-height / 2;

$sw--lg__inner-label-font-size:   1.25em;

$sw--lg__sw__on-left:             0.75em;
$sw--lg__sw__off-right:           0.75em;


// Table

$tbl__th-font-size:             1.125em;
$tbl__th-font-weight:           700;
$tbl__th-text-align:            left;

$tbl-border-width:              0.063rem;
$tbl-border-style:              solid;

$day__tbl-border-color:         $day__border-color;
$ngt__tbl-border-color:         $ngt__border-color;

$day__tbl__th-bg-color:         transparent;
$ngt__tbl__th-bg-color:         transparent;

$tbl__cell-padding-y:           0.5rem;
$tbl__cell-padding-x:           1rem;

$tbl__cell-vertical-align:      top;

$day__tbl-striped-border-color: transparent;
$ngt__tbl-striped-border-color: transparent;

$tbl-striped-index:             odd; // 'even'

$day__tbl-striped-bg-color:     color( 'black 05' );
$ngt__tbl-striped-bg-color:     color( 'white 05' );


// ==========================================================================
// Helpers
// ==========================================================================


// Border

$border-map: (
    0: 0,
    '0063': '0.063rem solid #{ $day__border-color }',
    'dark-0063': '0.063rem solid #{ $day__border-dark-color }',
    'dark-0125': '0.125rem solid #{ $day__border-dark-color }'
);


// Box shadow

$box-shadow-map: (
    '0063': '0 0.063em 0.063em #{ rgba( #000, 0.05 ) }',
    1:      '0 0.063em 1em     #{ rgba( #000, 0.15 ) }'
);


// Border radius

$border-radius-map: (
    0:     0,
    '025': 0.25rem
);


// Border style

$border-style-map: (
    none:  none,
    solid: solid
);


// Border width

$border-width-map: (
    0:      0,
    '0063': 0.063rem,
    '0125': 0.125rem
);


// Display

$display-map: (
    block: block,
    none:  none !important
);


// Float

$float-map: (
    left:  left,
    right: right,
    none:  none,
);


// Font size

$font-size-map: (
    sm: $font-size-sm,
    lg: $font-size-lg
);


// Font weight

$font-weight-map: (
    100: 100, // Thin (Hairline).
    200: 200, // Extra Light (Ultra Light).
    300: 300, // Light.
    400: 400, // Normal.
    500: 500, // Medium.
    600: 600, // Semi Bold (Demi Bold).
    700: 700, // Bold.
    800: 800, // Extra Bold (Ultra Bold).
    900: 900  // Black (Heavy).
);


// Margin

$margin-map: (
    0:     0       !important,
    '025': 0.25rem !important,
    '05':  0.5rem  !important,
    1:     1rem    !important,
);


// Opacity

$opacity-map: (
      0: 0,
     50: 0.5,
    100: 1
);


// Padding

$padding-map: (
    0:     0       !important,
    '025': 0.25rem !important,
    '05':  0.5rem  !important,
    '075': 0.75rem !important,
    1:     1rem    !important,
    '125': 1.25rem !important
);


// Position

$position-map: (
    absolute: absolute,
    sticky:   sticky
);


// Text align

$text-align-map: (
    right:   right,
    center:  center,
    left:    left
);


// Text transform

$text-transform-map: (
    capitalize: capitalize,
    lowercase:  lowercase,
    uppercase:  uppercase
);


// Visibility

$visibility-map: (
    visible: visible,
    hidden:  hidden
);


// Width

$width-map: (
     25:  '25%',
     50:  '50%',
    100: '100%'
);


// Text

// Display heading

$display-headings: (
    'dh1': 6.0em, // 96px
    'dh2': 5.5em, // 88px
    'dh3': 5.0em, // 80px
    'dh4': 4.5em  // 72px
) !default;

$display-heading-font-weight: $heading-font-weight;
$display-heading-line-height: $heading-line-height;


// Drop cap

$day__dropcap-bg-color:  transparent;
$ngt__dropcap-bg-color:  transparent;

$dropcap-border:         none;
$day__dropcap-color:     $day__body-color;
$ngt__dropcap-color:     $ngt__body-color;

$dropcap-font-size:      3.5em;
$dropcap-font-style:     normal;
$dropcap-font-weight:    normal;
$dropcap-letter-spacing: 0;
$dropcap-line-height:    inherit;
$dropcap-margin-top:     0.063em;
$dropcap-margin-right:   0.125em;
$dropcap-padding:        0;
$dropcap-text-shadow:    none;

$dropcap-width:          auto;
$dropcap-height:         auto;

$dropcap-text-align:     left;
$dropcap-vertical-align: bottom;


// Small caps

$smcaps-letter-spacing: 0.125em; // 2px
$smcaps-margin-right:   0.188em; // 3px


// Horizontal rule in the middle of a row

$hr-middle-before-after-height:        0.063rem;

$day__hr-middle-before-after-bg-color: $day__border-color;
$ngt__hr-middle-before-after-bg-color: $ngt__border-color;

$hr-middle-before-after-margin-y:      0;
$hr-middle-before-after-margin-x:      1%;


// ==========================================================================
// Layout
// ==========================================================================


// Flex grid

// Tamaño máximo de anchura del contenedor.

$container-max-width: 1100px;

// Número de columnas.

$grid-columns: 12;

// Grid breakpoints, minimum widths.

$breakpoint-xs-min-width: 0;
$breakpoint-sm-min-width: 768px;
$breakpoint-md-min-width: 1024px;
$breakpoint-lg-min-width: 1280px;
$breakpoint-xl-min-width: 1680px;

$grid-breakpoints: (
    xs: $breakpoint-xs-min-width,
    sm: $breakpoint-sm-min-width,
    md: $breakpoint-md-min-width,
    lg: $breakpoint-lg-min-width,
    xl: $breakpoint-xl-min-width
) !default;


// Grid

$grid-gap: 1rem !default;


// Horizontal modifier

$justify-content-map: (
    flex-start:    'flex-start',
    center:        'center',
    flex-end:      'flex-end',
    space-between: 'space-between',
    space-around:  'space-around'
);


// Vertical modifier

$align-items-map: (
    flex-start: 'flex-start',
    center:     'center',
    flex-end:   'flex-end'
);

$align-self-map: $align-items-map;


// Flex direction

$flex-direction-map: (
    col: 'column'
);


// Flex grow

$flex-grow-map: (
    0: 0 !important,
    1: 1 !important
);


// Gutter

// Gutter normal width.

$gutter-width: 1rem !default;

$gutters: (
    0:    0,
    '05': 0.5rem,
    1:    $gutter-width
);


// ==========================================================================
// Components
// ==========================================================================


// Card

$day__card-head-bg-color:                   $day__box-bg-color;
$ngt__card-head-bg-color:                   $ngt__box-bg-color;

$card-head-border-top-right-radius:         $border-radius-base;
$card-head-border-top-left-radius:          $border-radius-base;

$day__card-body-bg-color:                   transparent;
$ngt__card-body-bg-color:                   transparent;

$day__card-foot-bg-color:                   $day__box-bg-color;
$ngt__card-foot-bg-color:                   $ngt__box-bg-color;

$card-foot-border-bottom-right-radius:      $border-radius-base;
$card-foot-border-bottom-left-radius:       $border-radius-base;

$card-foot-btn-not-first-child-margin-left: 0.625rem;


// Collapse

$collapse__ls__item-active__a-font-weight: 500;

$day__collapse__ls__a-color:               color( 'black 60' );
$ngt__collapse__ls__a-color:               color( 'white 60' );

$day__collapse__ls__a-hover-color:         color( 'black 90' );
$ngt__collapse__ls__a-hover-color:         color( 'white 90' );

$day__collapse__ls__item-active__a-color:  $day__body-color;
$ngt__collapse__ls__item-active__a-color:  $ngt__body-color;

// $collapse-height:                                     initial;
// $collapse-max-height:                                 0;
// $collapse-open-height:                                auto;
// $collapse-open-max-height:                            100vh;
// $collapse-transition:                                 height     0.32s $transition-timing-function,
//                                                       max-height 0.32s $transition-timing-function,
//                                                       opacity    0.32s $transition-timing-function,
//                                                       transform  0.32s $transition-timing-function;

// $collapse__list-unstyled__item-active__a-font-weight: 500;

// $day__collapse__list-unstyled__a-color:               color( 'black 60' );
// $ngt__collapse__list-unstyled__a-color:               color( 'white 60' );

// $day__collapse__list-unstyled__a-hover-color:         color( 'black 90' );
// $ngt__collapse__list-unstyled__a-hover-color:         color( 'white 90' );

// $day__collapse__list-unstyled__item-active__a-color:  $day__body-color;
// $ngt__collapse__list-unstyled__item-active__a-color:  $ngt__body-color;


// Drawer

$day__drawer-bg-color:         $day__body-bg-color;
$ngt__drawer-bg-color:         $ngt__body-bg-color;

$drawer-width:                 calc( 100% - 56px );
$drawer-max-width:             320px;
$drawer-height:                200px;
$drawer-z-index:               110;

$drawer-transition:            box-shadow 0.24s $transition-timing-function,
                               margin     0.32s $transition-timing-function;

$day__drawer-overlay-bg-color: color( 'black 50' );
$ngt__drawer-overlay-bg-color: color( 'black 50' );

$drawer-overlay-transition:    opacity    0.32s $transition-timing-function,
                               visibility 0.32s $transition-timing-function;

$drawer-overlay-z-index:       100;

// The same transitions are used for the .drawer--overlap class.

$drawer-push-transition:       transform 0.32s $transition-timing-function;

$drawer-push-open-transition:  transform 0.24s cubic-bezier( 0, 0, 0.2, 1 );
$drawer-push-close-transition: transform 0.24s cubic-bezier( 0.4, 0, 1, 1 );

$drawer-open-box-shadow:       0  8px 10px -5px rgba( 0, 0, 0, 0.2 ),
                               0 16px 24px  2px rgba( 0, 0, 0, 0.14 ),
                               0  6px 30px  5px rgba( 0, 0, 0, 0.12 );


// Menu

$menu__item-margin:                     0 0 0.125em;
$menu__item-padding-y:                  0;
$menu__item-padding-x:                  0;
$menu__a-padding-y:                     $el-padding-y;
$menu__a-padding-x:                     $el-padding-x;

$day__menu__item-active__a-color:       $day__body-color;
$ngt__menu__item-active__a-color:       $ngt__body-color;


// Menu pills

$menu-pills__item__a-border-radius:     $border-radius-base;

$day__menu-pills__item__a-color:        $day__body-color;
$ngt__menu-pills__item__a-color:        $ngt__body-color;

$day__menu-pills__item-active__a-color: $day__a-color;
$ngt__menu-pills__item-active__a-color: $ngt__a-color;

$day__menu-pills__a-hover-bg-color:     color( 'black 05' );
$ngt__menu-pills__a-hover-bg-color:     color( 'white 05' );

$day__menu-pills__item-active-bg-color: color( 'blue 1' );
$ngt__menu-pills__item-active-bg-color: color( 'blue 90' );


// Modal

$modal-transition:              z-index 0.32s step-end;
$modal-z-index:                 -1;

$modal-show-transition:         z-index 0.32s step-start;
$modal-show-z-index:            1000;

$day__modal-overlay-bg-color:   color( 'black 50' );
$ngt__modal-overlay-bg-color:   color( 'black 50' );

$modal-content-max-width:       640px;

$modal-overlay-transition:      opacity    0.32s $transition-timing-function,
                                visibility 0.32s $transition-timing-function;

$modal-content-max-height:      calc( 100vh - 40px );

$modal-content-transform:       scale( 1.05 );
$modal-show-content-transform:  scale( 1 );

$modal-content-transition:      opacity    0.24s $transition-timing-function,
                                transform  0.24s $transition-timing-function,
                                visibility 0.24s $transition-timing-function;

$modal-show-content-transition: opacity    0.16s $transition-timing-function,
                                transform  0.16s $transition-timing-function,
                                visibility 0.16s $transition-timing-function;


// Navbar

$navbar-min-height:                  3.750rem; // 60px

$navbar-padding-y:                   0;
$navbar-padding-x:                   $gutter-width;

$navbar-brand-font-size:             1.25em;

$navbar-logo-width:                  32px;
$navbar-logo-height:                 32px;

$navbar-a-border-radius:             0;

$day__navbar-a-hover-bg-color:       color( 'black 025' );
$ngt__navbar-a-hover-bg-color:       color( 'white 025' );

$navbar-a-font-size:                 0.813em; // 13px
$navbar-a-font-weight:               700;
$navbar-letter-spacing:              normal;
$navbar-text-transform:              none;

$navbar-item__a-padding-y:           0.25rem;
$navbar-item__a-padding-x:           1.5rem;

$navbar-item-icon__a-padding-y:      0.25rem;
$navbar-item-icon__a-padding-x:      0.75rem;

$day__navbar-a-color:                $day__body-color;
$ngt__navbar-a-color:                $ngt__body-color;

$day__navbar-a-hover-color:          $day__body-color;
$ngt__navbar-a-hover-color:          $ngt__body-color;

$navbar-collapse__ul-padding-y:      0.5rem;
$navbar-collapse__ul-padding-x:      0;

$day__navbar-item-active__a-color:   $day__a-color;
$ngt__navbar-item-active__a-color:   $ngt__a-color;

$navbar-item-active__a-after-right:  1.125rem;
$navbar-item-active__a-after-bottom: 0;
$navbar-item-active__a-after-left:   1.125rem;
$navbar-item-active__a-after-height: 0.188rem; // 3px

$navbar-icon-font-size:              1.5em;

$navbar-svg-width:                   1.5rem;
$navbar-svg-height:                  1.5rem;


// $day__navbar-bg-color:              $day__body-bg-color;
// $ngt__navbar-bg-color:              $ngt__body-bg-color;

// $navbar-padding-y:                  em_to_rem( $spacing-unit-quarter );
// $navbar-padding-x:                  em_to_rem( $spacing-unit-half );

// $navbar-brand-font-size:            1.25em;
// $navbar-toggler-cursor:             pointer;

// $day__navbar-a-color:               color( 'black 60' );
// $ngt__navbar-a-color:               color( 'white 60' );

// $day__navbar-a-hover-color:         color( 'black 90' );
// $ngt__navbar-a-hover-color:         color( 'white 90' );

// $day__navbar-item-active__a-color:  $day__body-color;
// $ngt__navbar-item-active__a-color:  $ngt__body-color;

// $navbar-dark__a-color:              color( 'white 60' );
// $navbar-dark__a-hover-color:        color( 'white 90' );
// $navbar-dark__item-active__a-color: $ngt__body-color;

// $day__navbar-shadow:                0 2px  4px -1px rgba( 0, 0, 0, 0.06 ),
//                                     0 4px  5px  0   rgba( 0, 0, 0, 0.06 ),
//                                     0 1px 10px  0   rgba( 0, 0, 0, 0.08 );

// $ngt__navbar-shadow:                0 2px  4px -1px rgba( 0, 0, 0, 0.2 ),
//                                     0 4px  5px  0   rgba( 0, 0, 0, 0.14 ),
//                                     0 1px 10px  0   rgba( 0, 0, 0, 0.12 );


// Navmenu

// Full screen menu

$fsmenu-transition:          opacity          0.5s step-end,
                             transform        0.5s cubic-bezier( 0.8, 0, 0.55, 0.94 ),
                             visibility       0.5s step-end,
                             background-color 0.5s cubic-bezier( 0.8, 0, 0.55, 0.94 );

$fsmenu-all-transition:      opacity          0.4s cubic-bezier( 0.8, 0, 0.55, 0.94 );

$day__fsmenu-open-bg-color:  $day__body-bg-color;
$ngt__fsmenu-open-bg-color:  $ngt__body-bg-color;

$fsmenu-open-transition:     opacity          0.5s step-start,
                             transform        0.5s cubic-bezier( 0.8, 0, 0.55, 0.94 ),
                             visibility       0.5s step-start,
                             background-color 0.5s cubic-bezier( 0.8, 0, 0.55, 0.94 );

$fsmenu-open-all-transition: opacity          0.5s cubic-bezier( 0.8, 0, 0.55, 0.94 ) 0.5s;


// Mobile menu

$mobile-menu-z-index:          1000;

$burger-width:                 4.5rem;
$burger-height:                4.5rem;

$burger__line-bg-color:        #fff;

$burger__circle-bg-color:      color( 'blue' );

$burger__img-wrap-bg-color:    color( 'blue' );

$burger__img-wrap-width:       4.5rem;
$burger__img-wrap-height:      4.5rem;

$mobile-menu__nav-top:         40%;

$mobile-menu__a-font-size:     2.50em;
$mobile-menu__a-margin-bottom: 0.5em;


// Tabs

$tabs-border-bottom-width:                      0.063rem; // 1px
$tabs-border-bottom-style:                      solid;
$day__tabs-border-bottom-color:                 $day__border-color;
$ngt__tabs-border-bottom-color:                 $ngt__border-color;

$tabs__item-margin:                             0;

$day__tabs__a-border-bottom-color:              transparent;
$ngt__tabs__a-border-bottom-color:              transparent;

$tabs__a-border-bottom-width:                   0.188rem; // 3px

$day__tabs__a-color:                            color( 'black 60' );
$ngt__tabs__a-color:                            color( 'white 60' );

$day__tabs__a-hover-color:                      color( 'black 90' );
$ngt__tabs__a-hover-color:                      color( 'white 90' );

$tabs__a-padding-y:                             $spacing-unit-quarter;
$tabs__a-padding-x:                             $spacing-unit-half;

$day__tabs__a-hover-border-bottom-color:        transparent;
$ngt__tabs__a-hover-border-bottom-color:        transparent;

$day__tabs__item-active__a-color:               $day__body-color;
$ngt__tabs__item-active__a-color:               $ngt__body-color;

$day__tabs__item-active__a-hover-color:         $day__body-color;
$ngt__tabs__item-active__a-hover-color:         $ngt__body-color;

$tabs__item-active__a-border-bottom-width:      0.188rem; // 3px

$day__tabs__item-active__a-border-bottom-color: $day__a-color;
$ngt__tabs__item-active__a-border-bottom-color: $ngt__a-color;

$tabs__item__active-underline-transition:       transform $transition-duration $transition-timing-function,
                                                width     $transition-duration $transition-timing-function;
