//
// Variables


// ==========================================================================
// Elements
// ==========================================================================


// Base

$font-family-sans-serif: -apple-system,
                         BlinkMacSystemFont,
                         'Segoe UI',
                         Roboto,
                         'Helvetica Neue',
                         Arial,
                         sans-serif,
                         'Apple Color Emoji',
                         'Segoe UI Emoji',
                         'Segoe UI Symbol' !default;

$font-family-monospace:  'SF Mono',
                         'Segoe UI Mono',
                         'Roboto Mono',
                         'Ubuntu Mono',
                         Menlo,
                         Courier,
                         monospace !default;

$font-family-base:       $font-family-sans-serif;

$font-size-base:         16px !default;
$font-size-sm:           0.813em; // 13px
$font-size-lg:           1.5em;   // 24px

$font-weight-base:       400;

$line-height-base:       25px !default;

$spacing-unit-base:      2em; // 32px
$spacing-unit-half:      $spacing-unit-base / 2; // 1.0em (16px)
$spacing-unit-quarter:   $spacing-unit-base / 4; // 0.5em  (8px)

$line-height-ratio:      $line-height-base / $font-size-base;

$border-radius-base:     0.25rem;


// Color

$day__body-bg-color: #fff;
$ngt__body-bg-color: #272727;

$colors:             colors( $color-palette );

$day__body-color:    color( 'black 90' );
$ngt__body-color:    color( 'white 90' );

$day__border-color:  color( 'black 10' );
$ngt__border-color:  color( 'white 10' );


// Transition

$transition-duration:        0.16s;
$transition-timing-function: ease-out;
$transition-base:            background-color $transition-duration $transition-timing-function,
                             border-color     $transition-duration $transition-timing-function,
                             box-shadow       $transition-duration $transition-timing-function,
                             color            $transition-duration $transition-timing-function;


// Hyperlink

$day__a-color:                     color( 'cerulean 40' );
$ngt__a-color:                     color( 'cerulean 30' );
$a-text-decoration:                none;

$day__a-visited-color:             $day__a-color;
$ngt__a-visited-color:             $ngt__a-color;
$a-visited-text-decoration:        none;

$day__a-hover-color:               color( 'cerulean 50' );
$ngt__a-hover-color:               color( 'cerulean 40' );
$a-hover-text-decoration:          none;


// Nota: Borde para los enlaces que estan dentro de los parrafos.

$a-border-bottom-width:            0.063rem;
$a-border-bottom-style:            solid;
$day__a-border-bottom-color:       $day__a-color;
$ngt__a-border-bottom-color:       $ngt__a-color;

$a-hover-border-bottom-width:      0.125rem;
$day__a-hover-border-bottom-color: $day__a-hover-color;
$ngt__a-hover-border-bottom-color: $ngt__a-hover-color;


// Heading

$headings: (
    'h1': 2.50em, // 40px
    'h2': 2.00em, // 32px
    'h3': 1.75em, // 28px
    'h4': 1.50em, // 24px
    'h5': 1.25em, // 20px
    'h6': 1.00em  // 16px
) !default;

$heading-font-weight: 300;
$heading-line-height: 1.2;


// Marked text

$mark-border-radius: 0;
$day__mark-bg-color: rgba( color('gold 20' ), 0.1 );
$ngt__mark-bg-color: color( 'white 05' );
$day__mark-bg-image: none;
$ngt__mark-bg-image: none;
$mark-padding:       0.2em;


// Blockquote

$blockquote-border-width:                0.313rem;
$blockquote-border-style:                solid;
$day__blockquote-border-color:           color( 'black 05' );
$ngt__blockquote-border-color:           color( 'white 05' );

$blockquote-padding:                     0 0 0 ( 1.5 - $blockquote-border-width );

$blockquote__p-font-size:                1.125em;
$blockquote__p-before-after-font-weight: 700;
$blockquote__p-before-content:           '«'; // '“';
$blockquote__p-before-margin-right:       $spacing-unit-quarter / 2;
$blockquote__p-after-content:            '»'; // '”';
$blockquote__p-after-margin-left:        $spacing-unit-quarter / 2;

$blockquote__footer-font-size:           $font-size-sm;
$blockquote__footer-before-content:      '— ';


// Code

$day__code-bg-color:    color( 'black 05' );
$ngt__code-bg-color:    color( 'white 05' );
$day__code-color:       inherit;
$ngt__code-color:       inherit;
$code-border-radius:    $border-radius-base;
$code-font-size:        0.875em; // 14px
$code-padding:          0.125em 0.313em; // 2px 5px


// Pre

$day__pre-bg-color:     color( 'black 025' );
$ngt__pre-bg-color:     color( 'white 025' );

$pre-border-top:        none;
$pre-border-right:      none;
$pre-border-bottom:     none;
$pre-border-left:       none;

$day__pre-border-color: transparent;
$ngt__pre-border-color: transparent;

$pre-border-radius:     $border-radius-base;

$pre-padding-y:         1.5em;
$pre-padding-x:         1.5em;


// Box

$day__box-bg-color:     $day__body-bg-color;
$ngt__box-bg-color:     $ngt__body-bg-color;
$box-border-radius:     $border-radius-base;


// Se usan estos valores comunes para los controles de las formas.

$control-border-width:              0.063rem;
$control-border-style:              solid;
$day__control-border-color:         color( 'black 20' );
$ngt__control-border-color:         color( 'white 20' );

$day__control-hover-border-color:   color( 'black 30' );
$ngt__control-hover-border-color:   color( 'white 30' );

$control-border-radius:             $border-radius-base;

$day__control-color:                $day__body-color;
$ngt__control-color:                $ngt__body-color;

$control-line-height:               inherit;

$control-padding-y:                 0.250em;
$control-padding-x:                 0.750em;

$control-sm-padding-y:              $control-padding-y;
$control-sm-padding-x:              $control-padding-x;

$control-lg-padding-y:              $control-padding-y;
$control-lg-padding-x:              $control-padding-x;

$control-lg-font-size:              1.25em;

$day__control-invalid-border-color: color( 'red 30' );
$ngt__control-invalid-border-color: color( 'red 30' );

$day__control-focus-border-color:   color( 'cerulean 30' );
$ngt__control-focus-border-color:   color( 'cerulean 30' );

$day__control-focus-box-shadow:     inset 0 0 0 0.063rem $day__control-focus-border-color;
$ngt__control-focus-box-shadow:     inset 0 0 0 0.063rem $ngt__control-focus-border-color;

$day__control-active-border-color:  color( 'cerulean 30' );
$ngt__control-active-border-color:  color( 'cerulean 30' );


// Button

$button-border-width:           $control-border-width;
$button-border-style:           $control-border-style;
$button-border-color:           transparent;

$button-border-radius:          $control-border-radius;
$button-font-size:              $font-size-base;
$button-font-weight:            400;
$button-line-height:            $control-line-height;

$button-padding-y:              $control-padding-y;
$button-padding-x:              $control-padding-x;

$button-transition:             $transition-base;

$button-hover-bg-color-amount:  10%;
$button-active-bg-color-amount: 20%;


// Estilo de los botones:
// - Name,
// - background color,
// - night background color,
// - text color,
// - night text color,
// - light colors on hover/active state.

$buttons: (
    'primary'   color( 'cerulean' )  color( 'cerulean' )     color( 'white' ) color( 'white' ) '',
    'secondary' color( 'cool gray' ) color( 'cool gray 60' ) color( 'white' ) color( 'white' ) '',
    'success'   color( 'green' )     color( 'green' )        color( 'white' ) color( 'white' ) '',
    'danger'    color( 'red' )       color( 'red' )          color( 'white' ) color( 'white' ) '',
    'light'     color( 'white' )     color( 'white' )        color( 'black' ) color( 'black' ) '',
    'dark'      color( 'black' )     color( 'black' )        color( 'white' ) color( 'white' ) 'y'
);


// Outline button

$button-outline-border-transparentize-amount: 0;


// Disabled button

$button-disabled-opacity: 0.6;


// Small button

$button-sm-border-radius: $control-border-radius;
$button-sm-font-size:     $font-size-sm;
$button-sm-padding-y:     $control-sm-padding-y;
$button-sm-padding-x:     $control-sm-padding-x;


// Large button

$button-lg-border-radius: $control-border-radius;
$button-lg-font-size:     $control-lg-font-size;
$button-lg-padding-y:     $control-lg-padding-y;
$button-lg-padding-x:     $control-lg-padding-x;


// File area

$day__file-area-bg-color:       color( 'black 025' );
$ngt__file-area-bg-color:       color( 'white 025' );

$day__file-area-focus-bg-color: none;
$ngt__file-area-focus-bg-color: none;

$day__file-area-valid-bg-color: color( 'black 10' );
$ngt__file-area-valid-bg-color: color( 'white 10' );

$day__file-area-hover-bg-color: color( 'black 05' );
$ngt__file-area-hover-bg-color: color( 'white 05' );

$file-area-border-radius:       $border-radius-base;
$file-area-padding:             6.25em $spacing-unit-half;
$file-area-transition:          $transition-base;


// Label

$label-font-size: px_to_em( $font-size-base );
$label-padding:   ( $control-padding-y / 2 ) 0;


// Input

$day__input-bg-color:                transparent;
$ngt__input-bg-color:                transparent;

$input-border-width:                 $control-border-width;
$input-border-style:                 $control-border-style;
$day__input-border-color:            $day__control-border-color;
$ngt__input-border-color:            $ngt__control-border-color;

$input-border-radius:                $control-border-radius;
$day__input-color:                   $day__control-color;
$ngt__input-color:                   $ngt__control-color;
$input-font-size:                    $font-size-base;
$input-line-height:                  $control-line-height;
$input-padding-y:                    $control-padding-y;
$input-padding-x:                    $control-padding-x;
$input-transition:                   $transition-base;

$day__input-focus-bg-color:          transparent;
$ngt__input-focus-bg-color:          transparent;
$day__input-focus-border-color:      $day__control-focus-border-color;
$ngt__input-focus-border-color:      $ngt__control-focus-border-color;
$day__input-focus-box-shadow:        $day__control-focus-box-shadow;
$ngt__input-focus-box-shadow:        $ngt__control-focus-box-shadow;

$day__input-placeholder-color:       color( 'black 20' );
$ngt__input-placeholder-color:       color( 'white 20' );

$day__input-focus-placeholder-color: color( 'cerulean 20' );
$ngt__input-focus-placeholder-color: color( 'cerulean 20' );

$input-placeholder-opacity:          1;

$day__input-invalid-border-color:    $day__control-invalid-border-color;
$ngt__input-invalid-border-color:    $ngt__control-invalid-border-color;

$day__input-valid-border-color:      $day__input-border-color;
$ngt__input-valid-border-color:      $ngt__input-border-color;

$day__input-hover-border-color:      $day__control-hover-border-color;
$ngt__input-hover-border-color:      $ngt__control-hover-border-color;

$day__input-active-border-color:     $day__control-active-border-color;
$ngt__input-active-border-color:     $ngt__control-active-border-color;

$input-sm-border-radius:             $control-border-radius;
$input-sm-font-size:                 $font-size-sm;
$input-sm-padding-y:                 $control-sm-padding-y;
$input-sm-padding-x:                 $control-sm-padding-x;

$input-lg-border-radius:             $control-border-radius;
$input-lg-font-size:                 $control-lg-font-size;
$input-lg-padding-y:                 $control-lg-padding-y;
$input-lg-padding-x:                 $control-lg-padding-x;


// Form field

$form-field-margin-bottom: $spacing-unit-half;


// Flat input

$day__input-flat-bg-color:           color( 'black 025' );
$ngt__input-flat-bg-color:           color( 'white 025' );
$day__input-flat-border-color:       transparent;
$ngt__input-flat-border-color:       transparent;

$day__input-flat-hover-bg-color:     color( 'black 05' );
$ngt__input-flat-hover-bg-color:     color( 'white 05' );
$day__input-flat-hover-border-color: transparent;
$ngt__input-flat-hover-border-color: transparent;


// Line input

$day__input-line-focus-box-shadow: inset 0 -0.063rem 0 0 $day__input-focus-border-color;
$ngt__input-line-focus-box-shadow: inset 0 -0.063rem 0 0 $ngt__input-focus-border-color;


// Checkbox and radio

$control-check-input-margin-top:   0.50em;
$control-check-label-padding-left: 1.25em;


// Inline checkbox and radio

$control-check-inline-margin-right: 1.25em;


// Custom checkbox and radio

$control-check-custom-margin-bottom:      0.5em;
$control-check-label-custom-padding-left: 2em;

$day__control-check-input-custom-checked__indic-bg-color:        color( 'cerulean' );
$ngt__control-check-input-custom-checked__indic-bg-color:        color( 'cerulean' );

$day__control-check-input-custom-checked__indic-border-color:    color( 'cerulean' );
$ngt__control-check-input-custom-checked__indic-border-color:    color( 'cerulean' );

$day__control-check-input-custom-checked-hover__indic-bg-color:  shade(
                                                                     $ngt__body-bg-color,
                                                                     $day__control-check-input-custom-checked__indic-bg-color,
                                                                     $button-hover-bg-color-amount);
$ngt__control-check-input-custom-checked-hover__indic-bg-color:  shade(
                                                                     $ngt__body-bg-color,
                                                                     $ngt__control-check-input-custom-checked__indic-bg-color,
                                                                     $button-hover-bg-color-amount);
$day__control-check-input-custom-checked-active__indic-bg-color: shade(
                                                                     $ngt__body-bg-color,
                                                                     $day__control-check-input-custom-checked__indic-bg-color,
                                                                     $button-active-bg-color-amount);
$ngt__control-check-input-custom-checked-active__indic-bg-color: shade(
                                                                     $ngt__body-bg-color,
                                                                     $ngt__control-check-input-custom-checked__indic-bg-color,
                                                                     $button-active-bg-color-amount);

// Custom checkbox indicator

$control-check-input-custom-checked__indic-checkbox-after-border-width:      0 0.125em 0.125em 0;
$control-check-input-custom-checked__indic-checkbox-after-border-style:      solid;
$day__control-check-input-custom-checked__indic-checkbox-after-border-color: color( 'white' );
$ngt__control-check-input-custom-checked__indic-checkbox-after-border-color: color( 'white' );

$control-check-input-custom-checked__indic-checkbox-after-top:               0.188em;
$control-check-input-custom-checked__indic-checkbox-after-left:              0.375em;

$control-check-input-custom-checked__indic-checkbox-after-transform:         rotate(45deg);

$control-check-input-custom-checked__indic-checkbox-after-width:             0.313em; //  5px
$control-check-input-custom-checked__indic-checkbox-after-height:            0.625em; // 10px


// Custom radio indicator

$day__control-check-input-custom-checked__indic-radio-after-bg-color: color( 'white' );
$ngt__control-check-input-custom-checked__indic-radio-after-bg-color: color( 'white' );
$control-check-input-custom-checked__indic-radio-after-border-radius: 50%;

$control-check-input-custom-checked__indic-radio-after-top:           0.375em; // 6px
$control-check-input-custom-checked__indic-radio-after-left:          0.375em;

$control-check-input-custom-checked__indic-radio-after-width:         0.375em;
$control-check-input-custom-checked__indic-radio-after-height:        0.375em;


$day__control-check-indic-bg-color:          transparent;
$ngt__control-check-indic-bg-color:          transparent;

$control-check-indic-border-width:           $control-border-width;
$control-check-indic-border-style:           $control-border-style;

$day__control-check-indic-border-color:      $day__control-border-color;
$ngt__control-check-indic-border-color:      $ngt__control-border-color;

$control-check-indic-margin-top:             0.125em;

$control-check-indic-width:                  1.25em;
$control-check-indic-height:                 1.25em;

$control-check-indic-checkbox-border-radius: $control-border-radius;
$control-check-indic-radio-border-radius:    50%;

$day__control-check-label-custom-hover__indic-bg-color:     transparent;
$ngt__control-check-label-custom-hover__indic-bg-color:     transparent;

$day__control-check-label-custom-hover__indic-border-color: $day__control-hover-border-color;
$ngt__control-check-label-custom-hover__indic-border-color: $ngt__control-hover-border-color;


// Inline custom checkbox and radio

$control-check-inline-custom-margin-right: 1.5em;


// Flat custom indicator

$day__control-check-indic-flat-bg-color:                          color( 'black 10' );
$ngt__control-check-indic-flat-bg-color:                          color( 'white 10' );

$day__control-check-indic-flat-border-color:                      transparent;
$ngt__control-check-indic-flat-border-color:                      transparent;

$day__control-check-label-custom-hover__indic-flat-bg-color:      color( 'black 20' );
$ngt__control-check-label-custom-hover__indic-flat-bg-color:      color( 'white 20' );

$day__control-check-label-custom-hover__indic-flat-border-color:  transparent;
$ngt__control-check-label-custom-hover__indic-flat-border-color:  transparent;

$day__control-check-label-custom-active__indic-flat-bg-color:     color( 'black 30' );
$ngt__control-check-label-custom-active__indic-flat-bg-color:     color( 'white 30' );

$day__control-check-label-custom-active__indic-flat-border-color: transparent;
$ngt__control-check-label-custom-active__indic-flat-border-color: transparent;


// Select menu

$day__select-bg-color:           transparent;
$ngt__select-bg-color:           transparent;

$select-border-width:            $control-border-width;
$select-border-style:            $control-border-style;
$select-border-color:            $day__control-border-color;
$ngt__select-border-color:       $ngt__control-border-color;

$select-border-radius:           $control-border-radius;

$day__select-color:              $day__control-color;
$ngt__select-color:              $ngt__control-color;

$select-font-size:               $font-size-base;
$select-line-height:             $control-line-height;
$select-padding-y:               $control-padding-y;
$select-padding-x:               $control-padding-x;

$day__select-focus-border-color: $day__control-focus-border-color;
$ngt__select-focus-border-color: $ngt__control-focus-border-color;

$day__select-focus-box-shadow:   $day__control-focus-box-shadow;
$ngt__select-focus-box-shadow:   $ngt__control-focus-box-shadow;

$day__select-hover-border-color: $day__control-hover-border-color;
$ngt__select-hover-border-color: $ngt__control-hover-border-color;

$select-sm-border-radius:        $control-border-radius;
$select-sm-font-size:            $font-size-sm;
$select-sm-padding-y:            $control-sm-padding-y;
$select-sm-padding-x:            $control-sm-padding-x;

$select-lg-border-radius:        $control-border-radius;
$select-lg-font-size:            $control-lg-font-size;
$select-lg-padding-y:            $control-lg-padding-y;
$select-lg-padding-x:            $control-lg-padding-x;

$day__select__option-color:      $day__control-color;
$ngt__select__option-color:      $day__control-color;


// Custom select menu.

$select-custom-after-border-width:      0.125em;
$select-custom-after-border-style:      solid;
$day__select-custom-after-border-color: $day__body-color;
$ngt__select-custom-after-border-color: $ngt__body-color;

$select-custom-after-margin-top:       -0.3em;
$select-custom-after-width:             0.4em;
$select-custom-after-height:            0.4em;
$select-custom-after-top:               50%;
$select-custom-after-right:             1em;
$select-custom-after-transform:         rotate( -45deg );
$select-custom-padding-right:           $select-custom-after-width + ( $control-padding-x * 2 );

$select-custom-sm-after-margin-top:     $select-custom-after-margin-top / 1.25;
$select-custom-sm-after-width:          $select-custom-after-width / 1.25;
$select-custom-sm-after-height:         $select-custom-after-height / 1.25;
$select-custom-sm-after-right:          $select-custom-after-right - 0.25;
$select-custom-sm-padding-right:        $select-custom-sm-after-width + ( $control-sm-padding-x * 2 );

$select-custom-lg-after-margin-top:     $select-custom-after-margin-top * 1.5;
$select-custom-lg-after-width:          $select-custom-after-width * 1.5;
$select-custom-lg-after-height:         $select-custom-after-height * 1.5;
$select-custom-lg-after-right:          $select-custom-after-right + 0.25;
$select-custom-lg-padding-right:        $select-custom-lg-after-width + ( $control-lg-padding-x * 2 );


// Select menu arrow icon.

// Se habilita si se agrega la url del icono, se recomienda en formato svg.

$select-icon-bg-image:       none;
$select-icon-focus-bg-image: none;

$select-icon-bg-position:    calc( 100% - #{ $spacing-unit-quarter / 2 } ) center;
$select-icon-bg-size:        $spacing-unit-base;
$select-icon-margin-right:   $spacing-unit-half;


// Flat select menu

$day__select-flat-bg-color:           color( 'black 025' );
$ngt__select-flat-bg-color:           color( 'white 025' );

$day__select-flat-hover-bg-color:     color( 'black 05' );
$ngt__select-flat-hover-bg-color:     color( 'white 05' );

$day__select-flat-border-color:       transparent;
$ngt__select-flat-border-color:       transparent;

$day__select-flat-hover-border-color: transparent;
$ngt__select-flat-hover-border-color: transparent;


// Image

$fixed-square-images: (
    4: 4rem
);


// Item group

// $day__item-group-label-bg-color:   inherit;
// $ngt__item-group-label-bg-color:   inherit;
// $day__item-group-label-color:      inherit;
// $ngt__item-group-label-color:      inherit;

// $item-group-label-padding:         1em 1.25em;
// $item-group-label-text-align:      center;

$item-padding-x:                   0.5em;


// Switch

$switch-label-height:                       2.438em;
$switch-label-width:                        $switch-label-height * 2;

$day__switch-label-bg-color:                $day__control-border-color;
$ngt__switch-label-bg-color:                $ngt__control-border-color;

$switch-label-border:                       none;
$switch-label-border-radius:                $switch-label-height / 2;
$switch-label-box-shadow:                   none;


// Switch toggle

$day__switch-label-after-bg-color:          color( 'white' );
$ngt__switch-label-after-bg-color:          color( 'white' );

$switch-label-after-box-shadow:             0 0.063em 0.063em rgba( 0, 0, 0, 0.1 );

$switch-label-after-width:                  $switch-label-height - ( $spacing-unit-quarter + 0.313 );
$switch-label-after-height:                 $switch-label-height - ( $spacing-unit-quarter + 0.313 );
$switch-label-after-top:                    50%;
$switch-label-after-left:                   $spacing-unit-quarter;

$day__switch-checked-label-before-bg-color: color( 'cerulean' );
$ngt__switch-checked-label-before-bg-color: color( 'cerulean' );

$switch-checked-label-after-left:           $switch-label-width - $switch-label-height + 0.313;

$switch-label-before-transition:            0.20s cubic-bezier( 0.25, 0, 0.5, 1 );
$switch-label-after-transition:             0.32s cubic-bezier( 0.55, 1.5, 0.5, 1 );
$switch-checked-label-before-transition:    0.20s cubic-bezier( 0, 0, 0, 0.1 );


// Switch with inner labels

$switch-inner-label-font-size:      1em;
$switch-inner-label-font-weight:    400;
$switch-inner-label-letter-spacing: normal;
$switch-inner-label-line-height:    1;
$switch-inner-label-text-transform: none;
$switch-inner-label-top:            50%;
$switch-inner-label-transform:      translate3d( 0, -50%, 0 );

$day__switch-inner-label-on-color:  transparent;
$ngt__switch-inner-label-on-color:  transparent;

$switch-inner-label-on-left:        0.75em;

$day__switch-inner-label-off-color: color( 'white' );
$ngt__switch-inner-label-off-color: color( 'white 50' );

$switch-inner-label-off-right:      1em;

$day__switch-input-checked__switch-inner-label-on-color:  color( 'white' );
$ngt__switch-input-checked__switch-inner-label-on-color:  color( 'white' );

$day__switch-input-checked__switch-inner-label-off-color: transparent;
$ngt__switch-input-checked__switch-inner-label-off-color: transparent;


// Small and large switch

$switch-sm-label-height:                    1.859em;
$switch-sm-label-width:                     $switch-sm-label-height * 2;

$switch-sm-label-border-radius:             $switch-sm-label-height / 2;

$switch-sm-label-after-width:               $switch-sm-label-height - ( $spacing-unit-quarter + 0.188 );
$switch-sm-label-after-height:              $switch-sm-label-height - ( $spacing-unit-quarter + 0.188 );
$switch-sm-label-after-left:                ( $spacing-unit-quarter - 0.063 );

$switch-sm-checked-label-after-left:        $switch-sm-label-width - $switch-sm-label-height + 0.25;

$switch-inner-label-sm-font-size:           $font-size-sm;

$switch-inner-label-sm-on-left:             0.75em;
$switch-inner-label-sm-off-right:           1em;


$switch-lg-label-height:                    3.016em;
$switch-lg-label-width:                     $switch-lg-label-height * 2;
$switch-lg-label-border-radius:             $switch-lg-label-height / 2;

$switch-lg-label-after-width:               $switch-lg-label-height - ( $spacing-unit-quarter + 0.375 );
$switch-lg-label-after-height:              $switch-lg-label-height - ( $spacing-unit-quarter + 0.375 );
$switch-lg-label-after-left:                ( $spacing-unit-quarter + 0.063 );

$switch-lg-checked-label-after-left:        $switch-lg-label-width - $switch-lg-label-height + 0.375;

$switch-inner-label-lg-font-size:           1.25em;

$switch-inner-label-lg-on-left:             0.75em;
$switch-inner-label-lg-off-right:           0.75em;


// Table

$table__thead__tr-first__cell-border-top-width:         0.063rem;
$table__thead__tr-first__cell-border-top-style:         solid;
$day__table__thead__tr-first__cell-border-top-color:    $day__border-color;
$ngt__table__thead__tr-first__cell-border-top-color:    $ngt__border-color;

$table__thead__tr-first__cell-border-bottom-width:      0.063rem;
$table__thead__tr-first__cell-border-bottom-style:      solid;
$day__table__thead__tr-first__cell-border-bottom-color: $day__border-color;
$ngt__table__thead__tr-first__cell-border-bottom-color: $ngt__border-color;

$table__th-font-size:             1.125em;
$table__th-font-weight:           700;
$table__th-text-align:            left;

$table-border-width:              0.063rem;
$table-border-style:              solid;
$table-border-right-style:        none;
$day__table-border-color:         $day__border-color;
$ngt__table-border-color:         $ngt__border-color;

$day__table__th-bg-color:         transparent;
$ngt__table__th-bg-color:         transparent;

$table__cell-padding-y:           $spacing-unit-quarter;
$table__cell-padding-x:           $spacing-unit-half;

$table__cell-vertical-align:      top;

$day__table-striped-border-color: transparent;
$ngt__table-striped-border-color: transparent;

$table-striped-index:             odd; // 'even'

$day__table-striped-bg-color:     color( 'black 05' );
$ngt__table-striped-bg-color:     color( 'white 05' );


// ==========================================================================
// Helpers
// ==========================================================================


// Border

$border-map: (
    0:      0,
    '0063': '0.063rem solid'
);


// Box shadow

$box-shadow-map: (
    '0063': '0 0.063em 0.063em #{ rgba( #000, 0.05 ) }',
    1:      '0 0.063em 1em     #{ rgba( #000, 0.15 ) }'
);


// Border radius

$border-radius-map: (
    0:     0,
    '025': 0.25rem
);


// Border style

$border-style-map: (
    none:  none,
    solid: solid
);


// Border width

$border-width-map: (
    0:      0,
    '0063': 0.063rem,
    '0125': 0.125rem
);


// Display

$display-map: (
    block: block,
    none:  none !important
);


// Float

$float-map: (
    left:  left,
    right: right,
    none:  none,
);


// Font size

$font-size-map: (
    sm: $font-size-sm,
    lg: $font-size-lg
);


// Font weight

$font-weight-map: (
    100: 100, // Thin (Hairline).
    200: 200, // Extra Light (Ultra Light).
    300: 300, // Light.
    400: 400, // Normal.
    500: 500, // Medium.
    600: 600, // Semi Bold (Demi Bold).
    700: 700, // Bold.
    800: 800, // Extra Bold (Ultra Bold).
    900: 900  // Black (Heavy).
);


// Margin

$margin-map: (
    0:     0       !important,
    '025': 0.25rem !important,
    '05':  0.5rem  !important,
    1:     1rem    !important,
    '125': 1.25rem !important
);


// Opacity

$opacity-map: (
      0: 0,
     50: 0.5,
    100: 1
);


// Padding

$padding-map: (
    0:     0       !important,
    '025': 0.25rem !important,
    '05':  0.5rem  !important,
    1:     1rem    !important,
    '125': 1.25rem !important
);


// Position

$position-map: (
    absolute: absolute,
    sticky:   sticky
);


// Text align

$text-align-map: (
    right:   right,
    center:  center,
    left:    left
);


// Text transform

$text-transform-map: (
    capitalize: capitalize,
    lowercase:  lowercase,
    uppercase:  uppercase
);


// Visibility

$visibility-map: (
    visible: visible,
    hidden:  hidden
);


// Width

$width-map: (
     25:  '25%',
     50:  '50%',
    100: '100%'
);


// Text

// Display heading

$display-headings: (
    'dh1': 6.0em, // 96px
    'dh2': 5.5em, // 88px
    'dh3': 5.0em, // 80px
    'dh4': 4.5em  // 72px
) !default;

$display-heading-font-weight: $heading-font-weight;
$display-heading-line-height: $heading-line-height;


// Drop cap

$day__dropcap-bg-color:  transparent;
$ngt__dropcap-bg-color:  transparent;

$dropcap-border:         none;
$day__dropcap-color:     $day__body-color;
$ngt__dropcap-color:     $ngt__body-color;

$dropcap-font-size:      3.5em;
$dropcap-font-style:     normal;
$dropcap-font-weight:    normal;
$dropcap-letter-spacing: 0;
$dropcap-line-height:    inherit;
$dropcap-margin-top:     0.063em;
$dropcap-margin-right:   0.125em;
$dropcap-padding:        0;
$dropcap-text-shadow:    none;

$dropcap-width:          auto;
$dropcap-height:         auto;

$dropcap-text-align:     left;
$dropcap-vertical-align: bottom;


// Small caps

$smcaps-letter-spacing: 0.125em; // 2px
$smcaps-margin-right:   0.188em; // 3px


// ==========================================================================
// Layout
// ==========================================================================


// Flex grid

// Tamaño máximo de anchura del contenedor.

$container-max-width: 1200px;

// Número de columnas.

$grid-columns: 12;

// Grid breakpoints, minimum widths.

$breakpoint-xs-min-width: 0;
$breakpoint-sm-min-width: 768px;
$breakpoint-md-min-width: 1024px;
$breakpoint-lg-min-width: 1280px;
$breakpoint-xl-min-width: 1680px;

$grid-breakpoints: (
    xs: $breakpoint-xs-min-width,
    sm: $breakpoint-sm-min-width,
    md: $breakpoint-md-min-width,
    lg: $breakpoint-lg-min-width,
    xl: $breakpoint-xl-min-width
) !default;


// Grid

$grid-gap: 1rem !default;


// Horizontal modifier

$justify-content-map: (
    flex-start:    'flex-start',
    center:        'center',
    flex-end:      'flex-end',
    space-between: 'space-between',
    space-around:  'space-around'
);


// Vertical modifier

$align-items-map: (
    flex-start: 'flex-start',
    center:     'center',
    flex-end:   'flex-end'
);

$align-self-map: $align-items-map;


// Flex direction

$flex-direction-map: (
    col: 'column'
);


// Flex grow

$flex-grow-map: (
    0: 0,
    1: 1
);


// Gutter

// Gutter normal width.

$gutter-width: 1rem !default;

$gutters: (
    0:    0,
    '05': 0.5rem,
    1:    $gutter-width
);


// ==========================================================================
// Components
// ==========================================================================


// Card

$day__card-head-bg-color:           #fff;
$ngt__card-head-bg-color:           #272727;
$card-head-border-top-right-radius: $border-radius-base;
$card-head-border-top-left-radius:  $border-radius-base;

$day__card-body-bg-color: transparent;
$ngt__card-body-bg-color: transparent;

$day__card-foot-bg-color:              #fff;
$ngt__card-foot-bg-color:              #272727;
$card-foot-border-bottom-right-radius: $border-radius-base;
$card-foot-border-bottom-left-radius:  $border-radius-base;

$card-foot-button-not-first-child-margin-left: 0.625rem;


// Collapse

$collapse-height:                                     initial;
$collapse-max-height:                                 0;
$collapse-open-height:                                auto;
$collapse-open-max-height:                            100vh;
$collapse-transition:                                 height     0.32s $transition-timing-function,
                                                      max-height 0.32s $transition-timing-function,
                                                      opacity    0.32s $transition-timing-function,
                                                      transform  0.32s $transition-timing-function;

$collapse__list-unstyled__item-active__a-font-weight: 500;

$day__collapse__list-unstyled__a-color:               color( 'black 60' );
$ngt__collapse__list-unstyled__a-color:               color( 'white 60' );

$day__collapse__list-unstyled__a-hover-color:         color( 'black 90' );
$ngt__collapse__list-unstyled__a-hover-color:         color( 'white 90' );

$day__collapse__list-unstyled__item-active__a-color:  $day__body-color;
$ngt__collapse__list-unstyled__item-active__a-color:  $ngt__body-color;


// Drawer

$day__drawer-bg-color:         $day__body-bg-color;
$ngt__drawer-bg-color:         $ngt__body-bg-color;

$drawer-width:                 calc( 100% - 56px );
$drawer-max-width:             320px;
$drawer-height:                200px;
$drawer-z-index:               110;

$drawer-transition:            box-shadow 0.24s $transition-timing-function,
                               margin     0.32s $transition-timing-function;

$day__drawer-overlay-bg-color: color( 'black 50' );
$ngt__drawer-overlay-bg-color: color( 'black 50' );

$drawer-overlay-transition:    opacity    0.32s $transition-timing-function,
                               visibility 0.32s $transition-timing-function;

$drawer-overlay-z-index:       100;

// The same transitions are used for the .drawer--overlap class.

$drawer-push-transition:       transform 0.32s $transition-timing-function;

$drawer-push-open-transition:  transform 0.24s cubic-bezier( 0, 0, 0.2, 1 );
$drawer-push-close-transition: transform 0.24s cubic-bezier( 0.4, 0, 1, 1 );

$drawer-open-box-shadow:       0  8px 10px -5px rgba( 0, 0, 0, 0.2 ),
                               0 16px 24px  2px rgba( 0, 0, 0, 0.14 ),
                               0  6px 30px  5px rgba( 0, 0, 0, 0.12 );


// Menu

$menu__item-margin:                     0 0 0.125em;
$menu__item-padding-y:                  0;
$menu__item-padding-x:                  0;
$menu__a-padding-y:                     $control-padding-y;
$menu__a-padding-x:                     $control-padding-x;

$day__menu__item-active__a-color:       $day__body-color;
$ngt__menu__item-active__a-color:       $ngt__body-color;


// Menu pills

$menu-pills__item__a-border-radius:     $border-radius-base;

$day__menu-pills__item__a-color:        $day__body-color;
$ngt__menu-pills__item__a-color:        $ngt__body-color;

$day__menu-pills__item-active__a-color: $day__a-color;
$ngt__menu-pills__item-active__a-color: $ngt__a-color;

$day__menu-pills__a-hover-bg-color:     color( 'black 05' );
$ngt__menu-pills__a-hover-bg-color:     color( 'white 05' );

$day__menu-pills__item-active-bg-color: color( 'cerulean 1' );
$ngt__menu-pills__item-active-bg-color: color( 'cerulean 90' );


// Modal

$modal-transition:              z-index 0.32s step-end;
$modal-z-index:                 -1;

$modal-show-transition:         z-index 0.32s step-start;
$modal-show-z-index:            1000;

$day__modal-overlay-bg-color:   color( 'black 50' );
$ngt__modal-overlay-bg-color:   color( 'black 50' );

$modal-content-max-width:       640px;

$modal-overlay-transition:      opacity    0.32s $transition-timing-function,
                                visibility 0.32s $transition-timing-function;

$modal-content-max-height:      calc( 100vh - 40px );

$modal-content-transform:       scale( 1.05 );
$modal-show-content-transform:  scale( 1 );

$modal-content-transition:      opacity    0.24s $transition-timing-function,
                                transform  0.24s $transition-timing-function,
                                visibility 0.24s $transition-timing-function;

$modal-show-content-transition: opacity    0.16s $transition-timing-function,
                                transform  0.16s $transition-timing-function,
                                visibility 0.16s $transition-timing-function;


// Navbar

// Navbar brand

$day__navbar-bg-color:              $day__body-bg-color;
$ngt__navbar-bg-color:              $ngt__body-bg-color;

$navbar-padding-y:                  em_to_rem( $spacing-unit-quarter );
$navbar-padding-x:                  em_to_rem( $spacing-unit-half );

$navbar-brand-font-size:            1.25em;
$navbar-toggler-cursor:             pointer;

$day__navbar-a-color:               color( 'black 60' );
$ngt__navbar-a-color:               color( 'white 60' );

$day__navbar-a-hover-color:         color( 'black 90' );
$ngt__navbar-a-hover-color:         color( 'white 90' );

$day__navbar-item-active__a-color:  $day__body-color;
$ngt__navbar-item-active__a-color:  $ngt__body-color;

$navbar-dark__a-color:              color( 'white 60' );
$navbar-dark__a-hover-color:        color( 'white 90' );
$navbar-dark__item-active__a-color: $ngt__body-color;

$day__navbar-shadow:                0 2px  4px -1px rgba( 0, 0, 0, 0.06 ),
                                    0 4px  5px  0   rgba( 0, 0, 0, 0.06 ),
                                    0 1px 10px  0   rgba( 0, 0, 0, 0.08 );

$ngt__navbar-shadow:                0 2px  4px -1px rgba( 0, 0, 0, 0.2 ),
                                    0 4px  5px  0   rgba( 0, 0, 0, 0.14 ),
                                    0 1px 10px  0   rgba( 0, 0, 0, 0.12 );


// Navmenu

// Full screen menu

$fsmenu-transition:          opacity          0.5s step-end,
                             transform        0.5s cubic-bezier( 0.8, 0, 0.55, 0.94 ),
                             visibility       0.5s step-end,
                             background-color 0.5s cubic-bezier( 0.8, 0, 0.55, 0.94 );

$fsmenu-all-transition:      opacity          0.4s cubic-bezier( 0.8, 0, 0.55, 0.94 );

$day__fsmenu-open-bg-color:  $day__body-bg-color;
$ngt__fsmenu-open-bg-color:  $ngt__body-bg-color;

$fsmenu-open-transition:     opacity          0.5s step-start,
                             transform        0.5s cubic-bezier( 0.8, 0, 0.55, 0.94 ),
                             visibility       0.5s step-start,
                             background-color 0.5s cubic-bezier( 0.8, 0, 0.55, 0.94 );

$fsmenu-open-all-transition: opacity          0.5s cubic-bezier( 0.8, 0, 0.55, 0.94 ) 0.5s;


// Tabs

$tabs-border-bottom-width:                      0.063rem; // 1px
$tabs-border-bottom-style:                      solid;
$day__tabs-border-bottom-color:                 $day__border-color;
$ngt__tabs-border-bottom-color:                 $ngt__border-color;

$tabs__item-margin:                             0;

$day__tabs__a-border-bottom-color:              transparent;
$ngt__tabs__a-border-bottom-color:              transparent;

$tabs__a-border-bottom-width:                   0.188rem; // 3px

$day__tabs__a-color:                            color( 'black 60' );
$ngt__tabs__a-color:                            color( 'white 60' );

$day__tabs__a-hover-color:                      color( 'black 90' );
$ngt__tabs__a-hover-color:                      color( 'white 90' );

$tabs__a-padding-y:                             $spacing-unit-quarter;
$tabs__a-padding-x:                             $spacing-unit-half;

$day__tabs__a-hover-border-bottom-color:        transparent;
$ngt__tabs__a-hover-border-bottom-color:        transparent;

$day__tabs__item-active__a-color:               $day__body-color;
$ngt__tabs__item-active__a-color:               $ngt__body-color;

$day__tabs__item-active__a-hover-color:         $day__body-color;
$ngt__tabs__item-active__a-hover-color:         $ngt__body-color;

$tabs__item-active__a-border-bottom-width:      0.188rem; // 3px

$day__tabs__item-active__a-border-bottom-color: $day__a-color;
$ngt__tabs__item-active__a-border-bottom-color: $ngt__a-color;

$tabs__item__active-underline-transition:       transform $transition-duration $transition-timing-function,
                                                width     $transition-duration $transition-timing-function;
