// Variables


// ==========================================================================
// Elements
// ==========================================================================


// Base

$font-family-sans-serif: -apple-system, 
						 BlinkMacSystemFont, 
						 'Segoe UI', 
						 'Roboto', 
						 'Noto Sans', 
						 'Ubuntu', 
						 'Droid Sans', 
						 'Helvetica Neue', 
						 sans-serif !default;
$font-family-monospace:  'SF Mono', 
						 'Segoe UI Mono', 
						 'Roboto Mono', 
						 'Ubuntu Mono', 
						 Menlo, 
						 Courier, 
						 monospace !default;
$font-family-base:       $font-family-sans-serif;

$font-size-base:         16px !default;
$font-size-small:        0.75em; // 12px
$font-size-large:        1.50em; // 24px

$line-height-base:       25px !default;

$spacing-unit-base:      2em; // 32px
$spacing-unit-half:      $spacing-unit-base / 2; // 1.0em (16px)
$spacing-unit-quarter:   $spacing-unit-base / 4; // 0.5em  (8px)

$line-height-ratio:      $line-height-base / $font-size-base;

$border-radius-base:     0.25rem;


// Color

$body-background-color:       #fff;
$night-body-background-color: #000;

$colors:                     (colors($body-background-color, $night-body-background-color)) !default;

$body-color:                  color('gray 47');
$night-body-color:            color('gray 3');


// Transition

$transition-duration:        0.16s;
$transition-timing-function: ease-out;
$transition-base:            background-color $transition-duration $transition-timing-function, 
														 border-color     $transition-duration $transition-timing-function, 
														 box-shadow       $transition-duration $transition-timing-function, 
														 color            $transition-duration $transition-timing-function;


// Hyperlink

$link-color:                           color('blue 25');
$night-link-color:                     color('blue 13');
$link-decoration:                      none;

$link-visited-color:                   $link-color;
$night-link-visited-color:             $night-link-color;
$link-visited-decoration:              none;

$link-hover-color:                     color('blue 31');
$night-link-hover-color:               color('blue 7');
$link-hover-decoration:                none;

$link-border-bottom-width:             0.063rem;
$link-border-bottom-style:             solid;
$link-border-bottom-color:             color('blue 4');
$night-link-border-bottom-color:       color('blue 46');

$link-hover-border-bottom-color:       $link-hover-color;
$night-link-hover-border-bottom-color: $night-link-hover-color;


// Heading

$headings: (
	'h1': 2.5em,  // 40px
	'h2': 2em,    // 32px
	'h3': 1.75em, // 28px
	'h4': 1.5em,  // 24px
	'h5': 1.25em, // 20px
	'h6': 1em     // 16px
) !default;

$heading-line-height: 1.2;


// Marked text

$mark-border-radius:          0;
$mark-background-color:       color('yellow 5');
$night-mark-background-color: color('gray 45');
$mark-background-image:       none;
$night-mark-background-image: none;
$mark-padding:                0.2em;


// Blockquote

$blockquote-border-width:               0.313rem;
$blockquote-border-style:               solid;
$blockquote-border-color:               color('gray 4');
$night-blockquote-border-color:         color('gray 46');

$blockquote-padding:                    0 0 0 (1.5 - $blockquote-border-width);

$blockquote-p-font-size:                1.125em;
$blockquote-p-before-after-font-weight: 700;
$blockquote-p-before-content:           '«'; // '“';
$blockquote-p-before-margin-right:       $spacing-unit-quarter / 2;
$blockquote-p-after-content:            '»'; // '”';
$blockquote-p-after-margin-left:        $spacing-unit-quarter / 2;

$blockquote-footer-font-size:           $font-size-small;
$blockquote-footer-before-content:      '— ';


// Code

$code-background-color:       none;
$night-code-background-color: none;
$code-color:                  color('orange 28');
$night-code-color:            color('orange 28');
$code-border-radius:          none;
$code-font-size:              0.875em; // 14px
$code-padding:                0;

$pre-background-color:        color('gray 2');
$night-pre-background-color:  color('gray 48');
$pre-border-radius:           $border-radius-base;


// Se usan los mismo valores para los demas controles de las formas.

$control-border-width:                   0.063rem;
$control-border-style:                   solid;
$control-border-color:                   color('gray 8');
$night-control-border-color:             color('gray 42');

$control-border-radius:                  $border-radius-base;

$control-color:                          $body-color;
$night-control-color:                    $night-body-color;

$control-line-height:                    inherit;

$control-padding-y:                      0.250em;
$control-padding-x:                      0.750em;

$control-small-padding-y:                $control-padding-y;
$control-small-padding-x:                $control-padding-x;

$control-large-padding-y:                $control-padding-y;
$control-large-padding-x:                $control-padding-x;

$control-large-font-size:                1.25em;

$control-active-border-color:            color('blue 13t');
$night-control-active-border-color:      color('blue 13t');

$control-focus-border-color:             color('blue 13t');
$night-control-focus-border-color:       color('blue 13t');

$control-focus-box-shadow:               inset 0 0 0 0.063rem $control-focus-border-color;
$night-control-focus-box-shadow:         inset 0 0 0 0.063rem $night-control-focus-border-color;

$control-invalid-border-color:           color('red 25');
$night-control-invalid-border-color:     color('red 25');


// Button

$button-border-width:                   $control-border-width;
$button-border-style:                   $control-border-style;
$button-border-color:                   transparent;

$button-border-radius:                  $control-border-radius;
$button-font-size:                      $font-size-base;
$button-font-weight:                    400;
$button-line-height:                    $control-line-height;

$button-padding-y:                      $control-padding-y;
$button-padding-x:                      $control-padding-x;

$button-transition:                     $transition-base;

$button-hover-background-color-amount:  12%;
$button-active-background-color-amount: 24%;


// Estilo de los botones:
// - Name, 
// - background color, 
// - night background color, 
// - text color, 
// - light colors on hover/active state.
$buttons: (
	'primary'   color('blue 25')      color('blue 25')      color('white 25')   '',
	'secondary' color('cool gray 25') color('cool gray 35') color('white 25')   '',
	'success'   color('green 25')     color('green 25')     color('white 25')   '',
	'danger'    color('red 25')       color('red 25')       color('white 25')   '',
	'light'     color('cool gray 6')  color('cool gray 6')  color('gray 40')    '',
	'dark'      color('cool gray 44') color('cool gray 44') color('gray 5')     ''
);


// Outline button

$button-outline-border-transparentize-amount: 0;


// Disabled button

$button-disabled-opacity:    0.6;


// Small button

$button-small-border-radius: $control-border-radius;
$button-small-font-size:     $font-size-small;
$button-small-padding-y:     $control-small-padding-y;
$button-small-padding-x:     $control-small-padding-x;


// Large button

$button-large-border-radius: $control-border-radius;
$button-large-font-size:     $control-large-font-size;
$button-large-padding-y:     $control-large-padding-y;
$button-large-padding-x:     $control-large-padding-x;


// Label

$label-font-size: px_to_em($font-size-base);
$label-padding:  ($control-padding-y / 2) 0;


// Input

$input-background-color:                  transparent;
$night-input-background-color:            transparent;
$input-border-width:                      $control-border-width;
$input-border-style:                      $control-border-style;
$input-border-color:                      $control-border-color;
$night-input-border-color:                $night-control-border-color;
$input-border-radius:                     $control-border-radius;
$input-color:                             $control-color;
$night-input-color:                       $night-control-color;
$input-font-size:                         $font-size-base;
$input-line-height:                       $control-line-height;
$input-padding-y:                         $control-padding-y;
$input-padding-x:                         $control-padding-x;
$input-transition:                        $transition-base;

$input-active-border-color:               $control-active-border-color;
$night-input-active-border-color:         $night-control-active-border-color;

$input-focus-background-color:            transparent;
$input-focus-border-color:                $control-focus-border-color;
$night-input-focus-border-color:          $night-control-focus-border-color;
$input-focus-box-shadow:                  $control-focus-box-shadow;
$night-input-focus-box-shadow:            $night-control-focus-box-shadow;

$input-placeholder-color:                 color('black 15t');
$night-input-placeholder-color:           color('white 17t');
$input-focus-placeholder-color:           color('blue 13t');
$night-input-focus-placeholder-color:     color('blue 13t');
$input-placeholder-opacity:               0.8;

$input-hover-border-color:                $input-border-color;
$night-input-hover-border-color:          $night-input-border-color;

$input-invalid-border-color:              $control-invalid-border-color;
$night-input-invalid-border-color:        $night-control-invalid-border-color;

$input-valid-border-color:                $input-border-color;
$night-input-valid-border-color:          $night-input-border-color;

$input-small-border-radius:               $control-border-radius;
$input-small-font-size:                   $font-size-small;
$input-small-padding-y:                   $control-small-padding-y;
$input-small-padding-x:                   $control-small-padding-x;
 
$input-large-border-radius:               $control-border-radius;
$input-large-font-size:                   $control-large-font-size;
$input-large-padding-y:                   $control-large-padding-y;
$input-large-padding-x:                   $control-large-padding-x;


// Flat input

$input-flat-background-color:             color('cool gray 2t');
$night-input-flat-background-color:       color('white 1t');
$input-flat-border-color:                 transparent;
$night-input-flat-border-color:           transparent;

$input-flat-hover-background-color:       color('cool gray 3t');
$night-input-flat-hover-background-color: color('white 2t');
$input-flat-hover-border-color:           transparent;
$night-input-flat-hover-border-color:     transparent;


// Line input

$input-line-focus-box-shadow:             inset 0 -0.063rem 0 0 $input-focus-border-color;
$night-input-line-focus-box-shadow:       inset 0 -0.063rem 0 0 $night-input-focus-border-color;


// Input group button

$input-group-btn-input-focus-border-color:       $control-focus-border-color;
$night-input-group-btn-input-focus-border-color: $night-control-focus-border-color;


// File area

$file-area-background-color:             color('gray 2');
$night-file-area-background-color:       color('gray 48');

$file-area-focus-background-color:       none;
$night-file-area-focus-background-color: none;

$file-area-hover-background-color:       color('gray 4');
$night-file-area-hover-background-color: color('gray 46');

$file-area-valid-background-color:       color('blue 4');
$night-file-area-valid-background-color: color('blue 46');

$file-area-border-radius:                $border-radius-base;
$file-area-padding:                      6.25em $spacing-unit-half;


// Select menu

$select-background-color:         transparent;
$select-border-width:             $control-border-width;
$select-border-style:             $control-border-style;
$select-border-color:             $control-border-color;
$night-select-border-color:       $night-control-border-color;
$select-border-radius:            $control-border-radius;
$select-color:                    $control-color;
$night-select-color:              $night-control-color;
$select-font-size:                $font-size-base;
$select-line-height:              $control-line-height;
$select-padding-y:                $control-padding-y;
$select-padding-x:                $control-padding-x;

$select-focus-border-color:       $control-focus-border-color;
$night-select-focus-border-color: $night-control-focus-border-color;
$select-focus-box-shadow:         $control-focus-box-shadow;
$night-select-focus-box-shadow:   $night-control-focus-box-shadow;

$select-small-border-radius:      $control-border-radius;
$select-small-font-size:          $font-size-small;
$select-small-padding-y:          $control-small-padding-y;
$select-small-padding-x:          $control-small-padding-x;

$select-large-border-radius:      $control-border-radius;
$select-large-font-size:          $control-large-font-size;
$select-large-padding-y:          $control-large-padding-y;
$select-large-padding-x:          $control-large-padding-x;

$night-select-option-color:       $control-color;


// Select menu arrow icon.

// Se habilita si se agrega la url del icono, se recomienda en formato svg.

$select-background-image:         none;
$select-focus-background-image:   none;

$select-background-position:      calc(100% - #{$spacing-unit-quarter / 2}) center;
$select-background-size:          $spacing-unit-base;
$select-margin-right:             $spacing-unit-half;


// Pure CSS select menu icon.

$select-icon-after-border-width:        0.125em;
$select-icon-after-border-style:        solid;
$select-icon-after-border-color:        $body-color;
$night-select-icon-after-border-color:  $night-body-color;
$select-icon-after-margin-top:         -0.438em;
$select-icon-after-width:               $spacing-unit-quarter;
$select-icon-after-height:              $spacing-unit-quarter;
$select-icon-after-top:                 50%;
$select-icon-after-right:               $control-padding-x;
$select-icon-after-transform:           rotate(-45deg);
$select-icon-padding-right:             $control-padding-x + ($select-icon-after-width * 2);

$select-icon-small-after-width:         $select-icon-after-width / 1.5;
$select-icon-small-after-height:        $select-icon-after-height / 1.5;
$select-icon-small-after-margin-top:    $select-icon-after-margin-top / 1.5;
$select-icon-small-after-right:         $select-icon-after-right - 0.25;
$select-icon-small-padding-right:       $control-small-padding-x + ($select-icon-small-after-width * 2);

$select-icon-large-after-width:         $select-icon-after-width * 1.5;
$select-icon-large-after-height:        $select-icon-after-height * 1.5;
$select-icon-large-after-margin-top:    $select-icon-after-margin-top * 1.5;
$select-icon-large-after-right:         $select-icon-after-right + 0.25;
$select-icon-large-padding-right:       $control-large-padding-x + ($select-icon-large-after-width * 2);


// Switch

$switch-label-height:                                2.438em;
$switch-label-width:                                 $switch-label-height * 2;

$switch-label-background-color:                      $control-border-color;
$night-switch-label-background-color:                $night-control-border-color;
$switch-label-border:                                none;
$switch-label-border-radius:                         $switch-label-height / 2;
$switch-label-box-shadow:                            none;


// Switch toggle

$switch-label-after-background-color:                $body-background-color;
$night-switch-label-after-background-color:          $night-body-background-color;
$switch-label-after-box-shadow:                      0 0.063em 0.063em rgba(0, 0, 0, 0.1);
$switch-label-after-width:                           $switch-label-height - ($spacing-unit-quarter + 0.313);
$switch-label-after-height:                          $switch-label-height - ($spacing-unit-quarter + 0.313);
$switch-label-after-top:                             50%;
$switch-label-after-left:                            $spacing-unit-quarter;

$switch-checked-label-before-background-color:       color('blue 25');
$night-switch-checked-label-before-background-color: color('blue 13');
$switch-checked-label-after-left:                    $switch-label-width - $switch-label-height + 0.313;

$switch-label-before-transition:                     0.20s cubic-bezier(0.25, 0, 0.5, 1);
$switch-label-after-transition:                      0.32s cubic-bezier(0.55, 1.5, 0.5, 1);
$switch-checked-label-before-transition:             0.20s cubic-bezier(0, 0, 0, 0.1);


// Small and large switch

$switch-small-label-height:                          1.859em;
$switch-small-label-width:                           $switch-small-label-height * 2;
$switch-small-label-border-radius:                   $switch-small-label-height / 2;

$switch-small-label-after-width:                     $switch-small-label-height - ($spacing-unit-quarter + 0.188);
$switch-small-label-after-height:                    $switch-small-label-height - ($spacing-unit-quarter + 0.188);
$switch-small-label-after-left:                     ($spacing-unit-quarter - 0.063);

$switch-small-checked-label-after-left:              $switch-small-label-width - $switch-small-label-height + 0.25;

$switch-large-label-height:                          3.016em;
$switch-large-label-width:                           $switch-large-label-height * 2;
$switch-large-label-border-radius:                   $switch-large-label-height / 2;

$switch-large-label-after-width:                     $switch-large-label-height - ($spacing-unit-quarter + 0.375);
$switch-large-label-after-height:                    $switch-large-label-height - ($spacing-unit-quarter + 0.375);
$switch-large-label-after-left:                     ($spacing-unit-quarter + 0.063);

$switch-large-checked-label-after-left:              $switch-large-label-width - $switch-large-label-height + 0.375;


// Table

$table-header-font-weight:             600;
$table-header-text-align:              left;

$table-border-width:                   0.063rem;
$table-border-style:                   solid;
$table-border-right-style:             dotted;
$table-border-color:                   color('gray 6');
$night-table-border-color:             color('gray 44');

$table-header-background-color:        color('gray 3');
$night-table-header-background-color:  color('gray 47');

$table-cell-padding-y:                 $spacing-unit-quarter;
$table-cell-padding-x:                 $spacing-unit-half;

$table-striped-index:                  even; // 'odd'

$table-striped-background-color:       color('gray 2');
$night-table-striped-background-color: color('gray 48');


// ==========================================================================
// Helpers
// ==========================================================================


// Border radius

$border-radii: (
	0: 0,
	4: 0.25rem
);


// Border width

$border-widths: (
	0: 0,
	1: 0.063rem,
	2: 0.125rem
);


// Margin

$margins: (
	 0: 0,
	 4: 0.25rem,
	 8: 0.50rem,
	16: 1rem
);


// Opacity

$opacities: (
	  0: 0,
	 50: 0.5,
	100: 1
);


// Padding

$paddings: (
	 0: 0,
	 4: 0.25rem,
	 8: 0.50rem,
	16: 1rem
);


// Sizing

// Porcentajes para widths & heights.
$sizes: (
	10:  10%,
	20:  20%,
	30:  30%,
	40:  40%,
	50:  50%,
	60:  60%,
	70:  70%,
	80:  80%,
	90:  90%,
	100: 100%
) !default;


// Text

// Drop cap

$dropcap-background-color: transparent;
$dropcap-border:           none;
$dropcap-color:            $body-color;
$night-dropcap-color:      $night-body-color;
$dropcap-font-size:        px_to_em($font-size-base * 3.5);
$dropcap-font-style:       normal;
$dropcap-font-weight:      normal;
$dropcap-letter-spacing:   0;
$dropcap-line-height:      inherit;
$dropcap-margin-top:       0.063em;
$dropcap-margin-right:     0.125em;
$dropcap-padding:          0;
$dropcap-text-shadow:      none;

$dropcap-width:  auto;
$dropcap-height: auto;

$dropcap-text-align:     left;
$dropcap-vertical-align: bottom;


// Small caps

$smcaps-letter-spacing: 0.125em; // 2px
$smcaps-margin-right:   0.188em; // 3px


// ==========================================================================
// Layout
// ==========================================================================


// Flex grid

// Tamaño máximo de anchura del contenedor.
$container-max-width: 1200px;

// Número de columnas.
$grid-columns: 12;

// Grid breakpoints, minimum widths.
$breakpoint-xs-min-width: 0;
$breakpoint-sm-min-width: 768px;
$breakpoint-md-min-width: 1024px;
$breakpoint-lg-min-width: 1280px;
$breakpoint-xl-min-width: 1680px;

$grid-breakpoints: (
	xs: $breakpoint-xs-min-width,
	sm: $breakpoint-sm-min-width,
	md: $breakpoint-md-min-width,
	lg: $breakpoint-lg-min-width,
	xl: $breakpoint-xl-min-width
) !default;

// Gutter normal width.
$gutter-width: em_to_rem($spacing-unit-half) !default;

// Gutters and grid gap.
$gutters: 8;
$gutter:  0.25rem !default;


// Grid

$grid-gap: $gutter-width;


// ==========================================================================
// Components
// ==========================================================================


// Card

$card-background-color:       $body-background-color;
$night-card-background-color: color('gray 46');
$card-padding:                $spacing-unit-half;
$card-border-width:           0.063rem;
$card-border-style:           solid;
$card-border-color:           color('cool gray 6t');
$night-card-border-color:     $night-card-background-color;
$card-border-radius:          $border-radius-base;
$card-box-shadow:             0 0.063em 0.063em rgba(black, 0.05);
$card-transition:             $transition-base;

$card-hover-box-shadow:       0 0.063em $spacing-unit-half rgba(black, 0.15);


// Collapse


$collapse-height:                                     initial;
$collapse-max-height:                                 0;
$collapse-open-height:                                auto;
$collapse-open-max-height:                            100vh;
$collapse-transition:                                 height     0.3s $transition-timing-function,
																											max-height 0.3s $transition-timing-function,
																											opacity    0.3s $transition-timing-function,
																											transform  0.3s $transition-timing-function;

$collapse-list-unstyled-link-color:                   color('gray 25');
$night-collapse-list-unstyled-link-color:             color('gray 25');
$collapse-list-unstyled-link-hover-color:             color('gray 33');
$night-collapse-list-unstyled-link-hover-color:       color('gray 17');
$collapse-list-unstyled-item-active-link-color:       $body-color;
$night-collapse-list-unstyled-item-active-link-color: $night-body-color;


// Drawer

$drawer-background-color:               $body-background-color;
$night-drawer-background-color:         $night-body-background-color;
$drawer-width:                          260px;
$drawer-height:                         200px;
$drawer-z-index:                        110;

$drawer-outside-transition:             margin 0.3s $transition-timing-function;

$drawer-overlay-background-color:       color('gray 45');
$night-drawer-overlay-background-color: color('gray 45');
$drawer-overlay-transition:             opacity    0.3s $transition-timing-function,
																				visibility 0.3s $transition-timing-function;
$drawer-overlay-z-index:                100;

$drawer-push-outside-transition:        transform 0.3s $transition-timing-function;


// Menu

$menu-item-margin:                              0 0 ($spacing-unit-quarter / 2);
$menu-item-padding-y:                           0;
$menu-item-padding-x:                           0;
$menu-link-padding-y:                           $spacing-unit-quarter;
$menu-link-padding-x:                           $spacing-unit-half;

$menu-item-active-link-color:                   $body-color;
$night-menu-item-active-link-color:             $night-body-color;


// Menu pills

$menu-pills-item-link-border-radius:            $border-radius-base;

$menu-pills-item-link-color:                    $body-color;
$night-menu-pills-item-link-color:              $night-body-color;

$menu-pills-item-active-link-color:             $link-color;
$night-menu-pills-item-active-link-color:       $night-link-color;

$menu-pills-link-hover-background-color:        color('gray 2');
$night-menu-pills-link-hover-background-color:  color('gray 48');

$menu-pills-item-active-background-color:       color('blue 2');
$night-menu-pills-item-active-background-color: color('blue 48');


// Navbar

// Navbar brand

$navbar-background-color:             $body-background-color;
$night-navbar-background-color:       $night-body-background-color;

$navbar-padding-y:                    em_to_rem($spacing-unit-quarter);
$navbar-padding-x:                    em_to_rem($spacing-unit-half);

$navbar-brand-font-size:              1.25em;
$navbar-toggler-cursor:               pointer;

$navbar-link-color:                   color('black 15t');
$night-navbar-link-color:             color('white 17t');
$navbar-link-hover-color:             color('black 23t');
$night-navbar-link-hover-color:       color('white 25');
$navbar-item-active-link-color:       color('black 23t');
$night-navbar-item-active-link-color: color('white 25');

$navbar-dark-link-color:              color('white 17t');
$navbar-dark-link-hover-color:        color('white 25');
$navbar-dark-item-active-link-color:  color('white 25');


// Navmenu

// Full screen menu

$full-screen-menu-transition:                  opacity          0.5s step-end, 
																							 transform        0.5s cubic-bezier(0.8, 0, 0.55, 0.94), 
																							 visibility       0.5s step-end, 
																							 background-color 0.5s cubic-bezier(0.8, 0, 0.55, 0.94);
$full-screen-menu-content-transition:          opacity          0.4s cubic-bezier(0.8, 0, 0.55, 0.94);

$full-screen-menu-open-background-color:       $body-background-color;
$night-full-screen-menu-open-background-color: $night-body-background-color;

$full-screen-menu-open-transition:             opacity          0.5s step-start, 
																							 transform        0.5s cubic-bezier(0.8, 0, 0.55, 0.94), 
																							 visibility       0.5s step-start, 
																							 background-color 0.5s cubic-bezier(0.8, 0, 0.55, 0.94);
$full-screen-menu-open-content-transition:     opacity          0.5s cubic-bezier(0.8, 0, 0.55, 0.94) 0.5s;


// Tabs

$tabs-border-bottom-width:                        0.063rem; // 1px
$tabs-border-bottom-style:                        solid;
$tabs-border-bottom-color:                        color('cool gray 6t');
$night-tabs-border-bottom-color:                  color('cool gray 6t');

$tabs-item-margin:                                0;

$tabs-link-border-bottom-color:                   transparent;
$night-tabs-link-border-bottom-color:             transparent;

$tabs-link-border-bottom-width:                   0.188rem; // 3px

$tabs-link-color:                                 color('gray 25');
$night-tabs-link-color:                           color('gray 25');

$tabs-link-hover-color:                           color('gray 33');
$night-tabs-link-hover-color:                     color('gray 17');

$tabs-link-padding-y:                             $spacing-unit-quarter;
$tabs-link-padding-x:                             $spacing-unit-half;

$tabs-link-hover-border-bottom-color:             transparent;
$night-tabs-link-hover-border-bottom-color:       transparent;

$tabs-item-active-link-color:                     $body-color;
$night-tabs-item-active-link-color:               $night-body-color;
$tabs-item-active-link-hover-color:               $body-color;
$night-tabs-item-active-link-hover-color:         $night-body-color;

$tabs-item-active-link-border-bottom-width:       0.188rem; // 3px

$tabs-item-active-link-border-bottom-color:       $link-color;
$night-tabs-item-active-link-border-bottom-color: $night-link-color;

$tabs-item-active-underline-transition:           transform $transition-duration $transition-timing-function, 
																									width     $transition-duration $transition-timing-function;
