// Color palette

// Name color, hex., generate list of tints and shades?
$color-palette: (
	'black'      #000000 '',
	'white'      #ffffff '',

	'gray'       #6c798f 'yes',
	'gray 10'    #fafbfc '',
	'gray 20'    #f4f5f7 '',
	'gray 30'    #ebecf0 '',
	'gray 40'    #dfe1e5 '',
	'gray 50'    #c1c7d0 '',
	'gray 60'    #b3bac5 '',
	'gray 70'    #a5adba '',
	'gray 80'    #97a0af '',
	'gray 90'    #8993a4 '',
	'gray 100'   #7a869a '',
	'gray 200'   #6c798f '',
	'gray 300'   #5e6c84 '',
	'gray 500'   #42526e '',
	'gray 600'   #344563 '',
	'gray 700'   #253858 '',
	'gray 800'   #172b4d '',
	'gray 900'   #091e42 '',

	'red'        #ff5630 'yes',
	'red 50'     #ffebe5 '',
	'red 75'     #ffbdad '',
	'red 100'    #ff8f73 '',
	'red 200'    #ff7452 '',
	'red 300'    #ff5630 '',
	'red 400'    #de350b '',
	'red 500'    #bf2600 '',

	'yellow'     #ffab00 'yes',
	'yellow 50'  #fffae5 '',
	'yellow 75'  #fff0b2 '',
	'yellow 100' #ffe380 '',
	'yellow 200' #ffc400 '',
	'yellow 300' #ffab00 '',
	'yellow 400' #ff991f '',
	'yellow 500' #ff8b00 '',

	'green'      #36b37e 'yes',
	'green 50'   #e3fcef '',
	'green 75'   #abf5d1 '',
	'green 100'  #79f2c0 '',
	'green 200'  #57d9a3 '',
	'green 300'  #36b37e '',
	'green 400'  #00875a '',
	'green 500'  #006644 '',

	'teal'       #00b8d9 'yes',
	'teal 50'    #e6fcff '',
	'teal 75'    #b3f5ff '',
	'teal 100'   #79e2f2 '',
	'teal 200'   #00c7e5 '',
	'teal 300'   #00b8d9 '',
	'teal 400'   #00a3bf '',
	'teal 500'   #008da6 '',

	'blue'       #0065ff 'yes',
	'blue 50'    #deebff '',
	'blue 75'    #b2d4ff '',
	'blue 100'   #4c9aff '',
	'blue 200'   #2684ff '',
	'blue 300'   #0065ff '',
	'blue 400'   #0052cc '',
	'blue 500'   #0747a6 '',

	'purple'     #6554c0 'yes',
	'purple 50'  #eae6ff '',
	'purple 75'  #c0b6f2 '',
	'purple 100' #998dd9 '',
	'purple 200' #8777d9 '',
	'purple 300' #6554c0 '',
	'purple 400' #5243aa '',
	'purple 500' #403294 ''
);

// $color-palette: (
// 	'black'      #000000 '', 
// 	'blue'       #0065ff 'yes', 
// 	'light blue' #00b8d9 'yes', 
// 	'gray'       #6c798f 'yes', 
// 	'green'      #36b37e 'yes', 
// 	'purple'     #6554c0 'yes', 
// 	'red'        #ff5630 'yes', 
// 	'white'      #ffffff '', 
// 	'yellow'     #ffab00 'yes'
// );

// $colors: (
// 	'black'       #000000 '', 
// 	'blue'        #0366d6 'yes', 
// 	'gray'        #6a737d 'yes', 
// 	'green'       #28a745 'yes', 
// 	'orange'      #f66a0a 'yes', 
// 	'purple'      #6f42c1 'yes', 
// 	'red'         #d73a49 'yes', 
// 	'white'       #ffffff '', 
// 	'yellow'      #ffd33d 'yes'
// );

// $colors: (
// 	'black'       #000000 'no', 
// 	'blue'        #007aff '', 
// 	'light blue'  #5ac8fa '', 
// 	'brown'       #a2845e '', 
// 	'gray'        #8e8e91 '', 
// 	'green'       #4cd964 '', 
// 	// 'green'       #63da38, 
// 	'orange'      #ff9500 '', 
// 	'pink'        #ff2968 '', 
// 	'purple'      #cc73e1 '', 
// 	'deep purple' #5856d6 '', 
// 	'red'         #ff3b30 '', 
// 	'white'       #ffffff 'no', 
// 	'yellow'      #ffcc00 ''
// );

// $colors: (
// 	'black'      #000000 '', 
// 	'blue'       #3a8bbb 'yes', 
// 	'light blue' #00a8d2 'yes', 
// 	'cyan'       #44acac 'yes', 
// 	'green'      #3ebc7d 'yes', 
// 	'gray'       #8e8e8e 'yes', 
// 	// 'red'    #ff5a40 'yes', 
// 	// 'red'    #ff5555 'yes', 
// 	'red'        #f4693a 'yes', 
// 	// 'red'    #e75828 'yes', 
// 	'white'      #ffffff '', 
// 	'yellow'     #ffa53a 'yes'
// );
