// Color palette

// Name color, hex., generate list of tints and shades?
// $color-palette: (
// 	'black'         #000000 '',
// 	'white'         #ffffff '',

// 	'light brown'   #d39c3f '',
// 	'brown'         #815b3a 'yes',

// 	'pale blue'     #ebf2f9 '',
// 	'blue'          #3572b0 'yes',
// 	'navy'          #205081 '',

// 	'cool blue'     #84bbc6 '',
// 	'cyan'          #59afe1 'yes',
// 	'slate'         #4a6785 '',

// 	'light gray'    #f5f5f5 '',
// 	'silver'        #e9e9e9 '',
// 	'ash gray'      #cccccc '',
// 	'gray'          #999999 'yes',
// 	'medium gray'   #707070 '',
// 	'charcoal'      #333333 '',

// 	'lime green'    #8eb021 '',
// 	'mid green'     #67ab49 '',
// 	'green'         #14892c 'yes',

// 	'tan'           #f1a257 '',
// 	'cheeto orange' #f79232 'yes',

// 	'rosie'         #f691b2 '',
// 	'bright pink'   #f15c75 '',

// 	'red'           #d04437 'yes',

// 	'mauve'         #ac707a '',
// 	'violet'        #654982 'yes',

// 	'yellow'        #f6c342 'yes'
// );

$color-palette: (
	'black'      #000000 '',
	'white'      #ffffff '',

	'blue 40'    #45a1ff '',
	'blue 50'    #0a84ff 'yes',
	'blue 60'    #0060df '',
	'blue 70'    #003eaa '',
	'blue 80'    #002275 '',
	'blue 90'    #000f40 '',

	'teal 50'    #00feff 'yes',
	'teal 60'    #00c8d7 '',
	'teal 70'    #008ea4 '',
	'teal 80'    #005a71 '',
	'teal 90'    #002d3e '',

	'magenta 50' #ff1ad9 'yes',
	'magenta 60' #ed00b5 '',
	'magenta 70' #b5007f '',
	'magenta 80' #7d004f '',
	'magenta 90' #440027 '',

	'green 50'   #30e60b 'yes',
	'green 60'   #12bc00 '',
	'green 70'   #058b00 '',
	'green 80'   #006504 '',
	'green 90'   #003706 '',

	'yellow 50'  #ffe900 'yes',
	'yellow 60'  #d7b600 '',
	'yellow 70'  #a47f00 '',
	'yellow 80'  #715100 '',
	'yellow 90'  #3e2800 '',

	'red 50'     #ff0039 'yes',
	'red 60'     #d70022 '',
	'red 70'     #a4000f '',
	'red 80'     #5a0002 '',
	'red 90'     #3e0200 '',

	'purple 50'  #9400ff 'yes',
	'purple 60'  #8000d7 '',
	'purple 70'  #6200a4 '',
	'purple 80'  #440071 '',
	'purple 90'  #25003e '',

	'orange 50'  #ff9400 'yes',
	'orange 60'  #d76e00 '',
	'orange 70'  #a44900 '',
	'orange 80'  #712b00 '',
	'orange 90'  #3e1300 '',

	'ink 70'     #363959 '',
	'ink 80'     #202340 '',
	'ink 90'     #0f1126 '',

	'grey 10'    #f9f9fa '',
	'grey 20'    #ededf0 '',
	'grey 30'    #d7d7db '',
	'grey 40'    #b1b1b3 '',
	'grey 50'    #737373 'yes',
	'grey 60'    #4a4a4f '',
	'grey 70'    #38383d '',
	'grey 80'    #2a2a2e '',
	'grey 90'    #0c0c0d ''
);

// $color-palette: (
// 	'black'      #000000 '',
// 	'white'      #ffffff '',

// 	'blue'       #3a8bbb 'yes', 
// 	'light blue' #0d8cda 'yes', 
// 	'cyan'       #44acac 'yes', 
// 	'green'      #3ebc7d 'yes', 
// 	'grey'       #888888 'yes', 
// 	'red'        #f4693a 'yes', 
// 	'yellow'     #ffa53a 'yes'
// );


// $color-palette: (
// 	'black'      #000000 '',
// 	'white'      #ffffff '',

// 	'blue 000'   #f1f8ff '',
// 	'blue 100'   #dbedff '',
// 	'blue 200'   #c8e1ff '',
// 	'blue 300'   #79b8ff '',
// 	'blue 400'   #2188ff '',
// 	'blue 500'   #0366d6 'yes',
// 	'blue 600'   #005cc5 '',
// 	'blue 700'   #044289 '',
// 	'blue 800'   #032f62 '',
// 	'blue 900'   #05264c '',

// 	'gray 000'   #fafbfc '',
// 	'gray 100'   #f6f8fa '',
// 	'gray 200'   #e1e4e8 '',
// 	'gray 300'   #d1d5da '',
// 	'gray 400'   #959da5 '',
// 	'gray 500'   #6a737d 'yes',
// 	'gray 600'   #586069 '',
// 	'gray 700'   #444d56 '',
// 	'gray 800'   #2f363d '',
// 	'gray 900'   #24292e '',

// 	'green 000'  #f0fff4 '',
// 	'green 100'  #dcffe4 '',
// 	'green 200'  #bef5cb '',
// 	'green 300'  #85e89d '',
// 	'green 400'  #34d058 '',
// 	'green 500'  #28a745 'yes',
// 	'green 600'  #22863a '',
// 	'green 700'  #176f2c '',
// 	'green 800'  #165c26 '',
// 	'green 900'  #144620 '',

// 	'orange 000' #fff8f2 '',
// 	'orange 100' #ffebda '',
// 	'orange 200' #ffd1ac '',
// 	'orange 300' #ffab70 '',
// 	'orange 400' #fb8532 '',
// 	'orange 500' #f66a0a 'yes',
// 	'orange 600' #e36209 '',
// 	'orange 700' #d15704 '',
// 	'orange 800' #c24e00 '',
// 	'orange 900' #a04100 '',

// 	'purple 000' #f5f0ff '',
// 	'purple 100' #e6dcfd '',
// 	'purple 200' #d1bcf9 '',
// 	'purple 300' #b392f0 '',
// 	'purple 400' #8a63d2 '',
// 	'purple 500' #6f42c1 'yes',
// 	'purple 600' #5a32a3 '',
// 	'purple 700' #4c2889 '',
// 	'purple 800' #3a1d6e '',
// 	'purple 900' #29134e '',

// 	'red 000'    #ffeef0 '',
// 	'red 100'    #ffdce0 '',
// 	'red 200'    #fdaeb7 '',
// 	'red 300'    #f97583 '',
// 	'red 400'    #ea4a5a '',
// 	'red 500'    #d73a49 'yes',
// 	'red 600'    #cb2431 '',
// 	'red 700'    #b31d28 '',
// 	'red 800'    #9e1c23 '',
// 	'red 900'    #86181d '',

// 	'yellow 000' #fffdef '',
// 	'yellow 100' #fffbdd '',
// 	'yellow 200' #fff5b1 '',
// 	'yellow 300' #ffea7f '',
// 	'yellow 400' #ffdf5d '',
// 	'yellow 500' #ffd33d 'yes',
// 	'yellow 600' #f9c513 '',
// 	'yellow 700' #dbab09 '',
// 	'yellow 800' #b08800 '',
// 	'yellow 900' #735c0f ''
// );


// $color-palette: (
// 	'black'      #000000 '',
// 	'white'      #ffffff '',

// 	'blue 50'    #deebff '',
// 	'blue 75'    #b2d4ff '',
// 	'blue 100'   #4c9aff '',
// 	'blue 200'   #2684ff '',
// 	'blue 300'   #0065ff '',
// 	'blue 400'   #0052cc 'yes',
// 	'blue 500'   #0747a6 '',

// 	'gray 10'    #fafbfc '',
// 	'gray 20'    #f4f5f7 '',
// 	'gray 30'    #ebecf0 '',
// 	'gray 40'    #dfe1e5 '',
// 	'gray 50'    #c1c7d0 '',
// 	'gray 60'    #b3bac5 '',
// 	'gray 70'    #a5adba '',
// 	'gray 80'    #97a0af '',
// 	'gray 90'    #8993a4 '',
// 	'gray 100'   #7a869a '',
// 	'gray 200'   #6c798f 'yes',
// 	'gray 300'   #5e6c84 '',
// 	'gray 500'   #42526e '',
// 	'gray 600'   #344563 '',
// 	'gray 700'   #253858 '',
// 	'gray 800'   #172b4d '',
// 	'gray 900'   #091e42 '',

// 	'green 50'   #e3fcef '',
// 	'green 75'   #abf5d1 '',
// 	'green 100'  #79f2c0 '',
// 	'green 200'  #57d9a3 '',
// 	'green 300'  #36b37e 'yes',
// 	'green 400'  #00875a '',
// 	'green 500'  #006644 '',

// 	'purple 50'  #eae6ff '',
// 	'purple 75'  #c0b6f2 '',
// 	'purple 100' #998dd9 '',
// 	'purple 200' #8777d9 '',
// 	'purple 300' #6554c0 'yes',
// 	'purple 400' #5243aa '',
// 	'purple 500' #403294 '',

// 	'red 50'     #ffebe5 '',
// 	'red 75'     #ffbdad '',
// 	'red 100'    #ff8f73 '',
// 	'red 200'    #ff7452 '',
// 	'red 300'    #ff5630 'yes',
// 	'red 400'    #de350b '',
// 	'red 500'    #bf2600 '',

// 	'teal 50'    #e6fcff '',
// 	'teal 75'    #b3f5ff '',
// 	'teal 100'   #79e2f2 '',
// 	'teal 200'   #00c7e5 '',
// 	'teal 300'   #00b8d9 'yes',
// 	'teal 400'   #00a3bf '',
// 	'teal 500'   #008da6 '',

// 	'yellow 50'  #fffae5 '',
// 	'yellow 75'  #fff0b2 '',
// 	'yellow 100' #ffe380 '',
// 	'yellow 200' #ffc400 '',
// 	'yellow 300' #ffab00 'yes',
// 	'yellow 400' #ff991f '',
// 	'yellow 500' #ff8b00 ''
// );

// $color-palette: (
// 	'black'      #000000 '', 
// 	'blue'       #0065ff 'yes', 
// 	'light blue' #00b8d9 'yes', 
// 	'gray'       #6c798f 'yes', 
// 	'green'      #36b37e 'yes', 
// 	'purple'     #6554c0 'yes', 
// 	'red'        #ff5630 'yes', 
// 	'white'      #ffffff '', 
// 	'yellow'     #ffab00 'yes'
// );

// $colors: (
// 	'black'       #000000 '', 
// 	'blue'        #0366d6 'yes', 
// 	'gray'        #6a737d 'yes', 
// 	'green'       #28a745 'yes', 
// 	'orange'      #f66a0a 'yes', 
// 	'purple'      #6f42c1 'yes', 
// 	'red'         #d73a49 'yes', 
// 	'white'       #ffffff '', 
// 	'yellow'      #ffd33d 'yes'
// );

// $colors: (
// 	'black'       #000000 'no', 
// 	'blue'        #007aff '', 
// 	'light blue'  #5ac8fa '', 
// 	'brown'       #a2845e '', 
// 	'gray'        #8e8e91 '', 
// 	'green'       #4cd964 '', 
// 	// 'green'       #63da38, 
// 	'orange'      #ff9500 '', 
// 	'pink'        #ff2968 '', 
// 	'purple'      #cc73e1 '', 
// 	'deep purple' #5856d6 '', 
// 	'red'         #ff3b30 '', 
// 	'white'       #ffffff 'no', 
// 	'yellow'      #ffcc00 ''
// );

// $colors: (
// 	'black'      #000000 '', 
// 	'blue'       #3a8bbb 'yes', 
// 	'light blue' #00a8d2 'yes', 
// 	'cyan'       #44acac 'yes', 
// 	'green'      #3ebc7d 'yes', 
// 	'gray'       #8e8e8e 'yes', 
// 	// 'red'    #ff5a40 'yes', 
// 	// 'red'    #ff5555 'yes', 
// 	'red'        #f4693a 'yes', 
// 	// 'red'    #e75828 'yes', 
// 	'white'      #ffffff '', 
// 	'yellow'     #ffa53a 'yes'
// );
