// Mixins


// Button background gradient.
@mixin button_gradient_bg($color-top, $color-bottom) {
	background: #{$color-top};
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #{$color-top}), color-stop(100%, #{$color-bottom}));
	background: -webkit-linear-gradient(top, #{$color-top} 0%, #{$color-bottom} 100%);
	background:    -moz-linear-gradient(top, #{$color-top} 0%, #{$color-bottom} 100%);
	background:     -ms-linear-gradient(top, #{$color-top} 0%, #{$color-bottom} 100%);
	background:      -o-linear-gradient(top, #{$color-top} 0%, #{$color-bottom} 100%);
	background:         linear-gradient(to bottom, #{$color-top} 0%, #{$color-bottom} 100%);
	filter:      progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$color-top}', endColorstr='#{$color-bottom}', GradientType=0);
}

// Output vendor properties.
@mixin vendor($property, $value) {
	-webkit-#{$property}: $value;
	   -moz-#{$property}: $value;
		-ms-#{$property}: $value;
		 -o-#{$property}: $value;
			#{$property}: $value;
}

@mixin animation($animate...) {
	$max: length($animate);
	$animations: '';

	@for $i from 1 through $max {
		$animations: #{ $animations + nth($animate, $i) };

		@if $i < $max {
			$animations: #{ $animations + ', ' };
		}
	}
	-webkit-animation: $animations;
	   -moz-animation: $animations;
	     -o-animation: $animations;
	        animation: $animations;
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin keyframes-control-focus($animation-name) {
	@include keyframes($animation-name) {
		0%   { box-shadow: inset 0 0 0 0 rgba(get_color('blue 25'), 0) }
		100% { box-shadow: inset 0 0 0 0.063rem get_color('blue 25') }
	}
}

@mixin keyframes-control-line-focus($animation-name) {
	@include keyframes($animation-name) {
		0%   { box-shadow: inset 0 0 0 0 rgba(get_color('blue 25'), 0) }
		100% { box-shadow: inset 0 -0.125rem 0 -0.063rem get_color('blue 25') }
	}
}
