// ==========================================================================
// Elements
// ==========================================================================

$text-color: #333;

$base-font-size: 16px !default;

$base-line-height: 26px !default;
$base-spacing-unit: ($base-line-height + 6);
$half-spacing-unit: $base-spacing-unit / 2;
$quarter-spacing-unit: $base-spacing-unit / 4;
$line-height-ratio: $base-line-height / $base-font-size;

// Convert spacing units to rems.

$base-spacing-unit: px-to-rem($base-spacing-unit); // 2rem (32px)
$half-spacing-unit: px-to-rem($half-spacing-unit); // 1rem (16px)
$quarter-spacing-unit: px-to-rem($quarter-spacing-unit); // 0.5rem (8px)

// Colors

$colors: (
	'Primary': #2c9ab7,
	'Secondary': #373737,
	'Success': #449a88,
	'Warning': #febe12,
	'Danger': #db3a1b
);

$tints: 6; // Número de tintas por cada color primario.

// Color palette
$color-palette: (
	get-colors-list($colors, $tints)
) !default;

// Hyperlinks

$link-color: get-color('Primary 1');
$link-decoration: none;

$link-visited-color: $link-color;
$link-visited-decoration: none;

$link-hover-color: $text-color;
$link-hover-decoration: none;

// Code

$mono-font-family: Menlo, Courier, monospace;

$code-border-radius: $quarter-spacing-unit / 2;
$code-background-color: transparentize(get-color('Secondary 1'), 0.92);
$code-font-size: 0.9em;

$pre-background-color: transparentize(get-color('Secondary 1'), 0.95);
$pre-border-radius: $quarter-spacing-unit / 2;

// Buttons

$button-background-color-darken-percentage: 15%;

$button-tint-percentage: 24%;
$button-shade-percentage: 60%;

$button-background-color: get-color('Secondary 7');
$button-border-color: transparent;
$button-border-width: 2px;
$button-font-weight: 500;
$button-padding: 0.5em 1em;
$button-text-color: transparentize(get-color('Secondary 1'), 0.25);

// $button-focus-shadow: 0 0 0 2px transparentize($link-color, 0.85);

$button-hover-background-color: darken($button-background-color, $button-background-color-darken-percentage);
$button-hover-border-color: transparent;
$button-hover-text-color: $button-text-color;

// Primary buttons

$button-primary-background-color: get-color('Primary 2');
$button-primary-border-color: transparent;
$button-primary-text-color: #fff;

$button-primary-hover-background-color: darken($button-primary-background-color, $button-background-color-darken-percentage);
$button-primary-hover-border-color: $button-primary-border-color;
$button-primary-hover-text-color: $button-primary-text-color;

// Outline buttons

// Outline button

$button-outline-background-color: transparent;
$button-outline-border-color: $button-background-color;
$button-outline-text-color: $button-text-color;

$button-outline-hover-border-color: transparent;
$button-outline-hover-text-color: $button-text-color;

// Outline primary button

$button-primary-outline-background-color: transparent;
$button-primary-outline-border-color: get-color('Primary 3');
$button-primary-outline-text-color: $button-primary-background-color;

$button-primary-outline-hover-background-color: $button-primary-background-color;
$button-primary-outline-hover-text-color: $button-primary-text-color;

// Link buttons

$button-link-hover-background-color: $button-background-color;
$button-link-hover-border-color: transparent;

// Colored buttons

// Success button

$button-success-background-color: get-color('Success 2');
$button-success-border-color: transparent;
$button-success-text-color: #fff;

$button-success-hover-background-color: darken($button-success-background-color, $button-background-color-darken-percentage);
$button-success-hover-border-color: $button-success-border-color;
$button-success-hover-text-color: $button-success-text-color;

// Warning button

$button-warning-background-color: get-color('Warning 2');
$button-warning-border-color: transparent;
$button-warning-text-color: #fff;

$button-warning-hover-background-color: darken($button-warning-background-color, $button-background-color-darken-percentage);
$button-warning-hover-border-color: $button-warning-border-color;
$button-warning-hover-text-color: $button-warning-text-color;

// Danger button

$button-danger-background-color: get-color('Danger 2');
$button-danger-border-color: transparent;
$button-danger-text-color: #fff;

$button-danger-hover-background-color: darken($button-danger-background-color, $button-background-color-darken-percentage);
$button-danger-hover-border-color: $button-danger-border-color;
$button-danger-hover-text-color: $button-danger-text-color;

// Headings

$headings-sizes: (
	'h1': $base-font-size * 2.5, // 2.5em (40px)
	'h2': $base-font-size * 2, // 2em (32px)
	'h3': $base-font-size * 1.75, // 1.75em (28px)
	'h4': $base-font-size * 1.5, // 1.5em (24px)
	'h5': $base-font-size * 1.25, // 1.25em (20px)
	'h6': $base-font-size // 1em (16px)
) !default;
$heading-line-height: 1.1;


// Tables

$table-heading-weight: bold;
$table-heading-align: left;


// ==========================================================================
// Helpers
// ==========================================================================

// Borders

$border-color: transparentize(get-color('Secondary 1'), 0.85);
$border-radius: $quarter-spacing-unit / 2;

// Drop caps

$dropcap-border: none;
$dropcap-color: get-color('Warning 1');
$dropcap-line-height: 0.9;

$dropcap-margin-top: 0;
$dropcap-margin-right: $quarter-spacing-unit;

$dropcap-size: px-to-em($base-font-size * 5);
$dropcap-shadow: none;
$dropcap-weight: normal;

$dropcap-width: auto;
$dropcap-height: px-to-rem($base-font-size * 4.8) - 0.5;

// Small caps

$smcaps-letter-spacing: 0.125em; // 2px
$smcaps-margin-right: 0.188em; // 3px

// Font size

$small-font-size: 80%;
$large-font-size: 120%;

// Cantidad de espacios para margins & paddings,
$spacings: 5 !default;

// incrementando cada...
$spacing: 4px !default;

// Porcentajes para widths & heights.
$sizes: (
	10: 10%,
	20: 20%,
	30: 30%,
	40: 40%,
	50: 50%,
	60: 60%,
	70: 70%,
	80: 80%,
	90: 90%,
	100: 100%
) !default;


// ==========================================================================
// Layout
// ==========================================================================

// Flex grid

// Tamaño máximo de anchura del contenedor.
$container-max-width: 1052px;

// Número de columnas.
$grid-columns-number: 12;

// Margen superior e inferior de cada renglón.
$grid-row-margin-bottom: 0;
$grid-row-margin-top: 0;

// Margen del lado izquierdo y derecho de cada columna.
$grid-column-gutter: 16px;

$breakpoint-xs-min-width: 0 !default;
$breakpoint-sm-min-width: 768px !default;
$breakpoint-md-min-width: 1024px !default;
$breakpoint-lg-min-width: 1280px !default;
$breakpoint-xl-min-width: 1680px !default;
