// Variables


// ==========================================================================
// Elements
// ==========================================================================


// Content

// Base font size and line-height.

$base-font-size:       16px !default;
$base-line-height:     26px !default;

$base-spacing-unit:    2rem; // 32px
$half-spacing-unit:    $base-spacing-unit / 2;
$quarter-spacing-unit: $base-spacing-unit / 4;

$line-height-ratio:    $base-line-height / $base-font-size;


// Colors

$colors: (
	'blue'   #4183c4,
	'green'  #36b725,
	'grey'   #373737,
	'red'    #e65146,
	'yellow' #ffc439
);

// Number of tints for each color.
$tints: 7;

$color-palette: (get_colors_list($colors, $tints)) !default;

$text-color: get_color('black');


// Hyperlink

$link-color:              get_color('blue 1');
$link-decoration:         none;

$link-visited-color:      $link-color;
$link-visited-decoration: none;

$link-hover-color:        $text-color;
$link-hover-decoration:   none;

$base-transition:         background-color 0.16s ease-in-out, 
						  border-color 0.16s ease-in-out, 
						  box-shadow 0.16s ease-in-out, 
						  color 0.16s ease-in-out;


// Blockquote

$blockquote-left-quotation-mark:  '«'; // '“';
$blockquote-right-quotation-mark: '»'; // '”';


// Code

$code-background-color: transparentize(get_color('grey 1'), 0.92);
$code-border-radius:    $quarter-spacing-unit / 2;
$code-font-size: 1em;

$pre-background-color:  transparentize(get_color('grey 1'), 0.95);
$pre-border-radius:     $quarter-spacing-unit / 2;


// Heading

$headings: (
	'h1': 2.5em,  // 40px
	'h2': 2em,    // 32px
	'h3': 1.75em, // 28px
	'h4': 1.5em,  // 24px
	'h5': 1.25em, // 20px
	'h6': 1em     // 16px
) !default;

$heading-line-height: 1.1;


// Buttons

// Se usan los mismo valores para los demas controles de las formas.
$control-border-width: 1px;
$control-border-color: transparent;
$control-line-height:  $line-height-ratio - $quarter-spacing-unit;
$control-padding-y:    rem_to_em($quarter-spacing-unit);
$control-padding-x:    rem_to_em($quarter-spacing-unit + ($quarter-spacing-unit / 2));

$control-transparentize-amount: 0.6;

$button-border-width:  $control-border-width;
$button-border-color:  $control-border-color;
$button-border:        $control-border-width solid $control-border-color;
$button-border-radius: rem_to_em($quarter-spacing-unit / 2);
$button-font-weight:   400;
$button-line-height:   $control-line-height;
$button-padding:       $control-padding-y $control-padding-x;
$button-text-color:    #fff;

$button-hover-background-color-shade-amount: 12%;

// Name, background-color, border-color, text color, 
// gradient background-color top tint amount, 
// gradient background-color bottom shade amount, 
// gradient background-color top hue, 
// gradient background-color top saturation, 
// gradient background-color top lightness, 
// gradient background-color bottom hue, 
// gradient background-color bottom saturation, 
// gradient background-color bottom lightness.
$buttons: (
	'primary'   get_color('blue 1')               $button-border-color $button-text-color 3% 11% -2.5 1.75 0.5 3.25 3.25 3.25,
	'secondary' lighten(get_color('grey 1'), 32%) $button-border-color $button-text-color 3% 11% -2.5 1.75 0.5 3.25 3.25 3.25,
	'success'   get_color('green 1')              $button-border-color $button-text-color 3% 11% -2.5 1.75 0.5 3.25 3.25 3.25,
	'danger'    get_color('red 1')                $button-border-color $button-text-color 3% 11% -2.5 1.75 0.5 3.25 3.25 3.25
);


// Outline buttons

$button-outline-border-transparentize-amount: 0.2;


// Gradient button

$button-gradient-border:  none;
$button-gradient-padding: ($control-padding-y + 0.063) ($control-padding-x + 0.063);


// Small button

$button-small-border-radius: rem_to_em(($quarter-spacing-unit / 2) - 0.063);
$button-small-font-size:     px_to_em($base-font-size - 3);
$button-small-padding:       rem_to_em($quarter-spacing-unit / 2) rem_to_em($half-spacing-unit - 0.25);


// Large button

$button-large-border-radius: rem_to_em($quarter-spacing-unit / 2);
$button-large-font-size:     px_to_em($base-font-size + 4);
$button-large-padding:       rem_to_em($quarter-spacing-unit + 0.25) rem_to_em($half-spacing-unit + 0.5);


// Label

$label-padding: rem_to_em($quarter-spacing-unit / 2) 0;


// Input

$input-border:        $control-border-width solid transparentize(lighten(get_color('grey 1'), 24%), $control-transparentize-amount);
$input-border-radius: $quarter-spacing-unit / 2;
$input-line-height:   $control-line-height;
$input-padding:       $control-padding-y $control-padding-x;

$input-active-border-color: get_color('blue 2');
$input-focus-border-color:  get_color('blue 2');
$input-hover-border-color:  $input-border;


// Tables

$table-heading-font-weight: bold;
$table-heading-text-align:  left;


// ==========================================================================
// Helpers
// ==========================================================================


// Borders

$border-color:  transparentize(get_color('grey 1'), 0.83);
$border-radius: $quarter-spacing-unit / 2;


// Font size

$small-font-size: px_to_em($base-font-size - 3); // 0.813em (13px)
$large-font-size: px_to_em($base-font-size + 4); // 1.25em (20px)


// Highlighting text

$hightlight-border-radius: rem_to_em($half-spacing-unit) 0 rem_to_em($half-spacing-unit) 0;
$hightlight-background:    linear-gradient(-100deg, rgba(get_color('yellow 4'), 0.3), rgba(get_color('yellow 4'), 0.7) 95%, rgba(get_color('yellow 4'), 0.1));


// Drop cap

$dropcap-background-color: transparent;
$dropcap-border:           none;
$dropcap-color:            $text-color;
$dropcap-font-size:        px_to_em($base-font-size * 3.5);
$dropcap-font-style:       normal;
$dropcap-font-weight:      normal;
$dropcap-letter-spacing:   0;
$dropcap-line-height:      0.9;
$dropcap-margin-top:       $quarter-spacing-unit;
$dropcap-margin-right:     $quarter-spacing-unit / 2;
$dropcap-padding:          0;
$dropcap-text-shadow:      none;

$dropcap-width:  auto;
$dropcap-height: auto;

$dropcap-text-align:     left;
$dropcap-vertical-align: bottom;


// Small caps

$smcaps-letter-spacing: 0.125em; // 2px
$smcaps-margin-right:   0.188em; // 3px


// Cantidad de espacios para margins & paddings,
$spacings: 5 !default;

// incrementando cada...
$spacing: 4px !default;


// Porcentajes para widths & heights.
$sizes: (
	10: 10%,
	20: 20%,
	30: 30%,
	40: 40%,
	50: 50%,
	60: 60%,
	70: 70%,
	80: 80%,
	90: 90%,
	100: 100%
) !default;


// ==========================================================================
// Layout
// ==========================================================================


// Flex grid

// Tamaño máximo de anchura del contenedor.
$container-max-width: 1100px;

// Número de columnas.
$grid-columns-number: 12;

// Margen superior e inferior de cada renglón.
$grid-row-margin-bottom: 0;
$grid-row-margin-top:    0;

// Gutter size.
$grid-column-gutter: $half-spacing-unit;

// Grid breakpoints, minimum widths.
$breakpoint-xs-min-width: 0;
$breakpoint-sm-min-width: 768px;
$breakpoint-md-min-width: 1024px;
$breakpoint-lg-min-width: 1280px;
$breakpoint-xl-min-width: 1680px;

$grid-breakpoints: (
	xs: $breakpoint-xs-min-width,
	sm: $breakpoint-sm-min-width,
	md: $breakpoint-md-min-width,
	lg: $breakpoint-lg-min-width,
	xl: $breakpoint-xl-min-width
) !default;


// ==========================================================================
// Components
// ==========================================================================


// Navbar

// Navbar brand

$navbar-brand-font-size: px_to_em($base-font-size + 4); // 1.25em (20px)

