// ==========================================================================
// Elements
// ==========================================================================

$text-color: #333;

$base-font-size: 16px !default;

$base-line-height: 26px !default;

$base-spacing-unit: ($base-line-height + 6);
$half-spacing-unit: $base-spacing-unit / 2;
$quarter-spacing-unit: $base-spacing-unit / 4;

$line-height-ratio: $base-line-height / $base-font-size;

// Convert spacing units to rems.

$base-spacing-unit: px-to-rem($base-spacing-unit); // 2rem (32px)
$half-spacing-unit: px-to-rem($half-spacing-unit); // 1rem (16px)
$quarter-spacing-unit: px-to-rem($quarter-spacing-unit); // 0.5rem (8px)

// Colors

// Name color, hex color, saturare amount.
// $colors: (
// 	'Blue' #2c9ab7 8%,
// 	'Green' #449a88 8%,
// 	'Grey' #373737 0%,
// 	'Red' #db3a1b 8%,
// 	'Yellow' #febe12 8%
// );

$colors: (
	'Blue' #4183c4 0%,
	'Green' #36b725 0%,
	'Grey' #373737 0%,
	'Red' #e65146 0%,
	'Yellow' #ffc439 0%
);

// $colors: (
// 	'Blue' #055ec2 5%,
// 	'Bright blue' #0098d0 5%,
// 	'Green' #00b43c 5%,
// 	'Grey' #4f4f4f 0%,
// 	'Orange' #ff7800 5%,
// 	'Purple' #be2265 5%,
// 	'Red' #fb3840 0%,
// 	'Yellow' #ffb91d 5%
// );

$tints: 6; // Número de tintas por cada color primario.

// Color palette
$color-palette: (
	get-colors-list($colors, $tints)
) !default;

// Hyperlinks

$link-color: get-color('Blue 1');
// $link-color: shade(get-color('Blue 1'), 20%); // #237a91
$link-decoration: none;

$link-visited-color: $link-color;
$link-visited-decoration: none;

$link-hover-color: $text-color;
// $link-hover-color: get-color('Blue 1'); // #2c9ab7
$link-hover-decoration: none;

// Code

$mono-font-family: monospace;

$code-border-radius: $quarter-spacing-unit / 2;
$code-background-color: transparentize(get-color('Grey 1'), 0.92);
$code-font-size: 1em;

$pre-background-color: transparentize(get-color('Grey 1'), 0.95);
$pre-border-radius: $quarter-spacing-unit / 2;

// Button

$button-background-color: lighten(get-color('Grey 2'), 6%);
$button-border-color: transparent;
$button-border-width: 1px;
$button-border-radius: rem-to-em($quarter-spacing-unit / 2);
$button-font-weight: 400;
$button-padding: 
	rem-to-em($quarter-spacing-unit) 
	rem-to-em($half-spacing-unit);
$button-text-color: #fff;

$button-hover-background-color-shade-amount: 12%;

// Primary button

$button-primary-background-color: get-color('Blue 1');
$button-primary-text-color: #fff;

// Secondary button

$button-secondary-background-color: lighten(get-color('Grey 7'), 6%);
$button-secondary-text-color: transparentize(get-color('Grey 1'), 0.3);

// Colored buttons

// Success button

$button-success-background-color: get-color('Green 1');
$button-success-border-color: transparent;
$button-success-text-color: #fff;

// Danger button

$button-danger-background-color: get-color('Red 1');
$button-danger-border-color: transparent;
$button-danger-text-color: #fff;

// Outline button

$button-outline-background-color: transparent;
$button-outline-border-color: get-color('Grey 3');
$button-outline-text-color: get-color('Grey 3');

$button-hover-background-color-transparentize-amount: 0.9;

// Outline primary button

$button-primary-outline-background-color: transparent;
$button-primary-outline-border-color: get-color('Blue 2');
$button-primary-outline-text-color: get-color('Blue 2');

// Outline success button

$button-success-outline-background-color: transparent;
$button-success-outline-border-color: get-color('Green 2');
$button-success-outline-text-color: get-color('Green 2');

// Outline danger button

$button-danger-outline-background-color: transparent;
$button-danger-outline-border-color: get-color('Red 2');
$button-danger-outline-text-color: get-color('Red 2');

// Link button

$button-link-hover-background-color: $button-secondary-background-color;
$button-link-hover-border-color: transparent;

// Gradient button

$button-gradient-background-color-top-tint-amount: 3%;
$button-gradient-background-color-bottom-shade-amount: 11%;

$button-gradient-background-color-top-hue: -2.5;
$button-gradient-background-color-top-saturation: 1.75;
$button-gradient-background-color-top-lightness: 0.5;

$button-gradient-background-color-bottom-hue: 3.25;
$button-gradient-background-color-bottom-saturation: 3.25;
$button-gradient-background-color-bottom-lightness: 3.25;

// Small button

$button-small-border-radius: 
	rem-to-em(($quarter-spacing-unit / 2) - 0.063);
$button-small-font-size: 
	px-to-em($base-font-size - 3);
$button-small-padding: 
	rem-to-em($quarter-spacing-unit / 2) 
	rem-to-em($half-spacing-unit - 0.25);

// Large button

$button-large-border-radius: 
	rem-to-em($quarter-spacing-unit / 2);
$button-large-font-size: 
	px-to-em($base-font-size + 4);
$button-large-padding: 
	rem-to-em($quarter-spacing-unit + 0.25) 
	rem-to-em($half-spacing-unit + 0.5);


// Forms

// Input

$input-border: 2px solid get-color('Grey 7');
$input-border-radius: $quarter-spacing-unit / 2;

$input-padding-x: rem-to-em($quarter-spacing-unit);
$input-padding-y: rem-to-em($quarter-spacing-unit / 2);

$input-active-border-color: get-color('Blue 2');
$input-focus-border-color: get-color('Blue 2');
$input-hover-border-color: get-color('Grey 4');


// Headings

$headings-sizes: (
	'h1': $base-font-size * 2.5, // 2.5em (40px)
	'h2': $base-font-size * 2, // 2em (32px)
	'h3': $base-font-size * 1.75, // 1.75em (28px)
	'h4': $base-font-size * 1.5, // 1.5em (24px)
	'h5': $base-font-size * 1.25, // 1.25em (20px)
	'h6': $base-font-size // 1em (16px)
) !default;
$heading-line-height: 1.1;


// Tables

$table-heading-font-weight: bold;
$table-heading-text-align: left;


// ==========================================================================
// Helpers
// ==========================================================================

// Borders

$border-color: transparentize(get-color('Grey 1'), 0.83);
$border-radius: $quarter-spacing-unit / 2;

// Drop caps

$dropcap-background-color: transparent;
$dropcap-border: none;
$dropcap-color: get-color('Blue 1');

$dropcap-font-size: px-to-em($base-font-size * 3.5);
$dropcap-font-style: normal;
$dropcap-font-weight: normal;

$dropcap-letter-spacing: 0;
$dropcap-line-height: 0.9;

$dropcap-margin-top: 0;
$dropcap-margin-right: $quarter-spacing-unit;
$dropcap-padding: 0;

$dropcap-text-shadow: none;

$dropcap-width: auto;
$dropcap-height: auto;

$dropcap-text-align: left;
$dropcap-vertical-align: bottom;

// $dropcap-background-color: get-color('Blue 1');
// $dropcap-border: none;
// $dropcap-color: get-color('White');

// $dropcap-font-size: px-to-em($base-font-size * 2.5);
// $dropcap-font-style: normal;
// $dropcap-font-weight: bold;

// $dropcap-letter-spacing: 0.075em; // 1px
// $dropcap-line-height: 0.9;

// $dropcap-margin-top: $quarter-spacing-unit;
// $dropcap-margin-right: $quarter-spacing-unit;
// $dropcap-padding: $quarter-spacing-unit / 4;

// $dropcap-text-shadow: none;

// $dropcap-width: px-to-em($base-font-size);
// $dropcap-height: px-to-em($base-font-size);

// $dropcap-text-align: center;
// $dropcap-vertical-align: bottom;


// Small caps

$smcaps-letter-spacing: 0.125em; // 2px
$smcaps-margin-right: 0.188em; // 3px

// Font size

$small-font-size: px-to-rem($base-font-size - 3); // 0.813em (13px) // 80%;
$large-font-size: px-to-rem($base-font-size + 4); // 1.25em (20px) // 120%;

// Cantidad de espacios para margins & paddings,
$spacings: 5 !default;

// incrementando cada...
$spacing: 4px !default;

// Porcentajes para widths & heights.
$sizes: (
	10: 10%,
	20: 20%,
	30: 30%,
	40: 40%,
	50: 50%,
	60: 60%,
	70: 70%,
	80: 80%,
	90: 90%,
	100: 100%
) !default;


// ==========================================================================
// Layout
// ==========================================================================

// Flex grid

// Tamaño máximo de anchura del contenedor.
$container-max-width: 1100px;

// Número de columnas.
$grid-columns-number: 12;

// Margen superior e inferior de cada renglón.
$grid-row-margin-bottom: 0;
$grid-row-margin-top: 0;

// Margen del lado izquierdo y derecho de cada columna.
$grid-column-gutter: 16px;

// Grid breakpoints, minimun widths.
$grid-breakpoints: (
	xs: 0,
	sm: 768px,
	md: 1024px,
	lg: 1280px,
	xl: 1680px
) !default;

$breakpoint-xs-min-width: 0 !default;
$breakpoint-sm-min-width: 768px !default;
$breakpoint-md-min-width: 1024px !default;
$breakpoint-lg-min-width: 1280px !default;
$breakpoint-xl-min-width: 1680px !default;
