// ==========================================================================
// Variables
// ==========================================================================

// Primary colors

$primary-colors: (
	'Primary': #2c9ab7,
	'Secondary': #373737,
	'Success': #449a88,
	'Danger': #db3a1b,
	'Warning': #febe12,
);

// Slightly lighten a color.
@function tint($color, $percentage) {
  	@return mix(white, $color, $percentage);
}

$tints: 3; // Número de tintas por cada color primario.
$colors-list: 'black' #000, 'white' #fff;

// Generar la lista completa de colores.
@each $name, $hex in $primary-colors {
	@for $tint from 1 to $tints + 2 {
		@if $tint == 1 {
			$colors-list: append($colors-list, '#{$name} #{$tint}' $hex, comma);
		} @else {
			$colors-list: append($colors-list, '#{$name} #{$tint}' tint($hex, percentage(1 - ((100 / $tint) / 100))), comma);
		}
	}
}

// Color palette

$colors: (
	$colors-list
) !default;

// @debug $colors;

// Get one color from the list.
@function get-color($color) {
	@each $c in $colors {
		@if nth($c, 1) == $color {
			@return nth($c, 2);
		}
	}
	@return unquote('#000');
}

// Body

$spacing-unit: 32px;

// $text-color: $color-gray-4;
$text-color: get-color('Secondary 1');

$base-font-size: 16px;
$base-line-height: 1.5;
$base-border-radius: 4px;

// Borders

$border-color: transparentize(get-color('Secondary 1'), 0.85);

// Hyperlinks

$link-color: get-color('Primary 1');
$link-decoration: none;

$link-visited-color: $link-color;
$link-visited-decoration: none;

$link-hover-color: $text-color;
$link-hover-decoration: none;

// Buttons

$button-background-color: lighten(get-color('Secondary 1'), 65%);
$button-border-color: transparent;
$button-border-width: 2px;
$button-font-weight: 500;
$button-text-color: lighten($text-color, 15%);

$button-padding: 0.5em 1em;

// $button-focus-shadow: 0 0 0 2px transparentize($link-color, 0.85);

$button-hover-background-color: darken($button-background-color, 5%);
$button-hover-border-color: transparent;
$button-hover-text-color: $button-text-color;

// Primary buttons

$button-primary-background-color: $link-color;
$button-primary-border-color: transparent;
$button-primary-text-color: #fff;

$button-primary-hover-background-color: darken($button-primary-background-color, 5%);
$button-primary-hover-border-color: $button-primary-border-color;

// Outline buttons

$button-outline-background-color: transparent;
$button-outline-border-color: $button-background-color;
$button-outline-text-color: $button-text-color;

$button-outline-hover-border-color: transparent;
$button-outline-hover-text-color: $button-text-color;

$button-primary-outline-background-color: transparent;
$button-primary-outline-border-color: get-color('Primary 3');
$button-primary-outline-text-color: $button-primary-background-color;

$button-primary-outline-hover-background-color: $button-primary-background-color;
$button-primary-outline-hover-text-color: $button-primary-text-color;

// Link buttons

$button-link-hover-background-color: $button-background-color;
$button-link-hover-border-color: transparent;

// ==========================================================================

$spacings: 5 !default;
$spacing: 4px !default;

$sizes: (
	10: 10%,
	20: 20%,
	30: 30%,
	40: 40%,
	50: 50%,
	60: 60%,
	70: 70%,
	80: 80%,
	90: 90%,
	100: 100%
) !default;

// ==========================================================================

// Grid

// Número de columnas.
$grid-columns-number: 12;

// Margen del lado izquierdo y derecho de cada columna.
$grid-column-gutter: 16px;

// Espacio inferior de cada renglón.
$grid-row-bottom-space: 16px;

$breakpoint-xs-min-width: 0 !default;
$breakpoint-sm-min-width: 768px !default;
$breakpoint-md-min-width: 1024px !default;
$breakpoint-lg-min-width: 1280px !default;
$breakpoint-xl-min-width: 1680px !default;
