// ==========================================================================
// Variables
// ==========================================================================

// Color palette

$color-cyan-1: #b1e0ec;
$color-cyan-2: #6dc5dc;
$color-cyan-3: #52bad5;
$color-cyan-4: #2c9ab7;

$color-gray-1: #f2f2f2;
$color-gray-2: #b7b7b7;
$color-gray-3: #5d5c5d;
$color-gray-4: #373737;

$color-teal-1: #c5e5de;
$color-teal-2: #95d1c4;
$color-teal-3: #72c1b0;
$color-teal-4: #449a88;

$color-red-1: #f5b7ab;
$color-red-2: #ee836e;
$color-red-3: #e85c41;
$color-red-4: #db3a1b;

$color-yellow-1: #ffe8aa;
$color-yellow-2: #fede88;
$color-yellow-3: #fed156;
$color-yellow-4: #febe12;

// Body

$spacing-unit: 32px;

$text-color: $color-gray-4;

$base-font-size: 16px;
$base-line-height: 1.5;
$base-border-radius: 4px;

// Borders

$border-color: $color-gray-2;

// Hyperlinks

$link-color: $color-cyan-4;
$link-decoration: none;

$link-visited-color: $link-color;
$link-visited-decoration: $link-decoration;

$link-hover-color: $text-color;
$link-hover-decoration: $link-decoration;

// Buttons

$button-background-color: transparentize($color-gray-4, 0.84);
$button-border-color: transparent;
$button-text-color: $text-color;

$button-padding: 0.5em 1em;

// $button-focus-shadow: 0 0 0 2px transparentize($link-color, 0.85);

$button-hover-background-color: transparentize($color-gray-4, 0.76); // 0.78?
$button-hover-border-color: transparent;

// Primary buttons

$button-primary-background-color: $link-color;
$button-primary-border-color: transparent;
$button-primary-text-color: #fff;

$button-primary-hover-background-color: darken($link-color, 5%);
$button-primary-hover-border-color: $button-primary-border-color;

// Outline buttons

$button-outline-background-color: transparent;

$button-outline-border-color: transparentize($color-gray-4, 0.76);
$button-outline-border-top: 1px solid $button-outline-border-color;
$button-outline-border-right: 1px solid $button-outline-border-color;
$button-outline-border-bottom: 1px solid $button-outline-border-color;
$button-outline-border-left: 1px solid $button-outline-border-color;

$button-outline-text-color: $text-color;

$button-outline-hover-background-color: $button-hover-background-color;
$button-outline-hover-border-color: transparent;

$button-outline-hover-text-color: $text-color;

$button-primary-outline-border-color: transparentize($button-primary-background-color, 0.76);

// Link buttons

$button-link-hover-background-color: $button-background-color;
$button-link-hover-border-color: transparent;

// ==========================================================================

$spacings: 5 !default;
$spacing: 4px !default;

$sizes: (
	10: 10%,
	20: 20%,
	30: 30%,
	40: 40%,
	50: 50%,
	60: 60%,
	70: 70%,
	80: 80%,
	90: 90%,
	100: 100%
) !default;

// ==========================================================================

// Grid

// Número de columnas.
$grid-columns-number: 12;

// Margen del lado izquierdo y derecho de cada columna.
$grid-column-gutter: 16px;

// Espacio inferior de cada renglón.
$grid-row-bottom-space: 16px;

$breakpoint-xs-min-width: 0 !default;
$breakpoint-sm-min-width: 768px !default;
$breakpoint-md-min-width: 1024px !default;
$breakpoint-lg-min-width: 1280px !default;
$breakpoint-xl-min-width: 1680px !default;
