// Variables


// ==========================================================================
// Elements
// ==========================================================================


// Content

// Base font size and line-height.

$base-font-family:     -apple-system, 
                       BlinkMacSystemFont, 
                       'Segoe UI', 
                       Roboto, 
                       Oxygen-Sans, 
                       Ubuntu, 
                       Cantarell, 
                       'Helvetica Neue', 
                       sans-serif;

$base-font-size:       16px !default;
$small-font-size:      px_to_em($base-font-size - 4); // 0.750em (12px)
$large-font-size:      px_to_em($base-font-size + 4); // 1.250em (20px)

$base-line-height:     25px !default;

$base-spacing-unit:    2rem; // 32px
$half-spacing-unit:    $base-spacing-unit / 2; // 1.0rem (16px)
$quarter-spacing-unit: $base-spacing-unit / 4; // 0.5rem  (8px)

$line-height-ratio:    $base-line-height / $base-font-size;


// Colors

$colors: (
	'blue'   #3a8bbb,
	'green'  #3ebc7d,
	'grey'   #333,
	'red'    #e75828,
	'yellow' #ffa53a
);

// Number of tints for each color.
$tints: 7;

$color-palette: (get_colors_list($colors, $tints)) !default;

$text-color: get_color('grey 1');


// Transition

$base-transition: background-color 0.16s ease-in-out, 
                  border-color 0.16s ease-in-out, 
                  border-width 0.16s ease-in-out, 
                  box-shadow 0.16s ease-in-out, 
                  color 0.16s ease-in-out;


// Hyperlink

$link-color:              get_color('blue 1');
$link-decoration:         none;

$link-visited-color:      $link-color;
$link-visited-decoration: none;

$link-hover-color:        $text-color;
$link-hover-decoration:   none;


// Blockquote

$blockquote-left-quotation-mark:  '«'; // '“';
$blockquote-right-quotation-mark: '»'; // '”';


// Code

$code-background-color: transparentize(get_color('grey 1'), 0.92);
$code-border-radius:    $quarter-spacing-unit / 2;
$code-font-size: 1em;

$pre-background-color:  transparentize(get_color('grey 1'), 0.95);
$pre-border-radius:     $quarter-spacing-unit / 2;


// Heading

$headings: (
	'h1': 2.5em,  // 40px
	'h2': 2em,    // 32px
	'h3': 1.75em, // 28px
	'h4': 1.5em,  // 24px
	'h5': 1.25em, // 20px
	'h6': 1em     // 16px
) !default;

$heading-line-height: 1.1;


// Se usan los mismo valores para los demas controles de las formas.

$control-transparentize-amount: 0.6;

$control-border-width:  1px;
$control-border-style:  solid;
$control-border-color:  transparentize(tint(get_color('grey 1'), 24%), $control-transparentize-amount);
$control-border-radius: rem_to_em($quarter-spacing-unit / 2);
$control-line-height:   $line-height-ratio - $quarter-spacing-unit;
$control-padding-y:     rem_to_em($quarter-spacing-unit);
$control-padding-x:     rem_to_em($half-spacing-unit - 0.375);


// Buttons

$button-background-color: tint(get_color('grey 1'), 90%);
$button-border:           $control-border-width $control-border-style transparent;
$button-border-radius:    $control-border-radius;
$button-font-size:        $base-font-size;
$button-font-weight:      400;
$button-line-height:      $control-line-height;
$button-padding:          $control-padding-y $control-padding-x;
$button-text-color:       #fff;

$button-hover-background-color-shade-amount:  12%;
$button-active-background-color-shade-amount: 20%;

// Estilos de los botones:
// 1.  Name, 2. background-color, 3. border-color, 4. text color. 
// Para los botones con gradiente:
// 5.  Gradient background-color top tint amount, 
// 6.  gradient background-color bottom shade amount, 
// 7.  gradient background-color top hue, 
// 8.  gradient background-color top saturation, 
// 9.  gradient background-color top lightness, 
// 10. gradient background-color bottom hue, 
// 11. gradient background-color bottom saturation, 
// 12. gradient background-color bottom lightness.
$buttons: (
	'primary'   get_color('blue 1')            transparent $button-text-color 3% 11% -2.5 1.75 0.5 3.25 3.25 3.25,
	'secondary' tint(get_color('grey 1'), 40%) transparent $button-text-color 3% 11% -2.5 1.75 0.5 3.25 3.25 3.25,
	'success'   get_color('green 1')           transparent $button-text-color 3% 11% -2.5 1.75 0.5 3.25 3.25 3.25,
	'danger'    get_color('red 1')             transparent $button-text-color 3% 11% -2.5 1.75 0.5 3.25 3.25 3.25
);


// Outline button

$button-outline-border-transparentize-amount: 0.2;


// Disabled button

$button-disabled-opacity: 0.6;


// Gradient button

$button-gradient-border:   none;
$button-gradient-padding: ($control-padding-y + 0.063) ($control-padding-x + 0.063);


// Small button

$button-small-border-radius:     $control-border-radius;
$button-small-font-size:         $small-font-size;
$button-small-padding-y:         $control-padding-y / 2;
$button-small-padding-x:         $control-padding-x;

$button-small-gradient-padding: ($button-small-padding-y + 0.063) ($button-small-padding-x + 0.063);


// Large button

$button-large-border-radius:     $control-border-radius;
$button-large-font-size:         $large-font-size;
$button-large-padding-y:         $control-padding-y + 0.25;
$button-large-padding-x:         $control-padding-x + 0.25;

$button-large-gradient-padding: ($button-large-padding-y + 0.063) ($button-large-padding-x + 0.063);


// Label

$label-font-size: px_to_em($base-font-size);
$label-padding:   ($control-padding-y / 2) 0;


// Input

$input-background-color:     transparent;
$input-border-width:         $control-border-width;
$input-border-style:         $control-border-style;
$input-border-color:         $control-border-color;
$input-border:               $input-border-width $input-border-style $input-border-color;
$input-border-radius:        $control-border-radius;
$input-font-size:            $base-font-size;
$input-line-height:          $control-line-height;
$input-padding:              $control-padding-y $control-padding-x;

$input-active-border-color:  get_color('blue 2');
$input-focus-border-color:   get_color('blue 2');
$input-focus-border-width:   $control-border-width;
$input-hover-border-color:   $input-border-color;
$input-invalid-border-color: get_color('red 2');
$input-valid-border-color:   $input-border-color;

$input-small-border-radius:  $control-border-radius;
$input-small-font-size:      $small-font-size;
$input-small-padding-y:      $control-padding-y / 2;
$input-small-padding-x:      $control-padding-x;
 
$input-large-border-radius:  $control-border-radius;
$input-large-font-size:      $large-font-size;
$input-large-padding-y:      $control-padding-y + 0.25;
$input-large-padding-x:      $control-padding-x + 0.25;


// File area

$file-area-padding:                6.25em rem_to_em($half-spacing-unit);
$file-area-background-color:       transparentize(get_color('grey 1'), 0.95);

$file-area-focus-background-color: transparentize(get_color('grey 1'), 0.92);
$file-area-hover-background-color: transparentize(get_color('grey 1'), 0.92);
$file-area-valid-background-color: transparentize(get_color('blue 1'), 0.92);


// Select menu

$select-background-color:         transparent;
$select-border:                   $control-border-width $control-border-style $control-border-color;
$select-border-radius:            $control-border-radius;
$select-font-size:                $base-font-size;
$select-line-height:              $control-line-height;
$select-padding:                  $control-padding-y $control-padding-x;

$select-focus-border-color:       get_color('blue 2');
$select-focus-border-width:       $control-border-width;

$select-small-border-radius:      $control-border-radius;
$select-small-font-size:          $small-font-size;
$select-small-padding-y:          $control-padding-y / 2;
$select-small-padding-x:          $control-padding-x;

$select-large-border-radius:      $control-border-radius;
$select-large-font-size:          $large-font-size;
$select-large-padding-y:          0.575em;
$select-large-padding-x:          $control-padding-x + 0.25;

// Select menu arrow icon.
// Se habilita si se agrega la url del icono, se recomienda en formato svg.
$select-background-image:         none;
$select-focus-background-image:   none;

$select-background-position:      calc(100% - #{rem_to_em($quarter-spacing-unit / 2)}) center;
$select-background-size:          rem_to_em($base-spacing-unit);
$select-margin-right:             rem_to_em($half-spacing-unit);

// Pure CSS select menu icon.
$select-icon-border:              0.125em solid get_color('grey 1');
$select-icon-margin-top:         -0.438em;
$select-icon-width:               rem_to_em($quarter-spacing-unit);
$select-icon-height:              rem_to_em($quarter-spacing-unit);
$select-icon-top:                 50%;
$select-icon-right:               rem_to_em($half-spacing-unit);
$select-icon-transform:           rotate(-45deg);
$select-icon-padding-right:       $select-icon-width + ($select-icon-right * 1.8);

$select-icon-small-width:         $select-icon-width / 1.5;
$select-icon-small-height:        $select-icon-height / 1.5;
$select-icon-small-margin-top:    $select-icon-margin-top / 1.5;
$select-icon-small-right:         $select-icon-right - 0.25;
$select-icon-small-padding-right: $select-icon-small-width + ($select-icon-small-right * 2.5);

$select-icon-large-width:         $select-icon-width * 1.5;
$select-icon-large-height:        $select-icon-height * 1.5;
$select-icon-large-margin-top:    $select-icon-margin-top * 1.5;
$select-icon-large-right:         $select-icon-right + 0.25;
$select-icon-large-padding-right: $select-icon-large-width + ($select-icon-large-right * 1.4);


// Switch

$switch-height:                     px_to_em($base-font-size) + ($control-padding-y * 2) + 0.188;
$switch-width:                      $switch-height * 2;

$switch-background-color:           $control-border-color;
$switch-border:                     none;
$switch-border-radius:              $switch-height / 2;
$switch-box-shadow:                 inset 0 0.063em 0.063em rgba(0, 0, 0, 0.1);

$switch-toggle-background-color:    #fff;
$switch-toggle-border-radius:       $switch-height / 2;
$switch-toggle-box-shadow:          0 0.063em 0.125em rgba(0, 0, 0, 0.1), 
                                    0 0.063em 0.125em rgba(0, 0, 0, 0.1), 
                                    0 0.063em 0.250em rgba(0, 0, 0, 0.1), 
                                    0 0.063em 0.125em rgba(0, 0, 0, 0.1);
$switch-toggle-width:               $switch-height - rem_to_em($quarter-spacing-unit + 0.313);
$switch-toggle-height:              $switch-height - rem_to_em($quarter-spacing-unit + 0.313);
$switch-toggle-top:                 50%;
$switch-toggle-left:                rem_to_em($quarter-spacing-unit);

$switch-checked-background-color:   get_color('blue 1');
$switch-checked-toggle-left:        $switch-width - $switch-height + 0.313;

$switch-transition:                 0.20s cubic-bezier(0.25, 0, 0.5, 1);
$switch-toggle-transition:          0.32s cubic-bezier(0.55, 1.5, 0.5, 1);
$switch-checked-transition:         width 0.2s cubic-bezier(0, 0, 0, 0.1);

$switch-small-height:               $switch-height / 1.4;
$switch-small-width:                $switch-small-height * 2;
$switch-small-border-radius:        $switch-small-height / 2;
$switch-small-toggle-border-radius: $switch-small-height * 2;

$switch-small-toggle-width:         $switch-small-height - rem_to_em($quarter-spacing-unit + 0.188);
$switch-small-toggle-height:        $switch-small-height - rem_to_em($quarter-spacing-unit + 0.188);
$switch-small-toggle-left:          rem_to_em($quarter-spacing-unit - 0.063);

$switch-small-checked-toggle-left:  $switch-small-width - $switch-small-height + 0.25;

$switch-large-height:               $switch-height * 1.4856;
$switch-large-width:                $switch-large-height * 2;
$switch-large-border-radius:        $switch-large-height / 2;

$switch-large-toggle-border-radius: $switch-large-height * 2;
$switch-large-toggle-width:         $switch-large-height - rem_to_em($quarter-spacing-unit + 0.375);
$switch-large-toggle-height:        $switch-large-height - rem_to_em($quarter-spacing-unit + 0.375);
$switch-large-toggle-left:          rem_to_em($quarter-spacing-unit + 0.063);

$switch-large-checked-toggle-left:  $switch-large-width - $switch-large-height + 0.375;


// Tables

$table-heading-font-weight: bold;
$table-heading-text-align:  left;

$table-striped-background-color: transparentize(get_color('grey 1'), 0.95);


// ==========================================================================
// Helpers
// ==========================================================================


// Borders

$border-width:  1px;
$border-style:  solid;
$border-color:  transparentize(get_color('grey 1'), 0.87);
$border-radius: $quarter-spacing-unit / 2;

// Sides:
// Side, first corner, second corner.
$sides: (
	'top'    'top-right'    'top-left',
	'right'  'top-right'    'bottom-right',
	'bottom' 'bottom-right' 'bottom-left',
	'left'   'top-left'     'bottom-left'
);


// Highlighting text

$hightlight-border-radius: rem_to_em($half-spacing-unit) 0 rem_to_em($half-spacing-unit) 0;
$hightlight-background:    linear-gradient(-100deg, rgba(get_color('yellow 4'), 0.3), 
                                                    rgba(get_color('yellow 4'), 0.7) 95%, 
                                                    rgba(get_color('yellow 4'), 0.1));


// Drop cap

$dropcap-background-color: transparent;
$dropcap-border:           none;
$dropcap-color:            $text-color;
$dropcap-font-size:        px_to_em($base-font-size * 3.5);
$dropcap-font-style:       normal;
$dropcap-font-weight:      normal;
$dropcap-letter-spacing:   0;
$dropcap-line-height:      0.75;
$dropcap-margin-top:       $quarter-spacing-unit / 1.25;
$dropcap-margin-right:     $quarter-spacing-unit / 2;
$dropcap-padding:          0;
$dropcap-text-shadow:      none;

$dropcap-width:  auto;
$dropcap-height: auto;

$dropcap-text-align:     left;
$dropcap-vertical-align: bottom;


// Small caps

$smcaps-letter-spacing: 0.125em; // 2px
$smcaps-margin-right:   0.188em; // 3px


// Hiding

$hiding-important: !important;


// Sizing

// Porcentajes para widths & heights.
$sizes: (
	10:  10%,
	20:  20%,
	30:  30%,
	40:  40%,
	50:  50%,
	60:  60%,
	70:  70%,
	80:  80%,
	90:  90%,
	100: 100%
) !default;


// Spacing

// Cantidad de espacios para margins & paddings,
$spacings:          20 !default;

// incrementando cada espacio por...
$spacing:           0.25em !default;

$spacing-important: !important;


// ==========================================================================
// Layout
// ==========================================================================


// Flex grid

// Tamaño máximo de anchura del contenedor.
$container-max-width: 1100px;

// Número de columnas.
$grid-columns-number: 12;

// Grid breakpoints, minimum widths.
$breakpoint-xs-min-width: 0;
$breakpoint-sm-min-width: 768px;
$breakpoint-md-min-width: 1024px;
$breakpoint-lg-min-width: 1280px;
$breakpoint-xl-min-width: 1680px;

$grid-breakpoints: (
	xs: $breakpoint-xs-min-width,
	sm: $breakpoint-sm-min-width,
	md: $breakpoint-md-min-width,
	lg: $breakpoint-lg-min-width,
	xl: $breakpoint-xl-min-width
) !default;

// Gutter normal width.
$gutter-width: $half-spacing-unit !default;

$gutters: (
	0:  0,
	05: 0.5,
	1:  1,
	15: 1.5,
	2:  2
) !default;


// ==========================================================================
// Components
// ==========================================================================


// Cards

$card-padding:          $half-spacing-unit;
$card-box-shadow:       0 0.063em 0.063em rgba(0, 0, 0, 0.1);
$card-hover-box-shadow: 0 0.063em $half-spacing-unit rgba(0, 0, 0, 0.15);


// Navbar

// Navbar brand

$navbar-background-color:    #fff;
$navbar-brand-font-size:     $large-font-size;

$navbar-collapse-transition: max-height 0.2s cubic-bezier(0, 0, 0, 0.1), 
                             opacity 0.2s cubic-bezier(0.25, 0, 0.5, 1), 
                             transform 0.32s cubic-bezier(0.55, 1.75, 0.5, 1.25), 
                             z-index 0.2s ease-in-out;

