@import '_functions';
@import '_mixins';
@import '_variables';

/* ========================================================================== */

* {
	margin: 0;
	padding: 0;
}

body {
	color: $text-color;
	font-size: $base-font-size;
	line-height: $line-height-ratio;
}

a {
	color: $link-color;
	text-decoration: $link-decoration;

	&:visited {
		color: $link-visited-color;
	}

	&:hover {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
}

@each $heading, $size in $headings-sizes {
	#{$heading} {
		font-size: px-to-em($size);
		line-height: $heading-line-height;

		&:not(.first-child) {
			margin-top: px-to-rem($size) + 0.25;
		}
	}
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
	margin-bottom: $half-spacing-unit;
}

b,
strong {
	font-weight: 700;
}

img {
	max-width: 100%;
}

blockquote {
	border-left: 0.313rem solid $border-color;
	padding: 0 0 0 calc(1.5rem - 0.313rem);

	p {
		font-size: 1.125em;
		font-weight: 500;

		&:after {
			content: '”';
		}

		&:before {
			content: '“';
		}
	}
}

figure {
	margin-left: 0;
	margin-right: 0;

	img {
		margin: 0;
	}

	figcaption {
		font-size: $small-font-size;
		font-style: italic;
		text-align: center;
	}

	code {
		background-color: none;
		padding: 0;
	}
}

pre, code {
	font-family: $mono-font-family;
	font-weight: normal;
}

pre {
	background-color: $pre-background-color;
	border-radius: $pre-border-radius;
	overflow-x: auto;
	padding: $quarter-spacing-unit $half-spacing-unit;

	code {
		background-color: transparent;
	}
}

code {
	background-color: $code-background-color;
	border-radius: $code-border-radius;
	font-size: $code-font-size;
	padding: $quarter-spacing-unit / 2;

	// textarea {
	// 	background: #eee;
	// 	// border: 1px solid $color-gray-4;
	// 	font-size: 0.9em;
	// 	padding: 0.5rem 1rem;
	// 	white-space: pre-wrap;

	// 	width: 100%;
	// 	height: 100%;
	// 	min-height: 150px;
	// }
}

small {
	font-size: $small-font-size;
}

/* ========================================================================== */

/***
 * Buttons:
 */

/**
 * Button:
 * `.btn`
 *
 *     @example
 *     a.btn Button
 */
.btn {
	background-color: $button-background-color;
	border: $button-border-width solid $button-border-color;
	border-radius: $button-border-radius;
	color: $button-text-color;
	display: inline-block;
	font-size: $base-font-size;
	font-weight: $button-font-weight;
	line-height: $base-line-height;
	padding: $button-padding;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;

	-moz-appearance: none;
	-webkit-appearance: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	// &:focus {
	// 	-webkit-box-shadow: $button-focus-shadow;
	// 	-moz-box-shadow: $button-focus-shadow;
	// 	box-shadow: $button-focus-shadow;
	// }

	&:hover {
		background-color: 
			shade(
				$button-background-color, 
				$button-hover-background-color-shade-amount
			);
		color: $button-text-color;
	}
}

/**
 * Primary button:
 * `.btn--primary`
 *
 *     @example
 *     a.btn.btn--primary Primary button
 */
.btn--primary {
	background-color: $button-primary-background-color;
	color: $button-primary-text-color;

	&:hover {
		background-color: 
			shade(
				$button-primary-background-color, 
				$button-hover-background-color-shade-amount
			);
		color: $button-primary-text-color;
	}
}

/**
 * Secondary button:
 * `.btn--secondary`
 *
 *     @example
 *     a.btn.btn--secondary Secondary button
 */
.btn--secondary {
	background-color: $button-secondary-background-color;
	color: $button-secondary-text-color;

	&:hover {
		background-color: 
			shade(
				$button-secondary-background-color, 
				$button-hover-background-color-shade-amount
			);
		color: $button-secondary-text-color;
	}
}

/**
 * Colored buttons:
 * `.btn--success` `.btn--danger`
 *
 *     @example
 *     a.btn.btn--success Success button
 *     a.btn.btn--danger Danger button
 */
.btn--success {
	background-color: $button-success-background-color;
	border-color: $button-success-border-color;
	color: $button-success-text-color;

	&:hover {
		background-color: 
			shade(
				$button-success-background-color, 
				$button-hover-background-color-shade-amount
			);
		color: $button-success-text-color;
	}
}

.btn--danger {
	background-color: $button-danger-background-color;
	border-color: $button-danger-border-color;
	color: $button-danger-text-color;

	&:hover {
		background-color: 
			shade(
				$button-danger-background-color, 
				$button-hover-background-color-shade-amount
			);
		color: $button-danger-text-color;
	}
}

/**
 * Outline button:
 * `.btn--outline`
 *
 *     @example
 *     a.btn.btn--outline Outline button
 *     a.btn.btn--primary.btn--outline Primary outline button
 */
.btn--outline {
	background-color: $button-outline-background-color;
	border-color: $button-outline-border-color;
	color: $button-outline-text-color;

	&:hover {
		background-color: 
			transparentize(
				$button-outline-text-color, 
				$button-hover-background-color-transparentize-amount
			);
		border-color: $button-outline-border-color;
		color: $button-outline-text-color;
	}

	&.btn--primary {
		background-color: $button-primary-outline-background-color;
		border-color: $button-primary-outline-border-color;
		color: $button-primary-outline-text-color;

		&:hover {
			background-color: 
				transparentize(
					$button-primary-outline-text-color, 
					$button-hover-background-color-transparentize-amount
				);
			border-color: $button-primary-outline-border-color;
			color: $button-primary-outline-text-color;
		}
	}

	&.btn--success {
		background-color: $button-success-outline-background-color;
		border-color: $button-success-outline-border-color;
		color: $button-success-outline-text-color;

		&:hover {
			background-color: 
				transparentize(
					$button-success-outline-text-color, 
					$button-hover-background-color-transparentize-amount
				);
			border-color: $button-success-outline-border-color;
			color: $button-success-outline-text-color;
		}
	}

	&.btn--danger {
		background-color: $button-danger-outline-background-color;
		border-color: $button-danger-outline-border-color;
		color: $button-danger-outline-text-color;

		&:hover {
			background-color: 
				transparentize(
					$button-danger-outline-text-color, 
					$button-hover-background-color-transparentize-amount
				);
			border-color: $button-danger-outline-border-color;
			color: $button-danger-outline-text-color;
		}
	}
}

/**
 * Link button:
 * `.btn--link`
 *
 *     @example
 *     button.btn.btn--link Link button
 */
.btn--link {
	background-color: transparent;
	border-color: transparent;
	color: $link-color;

	&:hover {
		background-color: $button-link-hover-background-color;
		border-color: $button-link-hover-border-color;
		color: $button-secondary-text-color;
	}
}

/**
 * Pill button:
 * `.btn--pill`
 *
 *     @example
 *     a.btn.btn--pill Pill button
 */
.btn--pill {
	border-radius: 2em;

	&.btn--sm,
	&.btn--lg {
		@extend .btn--pill;
	}
}

/**
 * Gradient button:
 * `.btn--gradient`
 *
 *     @example
 *     a.btn.btn--gradient Gradient button
 *     a.btn.btn--primary.btn--gradient Gradient button
 *     a.btn.btn--success.btn--gradient Gradient button
 */
.btn--gradient {
	border: none;

	$button-gradient-background-color-top: 
		tint(
			$button-background-color, 
			$button-gradient-background-color-top-tint-amount
		);
	$button-gradient-background-color-bottom: 
		shade(
			$button-background-color, 
			$button-gradient-background-color-bottom-shade-amount
		);

	@include button-bg-gradient(
		$button-gradient-background-color-top, 
		$button-gradient-background-color-bottom
	);

	&:hover {
		@include button-bg-gradient(
			shade(
				$button-gradient-background-color-top, 
				$button-hover-background-color-shade-amount
			), 
			shade(
				$button-gradient-background-color-bottom, 
				$button-hover-background-color-shade-amount
			)
		);
	}

	&.btn--primary {
		$button-primary-gradient-background-color-top: 
			tint(
				$button-primary-background-color, 
				$button-gradient-background-color-top-tint-amount
			);
		$button-primary-gradient-background-color-bottom: 
			shade(
				$button-primary-background-color, 
				$button-gradient-background-color-bottom-shade-amount
			);

		$button-gradient-background-color-top-hsl: 
			hsl(
				hue($button-primary-gradient-background-color-top) + $button-gradient-background-color-top-hue, 
				saturation($button-primary-gradient-background-color-top) + $button-gradient-background-color-top-saturation, 
				lightness($button-primary-gradient-background-color-top) + $button-gradient-background-color-top-lightness
			);
		$button-gradient-background-color-bottom-hsl: 
			hsl(
				hue($button-primary-gradient-background-color-bottom) + $button-gradient-background-color-bottom-hue,  
				saturation($button-primary-gradient-background-color-bottom) + $button-gradient-background-color-bottom-saturation, 
				lightness($button-primary-gradient-background-color-bottom) + $button-gradient-background-color-bottom-lightness
			);

		@include button-bg-gradient(
			$button-gradient-background-color-top-hsl,
			$button-gradient-background-color-bottom-hsl
		);

		&:hover {
			@include button-bg-gradient(
				shade(
					$button-gradient-background-color-top-hsl, 
					$button-hover-background-color-shade-amount
				), 
				shade(
					$button-gradient-background-color-bottom-hsl, 
					$button-hover-background-color-shade-amount
				)
			);
		}
	}

	&.btn--secondary {
		$button-secondary-gradient-background-color-top: 
			tint(
				$button-secondary-background-color, 
				$button-gradient-background-color-top-tint-amount
			);
		$button-secondary-gradient-background-color-bottom: 
			shade(
				$button-secondary-background-color, 
				$button-gradient-background-color-bottom-shade-amount
			);

		@include button-bg-gradient(
			$button-secondary-gradient-background-color-top, 
			$button-secondary-gradient-background-color-bottom
		);

		&:hover {
			@include button-bg-gradient(
				shade(
					$button-secondary-gradient-background-color-top, 
					$button-hover-background-color-shade-amount
				), 
				shade(
					$button-secondary-gradient-background-color-bottom, 
					$button-hover-background-color-shade-amount
				)
			);
		}
	}

	&.btn--success {
		$button-success-gradient-background-color-top: 
			tint(
				$button-success-background-color, 
				$button-gradient-background-color-top-tint-amount
			);
		$button-success-gradient-background-color-bottom: 
			shade(
				$button-success-background-color, 
				$button-gradient-background-color-bottom-shade-amount
			);

		$button-gradient-background-color-top-hsl: 
			hsl(
				hue($button-success-gradient-background-color-top) + $button-gradient-background-color-top-hue, 
				saturation($button-success-gradient-background-color-top) + $button-gradient-background-color-top-saturation, 
				lightness($button-success-gradient-background-color-top) + $button-gradient-background-color-top-lightness
			);
		$button-gradient-background-color-bottom-hsl: 
			hsl(
				hue($button-success-gradient-background-color-bottom) + $button-gradient-background-color-bottom-hue,  
				saturation($button-success-gradient-background-color-bottom) + $button-gradient-background-color-bottom-saturation, 
				lightness($button-success-gradient-background-color-bottom) + $button-gradient-background-color-bottom-lightness
			);

		@include button-bg-gradient(
			$button-gradient-background-color-top-hsl, 
			$button-gradient-background-color-bottom-hsl
		);

		&:hover {
			@include button-bg-gradient(
				shade(
					$button-gradient-background-color-top-hsl, 
					$button-hover-background-color-shade-amount
				), 
				shade(
					$button-gradient-background-color-bottom-hsl, 
					$button-hover-background-color-shade-amount
				)
			);
		}
	}

	&.btn--danger {
		$button-danger-gradient-background-color-top: 
			tint(
				$button-danger-background-color, 
				$button-gradient-background-color-top-tint-amount
			);
		$button-danger-gradient-background-color-bottom: 
			shade(
				$button-danger-background-color, 
				$button-gradient-background-color-bottom-shade-amount
			);

		$button-gradient-background-color-top-hsl: 
			hsl(
				hue($button-danger-gradient-background-color-top) + $button-gradient-background-color-top-hue, 
				saturation($button-danger-gradient-background-color-top) + $button-gradient-background-color-top-saturation, 
				lightness($button-danger-gradient-background-color-top) + $button-gradient-background-color-top-lightness
			);
		$button-gradient-background-color-bottom-hsl: 
			hsl(
				hue($button-danger-gradient-background-color-bottom) + $button-gradient-background-color-bottom-hue,  
				saturation($button-danger-gradient-background-color-bottom) + $button-gradient-background-color-bottom-saturation, 
				lightness($button-danger-gradient-background-color-bottom) + $button-gradient-background-color-bottom-lightness
			);

		@include button-bg-gradient(
			$button-gradient-background-color-top-hsl, 
			$button-gradient-background-color-bottom-hsl
		);

		&:hover {
			@include button-bg-gradient(
				shade(
					$button-gradient-background-color-top-hsl, 
					$button-hover-background-color-shade-amount
				), 
				shade(
					$button-gradient-background-color-bottom-hsl, 
					$button-hover-background-color-shade-amount
				)
			);
		}
	}
}

/**
 * Expanded button:
 * `.btn--expanded`
 *
 *     @example
 *     a.btn.btn--primary.btn--lg.btn--expanded Expanded button
 */
.btn--expanded {
	display: block;
	width: 100%;
}

/**
 * Small and large buttons:
 * `.btn--sm` `.btn--lg`
 *
 *     @example
 *     a.btn.btn--primary.btn--sm Small button
 *     a.btn.btn--primary.btn--lg Large button
 */
.btn--sm {
	border-radius: $button-small-border-radius;
	font-size: $button-small-font-size;
	padding: $button-small-padding;
}

.btn--lg {
	border-radius: $button-large-border-radius;
	font-size: $button-large-font-size;
	padding: $button-large-padding;
}

/* ========================================================================== */

/***
 * Forms:
 */

/**
 * Input:
 * `.input`
 *
 *     @example
 *     input(type='text', placeholder='Text input').input
 */
.input {
	border: $input-border;
	border-radius: $input-border-radius;
	font-size: $base-font-size;

	padding: $input-padding-y $input-padding-x;

	width: 100%;

	&:active {
		border-color: $input-active-border-color;
	}

	&:focus {
		border-color: $input-focus-border-color;
	}

	&:hover {
		border-color: $input-hover-border-color;
	}
}

/* ========================================================================== */

/***
 * Lists:
 */

ol, ul {
	list-style-position: outside;
}

ul {
	// border-left: 0.313rem solid $color-cyan-1;
	list-style: disc outside;

	padding-left: $half-spacing-unit * 2.5;

	&:not(last-child) {
		margin-bottom: $half-spacing-unit;
	}
}

 /**
 * Unstyled list:
 * `.lst-unstyled`
 *
 *     @example
 *     ul.lst-unstyled
 *         li Apricot
 *         li Banana
 *         li Cherry
 *             ul
 *                 li Caramel
 *                 li Ice cream
 */
.lst-unstyled {
	list-style: none;
	padding-left: 0;
}

 /**
 * Inline list:
 * `.lst-inline`
 *
 *     @example
 *     ul.lst-inline
 *         li Apricot
 *         li Banana
 *         li Cherry
 */
.lst-inline {
	@extend .lst-unstyled;

	li {
		display: inline-block;

		&:not(:last-child) {
			margin-right: $half-spacing-unit;
		}
	}
}

/* ========================================================================== */

/***
 * Tables:
 */

table {
	border-collapse: collapse;
	margin-bottom: $half-spacing-unit;
	max-width: 100%;
	width: 100%;
}

th {
	text-align: $table-heading-align;
}

/**
 * Table:
 * `.tbl` Tables are styled nicely for you.
 *
 *     @example
 *     table.tbl
 *         thead
 *             tr
 *                 th Table heading
 *                 th Table heading
 *                 th Table heading
 *         tbody
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 */
.tbl {
	// border-spacing: 0;

	tr {
		& + tr {
			th, td {
				border-top: 1px solid $border-color;
			}
		}
	}

	th {
		border-bottom: 2px solid $border-color;
		font-weight: $table-heading-weight;
	}

	th, td {
		padding: $quarter-spacing-unit;
		vertical-align: top;
	}
}

@each $prop, $abbr in (width: tbl-col) {
	@each $size, $length in $sizes {
		@for $i from 1 through length($sizes) {
			$col: $i;
			.#{$abbr}-#{$col}-#{$size} {
				tr th:nth-child(#{$col}),
				tr td:nth-child(#{$col}) {
					#{$prop}: $length;
				}
			}
		}
	}
}

/**
 * Bordered table:
 * `.tbl-bordered`
 *
 *     @example
 *     table.tbl.tbl-bordered
 *         thead
 *             tr
 *                 th Table heading
 *                 th Table heading
 *                 th Table heading
 *         tbody
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 */
.tbl-bordered {
	border: 1px solid $border-color;
}

/**
 * Responsive table:
 * `.tbl-responsive`
 *
 *     @example
 *     table.tbl.tbl-responsive
 *         thead
 *             tr
 *                 th Table heading
 *                 th Table heading
 *                 th Table heading
 *         tbody
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 */
.tbl-responsive {
	overflow-x: auto;
}

@media screen and (max-width: $breakpoint-sm-min-width - 1) {
	.tbl-responsive {
		display: block;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		th, td {
			white-space: nowrap;
		}
	}
}
