@import '_functions';
@import '_variables';

/* ========================================================================== */

* {
	margin: 0;
	padding: 0;
}

body {
	color: $text-color;
	font-size: $base-font-size;
	line-height: $line-height-ratio;
}

a {
	color: $link-color;
	text-decoration: $link-decoration;

	&:visited {
		color: $link-visited-color;
	}

	&:hover {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
}

@each $heading, $size in $headings-sizes {
	#{$heading} {
		font-size: px-to-em($size);
		line-height: $heading-line-height;

		&:not(.first-child) {
			margin-top: px-to-rem($size) + 0.25;
		}
	}
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
	margin-bottom: $half-spacing-unit;
}

img {
	max-width: 100%;
}

// ol, ul {
// 	padding-left: $spacing-unit - 8;
// }

blockquote {
	border-left: 0.313rem solid $border-color;
	padding: 0 0 0 calc(1.5rem - 0.313rem);

	p {
		font-size: 1.125em;
		font-weight: 500;

		&:after {
			content: '”';
		}

		&:before {
			content: '“';
		}
	}
}

figure {
	margin-left: 0;
	margin-right: 0;

	img {
		margin: 0;
	}

	figcaption {
		font-size: $small-font-size;
		font-style: italic;
		text-align: center;
	}

	code {
		background-color: none;
		padding: 0;
	}
}

pre, code {
	font-family: $mono-font-family;
	font-weight: normal;
}

pre {
	background-color: $pre-background-color;
	border-radius: $pre-border-radius;
	overflow-x: auto;
	padding: $quarter-spacing-unit $half-spacing-unit;

	code {
		background-color: transparent;
	}
}

code {
	background-color: $code-background-color;
	border-radius: $code-border-radius;
	font-size: $code-font-size;
	padding: $quarter-spacing-unit / 2;

	// textarea {
	// 	background: #eee;
	// 	// border: 1px solid $color-gray-4;
	// 	font-size: 0.9em;
	// 	padding: 0.5rem 1rem;
	// 	white-space: pre-wrap;

	// 	width: 100%;
	// 	height: 100%;
	// 	min-height: 150px;
	// }
}

small {
	font-size: $small-font-size;
}

/* ========================================================================== */

/***
 * Buttons:
 */

/**
 * Button:
 * `.btn`
 *
 *     @example
 *     a.btn Button
 */
.btn {
	background-color: $button-background-color;
	border-radius: $border-radius;
	border: $button-border-width solid $button-border-color;
	color: $button-text-color;
	display: inline-block;
	font-size: $base-font-size;
	font-weight: $button-font-weight;
	line-height: $base-line-height;
	padding: $button-padding;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;

	-moz-appearance: none;
	-webkit-appearance: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	// &:focus {
	// 	-webkit-box-shadow: $button-focus-shadow;
	// 	-moz-box-shadow: $button-focus-shadow;
	// 	box-shadow: $button-focus-shadow;
	// }

	&:hover {
		background-color: $button-hover-background-color;
		border-color: $button-hover-border-color;
		color: $button-hover-text-color;
	}
}

/**
 * Primary button:
 * `.btn--primary`
 *
 *     @example
 *     a.btn.btn--primary Primary button
 */
.btn--primary {
	background-color: $button-primary-background-color;
	border-color: $button-primary-border-color;
	color: $button-primary-text-color;

	&:hover {
		background-color: $button-primary-hover-background-color;
		border-color: $button-primary-hover-border-color;
		color: $button-primary-hover-text-color;
	}
}

/**
 * Secondary button:
 * `.btn--secondary`
 *
 *     @example
 *     a.btn.btn--secondary Secondary button
 */
.btn--secondary {
	background-color: $button-secondary-background-color;
	border-color: $button-secondary-border-color;
	color: $button-secondary-text-color;

	&:hover {
		background-color: $button-secondary-hover-background-color;
		border-color: $button-secondary-hover-border-color;
		color: $button-secondary-hover-text-color;
	}
}

/**
 * Outline button:
 * `.btn--outline`
 *
 *     @example
 *     a.btn.btn--outline Outline button
 *     a.btn.btn--primary.btn--outline Primary outline button
 */
.btn--outline {
	background-color: $button-outline-background-color;
	border-color: $button-outline-border-color;
	color: $button-outline-text-color;

	&:hover {
		background-color: $button-outline-hover-background-color;
		border-color: $button-outline-hover-border-color;
		color: $button-outline-hover-text-color;
	}

	&.btn--primary {
		background-color: $button-primary-outline-background-color;
		border-color: $button-primary-outline-border-color;
		color: $button-primary-outline-text-color;

		&:hover {
			background-color: $button-primary-outline-hover-background-color;
			border-color: $button-primary-outline-hover-border-color;
			color: $button-primary-outline-hover-text-color;
		}
	}
}

/**
 * Link button:
 * `.btn--link`
 *
 *     @example
 *     button.btn.btn--link Link button
 */
.btn--link {
	background-color: transparent;
	border-color: transparent;
	color: $link-color;

	&:hover {
		background-color: $button-link-hover-background-color;
		border-color: $button-link-hover-border-color;
		color: $button-link-hover-text-color;
	}
}

/**
 * Pill button:
 * `.btn--pill`
 *
 *     @example
 *     a.btn.btn--pill Pill button
 */
.btn--pill {
	border-radius: 2em;
}

/**
 * Colored buttons:
 * `.btn--success` `.btn--warning` `.btn--danger`
 *
 *     @example
 *     a.btn.btn--success Success button
 *     a.btn.btn--warning Warning button
 *     a.btn.btn--danger Danger button
 */
.btn--success {
	background-color: $button-success-background-color;
	border-color: $button-success-border-color;
	color: $button-success-text-color;

	&:hover {
		background-color: $button-success-hover-background-color;
		border-color: $button-success-hover-border-color;
		color: $button-success-hover-text-color;
	}
}

.btn--warning {
	background-color: $button-warning-background-color;
	border-color: $button-warning-border-color;
	color: $button-warning-text-color;

	&:hover {
		background-color: $button-warning-hover-background-color;
		border-color: $button-warning-hover-border-color;
		color: $button-warning-hover-text-color;
	}
}

.btn--danger {
	background-color: $button-danger-background-color;
	border-color: $button-danger-border-color;
	color: $button-danger-text-color;

	&:hover {
		background-color: $button-danger-hover-background-color;
		border-color: $button-danger-hover-border-color;
		color: $button-danger-hover-text-color;
	}
}

/* ========================================================================== */

/***
 * Lists:
 */

ol, ul {
	list-style-position: outside;
	// padding: 0 0 0 calc(1.5rem - 0.313rem);
}

ul {
	// border-left: 0.313rem solid $color-cyan-1;
	// list-style: none;
	list-style: disc outside;

	margin-left: $base-spacing-unit;
	// margin-top: $half-spacing-unit;

	&:not(last-child) {
		margin-bottom: $half-spacing-unit;
	}
}

 /**
 * Unstyled list:
 * `.lst-unstyled`
 *
 *     @example
 *     ul.lst-unstyled
 *         li Apricot
 *         li Banana
 *         li Cherry
 *             ul
 *                 li Caramel
 *                 li Ice cream
 */
.lst-unstyled {
	list-style: none;
}

/* ========================================================================== */

/***
 * Tables:
 */

table {
	border-collapse: collapse;
	margin-bottom: $half-spacing-unit;
	max-width: 100%;
	width: 100%;
}

th {
	text-align: $table-heading-align;
}

/**
 * Table:
 * `.tbl` Tables are styled nicely for you.
 *
 *     @example
 *     table.tbl
 *         thead
 *             tr
 *                 th Table heading
 *                 th Table heading
 *                 th Table heading
 *         tbody
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 */
.tbl {
	// border-spacing: 0;

	tr {
		& + tr {
			th, td {
				border-top: 1px solid $border-color;
			}
		}
	}

	th {
		border-bottom: 2px solid $border-color;
		font-weight: $table-heading-weight;
	}

	th, td {
		padding: $quarter-spacing-unit;
		vertical-align: top;
	}
}

@each $prop, $abbr in (width: tbl-col) {
	@each $size, $length in $sizes {
		@for $i from 1 through length($sizes) {
			$col: $i;
			.#{$abbr}-#{$col}-#{$size} {
				tr th:nth-child(#{$col}),
				tr td:nth-child(#{$col}) {
					#{$prop}: $length;
				}
			}
		}
	}
}

/**
 * Bordered table:
 * `.tbl-bordered`
 *
 *     @example
 *     table.tbl.tbl-bordered
 *         thead
 *             tr
 *                 th Table heading
 *                 th Table heading
 *                 th Table heading
 *         tbody
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 */
.tbl-bordered {
	border: 1px solid $border-color;
}

/**
 * Responsive table:
 * `.tbl-responsive`
 *
 *     @example
 *     table.tbl.tbl-responsive
 *         thead
 *             tr
 *                 th Table heading
 *                 th Table heading
 *                 th Table heading
 *         tbody
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 *             tr
 *                 td Table data
 *                 td Table data
 *                 td Table data
 */
.tbl-responsive {
	overflow-x: auto;
}

@media screen and (max-width: $breakpoint-sm-min-width - 1) {
	.tbl-responsive {
		display: block;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		th, td {
			white-space: nowrap;
		}
	}
}
