@import '_functions';
@import '_mixins';
@import '_variables';

/* ========================================================================== */

/***
 * Borders:
 */

/**
 * Four borders:
 * `.bd`
 *
 *     @example
 *     div.bd.p-5
 */
.bd {
	border: 1px solid $border-color;
}

/**
 * Top border:
 * `.bd-top`
 *
 *     @example
 *     div.bd-top.p-5
 */
.bd-top {
	border-top: 1px solid $border-color;
}

/**
 * Right border:
 * `.bd-right`
 *
 *     @example
 *     div.bd-right.p-5
 */
.bd-right {
	border-right: 1px solid $border-color;
}

/**
 * Bottom border:
 * `.bd-bottom`
 *
 *     @example
 *     div.bd-bottom.p-5
 */
.bd-bottom {
	border-bottom: 1px solid $border-color;
}

/**
 * Left border:
 * `.bd-left`
 *
 *     @example
 *     div.bd-left.p-5
 */
.bd-left {
	border-left: 1px solid $border-color;
}

/**
 * Right and left border:
 * `.bd-x`
 *
 *     @example
 *     div.bd-x.p-5
 */
.bd-x {
	border-right: 1px solid $border-color;
	border-left: 1px solid $border-color;
}

/**
 * Top and bottom border:
 * `.bd-y`
 *
 *     @example
 *     div.bd-y.p-5
 */
.bd-y {
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
}

/**
 * Remove borders:
 * `.bd-0`
 *
 *     @example
 *     div.bd.bd-0.p-5
 */
.bd-0 {
	border: none;
}

/* ========================================================================== */

/***
 * Border radius:
 */

/**
 * Rounded four corners:
 * `.bd-radius`
 *
 *     @example
 *     div.bgc-secondary-2.bd-radius.p-5
 */
.bd-radius {
	border-radius: $border-radius;
}

/**
 * Rounded top right corner:
 * `.bd-radius-1`
 *
 *     @example
 *     div.bgc-secondary-2.bd-radius-1.p-5
 */
.bd-radius-1 {
	border-top-right-radius: $border-radius;
}

/**
 * Rounded bottom right corner:
 * `.bd-radius-2`
 *
 *     @example
 *     div.bgc-secondary-2.bd-radius-2.p-5
 */
.bd-radius-2 {
	border-bottom-right-radius: $border-radius;
}

/**
 * Rounded bottom left corner:
 * `.bd-radius-3`
 *
 *     @example
 *     div.bgc-secondary-2.bd-radius-3.p-5
 */
.bd-radius-3 {
	border-bottom-left-radius: $border-radius;
}

/**
 * Rounded top left corner:
 * `.bd-radius-4`
 *
 *     @example
 *     div.bgc-secondary-2.bd-radius-4.p-5
 */
.bd-radius-4 {
	border-top-left-radius: $border-radius;
}

/**
 * Rounded top corners:
 * `.bd-radius-top`
 *
 *     @example
 *     div.bgc-secondary-2.bd-radius-top.p-5
 */
.bd-radius-top {
	border-top-right-radius: $border-radius;
	border-top-left-radius: $border-radius;
}

/**
 * Rounded right corners:
 * `.bd-radius-right`
 *
 *     @example
 *     div.bgc-secondary-2.bd-radius-right.p-5
 */
.bd-radius-right {
	border-top-right-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
}

/**
 * Rounded bottom corners:
 * `.bd-radius-bottom`
 *
 *     @example
 *     div.bgc-secondary-2.bd-radius-bottom.p-5
 */
.bd-radius-bottom {
	border-bottom-right-radius: $border-radius;
	border-bottom-left-radius: $border-radius;
}

/**
 * Rounded left corners:
 * `.bd-radius-left`
 *
 *     @example
 *     div.bgc-secondary-2.bd-radius-left.p-5
 */
.bd-radius-left {
	border-top-left-radius: $border-radius;
	border-bottom-left-radius: $border-radius;
}

/**
 * Remove rounded corners:
 * `.bd-radius-0`
 *
 *     @example
 *     div.bgc-secondary-2.bd-radius.bd-radius-0.p-5
 */
.bd-radius-0 {
	border-radius: 0;
}

/* ========================================================================== */

/***
 * Clearfix:
 */

/**
 * Clearfix:
 * `.cf` Clears floats using clearfix hack class.
 * http://nicolasgallagher.com/micro-clearfix-hack/
 *
 *     @example
 *     div.cf
 */
.cf {
	*zoom: 1;

	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}
}

/* ========================================================================== */

/// Replace `$search` with `$replace` in `$string`
/// @author Hugo Giraudel
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

/***
 * Colors:
 */

@each $name, $hex in $color-palette {
	$lc-name: str-replace(to-lower-case($name), ' ', '-');
	$rgb: unquote('rgb(#{red($hex)}, #{green($hex)}, #{blue($hex)})');

	/**
	 * #{$name} color:
	 * `.bgc-#{$lc-name}` `.txtc-#{$lc-name}` `.bdc-#{$lc-name}`
	 *
	 *     @example
	 *     table.tbl
	 *         tr
	 *             td.w-20
	 *                div.color-swatch.bd-radius.bgc-#{$lc-name}
	 *             td.w-20.txt-select.txtc-#{$lc-name} #{$name}
	 *             td.w-20.txt-select #{$hex}
	 *             td.w-20.txt-select #{$rgb}
	 */
	.bgc-#{$lc-name} {
		background-color: $hex;
	}

	.bdc-#{$lc-name} {
		@extend .bd;

		border-color: $hex;
	}

	.txtc-#{$lc-name} {
		color: $hex;
	}
}

/* ========================================================================== */

/***
 * Drop caps:
 */

/**
 * Drop cap:
 * `.dcap`
 *
 *     @example
 *     span.dcap L
 *     orem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis malesuada orci vitae maximus. Nunc bibendum gravida nisi sit amet varius. Ut non dolor a erat rhoncus lobortis et in enim. Vestibulum turpis tortor, vulputate a pharetra vel, viverra ut nisi. Integer tincidunt efficitur turpis eget finibus. Ut sed eleifend nulla, tincidunt vulputate mi. Curabitur cursus facilisis dui ut consectetur. Nulla sed tortor eu mauris ultricies euismod. Aliquam suscipit quam id lorem vehicula, nec imperdiet urna porta. 
 */
.dcap:first-letter {
	background-color: $dropcap-background-color;
	border: $dropcap-border;
	color: $dropcap-color;
	display: block;
	float: left;

	font-size: $dropcap-font-size;
	font-style: $dropcap-font-style;
	font-weight: $dropcap-font-weight;

	letter-spacing: $dropcap-letter-spacing;
	line-height: $dropcap-line-height;

	margin-top: $dropcap-margin-top;
	margin-right: $dropcap-margin-right;
	padding: $dropcap-padding;

	text-shadow: $dropcap-text-shadow;

	width: $dropcap-width;
	height: $dropcap-height;

	text-align: $dropcap-text-align;
	text-indent: 0;
	vertical-align: $dropcap-vertical-align;
}

.smcaps {
	font-variant: small-caps;
	letter-spacing: $smcaps-letter-spacing;
	margin-right: $smcaps-margin-right;
}

/* ========================================================================== */

/***
 * Floats:
 */

@mixin flt-left {
	float: left;
}

@mixin flt-right {
	float: right;
}

@mixin flt-none {
	float: none;
}

/**
 * Float left:
 * `.flt-left`
 *
 *     @example
 *     span.flt-left Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.flt-left {
	@include flt-left;
}

/**
 * Float right:
 * `.flt-right`
 *
 *     @example
 *     span.flt-right Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.flt-right {
	@include flt-right;
}

/**
 * Don't float:
 * `.flt-none`
 *
 *     @example
 *     span.flt-none Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.flt-none {
	@include flt-none;
}

/**
 * Responsive float:
 * `.flt-*`
 *
 *     @example
 *     span.flt-md-right Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
@each $size, $length in $grid-breakpoints {
	@media (min-width: $length) {
		.flt-#{$size}-left {
			@include flt-left;
		}

		.flt-#{$size}-right {
			@include flt-right;
		}

		.flt-#{$size}-none {
			@include flt-none;
		}
	}
}

/* ========================================================================== */

/***
 * Font size:
 */

/**
 * Small font:
 * `.txt-sm`
 *
 *     @example
 *     p.txt-sm Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-sm {
	font-size: $small-font-size;
}

/**
 * Large font:
 * `.txt-lg`
 *
 *     @example
 *     p.txt-lg Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-lg {
	font-size: $large-font-size;
}

/* ========================================================================== */

/***
 * Font style:
 */

/**
 * Italic text:
 * `.txt-italic`
 *
 *     @example
 *     p.txt-italic Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-italic {
	font-style: italic;
}

/* ========================================================================== */

/***
 * Font weight:
 */

/**
 * Font weight thin:
 * `.txt-thin` Font weight thin.
 *
 *     @example
 *     p.txt-thin Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-thin {
	font-weight: 100;
}

/**
 * Font weight extra-light:
 * `.txt-xlight` Font weight extra-light.
 *
 *     @example
 *     p.txt-xlight Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-xlight {
	font-weight: 200;
}

/**
 * Font weight light:
 * `.txt-light` Font weight light.
 *
 *     @example
 *     p.txt-light Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-light {
	font-weight: 300;
}

/**
 * Font weight regular:
 * `.txt-regular` Font weight regular.
 *
 *     @example
 *     p.txt-regular Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-regular {
	font-weight: 400;
}

/**
 * Font weight medium:
 * `.txt-medium` Font weight medium.
 *
 *     @example
 *     p.txt-medium Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-medium {
	font-weight: 500;
}

/**
 * Font weight semi-bold:
 * `.txt-semibold` Font weight semi-bold.
 *
 *     @example
 *     p.txt-semibold Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-semibold {
	font-weight: 600;
}

/**
 * Font weight bold:
 * `.txt-bold` Font weight bold.
 *
 *     @example
 *     p.txt-bold Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-bold {
	font-weight: 700;
}

/**
 * Font weight extra-bold:
 * `.txt-xbold` Font weight extra-bold.
 *
 *     @example
 *     p.txt-xbold Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-xbold {
	font-weight: 800;
}

/**
 * Font weight black:
 * `.txt-black` Font weight black.
 *
 *     @example
 *     p.txt-black Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-black {
	font-weight: 900;
}

/* ========================================================================== */

/***
 * Margins:
 */

@for $i from 0 through $spacings {
	/**
	 * Margin #{$spacing * $i}:
	 * `.m-#{$i}` Applies `margin: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.m-#{$i}
	 */
	.m-#{$i} {
		margin: $spacing * $i;
	}

	/**
	 * Margin top #{$spacing * $i}:
	 * `.m-top-#{$i}` Applies `margin-top: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.m-top-#{$i}
	 */
	.m-top-#{$i} {
		margin-top: $spacing * $i;
	}

	/**
	 * Margin right #{$spacing * $i}:
	 * `.m-right-#{$i}` Applies `margin-right: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.m-right-#{$i}
	 */
	.m-right-#{$i} {
		margin-right: $spacing * $i;
	}

	/**
	 * Margin bottom #{$spacing * $i}:
	 * `.m-bottom-#{$i}` Applies `margin-bottom: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.m-bottom-#{$i}
	 */
	.m-bottom-#{$i} {
		margin-bottom: $spacing * $i;
	}

	/**
	 * Margin left #{$spacing * $i}:
	 * `.m-left-#{$i}` Applies `margin-left: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.m-left-#{$i}
	 */
	.m-left-#{$i} {
		margin-left: $spacing * $i;
	}

	/**
	 * Margin right and left #{$spacing * $i}:
	 * `.m-x-#{$i}` Applies `margin-right: #{$spacing * $i};  margin-left: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.m-x-#{$i}
	 */
	.m-x-#{$i} {
		margin-left: $spacing * $i;
		margin-right: $spacing * $i;
	}

	/**
	 * Margin top and bottom #{$spacing * $i}:
	 * `.m-y-#{$i}` Applies `margin-top: #{$spacing * $i};  margin-bottom: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.m-y-#{$i}
	 */
	.m-y-#{$i} {
		margin-top: $spacing * $i;
		margin-bottom: $spacing * $i;
	}
}

/***
 * Paddings:
 */

@for $i from 0 through $spacings {
	/**
	 * Padding #{$spacing * $i}:
	 * `.p-#{$i}` Applies `padding: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.p-#{$i}
	 */
	.p-#{$i} {
		padding: $spacing * $i;
	}

	/**
	 * Padding top #{$spacing * $i}:
	 * `.p-top-#{$i}` Applies `padding-top: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.p-top-#{$i}
	 */
	.p-top-#{$i} {
		padding-top: $spacing * $i;
	}

	/**
	 * Padding right #{$spacing * $i}:
	 * `.p-right-#{$i}` Applies `padding-right: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.p-right-#{$i}
	 */
	.p-right-#{$i} {
		padding-right: $spacing * $i;
	}

	/**
	 * Padding bottom #{$spacing * $i}:
	 * `.p-bottom-#{$i}` Applies `padding-bottom: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.p-bottom-#{$i}
	 */
	.p-bottom-#{$i} {
		padding-bottom: $spacing * $i;
	}

	/**
	 * Padding left #{$spacing * $i}:
	 * `.p-left-#{$i}` Applies `padding-left: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.p-left-#{$i}
	 */
	.p-left-#{$i} {
		padding-left: $spacing * $i;
	}

	/**
	 * Padding right and left #{$spacing * $i}:
	 * `.p-x-#{$i}` Applies `padding-right: #{$spacing * $i}; padding-left: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.p-x-#{$i}
	 */
	.p-x-#{$i} {
		padding-left: $spacing * $i;
		padding-right: $spacing * $i;
	}

	/**
	 * Padding top and bottom #{$spacing * $i}:
	 * `.p-y-#{$i}` Applies `padding-top: #{$spacing * $i}; padding-bottom: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.p-y-#{$i}
	 */
	.p-y-#{$i} {
		padding-top: $spacing * $i;
		padding-bottom: $spacing * $i;
	}
}

/* ========================================================================== */

/***
 * Text alignment:
 */

/**
 * Center aligned text:
 * `.txt-center`
 *
 *     @example
 *     p.txt-center Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-center {
	text-align: center;
}

/**
 * Left aligned text:
 * `.txt-left`
 *
 *     @example
 *     p.txt-left Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-left {
	text-align: left;
}

/**
 * Right aligned text:
 * `.txt-right`
 *
 *     @example
 *     p.txt-right Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-right {
	text-align: right;
}

/* ========================================================================== */

/***
 * Text selection:
 */

/**
 * Selecting all text with one click:
 * `.txt-select`
 *
 *     @example
 *     p.txt-select Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-select {
	-webkit-user-select: all; /* Chrome, Opera, Safari */
	-moz-user-select: all; /* Firefox 2+ */
	-ms-user-select: all; /* IE 10+ */
	user-select: all; /* Standard syntax */
}

/* ========================================================================== */

/***
 * Text strike:
 */

/**
 * Strikethrough text:
 * `.txt-strike`
 *
 *     @example
 *     p.txt-strike Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-strike {
	text-decoration: line-through;
}

/* ========================================================================== */

/***
 * Text transform:
 */

/**
 * Capitalized text:
 * `.txt-capitalize`
 *
 *     @example
 *     p.txt-capitalize Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-capitalize {
	text-transform: capitalize;
}

/**
 * Lowercased text:
 * `.txt-lowercase`
 *
 *     @example
 *     p.txt-lowercase Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-lowercase {
	text-transform: lowercase;
}

/**
 * Uppercased text:
 * `.txt-uppercase`
 *
 *     @example
 *     p.txt-uppercase Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-uppercase {
	text-transform: uppercase;
}

/* ========================================================================== */

/***
 * Widths and heights:
 */

@each $prop, $abbr in (width: w, height: h) {
	@each $size, $length in $sizes {
		@if $abbr == w {
			/**
			 * Width #{$size}%:
			 * `.#{$abbr}-#{$size}` Applies `width: #{$size}%;` to element.
			 *
			 *     @example
			 *     div.#{$abbr}-#{$size}
			 */
		} @else {
			/**
			 * Height #{$size}%:
			 * `.#{$abbr}-#{$size}` Applies `height: #{$size}%;` to element.
			 *
			 *     @example
			 *     div.#{$abbr}-#{$size}
			 */
		}
		.#{$abbr}-#{$size} {
			#{$prop}: $length;
		}
	}
}

/**
 * Max. width 100%:
 * `.maxw-100` Applies `max-width: 100%;` to element.
 *
 *     @example
 *     div.maxw-100
 */
.maxw-100 {
	max-width: 100%;
}

/**
 * Max. height 100%:
 * `.maxh-100` Applies `max-height: 100%;` to element.
 *
 *     @example
 *     div.maxh-100
 */
.maxh-100 {
	max-height: 100%;
}

.content-indented {
	blockquote, pre,
	ul, ol, dl, figure, img {
		margin-top: $half-spacing-unit;
		margin-bottom: $half-spacing-unit;
	}

	figure {
		img {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	p {
		margin-bottom: 0;

		& + p {
			text-indent: $half-spacing-unit + 0.5;
		}
	}
}

@each $size, $length in $grid-breakpoints {
	@media (min-width: $length) {
		@for $i from 0 through ($grid-columns-number - 1) {
			.media-left-#{$size}-#{$i} {
				float: left;
				margin-right: $half-spacing-unit;
			}

			.media-right-#{$size}-#{$i} {
				float: right;
				margin-left: $half-spacing-unit;
			}

			.media-left-#{$size}-#{$i},
			.media-right-#{$size}-#{$i},
			.content-indented .media-left-#{$size}-#{$i},
			.content-indented .media-right-#{$size}-#{$i} {
				margin-top: 0.5rem;
				margin-bottom: 0;
				width: percentage($i / $grid-columns-number);
			}
		}
	}
}
