@import '_variables';

/* ========================================================================== */

/***
 * Borders:
 */

/**
 * Four borders:
 * `.brd`
 *
 *     @example
 *     div.brd.p-5
 */
.brd {
	border: 1px solid $border-color;
}

/**
 * Top border:
 * `.brd-top`
 *
 *     @example
 *     div.brd-top.p-5
 */
.brd-top {
	border-top: 1px solid $border-color;
}

/**
 * Right border:
 * `.brd-right`
 *
 *     @example
 *     div.brd-right.p-5
 */
.brd-right {
	border-right: 1px solid $border-color;
}

/**
 * Bottom border:
 * `.brd-bottom`
 *
 *     @example
 *     div.brd-bottom.p-5
 */
.brd-bottom {
	border-bottom: 1px solid $border-color;
}

/**
 * Left border:
 * `.brd-left`
 *
 *     @example
 *     div.brd-left.p-5
 */
.brd-left {
	border-left: 1px solid $border-color;
}

/**
 * Right and left border:
 * `.brd-x`
 *
 *     @example
 *     div.brd-x.p-5
 */
.brd-x {
	border-right: 1px solid $border-color;
	border-left: 1px solid $border-color;
}

/**
 * Top and bottom border:
 * `.brd-y`
 *
 *     @example
 *     div.brd-y.p-5
 */
.brd-y {
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
}

/**
 * Remove borders:
 * `.brd-0`
 *
 *     @example
 *     div.brd.brd-0.p-5
 */
.brd-0 {
	border: none;
}

/* ========================================================================== */

/***
 * Border radius:
 */

/**
 * Rounded four corners:
 * `.brd-radius`
 *
 *     @example
 *     div.bgc-gray.brd-radius.p-5
 */
.brd-radius {
	border-radius: $border-radius;
}

/**
 * Rounded top right corner:
 * `.brd-radius-1`
 *
 *     @example
 *     div.bgc-gray.brd-radius-1.p-5
 */
.brd-radius-1 {
	border-top-right-radius: $border-radius;
}

/**
 * Rounded bottom right corner:
 * `.brd-radius-2`
 *
 *     @example
 *     div.bgc-gray.brd-radius-2.p-5
 */
.brd-radius-2 {
	border-bottom-right-radius: $border-radius;
}

/**
 * Rounded bottom left corner:
 * `.brd-radius-3`
 *
 *     @example
 *     div.bgc-gray.brd-radius-3.p-5
 */
.brd-radius-3 {
	border-bottom-left-radius: $border-radius;
}

/**
 * Rounded top left corner:
 * `.brd-radius-4`
 *
 *     @example
 *     div.bgc-gray.brd-radius-4.p-5
 */
.brd-radius-4 {
	border-top-left-radius: $border-radius;
}

/**
 * Rounded top corners:
 * `.brd-radius-top`
 *
 *     @example
 *     div.bgc-gray.brd-radius-top.p-5
 */
.brd-radius-top {
	border-top-right-radius: $border-radius;
	border-top-left-radius: $border-radius;
}

/**
 * Rounded right corners:
 * `.brd-radius-right`
 *
 *     @example
 *     div.bgc-gray.brd-radius-right.p-5
 */
.brd-radius-right {
	border-top-right-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
}

/**
 * Rounded bottom corners:
 * `.brd-radius-bottom`
 *
 *     @example
 *     div.bgc-gray.brd-radius-bottom.p-5
 */
.brd-radius-bottom {
	border-bottom-right-radius: $border-radius;
	border-bottom-left-radius: $border-radius;
}

/**
 * Rounded left corners:
 * `.brd-radius-left`
 *
 *     @example
 *     div.bgc-gray.brd-radius-left.p-5
 */
.brd-radius-left {
	border-top-left-radius: $border-radius;
	border-bottom-left-radius: $border-radius;
}

/**
 * Remove rounded corners:
 * `.brd-radius-0`
 *
 *     @example
 *     div.bgc-gray.brd-radius.brd-radius-0.p-5
 */
.brd-radius-0 {
	border-radius: 0;
}

/* ========================================================================== */

/***
 * Clearfix:
 */

/**
 * Clearfix:
 * `.cf` Clears floats using clearfix hack class.
 * http://nicolasgallagher.com/micro-clearfix-hack/
 *
 *     @example
 *     div.cf
 */
.cf {
	*zoom: 1;

	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}
}

/* ========================================================================== */

/***
 * Floats:
 */

/**
 * Float left:
 * `.flt-left`
 *
 *     @example
 *     span.flt-left Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.flt-left {
	float: left;
}

/**
 * Float right:
 * `.flt-right`
 *
 *     @example
 *     span.flt-right Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.flt-right {
	float: right;
}

/**
 * Don't float:
 * `.flt-none`
 *
 *     @example
 *     span.flt-none Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.flt-none {
	float: none;
}

@media (min-width: $breakpoint-xs-min-width) {
	.flt-xs-right {
		float: right;
	}
}

/* ========================================================================== */

/***
 * Font style:
 */

/**
 * Italic text:
 * `.fnt-italic`
 *
 *     @example
 *     p.fnt-italic Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.fnt-italic {
	font-style: italic;
}

/* ========================================================================== */

/***
 * Font weight:
 */

/**
 * Font weight thin:
 * `.fnt-thin` Font weight thin.
 *
 *     @example
 *     p.fnt-thin Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.fnt-thin {
	font-weight: 100;
}

/**
 * Font weight extra-light:
 * `.fnt-xlight` Font weight extra-light.
 *
 *     @example
 *     p.fnt-xlight Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.fnt-xlight {
	font-weight: 200;
}

/**
 * Font weight light:
 * `.fnt-light` Font weight light.
 *
 *     @example
 *     p.fnt-light Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.fnt-light {
	font-weight: 300;
}

/**
 * Font weight regular:
 * `.fnt-regular` Font weight regular.
 *
 *     @example
 *     p.fnt-regular Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.fnt-regular {
	font-weight: 400;
}

/**
 * Font weight medium:
 * `.fnt-medium` Font weight medium.
 *
 *     @example
 *     p.fnt-medium Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.fnt-medium {
	font-weight: 500;
}

/**
 * Font weight semi-bold:
 * `.fnt-semibold` Font weight semi-bold.
 *
 *     @example
 *     p.fnt-semibold Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.fnt-semibold {
	font-weight: 600;
}

/**
 * Font weight bold:
 * `.fnt-bold` Font weight bold.
 *
 *     @example
 *     p.fnt-bold Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.fnt-bold {
	font-weight: 700;
}

/**
 * Font weight extra-bold:
 * `.fnt-xbold` Font weight extra-bold.
 *
 *     @example
 *     p.fnt-xbold Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.fnt-xbold {
	font-weight: 800;
}

/**
 * Font weight black:
 * `.fnt-black` Font weight black.
 *
 *     @example
 *     p.fnt-black Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.fnt-black {
	font-weight: 900;
}

/* ========================================================================== */

/// Replace `$search` with `$replace` in `$string`
/// @author Hugo Giraudel
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  
  @return $string;
}

/***
 * Colors:
 */
@each $name, $hex in $colors {
	$lc-name: str-replace(to-lower-case($name), ' ', '-');
	$rgb: unquote('rgb(#{red($hex)}, #{green($hex)}, #{blue($hex)})');

	/**
	 * #{$name} color:
	 * `.bgc-#{$lc-name}` `.txtc-#{$lc-name}`
	 *
	 *     @example
	 *     table.tbl
	 *         tr
	 *             td.w-20
	 *                div.color-swatch.brd-radius.bgc-#{$lc-name}
	 *             td.w-20.txt-select.txtc-#{$lc-name} #{$name}
	 *             td.w-20.txt-select #{$hex}
	 *             td.w-20.txt-select #{$rgb}
	 */
	.bgc-#{$lc-name} {
		background-color: $hex;
	}

	.txtc-#{$lc-name} {
		color: $hex;
	}
}

/* ========================================================================== */

/***
 * Margins:
 */

@for $i from 0 through $spacings {
	/**
	 * Margin #{$spacing * $i}:
	 * `.m-#{$i}` Applies `margin: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.m-#{$i}
	 */
	.m-#{$i} {
		margin: $spacing * $i;
	}

	/**
	 * Margin top #{$spacing * $i}:
	 * `.m-top-#{$i}` Applies `margin-top: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.m-top-#{$i}
	 */
	.m-top-#{$i} {
		margin-top: $spacing * $i;
	}

	/**
	 * Margin right #{$spacing * $i}:
	 * `.m-right-#{$i}` Applies `margin-right: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.m-right-#{$i}
	 */
	.m-right-#{$i} {
		margin-right: $spacing * $i;
	}

	/**
	 * Margin bottom #{$spacing * $i}:
	 * `.m-bottom-#{$i}` Applies `margin-bottom: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.m-bottom-#{$i}
	 */
	.m-bottom-#{$i} {
		margin-bottom: $spacing * $i;
	}

	/**
	 * Margin left #{$spacing * $i}:
	 * `.m-left-#{$i}` Applies `margin-left: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.m-left-#{$i}
	 */
	.m-left-#{$i} {
		margin-left: $spacing * $i;
	}

	/**
	 * Margin right and left #{$spacing * $i}:
	 * `.m-x-#{$i}` Applies `margin-right: #{$spacing * $i};  margin-left: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.m-x-#{$i}
	 */
	.m-x-#{$i} {
		margin-left: $spacing * $i;
		margin-right: $spacing * $i;
	}

	/**
	 * Margin top and bottom #{$spacing * $i}:
	 * `.m-y-#{$i}` Applies `margin-top: #{$spacing * $i};  margin-bottom: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.m-y-#{$i}
	 */
	.m-y-#{$i} {
		margin-top: $spacing * $i;
		margin-bottom: $spacing * $i;
	}
}

/***
 * Paddings:
 */

@for $i from 0 through $spacings {
	/**
	 * Padding #{$spacing * $i}:
	 * `.p-#{$i}` Applies `padding: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.p-#{$i}
	 */
	.p-#{$i} {
		padding: $spacing * $i;
	}

	/**
	 * Padding top #{$spacing * $i}:
	 * `.p-top-#{$i}` Applies `padding-top: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.p-top-#{$i}
	 */
	.p-top-#{$i} {
		padding-top: $spacing * $i;
	}

	/**
	 * Padding right #{$spacing * $i}:
	 * `.p-right-#{$i}` Applies `padding-right: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.p-right-#{$i}
	 */
	.p-right-#{$i} {
		padding-right: $spacing * $i;
	}

	/**
	 * Padding bottom #{$spacing * $i}:
	 * `.p-bottom-#{$i}` Applies `padding-bottom: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.p-bottom-#{$i}
	 */
	.p-bottom-#{$i} {
		padding-bottom: $spacing * $i;
	}

	/**
	 * Padding left #{$spacing * $i}:
	 * `.p-left-#{$i}` Applies `padding-left: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.p-left-#{$i}
	 */
	.p-left-#{$i} {
		padding-left: $spacing * $i;
	}

	/**
	 * Padding right and left #{$spacing * $i}:
	 * `.p-x-#{$i}` Applies `padding-right: #{$spacing * $i}; padding-left: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.p-x-#{$i}
	 */
	.p-x-#{$i} {
		padding-left: $spacing * $i;
		padding-right: $spacing * $i;
	}

	/**
	 * Padding top and bottom #{$spacing * $i}:
	 * `.p-y-#{$i}` Applies `padding-top: #{$spacing * $i}; padding-bottom: #{$spacing * $i};` to element.
	 *
	 *     @example
	 *     div.p-y-#{$i}
	 */
	.p-y-#{$i} {
		padding-top: $spacing * $i;
		padding-bottom: $spacing * $i;
	}
}

/* ========================================================================== */

/***
 * Text alignment:
 */

/**
 * Center aligned text:
 * `.txt-center`
 *
 *     @example
 *     p.txt-center Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-center {
	text-align: center;
}

/**
 * Left aligned text:
 * `.txt-left`
 *
 *     @example
 *     p.txt-left Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-left {
	text-align: left;
}

/**
 * Right aligned text:
 * `.txt-right`
 *
 *     @example
 *     p.txt-right Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-right {
	text-align: right;
}

/* ========================================================================== */

/***
 * Text selection:
 */

/**
 * Selecting all text with one click:
 * `.txt-select`
 *
 *     @example
 *     p.txt-select Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-select {
	-webkit-user-select: all; /* Chrome, Opera, Safari */
    -moz-user-select: all; /* Firefox 2+ */
    -ms-user-select: all; /* IE 10+ */
	user-select: all; /* Standard syntax */
}

/* ========================================================================== */

/***
 * Text strike:
 */

/**
 * Strikethrough text:
 * `.txt-strike`
 *
 *     @example
 *     p.txt-strike Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-strike {
	text-decoration: line-through;
}

/* ========================================================================== */

/***
 * Text transform:
 */

/**
 * Capitalized text:
 * `.txt-capitalize`
 *
 *     @example
 *     p.txt-capitalize Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-capitalize {
	text-transform: capitalize;
}

/**
 * Lowercased text:
 * `.txt-lowercase`
 *
 *     @example
 *     p.txt-lowercase Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-lowercase {
	text-transform: lowercase;
}

/**
 * Uppercased text:
 * `.txt-uppercase`
 *
 *     @example
 *     p.txt-uppercase Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 */
.txt-uppercase {
	text-transform: uppercase;
}

/* ========================================================================== */

/***
 * Width and height:
 */

@each $prop, $abbr in (width: w, height: h) {
	@each $size, $length in $sizes {
		@if $abbr == w {
			/**
			 * Width #{$size}%:
			 * `.#{$abbr}-#{$size}` Applies `width: #{$size}%;` to element.
			 *
			 *     @example
			 *     div.#{$abbr}-#{$size}
			 */
		} @else {
			/**
			 * Height #{$size}%:
			 * `.#{$abbr}-#{$size}` Applies `height: #{$size}%;` to element.
			 *
			 *     @example
			 *     div.#{$abbr}-#{$size}
			 */
		}
		.#{$abbr}-#{$size} {
			#{$prop}: $length;
		}
	}
}

/**
 * Max. width 100%:
 * `.w-max-100` Applies `max-width: 100%;` to element.
 *
 *     @example
 *     div.w-max-100
 */
.w-max-100 {
	max-width: 100%;
}

/**
 * Max. height 100%:
 * `.h-max-100` Applies `max-height: 100%;` to element.
 *
 *     @example
 *     div.h-max-100
 */
.h-max-100 {
	max-height: 100%;
}

.fnt-sm {
	font-size: $small-font-size;
}

.fnt-lg {
	font-size: $large-font-size;
}

.dropcap {
	color: $dropcap-color;
	display: block;
	float: left;
	font-size: $dropcap-size;
	font-weight: $dropcap-weight;
	line-height: 1;
	height: $dropcap-size;
	margin-right: $quarter-spacing-unit;
	// width: $dropcap-size;
}
