/***
 * Grid:
 */

/**
 * Grid with flexible sizes:
 * `.grid-[#]`
 *
 *     @example
 *     div.grid-2
 *         div
 *             div.bgc-grey-5 &nbsp;
 *         div
 *             div.bgc-grey-5 &nbsp;
 *         div
 *             div.bgc-grey-5 &nbsp;
 *         div
 *             div.bgc-grey-5 &nbsp;
 */
@for $i from 1 through $grid-columns-number {
	.grid-#{$i} {
		display: grid;
		grid-gap: $gutter-width;
		grid-template-columns: repeat($i, 1fr);
	}
}

/**
 * Responsive grid:
 * `.[size]-grid-[#]` `.max[size]-grid-[#]`
 *
 *     @example
 *     div.xs-grid-2.md-grid-3
 *         div
 *             div.bgc-grey-5 &nbsp;
 *         div
 *             div.bgc-grey-6 &nbsp;
 *         div
 *             div.bgc-grey-5 &nbsp;
 *         div
 *             div.bgc-grey-6 &nbsp;
 *         div
 *             div.bgc-grey-5 &nbsp;
 *         div
 *             div.bgc-grey-6 &nbsp;
 */
@each $size, $length in $grid-breakpoints {
	@media (min-width: $length) {
		.#{$size}-grid-0 {
			display: inherit;
			grid-gap: initial;
			grid-template-columns: none;
		}

		@for $i from 1 through $grid-columns-number {
			.#{$size}-grid-#{$i} {
				display: grid;
				grid-gap: $gutter-width;
				grid-template-columns: repeat($i, 1fr);
			}

			.#{$size}-cell-x-#{$i} {
				grid-column: #{$i};
			}

			.#{$size}-grid-0 {
				.#{$size}-cell-x-#{$i} {
					grid-column: auto;
				}
			}
		}
	}
	
	@media (max-width: $length - 1) {
		@for $i from 1 through $grid-columns-number {
			.max#{$size}-grid-#{$i} {
				display: grid;
				grid-gap: $gutter-width;
				grid-template-columns: repeat($i, 1fr);
			}

			.max#{$size}-cell-x-#{$i} {
				grid-column: #{$i};
			}

			.#{$size}-grid-0 {
				.max#{$size}-cell-x-#{$i} {
					grid-column: auto;
				}
			}
		}
	}
}

/**
 * Place items on the grid:
 * `.[size]-cell-x-[#]` `.max[size]-cell-x-[#]`
 *
 *     @example
 *     div.xs-grid-2.md-grid-3
 *         div
 *             div.bgc-grey-5 &nbsp;
 *         div
 *             div.bgc-grey-6 &nbsp;
 *         div.maxmd-cell-x-2
 *             div.bgc-grey-5 &nbsp;
 *         div.md-cell-x-2.maxmd-hide
 *             div.bgc-grey-6 &nbsp;
 */
