/***
 * Gutters:
 */

/**
 * Double size gutters:
 * `.gutters-2`
 *
 *     @example
 *     div.row.gutters-2
 *         div.col-8
 *             div.bgc-grey-2 &nbsp;
 *         div.col-4
 *             div.bgc-grey-2 &nbsp;
 */
@mixin gutter-2 {
	&.row {
		margin-left: -$grid-column-gutter;
		margin-right: -$grid-column-gutter;

		> .col,
		> [class*="col-"] {
			padding-left: $grid-column-gutter * 2;
			padding-right: $grid-column-gutter * 2;
		}
	}
}

.gutters-2 {
	@include gutter-2;
}

/**
 * Regular plus half size gutters:
 * `.gutters-15`
 *
 *     @example
 *     div.row.gutters-15
 *         div.col-8
 *             div.bgc-grey-2 &nbsp;
 *         div.col-4
 *             div.bgc-grey-2 &nbsp;
 */
@mixin gutter-15 {
	&.row {
		margin-left: -$grid-column-gutter;
		margin-right: -$grid-column-gutter;

		> .col,
		> [class*="col-"] {
			padding-left: $grid-column-gutter + $quarter-spacing-unit;
			padding-right: $grid-column-gutter + $quarter-spacing-unit;
		}
	}
}

.gutters-15 {
	@include gutter-15;
}

/**
 * Half size gutters:
 * `.gutters-05`
 *
 *     @example
 *     div.row.gutters-05
 *         div.col-8
 *             div.bgc-grey-2 &nbsp;
 *         div.col-4
 *             div.bgc-grey-2 &nbsp;
 */
@mixin gutter-05 {
	&.row {
		margin-left: -$grid-column-gutter;
		margin-right: -$grid-column-gutter;
		// margin-left: -($grid-column-gutter / 2);
		// margin-right: -($grid-column-gutter / 2);

		> .col,
		> [class*="col-"] {
			padding-left: $grid-column-gutter / 2;
			padding-right: $grid-column-gutter / 2;
		}
	}
}

.gutters-05 {
	@include gutter-05;
}

/**
 * Remove gutters:
 * `.gutters-0`
 *
 *     @example
 *     div.row.gutters-0
 *         div.col-8
 *             div.bgc-grey-2 &nbsp;
 *         div.col-4
 *             div.bgc-grey-3 &nbsp;
 */
@mixin gutter-0 {
	&.row {
		margin-left: -$grid-column-gutter;
		margin-right: -$grid-column-gutter;

		> .col,
		> [class*="col-"] {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.gutters-0 {
	@include gutter-0;
}

/**
 * Responsive gutters:
 * `.[size]-gutters-[gutters-size]`
 *
 *     @example
 *     div.row.md-gutters-0
 *         div.col-8
 *             div.bgc-grey-2 &nbsp;
 *         div.col-4
 *             div.bgc-grey-3 &nbsp;
 */
@each $size, $length in $grid-breakpoints {
	@media (min-width: $length) {
		.#{$size}-gutters-2 {
			@include gutter-2;
		}

		.#{$size}-gutters-15 {
			@include gutter-15;
		}

		.#{$size}-gutters-05 {
			@include gutter-05;
		}

		.#{$size}-gutters-0 {
			@include gutter-0;
		}

		// @for $i from 1 through $grid-columns-number {
		// 	.#{$size}-gutters-0.#{$size}-cols-#{$i} {
		// 		column-gap: 0;
		// 	}

		// 	.#{$size}-gutters-05.#{$size}-cols-#{$i} {
		// 		column-gap: $grid-column-gutter / 2;
		// 	}

		// 	.#{$size}-gutters-15.#{$size}-cols-#{$i} {
		// 		column-gap: $grid-column-gutter + $quarter-spacing-unit;
		// 	}

		// 	.#{$size}-gutters-2.#{$size}-cols-#{$i} {
		// 		column-gap: $grid-column-gutter * 2;
		// 	}
		// }
	}
}
