/***
 * Gutters:
 */

/**
 * Double size gutters:
 * `.gutters-x2`
 *
 *     @example
 *     div.row.gutters-x2
 *         div.col-8
 *             div.bgc-grey-2 &nbsp;
 *         div.col-4
 *             div.bgc-grey-2 &nbsp;
 */
@mixin gutter-x2 {
	&.row {
		margin-left: -$grid-column-gutter;
		margin-right: -$grid-column-gutter;

		> .col,
		> [class*="col-"] {
			padding-left: $base-spacing-unit;
			padding-right: $base-spacing-unit;
		}
	}
}

.gutters-x2 {
	@include gutter-x2;
}

/**
 * Regular plus half size gutters:
 * `.gutters-x15`
 *
 *     @example
 *     div.row.gutters-x15
 *         div.col-8
 *             div.bgc-grey-2 &nbsp;
 *         div.col-4
 *             div.bgc-grey-2 &nbsp;
 */
@mixin gutter-x15 {
	&.row {
		margin-left: -$grid-column-gutter;
		margin-right: -$grid-column-gutter;

		> .col,
		> [class*="col-"] {
			padding-left: $grid-column-gutter + $quarter-spacing-unit;
			padding-right: $grid-column-gutter + $quarter-spacing-unit;
		}
	}
}

.gutters-x15 {
	@include gutter-x15;
}

/**
 * Half size gutters:
 * `.gutters-x05`
 *
 *     @example
 *     div.row.gutters-x05
 *         div.col-8
 *             div.bgc-grey-2 &nbsp;
 *         div.col-4
 *             div.bgc-grey-2 &nbsp;
 */
@mixin gutter-x05 {
	&.row {
		margin-left: -($grid-column-gutter / 2);
		margin-right: -($grid-column-gutter / 2);

		> .col,
		> [class*="col-"] {
			padding-left: $grid-column-gutter / 2;
			padding-right: $grid-column-gutter / 2;
		}
	}
}

.gutters-x05 {
	@include gutter-x05;
}

/**
 * Remove gutters:
 * `.gutters-0`
 *
 *     @example
 *     div.row.gutters-0
 *         div.col-8
 *             div.bgc-grey-2 &nbsp;
 *         div.col-4
 *             div.bgc-grey-3 &nbsp;
 */
@mixin gutter-0 {
	&.row {
		margin-left: -$grid-column-gutter;
		margin-right: -$grid-column-gutter;

		> .col,
		> [class*="col-"] {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.gutters-0 {
	@include gutter-0;
}

/**
 * Responsive gutters:
 * `.[size]-gutters-[gutters-size]`
 *
 *     @example
 *     div.row.md-gutters-0
 *         div.col-8
 *             div.bgc-grey-2 &nbsp;
 *         div.col-4
 *             div.bgc-grey-3 &nbsp;
 */
@each $size, $length in $grid-breakpoints {
	@media (min-width: $length) {
		.#{$size}-gutters-x2 {
			@include gutter-x2;
		}

		.#{$size}-gutters-x15 {
			@include gutter-x15;
		}

		.#{$size}-gutters-x05 {
			@include gutter-x05;
		}

		.#{$size}-gutters-0 {
			@include gutter-0;
		}
	}
}
