/***
 * Horizontal modifiers:
 */

/**
 * Aligns columns to left:
 * `.cols-left`
 *
 *     @example
 *     div.row.cols-left
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 */
.cols-left {
	justify-content: flex-start;
}

/**
 * Aligns columns to center:
 * `.cols-center`
 *
 *     @example
 *     div.row.cols-center
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 */
.cols-center {
	justify-content: center;
}

/**
 * Aligns columns to right:
 * `.cols-right`
 *
 *     @example
 *     div.row.cols-right
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 */
.cols-right {
	justify-content: flex-end;
}

/**
 * Space between columns:
 * `.cols-between`
 *
 *     @example
 *     div.row.cols-between
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 */
.cols-between {
	justify-content: space-between;
}

/**
 * Space around columns:
 * `.cols-around`
 *
 *     @example
 *     div.row.cols-around
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 */
.cols-around {
	justify-content: space-around;
}

/***
 * Vertical modifiers:
 */

/**
 * Aligns columns to top:
 * `.cols-top`
 *
 *     @example
 *     div.row.cols-top.h-100px
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 */
.cols-top {
	align-items: flex-start;
}

/**
 * Aligns columns to middle:
 * `.cols-middle`
 *
 *     @example
 *     div.row.cols-middle.h-100px
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 */
.cols-middle {
	align-items: center;
}

/**
 * Aligns columns to bottom:
 * `.cols-bottom`
 *
 *     @example
 *     div.row.cols-bottom.h-100px
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 */
.cols-bottom {
	align-items: flex-end;
}

/**
 * Aligns column to top:
 * `.col-top`
 *
 *     @example
 *     div.row.cols-bottom.h-100px
 *         div.col-4.col-top
 *             div.bgc-gray-80 &nbsp;
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 */
.col-top {
	align-self: flex-start;
}

/**
 * Aligns column to middle:
 * `.col-middle`
 *
 *     @example
 *     div.row.h-100px
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 *         div.col-4.col-middle
 *             div.bgc-gray-80 &nbsp;
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 */
.col-middle {
	align-self: center;
}

/**
 * Aligns column to bottom:
 * `.col-middle`
 *
 *     @example
 *     div.row.h-100px
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 *         div.col-4
 *             div.bgc-gray-80 &nbsp;
 *         div.col-4.col-bottom
 *             div.bgc-gray-80 &nbsp;
 */
.col-bottom {
	align-self: flex-end;
}
