
@import '../partials/_all';


/***
 * Flex direction:
 */

/**
 * Flex direction column:
 * `.fxd-col` `.[size]-fxd-col` `.max[size]-fxd-col`
 *
 *     @example
 *     div.cntr.cntr--fluid
 *         div.row.fxd-col.c-light-20.ta-center.bgc-success-20.p-y-1
 *             div.col
 *                 div.bgc-success-40.p-1 Column 1
 *             div.col
 *                 div.bgc-success-40.p-1 Column 2
 *             div.col
 *                 div.bgc-success-40.p-1 Column 3
 */

@include class_gen(
	/* Abbreviation */

	'fxd',

	/* Property */

	'flex-direction',

	/* Property extended */

	null,

	/* Map */

	$flex-direction-map
);
