@import '../partials/_all';


/***
 * Flex grow:
 */

/**
 * Flex grow 0:
 * `.fxg-0` `.[size]-fxg-0` `.max[size]-fxg-0`
 *
 *     @example
 *     div.cols
 *         div.col.fxg-0
 *             div.bgc-teal-10 &nbsp;
 *         div.col
 *             div.bgc-teal-10 &nbsp;
 */

/**
 * Flex grow 1:
 * `.fxg-1` `.[size]-fxg-1` `.max[size]-fxg-1`
 *
 *     @example
 *     div.cols
 *         div.col.fxg-1
 *             div.bgc-teal-10 &nbsp;
 *         div.col
 *             div.bgc-teal-10 &nbsp;
 */

@include class_gen(
	/* Abbreviation */
	'fxg',

	/* Property */
	'flex-grow',

	/* Property extended */
	null,

	/* Map */
	$flex-grow-map,

	/* Generate example */
	'n'
);
