
@import '../partials/_all';


/***
 * Flex direction:
 */

/**
 * Flex direction column:
 * `.fxd-col` `.[size]-fxd-col` `.max[size]-fxd-col`
 *
 *     @example
 *     div.cntr-fluid
 *         div.row.fxd-col.c-white.ta-center.bgc-aqua-1.p-y-1
 *             div.col
 *                 div.bgc-teal-20.p-1 Column 1
 *             div.col
 *                 div.bgc-teal-20.p-1 Column 2
 *             div.col
 *                 div.bgc-teal-20.p-1 Column 3
 */

@include class_gen(
	/* Abbreviation */
	'fxd',

	/* Property */
	'flex-direction',

	/* Property extended */
	null,

	/* Map */
	$flex-direction-map,

	/* Generate example */
	'n'
);
