
@import '../partials/_all';


/***
 * Grid:
 */

/**
 * Grid with flexible sizes:
 * `.gcols-[#]`
 *
 *     @example
 *     div.gcols-2
 *         div
 *             div.bgc-orchid-10 &nbsp;
 *         div
 *             div.bgc-orchid-10 &nbsp;
 *         div
 *             div.bgc-orchid-10 &nbsp;
 *         div
 *             div.bgc-orchid-10 &nbsp;
 */

%gcols {
	display: grid;
	grid-gap: $grid-gap;
}

@each $size, $length in $grid-breakpoints {

	@for $i from 1 through $grid-columns {

		.gcols-#{ $i },
		.max#{ $size }-gcols-#{ $i },
		.#{ $size }-gcols-#{ $i } {
			@extend %gcols;
		}

	}

}

@for $i from 1 through $grid-columns {

	.gcols-#{ $i } {
		grid-template-columns: repeat( $i, 1fr );
	}

	.gcol-span-#{ $i } {
		grid-column: span #{ $i };
	}

}

/**
 * Responsive grid:
 * `.[size]-gcols-[#]` `.max[size]-gcols-[#]`
 *
 *     @example
 *     div.xs-gcols-2.md-gcols-3
 *         div
 *             div.bgc-orchid-10 &nbsp;
 *         div
 *             div.bgc-orchid-20 &nbsp;
 *         div
 *             div.bgc-orchid-10 &nbsp;
 *         div
 *             div.bgc-orchid-20 &nbsp;
 *         div
 *             div.bgc-orchid-10 &nbsp;
 *         div
 *             div.bgc-orchid-20 &nbsp;
 */

@each $size, $length in $grid-breakpoints {

	@if ( $length != 0 ) {

		@media ( max-width: $length - 1 ) {

			@for $i from 1 through $grid-columns {

				.max#{ $size }-gcols-#{ $i } {
					grid-template-columns: repeat( $i, 1fr );
				}

				.max#{ $size }-gcol-#{ $i } {
					grid-column: #{ $i };
				}

				.#{ $size }-gcols-0 {
					.max#{ $size }-gcol-#{ $i } {
						grid-column: auto;
					}
				}

				.max#{ $size }-gcol-span-#{ $i } {
					grid-column: span #{ $i };
				}

			}

		}

	}

	@media ( min-width: $length ) {

		.#{ $size }-gcols-0 {
			display: inherit;
			grid-gap: initial;
			grid-template-columns: none;
		}

		@for $i from 1 through $grid-columns {

			.#{ $size }-gcols-#{ $i } {
				grid-template-columns: repeat( $i, 1fr );
			}

			.#{ $size }-gcol-#{ $i } {
				grid-column: #{ $i };
			}

			.#{ $size }-gcols-0 {
				.#{ $size }-gcol-#{ $i } {
					grid-column: auto;
				}
			}

			.#{ $size }-gcol-span-#{ $i } {
				grid-column: span #{ $i };
			}

		}

	}

}

/**
 * Place items on the grid:
 * `.[size]-gcol-[#]` `.max[size]-gcol-[#]`
 *
 *     @example
 *     div.xs-gcols-2.md-gcols-3
 *         div
 *             div.bgc-orchid-10 &nbsp;
 *         div
 *             div.bgc-orchid-20 &nbsp;
 *         div.maxmd-gcol-2
 *             div.bgc-orchid-10 &nbsp;
 *         div.md-gcol-2.maxmd-hide
 *             div.bgc-orchid-20 &nbsp;
 */

/**
 * Span columns:
 * `.gcol-span-[#]` `.[size]-gcol-span-[#]` `.max[size]-gcol-span-[#]`
 *
 *     @example
 *     div.xs-gcols-2.md-gcols-3
 *         div.gcol-span-2.md-gcol-span-3
 *             div.bgc-blue-10 &nbsp;
 *         div
 *             div.bgc-blue-20 &nbsp;
 *         div
 *             div.bgc-blue-10 &nbsp;
 *         div
 *             div.bgc-blue-20 &nbsp;
 */
