
@import '../partials/_all';


/***
 * Vertical modifier:
 */

/**
 * Align items flex start:
 * `.ai-flex-start` `.[size]-ai-flex-start` `.max[size]-ai-flex-start`
 *
 *     @example
 *     div.cntr.cntr--fluid
 *         div.row.ai-flex-start.doc-h-100px.bgc-success-20.p-y-1
 *             div.col
 *                 div.bgc-success-40 &nbsp;
 */

/**
 * Align items center:
 * `.ai-center` `.[size]-ai-center` `.max[size]-ai-center`
 *
 *     @example
 *     div.cntr.cntr--fluid
 *         div.row.ai-center.doc-h-100px.bgc-success-20.p-y-1
 *             div.col
 *                 div.bgc-success-40 &nbsp;
 */

/**
 * Align items flex end:
 * `.ai-flex-end` `.[size]-ai-flex-end` `.max[size]-ai-flex-end`
 *
 *     @example
 *     div.cntr.cntr--fluid
 *         div.row.ai-flex-end.doc-h-100px.bgc-success-20.p-y-1
 *             div.col
 *                 div.bgc-success-40 &nbsp;
 */

@include class_gen(
	/* Abbreviation */

	'ai',

	/* Property */

	'align-items',

	/* Property extended */

	null,

	/* Map */

	$align-items-map
);

/**
 * Align self flex start:
 * `.as-flex-start` `.[size]-as-flex-start` `.max[size]-as-flex-start`
 *
 *     @example
 *     div.cntr.cntr--fluid
 *         div.row.doc-h-100px.bgc-success-20.p-y-1
 *             div.col.as-flex-start
 *                 div.bgc-success-40 &nbsp;
 */

/**
 * Align self center:
 * `.as-center` `.[size]-as-center` `.max[size]-as-center`
 *
 *     @example
 *     div.cntr.cntr--fluid
 *         div.row.doc-h-100px.bgc-success-20.p-y-1
 *             div.col.as-center
 *                 div.bgc-success-40 &nbsp;
 */

/**
 * Align self flex end:
 * `.as-flex-end` `.[size]-as-flex-end` `.max[size]-as-flex-end`
 *
 *     @example
 *     div.cntr.cntr--fluid
 *         div.row.doc-h-100px.bgc-success-20.p-y-1
 *             div.col.as-flex-end
 *                 div.bgc-success-40 &nbsp;
 */

@include class_gen(
	/* Abbreviation */

	'as',

	/* Property */

	'align-self',

	/* Property extended */

	null,

	/* Map */

	$align-self-map
);
