@import '../partials/_all';


/***
 * Horizontal modifiers:
 */

/**
 * Aligns columns to left:
 * `.cols--left`
 *
 *     @example
 *     div.cols.cols--left
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 */
.cols--left {
	justify-content: flex-start;
}

/**
 * Aligns columns to center:
 * `.cols--center`
 *
 *     @example
 *     div.cols.cols--center
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 */
.cols--center {
	justify-content: center;
}

/**
 * Aligns columns to right:
 * `.cols--right`
 *
 *     @example
 *     div.cols.cols--right
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 */
.cols--right {
	justify-content: flex-end;
}

/**
 * Space between columns:
 * `.cols--between`
 *
 *     @example
 *     div.cols.cols--between
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 */
.cols--between {
	justify-content: space-between;
}

/**
 * Space around columns:
 * `.cols--around`
 *
 *     @example
 *     div.cols.cols--around
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 */
.cols--around {
	justify-content: space-around;
}

/***
 * Vertical modifiers:
 */

/**
 * Aligns columns to top:
 * `.cols--top`
 *
 *     @example
 *     div.cols.cols--top.doc-h-100px
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 */
.cols--top {
	align-items: flex-start;
}

/**
 * Aligns columns to middle:
 * `.cols--middle`
 *
 *     @example
 *     div.cols.cols--middle.doc-h-100px
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 */
.cols--middle {
	align-items: center;
}

/**
 * Aligns columns to bottom:
 * `.cols--bottom`
 *
 *     @example
 *     div.cols.cols--bottom.doc-h-100px
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 */
.cols--bottom {
	align-items: flex-end;
}

/**
 * Aligns column to top:
 * `.col--top`
 *
 *     @example
 *     div.cols.cols--bottom.doc-h-100px
 *         div.col-4.col--top
 *             div.bgc-green-10 &nbsp;
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 */
.col--top {
	align-self: flex-start;
}

/**
 * Aligns column to middle:
 * `.col--middle`
 *
 *     @example
 *     div.cols.doc-h-100px
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 *         div.col-4.col--middle
 *             div.bgc-green-10 &nbsp;
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 */
.col--middle {
	align-self: center;
}

/**
 * Aligns column to bottom:
 * `.col--bottom`
 *
 *     @example
 *     div.cols.doc-h-100px
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 *         div.col-4.col--bottom
 *             div.bgc-green-10 &nbsp;
 */
.col--bottom {
	align-self: flex-end;
}
