
@import '../partials/_all';


/***
 * Horizontal modifier:
 */

/**
 * Justify content flex start:
 * `.jc-flex-start` `.[size]-jc-flex-start` `.max[size]-jc-flex-start`
 *
 *     @example
 *     div.cntr.cntr--fluid
 *          div.row.jc-flex-start.bgc-success-20.p-y-1
 *              div.col-4
 *                  div.bgc-success-40.p-1 &nbsp;
 */

/**
 * Justify content center:
 * `.jc-center` `.[size]-jc-center` `.max[size]-jc-center`
 *
 *     @example
 *     div.cntr.cntr--fluid
 *         div.row.jc-center.bgc-success-20.p-y-1
 *             div.col-4
 *                 div.bgc-success-40.p-1 &nbsp;
 */

/**
 * Justify content flex end:
 * `.jc-flex-end` `.[size]-jc-flex-end` `.max[size]-jc-flex-end`
 *
 *     @example
 *     div.cntr.cntr--fluid
 *         div.row.jc-flex-end.bgc-success-20.p-y-1
 *             div.col-4
 *                 div.bgc-success-40.p-1 &nbsp;
 */

@include class_gen(
	/* Abbreviation */

	'jc',

	/* Property */

	'justify-content',

	/* Property extended */

	null,

	/* Map */

	$justify-content-map
);
