@import '../partials/_all';


/***
 * Horizontal modifier:
 */

/**
 * Aligns columns to left:
 * `.cols--left`
 *
 *     @example
 *     div.cols.cols--left
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 */
.cols--left {
	justify-content: flex-start;
}

/**
 * Aligns columns to center:
 * `.cols--center`
 *
 *     @example
 *     div.cols.cols--center
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 */
.cols--center {
	justify-content: center;
}

/**
 * Aligns columns to right:
 * `.cols--right`
 *
 *     @example
 *     div.cols.cols--right
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 */
.cols--right {
	justify-content: flex-end;
}

/**
 * Space between columns:
 * `.cols--between`
 *
 *     @example
 *     div.cols.cols--between
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 */
.cols--between {
	justify-content: space-between;
}

/**
 * Space around columns:
 * `.cols--around`
 *
 *     @example
 *     div.cols.cols--around
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 *         div.col-4
 *             div.bgc-green-10 &nbsp;
 */
.cols--around {
	justify-content: space-around;
}
