@import '../partials/_all';


/***
 * Order:
 */

@for $i from 1 through $grid-columns {
	.order-#{$i} {
		order: #{$i};
	}
}

@each $size, $length in $grid-breakpoints {
	@media (min-width: $length) {
		@for $i from 1 through $grid-columns {
			.#{$size}-order-#{$i} {
				order: #{$i};
			}
		}
	}

	@media (max-width: $length - 1) {
		@for $i from 1 through $grid-columns {
			.max#{$size}-order-#{$i} {
				order: #{$i};
			}
		}
	}
}
