@import '../partials/_all';


/***
 * Order:
 */

/**
 * Reordering:
 * `.order-[#]` `.[size]-order-[#]` `.max[size]-order-[#]`
 *
 *     @example
 *     div.row.c-teal-60.ta-center
 *         div.col.order-2
 *             div.bgc-teal-10 1
 *         div.col
 *             div.bgc-teal-10 2
 *         div.col.order-4
 *             div.bgc-teal-10 3
 *         div.col
 *             div.bgc-teal-10 4
 */
@for $i from 1 through $grid-columns {

	.order-#{ $i } {
		order: #{ $i };
	}

}

@each $size, $length in $grid-breakpoints {

	@media ( min-width: $length ) {

		@for $i from 1 through $grid-columns {

			.#{ $size }-order-#{ $i } {
				order: #{ $i };
			}
		}

	}

	@media ( max-width: $length - 1 ) {

		@for $i from 1 through $grid-columns {

			.max#{ $size }-order-#{ $i } {
				order: #{ $i };
			}

		}

	}
	
}
