
@import '../partials/_all';


/***
 * Order:
 */

/**
 * Reordering:
 * `.order-[#]` `.[size]-order-[#]` `.max[size]-order-[#]`
 *
 *     @example
 *     div.cntr.cntr--fluid
 *         div.row.c-silver-20.ta-center.bgc-mint-20.p-y-1
 *             div.col.order-2
 *                 div.bgc-mint-40.p-1 1
 *             div.col
 *                 div.bgc-mint-40.p-1 2
 *             div.col.order-4
 *                 div.bgc-mint-40.p-1 3
 *             div.col
 *                 div.bgc-mint-40.p-1 4
 */

@for $i from 1 through $grid-columns {

	.order-#{ $i } {
		order: #{ $i };
	}

}

@each $size, $length in $grid-breakpoints {

	@if ( $length != 0 ) {

		@media ( max-width: $length - 1 ) {

			@for $i from 1 through $grid-columns {

				.max#{ $size }-order-#{ $i } {
					order: #{ $i };
				}

			}

		}

	}

	@media ( min-width: $length ) {

		@for $i from 1 through $grid-columns {

			.#{ $size }-order-#{ $i } {
				order: #{ $i };
			}
		}

	}

}
